@root: "../../../assets/css/";

@import (reference) "@{root}color.less";
@import (reference) "@{root}font.less";
@import (reference) "@{root}index.less";

#root {
    height: 100vh;

    .workspace {
        width: 100%;
        padding-top: @heightNav;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .ws {
            display: none;
            .widthAvailable();
            height: 100%;
            position: absolute;
            z-index: 0;
            background: var(--color-bg-ws);

            &.active {
                display: inline-block;
                .widthAvailable();
                z-index: 1;
            }
        }
    }
}

.bodyModule {
    transition: all ease 0.2s;
    z-index: 1;

    &.backOff {
        overflow-y: clip;
    }

    &.on {
        transition: all ease 0.2s;
        width: 100% !important;
    }

    .header {
        //padding: 15px 30px 15px 30px;
        padding: 15px 20px 10px 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &.headerLine {
            border-bottom: 1px solid @colorLine;
        }

        &.headerSmall {
            padding: 7px 20px 7px 20px;

            .pull-left {

                .head {
                    .icon {
                        padding: 5px;
                        font-size: 15px;
                    }

                    span {
                        font-size: 15px;
                    }
                }


            }

            .pull-right {
                min-height: 32px;

                .icon {
                    font-size: 18px;
                }
            }
        }

        .pull-left {
            display: flex;
            align-items: center;
            gap: 10px;

            .head {
                display: flex;
                align-items: center;

                .icon {
                    background: @btnProfile;
                    font-size: 16px;
                    padding: 7px;
                    border-radius: 100px;
                    color: @colorWhite;
                }

                span {
                    font-size: 21px;
                    margin-left: 10px;
                    font-weight: 600;
                }
            }



        }

        .btns {
            display: flex;
            align-items: center;
            gap: 10px;

            .btnIcon {
                font-size: 22px;
            }
        }

        .pull-right {
            display: flex;
            align-items: center;
            margin-right: 7px;
            min-height: 43px;
            gap: 10px;

            >a {
                margin-left: 7px;
            }

            >li {
                >a {
                    border-right: 1px solid @colorInput;
                    padding: 0 15px;
                }

                &:last-child a {
                    border-right: 0;
                }
            }
        }
    }

    .tbody {
        //padding: 0px 35px 15px 35px;
        padding: 0px 25px 15px 25px;
        display: flex;
        gap: 15px;
        position: relative;
    }
}

.subModule {
    display: none;
}

.steps {
    .widthAvailable();
    display: flex;
    align-items: center;
    justify-content: center;

    .step {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 12px;
        background: #cbd7e2;

        &:hover {
            background: #6fb5ec;
        }

        &.active {
            background-color: #2196f3;
        }
    }

    line {
        height: 4px;
        width: 5%;
        background-color: #cbd7e2;
    }
}

.contentSteps {
    margin-top: 15px;

    .content {
        width: 100%;
        height: 90%;
        display: none;
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0px 25px 0px 0px;
        margin-bottom: 60px;

        &.active {
            display: inline-block;
            align-items: flex-start;
        }

        .formFooter {
            position: fixed;
            max-width: 1100px;
            .widthAvailable();
            /* padding: 5px; */
            bottom: 20px;
            height: 52px;
            background: @colorTabBg;
            z-index: 1000;

            .btnNextStep {
                position: absolute;
                right: 0px;
                top: 0px;
            }

            .btnPreviusStep {
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }
    }
}

.xdsoft_datetimepicker {
    border-radius: 5px;
}

.boxChargeXls {
    position: relative;
    margin: 0 0px 0px 7px;

    button {
        z-index: 1;
        pointer-events: none;
    }

    input {
        .widthAvailable();
        height: 100%;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
    }
}

.dashboard {
    section {
        border: 1px solid var(--color-line);
        border-radius: var(--border-radius-form);
        display: flex;
        flex-direction: column;
        min-height: 120px;

        &.boxGray {
            background-color: #F9F9F9;
            border-color: #D9D9D9;


            .icon {
                //color: #181a70;
            }
        }

        &.boxBlue {
            background-color: #AAC1FF;
            border-color: #2189FB;
            color: #FFFFFF;

            .icon {
                color: #181a70;
            }
        }

        &.boxYellow {
            background-color: #FFE59D;
            border-color: #FEBF10;
            color: #835840;

            .icon {
                color: #835840;
            }
        }

        &.sectionFluid {
            .widthAvailable();
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 7px;

            .left {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 7px;
                padding-left: 10px;

                .icon {
                    color: var(--color-icon-grid);
                    display: none;

                }

            }

            .right {
                .icon {
                    font-size: 16px !important;
                    margin-right: -2px;
                    margin-top: 2px;
                }
            }
        }

        .flex {
            display: flex;
            align-items: center;
            gap: 7px;


        }

        .body {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 5px;


        }


    }

    .block {
        padding: 0 15px 15px;

        label {
            font-size: 13px;
            width: 60%;
            display: flex;
        }

        .value {
            font-size: 45px;
            line-height: 42px;
            //font-weight: bold;
        }
    }

    #dataGeneral {
        max-height: 160px;
    }
}

.col {
    width: -webkit-fill-available;

    &.colColumn {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &.col5w {
        width: 5%;
    }

    &.col10w {
        width: 10%;
    }

    &.col15w {
        width: 15%;
    }

    &.col20w {
        width: 20%;
    }

    &.col25w {
        width: 25%;
    }

    &.col30w {
        width: 30%;
    }

    &.col35w {
        width: 35%;
    }

    &.col40w {
        width: 40%;
    }

    &.col45w {
        width: 45%;
    }

    &.col50w {
        width: 50%;
    }

    &.col55w {
        width: 55%;
    }

    &.col60w {
        width: 60%;
    }

    &.col65w {
        width: 65%;
    }

    &.col70w {
        width: 70%;
    }

    &.col75w {
        width: 75%;
    }

    &.col80w {
        width: 80%;
    }

    &.col85w {
        width: 85%;
    }

    &.col90w {
        width: 90%;
    }

    &.col95w {
        width: 95%;
    }

    &.col100w {
        width: 100%;
    }
}


//@Media
@media (max-width: 1920px) {}

@media (max-width: 1445px) {}

@media (max-width: 1280px) {}

@media (max-width: 470px) {
    .bodyModule {
        .header {
            padding: 15px;

            .pull-left {
                .head {
                    font-size: 18px;
                }
            }

            .pull-right {
                .btnAddForm {
                    margin-left: 7px;
                    padding-left: 7px !important;
                    padding-right: 7px !important;

                    .icon {
                        left: auto;
                        position: relative;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

        .tbody {
            padding: 0 15px 15px;
        }
    }
}