@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";


#formPeriodSyllabus {
    .formNew {
        padding: 10px 10px 5px 10px;
    }
}

#syllabusFormAdd {
    #periods {
        display: none !important;
    }
}

.boxPeriodSyllabus {
    padding-bottom: 0 !important;

    .head {
        margin-bottom: 15px;
    }

    .numElem {
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 12px;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: @colorWhite;
        border-radius: 25px;
        border: 1px solid @colorLine;
    }
}

.boxContentSyllabus {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;

    &[data-state="0"] {
        display: none;
    }

    &[data-state="1"] {
        display: inline-block;
    }



    .item {
        border-radius: 5px;
        margin-bottom: 15px;

        label {
            font-size: 12px;
        }

        .formControl {
            padding-left: 7px;
        }

        &:nth-child(odd) {
            background-color: #ededf7;
        }

        &:nth-child(even) {
            background-color: #FFF;
        }

        .formControlLandscape {
            align-items: flex-start;
            padding: 5px;

            .form80w {
                padding-top: 10px;
                padding-bottom: 10px;

                display: flex;
                flex-direction: column;
                gap: 7px;
            }

            .formControl {
                margin-bottom: 0;
            }

            .formActions {
                padding: 0;
                display: flex;
                align-items: flex-start;
                padding-top: 10px;
                padding-right: 10px;
            }
        }
    }

}

#modalNewSection {
    .modalInner {
        width: 30vh;

        .btnFull {
            .widthAvailable();
            border-radius: 0;
            border: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid @colorLine;

            &:last-child {
                border-bottom: 0;
            }
        }

        >label {
            padding: 7px 15px;
            font-size: 18px;
            display: flex;
            font-weight: 500;
        }
    }
}

.btnNewSection {
    .widthAvailable();
}

#listSectionsSyllabus {
    padding-right: 0;
    gap: 7px;

    .btn {
        .widthAvailable();
        min-width: 120px;
        padding-left: 25px !important;

        span {
            text-align: left;
            font-size: 13px;
        }

        .icon {
            left: 4px;
        }
    }

    .groupSelectPeriod {
        display: flex;
        align-items: center;
        gap: 7px;

        .btnCloseSelectPeriod {
            font-size: 18px;
            color: @colorGray;

            &:hover {
                color: @colorDanger;
            }
        }
    }
}

#listElementsSyllabus {
    margin-top: 15px;
    border-radius: 5px;
    gap: 7px;

    .boxElem {
        display: none;
        flex-direction: column;
        gap: 7px;

        &.on {
            display: flex;
        }

        .boxElemHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                padding-left: 10px;
            }
        }

        .boxElemBody {
            gap: 7px;
            display: flex;
            flex-direction: column;
            margin-top: 5px;
        }
    }



    .btnSelectElement {
        .widthAvailable();
        background-color: @colorWhite  !important;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 30px !important;

        .title {
            display: flex;
            align-items: flex-start;

            .icon {
                left: 5px;
                top: 10px;
            }

            span {
                text-align: left;
                margin-bottom: 5px;
                font-size: 13px;
            }
        }

        .actions {
            justify-content: flex-end;
            flex-direction: row;
            display: flex;
            margin-top: 7px;

            .btn {
                width: 15px;
            }
        }
    }
}