<div class="header">
    <div class="pull-left">
        <div class="head"><i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i><span>{{_NAME}}</span></div>
    </div>
    <ul class="pull-right">
        <!-- <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}"
            module="{{_MODULE}}" fn="{{_FN}}"><i class="icon icon-plus"></i><span>{{_BTN_NAME_ACTION}}</span></a> -->
    </ul>
</div>
<div class="tbody">

    <div class="groupTabs">
        <div class="tabs" for="tabs{{_MODULE}}">
            <button class="tab active" item="1">
                <span lang="es">Empresas</span>
            </button>
            <button class="tab" item="2">
                <span lang="es">Personas</span>
            </button>
        </div>
        <div class="tabsContents" id="tabs{{_MODULE}}">
            <div class="tabContent active" item="1">
                {{_TABLE_INNER_ENTERPRISES}}
            </div>
            <div class="tabContent" item="2">
                {{_TABLE_INNER_PERSON}}
            </div>
        </div>
    </div>
</div>