.bodyModule[module="brokersCustomers"] {
    #tabsbrokersCustomers {
        .tabContent {
            padding: 20px 15px;
        }
    }

    .modalDraggable {
        max-width: 600px;

        .formCircleControl {
            margin-top: 20px;
            margin-right: 20px;
            margin-left: 0px;
        }
    }
}
