<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">
            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancelInnerWindow"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">

                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Nombre:</label>

                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputApellido" lang="es"><span class="required">*</span>Apellido:</label>

                                    <input class="formInput" id="inputApellido" name="inputApellido" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputEmail" lang="es"><span class="required">*</span>E-mail:</label>

                                    <input class="formInput" id="inputEmail" name="inputEmail" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputPassword" lang="es"><span class="required">*</span>Password:</label>

                                    <input class="formInput" id="inputPassword" name="inputPassword" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputPassword" lang="es"><span class="required">*</span>Confirmar Password:</label>

                                    <input class="formInput" id="inputConfPassword" name="inputPassword" type="text">
                                </div>

                                <div class="formGroup ">
                                    <div class="formUpFile" id="boxInputImage" >
                                        <div class="formPreview" id="previewImg"></div>
                                        <div class="inner" for="inputTypeImgFile">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivo</span>
                                            <span class="message">O arrastra [jpg,jpge,avif,webp] max.1MB</span>
                                        </div>
                                            <input type="hidden" name="inputImage" id="inputImage" />
                                            <input type="file" title="" class="inputUpFile" multiple="single" mode="single" data-folder="docs" data-validfiles="jpeg,jpg,avif,webp" data-return="previewImg" name="inputTypeImgFile" id="inputTypeImgFile" data-name="inputImage"  data-system="{{_SYSTEM}}" data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formGroup form30w">
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                <option value="0">No Activo</option>
                                <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <label>Selecciona un Rol:</label>
                            <div class="formControl">
                                <input type="radio" id="roleAdmin" name="userRole" value="admin" class="formInputRadio">
                                <label for="roleAdmin">Administrador</label>
                            </div>
                            <div class="formControl">
                                <input type="radio" id="roleEditor" name="userRole" value="editor" class="formInputRadio">
                                <label for="roleEditor">Editor</label>
                            </div>
                            <div class="formControl">
                                <input type="radio" id="roleUser" name="userRole" value="user" class="formInputRadio" checked>
                                <label for="roleUser">Usuario</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>