<div class="header">
    <div class="pull-left">
        <div class="head"><i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i><span>{{_NAME}}</span></div>
    </div>
    <ul class="pull-right">
        <a class="btn btnPrimary btnSmall btnIconLeft {{_CLS_ADD}}" fn="{{_FN}}"><i
                class="icon icon-plus"></i><span>{{_BTN_LABEL_ACTION}}</span></a>
    </ul>
</div>
<div class="tbody">
    <!-- <form action="{{_PATH_WEB}}controllers/api/v1/inventory/fileXls.php" method="post" target="_blank" id="FormExport"><input type="hidden" id="dataSend" name="dataSend" /></form> -->
</div>