<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">
            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancelInnerWindow"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">

                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Nombre:</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputSummary" lang="es">Descripción:</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputDescription" id="inputDescription" rows="5"></textarea>
                                </div>

                                <div class="formControl">
                                    <label for="inputTags" lang="es">Redirección URL:</label>
                                    <input class="formInput" name="inputRedirectionUrl" id="inputRedirectionUrl"
                                        type="text">
                                </div>
                                <div class="formControl">
                                    <label for="inputTags" lang="es">Padre:</label>
                                    <select class="formInput" name="inputParent" id="inputParent">
                                        <option value="0">Raiz</option>
                                        {{_OPTIONS_PARENT}}
                                    </select>
                                </div>


                            </div>

                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Accesos a Sistemas y modulos</label>
                            <div class="formGroup scrollBar">
                                {{_ACCESS}}
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="inputSummary" lang="es">Json:</label>
                                <textarea class="formInput" type="text" name="inputJson" id="inputJson"
                                    rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="formGroup form30w">
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>