<div class="head">
    <div class="title">
        <label for="">
            <i class="icon icon-user"></i>
            <label for="">Lista de Clientes</label>
        </label>
    </div>
    <div class="actions">
        <button 
            type="button" 
            class="btnModalClose btnIcon btn" 
            for="{{_ID}}" 
            fn = "nav.salesPointTickets.modalCloseCustomerForm"
            system="tickets"
        ><i class="icon icon-close"></i></button>
    </div>
</div>
<div class="tbody">
    {{_BODY}}
</div>