<!-- <script 
    src="{{_SCRIPTS}}" 
    type="module"
    async
    data-id="scriptUrlDraw"
    module="{{_MODULE}}"
    language="javascript"
></script> -->
<div class="tbody" module="{{_MODULE}}">
	<div class="draw">
		<div class="head">
			<div class="pullLeft">
				<label for="">Punto de Venta Boleteria: </label>
				{{_LIST_EVENTS}}
			</div>
			<div class="pullRight"></div>
		</div>
        <div class="drawUI" module="{{_MODULE}}">

        </div> 
	</div>
	<div class="varSales">
		<label clas="head">
            <span>Entradas</span>
            <span><a class="btn btnFull btnMini" id="btnVEntasSalesPointTickets">Ventas</a></span>
        </label>
        <div class="form formSelectTicket on" action="">
            <div class="formControl formSearch">
                <div class="boxSearch">
                    <input
                    placeholder="Cliente"
                    class="formInput"
                    id="inputCustomer"
                    name=""
                    value=""
                    tabindex="1"
                    type="text"
                    />
                    <button tabindex="2" class="btn btnIcon" id="btnAddCustomerExpress"><i class="icon icon-user-plus"></i></button>
                </div>
                <div class="outputs"></div>
                <div id="ticketReservationTitle"></div>
                <div class="refReserveTicketEvent">
                    <input type="text" class="formInput" tabindex="10" id="inputReferenceReserveTicketEvent" placeholder="Referencia de la Reserva" >
                </div>
                <div id="ticketReservationForm" data-cpeid="0" data-reserveid="0"></div>
            </div>
            
            <div class="" id="boxActionsVarSales">
                <button class="btn btnResponsive btnPrimary btnBig btnIconRight disabled" data-cpeid="0" data-reserveid="0" id="btnTotaTicketsEvent" tabindex="11"><i class="icon icon-arrow-line-right"></i><span>Continuar</span></button>
            </div>
        </div>
        <div class="form formTotal">
            <div class="boxTotal"></div>
            
            <div id="boxAccionTotal">
                <div class="formControl" id="boxTipsPays">
                    <div class="tip">
                        <input type="radio" name="tipPay" id="tipPay1" tabindex="12" value="cash" checked>
                        <div class="tippay" for="tipPay1">Efectivo</div>
                    </div>
                    <div class="tip">
                        <input type="radio" name="tipPay" id="tipPay2" tabindex="13" value="card">
                        <div class="tippay" for="tipPay2">
                            <div>Tarjeta debito/credito</div>
                            <input type="text" class="formInput formInputSmall" id="inputCardNumber" placeholder="4 ultimos números">
                        </div>
                    </div>
                    <div class="tip">
                        <input type="radio" name="tipPay" id="tipPay3" tabindex="14" value="transfer">
                        <div class="tippay" for="tipPay3">
                            <div>Transferencia</div>
                            <input type="text" class="formInput formInputSmall" id="inputTransferNumber" placeholder="Número de transfer">
                        </div>
                    </div>
                    <div class="tip">
                        <input type="radio" name="tipPay" id="tipPay4" tabindex="15" value="QR">
                        <div class="tippay" for="tipPay4">QR</div>
                    </div>
                    <div class="tip">
                        <input type="radio" name="tipPay" id="tipPay5" tabindex="16" value="courtesy">
                        <div class="tippay form80w" for="tipPay5">
                            <div>Cortesía</div>
                            <select class="formInput formInputSmall" id="inputCourtesyTipPay">
                                {{_OPTIONS_COURTESY}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="boxAccions">
                <button class="btn btnResponsive btnlink btnIconLeft form30w" data-cpeid="0" data-reserveid="0" id="btnBackSelectTicket" tabindex="18"><i class="icon icon-arrow-line-left"></i><span>Volver</span></button>
                <button class="btn btnResponsive btnDanger btnLg  disabled" data-cpeid="0" data-reserveid="0" id="btnPayTicketsEvent" tabindex="17">
                    <i class=""></i>
                    <div class="boxTotalPay">
                        <div>Pagar</div> 
                        <div id="totalPayTickets"></div>
                    </div>
                </button>
                </div>
            </div>
        </div>
	</div>
</div>
