@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

.bodyModule[module="displayAds"] {
    display: flex;
    flex-direction: row;
    .widthAvailable();

    .colDisplay {
        background-color: var(--color-white);
    }
}