.formListRight {
    width: 78% !important;
    flex-wrap: wrap;

    .form {
        max-width: 1100px;
    }
}


.ws[system="rrhh"] {
    .titleMenuTop {
        h4 {
            font-size: 85%;
        }
    }
}