<div class="col col20w colDisplay">
    <div class="head">
        <div class="title">
            <i class="icon icon-list"></i>
            <span>
                <h4>Campañas</h4> 
            </span>
        </div>
        <div class="actions">
            <button class="btn btnPrimary  btnMini btnFormOn" for="{{_FORM_ID}}"><i class="icon icon-plus"></i></button>
        </div>
    </div>
    <div class="form formColumn formOff" id="{{_FORM_ID}}">
        <div class="formControl">
            <label for="inputName" class="" lang="es">Nombre:</label>
            <input class="formInput formInputSm" id="inputName" name="inputName" value="" type="text" />
        </div>

        <div class="formControl">
            <label for="inputDetails" class="" lang="es">Detalles:</label>
            <textarea class="formInput" id="inputDetails" name="inputDetails" value="" type="text"></textarea>
        </div>

        <div class="formControl">
            <label for="inputCode" class="" lang="es">Código del cliente:</label>
            <input class="formInput" id="inputCode" name="inputCode" value="" type="text" />
        </div>

        <div class="formGroup">
            <div class="head">
                <label lang="es">Imagen Personalizada:</label>
                <div class="box" for="inputImage">
                    <a class="btn btnLink">Cargar desde Finder</a>
                    <div class="actions" for="inputImage"></div>
                </div>
            </div>
            <div class="formGroup ">
                <div class="formUpFile" id="boxInputImage">
                    <div class="formPreview" id="previewImg"></div>
                    <div class="inner" for="inputTypeImgFile">
                        <i class="icon icon-upfile"></i>
                        <span class="btn btnFull">Agrega Archivo</span>
                        <span class="message">O arrastra [jpg,jpge,avif,webp] max.1MB</span>
                    </div>
                    <input type="hidden" name="inputImage" id="inputImage" />
                    <input type="file" title="" class="inputUpFile" multiple="single" mode="single" data-folder="docs"
                        data-validfiles="jpeg,jpg,avif,webp" data-return="previewImg" name="inputTypeImgFile"
                        id="inputTypeImgFile" data-name="inputImage" data-system="{{_SYSTEM}}" data-id="{{_ITEM}}"
                        data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                </div>
            </div>
        </div>

        <div class="formControl">
            <label for="inputJson" class="" lang="es">Json:</label>
            <textarea class="formInput" id="inputJson" name="inputJson" value="" type="text"></textarea>
        </div>

        <div class="formControl formBtns">
            <button class="btn btnLink btnMini btnFormCancel" for="{{_FORM_ID}}"><span>Cancelar</span></button>
            <button class="btn {{_BTN_CLS}} btnMini" id="{{_BTN_ID}}"><span>{{_BTN_TITLE}}</span></button>

        </div>

    </div>
    <div class="body">
        {{_BODY}}
    </div>
</div>
<div class="col col80w">
    <div class="head">
        <div class="title">
            <i class="icon icon-copy"></i>
            <span>
                <h4>Actions</h4> 
            </span>
        </div>

         <div class="actions"></div>
            <button class="btn btnPrimary  btnMini btnFormOn" for="{{_FORM_ID}}"><i class="icon icon-plus"></i></button>
        </div>
    </div>
</div>