<div class="col col20w colDisplay">
    <div class="head">
        <div class="title">
            <i class="icon icon-list"></i>
            <span>
                <h4>Display</h4> 
            </span>
        </div>
        <div class="actions">
            <button class="btn btnPrimary  btnMini btnFormOn" for="{{_FORM_ID}}"><i class="icon icon-plus"></i></button>
        </div>
    </div>
    <div class="form formColumn formOff" id="{{_FORM_ID}}">
        <div class="formControl">
            <label for="inputName" class="" lang="es">Nombre:</label>
            <input class="formInput formInputSm" id="inputName" name="inputName" value="" type="text" />
        </div>

        <div class="formControl">
            <label for="inputDetails" class="" lang="es">Descripción:</label>
            <textarea class="formInput" id="inputDescriptions" name="inputDescriptions" value="" type="text"></textarea>
        </div>

        <div class="formControl">
            <label for="inputCode" class="" lang="es">Sitio:</label>
            <select class="formInput" id="inputSitio" name="inputSitio">
              {{_SITES}}
            </select>
        </div>

        <div class="formControl">
            <label for="inputCode" class="" lang="es">Publicación:</label>
            <select class="formInput" id="inputPublicacion" name="inputPublicacion">
              {{_PUBLICATIONS}}
            </select>
        </div>

        <div class="formControl">
            <label for="inputImg" class="" lang="es">Imagen:</label>
            <input class="formInput" id="inputImg" name="inputImg" value="" type="text" />
        </div>

        <div class="formControl">
            <label for="inputJson" class="" lang="es">Json:</label>
            <textarea class="formInput" id="inputJson" name="inputJson" value="" type="text"></textarea>
        </div>

        <div class="formControl formBtns">
            <button class="btn btnLink btnMini btnFormCancel" for="{{_FORM_ID}}"><span>Cancelar</span></button>
            <button class="btn {{_BTN_CLS}} btnMini" id="{{_BTN_ID}}"><span>{{_BTN_TITLE}}</span></button>

        </div>

    </div>
    <div class="body">
        {{_BODY}}
    </div>
</div>
<div class="col col80w">
    <div class="head">
        <div class="title">
            <i class="icon icon-copy"></i>
            <span>
                <h4>Actions</h4> 
            </span>
        </div>

         <div class="actions"></div>
            <button class="btn btnPrimary  btnMini btnFormOn" for="{{_FORM_ID}}"><i class="icon icon-plus"></i></button>
        </div>
    </div>
</div>