<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                <i class="icon icon-arrow-line-left"></i>
            </a>
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">

                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Nombre:</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>

                                <!-- <div class="formControl">
                                    <label for="inputSummary" lang="es">Resumen</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputSummary" id="inputSummary" rows="5"></textarea>
                                </div> -->

                                <div class="formControl">
                                    <label for="inputTags" lang="es">Tags:</label>
                                    <input class="formInput" name="inputTags" id="inputTags" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="inputTags" lang="es">Dirección:</label>
                                <input class="formInput" name="inputAddress" id="inputAddress" type="text">
                            </div>

                            <div class="formControl">
                                <label for="inputName" lang="es">Ciudad:</label>
                                <input class="formInput" id="inputCity" name="inputCity" type="text">
                            </div>
                            <div class="formGroup formControlLandscape">
                                <div class="formControl form33w">
                                    <label for="inputTags" lang="es">Pais:</label>
                                    <select class="formInput" name="inputCountry" id="inputCountry" type="text">
                                    </select>
                                </div>
                                <div class="formControl  form33w">
                                    <label for="inputTags" lang="es">Telefono:</label>
                                    <input class="formInput" name="inputPhone" id="inputPhone" type="text"
                                        placeholder="+591 000-0000">
                                </div>
                                <div class="formControl  form33w">
                                    <label for="inputTags" lang="es">Celular (whatsapp):</label>
                                    <input class="formInput" name="inputCelular" id="inputCelular" type="text"
                                        placeholder="+591 000-0000">
                                </div>
                            </div>

                            <!-- Image -->
                            <div class="formGroup">
                                <div class="head">
                                    <label lang="es">Imagen Info:</label>
                                    <div class="box" for="inputImage">
                                        <a class="btn btnLink">Cargar desde Finder</a>
                                        <div class="actions" for="inputImage"></div>
                                    </div>
                                </div>
                                <div class="formGroup">
                                    <div class="formChargeImage" for="inputImageCharge">
                                        <div class="boxInputFile ui-state-disabled">
                                            <div class="boxInner">
                                                <i class="icon icon-upfile"></i>
                                                <span class="btn btnFull">Agrega Archivos</span>
                                                <span class="message">O archivo
                                                    [jpg,jpge,png,svg] max.2MB</span>
                                            </div>
                                            <input type="hidden" value="" id="inputImage" for="inputImageCharge"
                                                name="inputImage">
                                            <input type="file" title="" class="inputFileBtn" multiple=""
                                                mode="simpleFile" path="bussiness" folder="info"
                                                validfiles="jpeg,jpg,png,svg" name="inputImageCharge"
                                                id="inputImageCharge" input-id="{{_ITEM}}" system="{{_SYSTEM}}"
                                                module="{{_MODULE}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="formControl" id="contentBody" style="z-index:3">
                                <label for="inputBody" lang="es">Información:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text" name="inputInfo"
                                    id="inputInfo" rows="10"></textarea>
                            </div>

                            <div class="formControl" id="contentBody" style="z-index:3">
                                <label for="inputBody" lang="es">Json:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text" name="inputJson"
                                    id="inputJson" rows="10"></textarea>
                            </div>

                            <div class="formControl" id="contentBody" style="z-index:3">
                                <label for="inputBody" lang="es">Content:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text" name="inputContent"
                                    id="inputContent" rows="10"></textarea>
                            </div>

                            <!-- Multimedia -->
                            <div class="formGroup">
                                <div class="head">
                                    <label for="">Multimedia Slider:</label>
                                    <div class="actions" for="inputFilesMedia"></div>
                                </div>
                                <div class="formGroup">
                                    <div class="formChargeMedia" for="inputFilesMedia" item="{{_ITEM}}">
                                        <div class="boxInputFile ui-state-disabled">
                                            <div class="boxInner">
                                                <i class="icon icon-upfile"></i>
                                                <span class="btn btnFull">Agrega Archivos</span>
                                                <span class="message">O arrastra archivos [jpg,gif,svg,png]
                                                    max.2MB</span>
                                            </div>
                                            <input type="file" title="" class="inputFileBtn" multiple="multiple"
                                                mode="multipleFiles" folder="contents" validfiles="jpeg,jpg,gif,png,svg"
                                                path="bussiness" name="inputFilesMedia" id="inputFilesMedia"
                                                system="{{_SYSTEM}}" input-id="{{_ITEM}}" module="{{_MODULE}}" />
                                            <div class="boxInputs"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="formGroup formControlLandscape">
                                <!-- Image -->
                                <div class="formGroup">
                                    <div class="head">
                                        <label lang="es">Icono de Profile:</label>
                                        <div class="box" for="inputImage">
                                            <a class="btn btnLink">Cargar desde Finder</a>
                                            <div class="actions" for="inputImage"></div>
                                        </div>
                                    </div>
                                    <div class="formGroup">
                                        <div class="formChargeImage" for="inputImageCharge">
                                            <div class="boxInputFile ui-state-disabled">
                                                <div class="boxInner">
                                                    <i class="icon icon-upfile"></i>
                                                    <span class="btn btnFull">Agrega Archivos</span>
                                                    <span class="message">O arrastra [jpg,gif,svg,png] max.2MB</span>
                                                </div>
                                                <input type="hidden" value="" id="inputImage" for="inputImageCharge"
                                                    name="inputImage">
                                                <input type="file" title="" class="inputFileBtn" multiple=""
                                                    mode="simpleFile" folder="icons" validfiles="jpeg,jpg,png,svg"
                                                    path="bussiness" name="inputImageCharge" id="inputImageCharge"
                                                    input-id="{{_ITEM}}" system="{{_SYSTEM}}" module="{{_MODULE}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Image -->
                                <div class="formGroup">
                                    <div class="head">
                                        <label lang="es">Icono de Mapa:</label>
                                        <div class="box" for="inputImage">
                                            <a class="btn btnLink">Cargar desde Finder</a>
                                            <div class="actions" for="inputImage"></div>
                                        </div>
                                    </div>
                                    <div class="formGroup">
                                        <div class="formChargeImage" for="inputMapIconCharge">
                                            <div class="boxInputFile ui-state-disabled">
                                                <div class="boxInner">
                                                    <i class="icon icon-upfile"></i>
                                                    <span class="btn btnFull">Agrega Archivos</span>
                                                    <span class="message">O arrastra [jpg,gif,svg,png] max.2MB</span>
                                                </div>
                                                <input type="hidden" value="" id="inputMapIcon" for="inputMapIconCharge"
                                                    name="inputImage">
                                                <input type="file" title="" class="inputFileBtn" multiple=""
                                                    mode="simpleFile" folder="icons" validfiles="jpeg,jpg,png,svg"
                                                    path="bussiness" name="inputMapIconCharge" id="inputMapIconCharge"
                                                    input-id="{{_ITEM}}" system="{{_SYSTEM}}" module="{{_MODULE}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="formControl form25w">
                                <label for="inputName" lang="es">Destino Url:</label>
                                <select class="formInput" name="inputTarget" id="inputTarget">
                                    <option value="_self">Sobre la página</option>
                                    <option value="_blank">Fuera de la página</option>>
                                </select>
                            </div>
                            <div class="formControl form40w formControlIconSelect" for="inputIcon">
                                <label for="" class="" lang="es">Icon del Botón:</label>
                                <i class="iconSelect"></i>
                                <a class="btnSelectIcon" for="inputIcon">
                                    <i class="icon icon-circle-plus"></i>
                                </a>
                                <input class="formInput" id="inputIcon" name="inputIcon" value="" type="text"
                                    autocomplete="none" />
                            </div> -->
                            <div class="formControl">
                                <label for="inputTags" lang="es">Coordenada Principal:</label>
                                <div id="coordPrincipal"></div>
                            </div>


                            <div class="formControl">
                                <label for="inputTags" lang="es">Perimetro:</label>
                                <input type="hidden" id="inputPerimeter">
                                <div id="map-canvas"></div>
                            </div>
                            <div class="formControl formCheckbox">
                                <div class="formCheckboxItem">
                                    <input class="formInput" type="checkbox" name="inputNotitle" id="inputNotitle"
                                        value="0">
                                    <label class="formCheckLabel" for="inputNotitle" lang="es">24hrs</label>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>