<div class="container">
    <div class="header">
        <div class="pull-left">
            <div class="head"><i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i><span>{{_NAME}}</span></div>
        </div>
        <ul class="pull-right">
            <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" data-system="{{_SYSTEM}}"
                data-module="{{_MODULE}}" data-fn="{{_FN}}" data-formid="{{_FORM_ID}}"><i
                    class="icon icon-plus"></i><span>{{_BTN_LABEL_ACTION}}</span></a>
        </ul>
    </div>
    <div class="tbody">
        {{_BODY}}
    </div>
</div>