<style>
    .body-mail-reset {
        font-size: 15px;
    }
</style>
<div style="width: 100%; display: flex; align-items: center; justify-content: center; color:#3a3a3a">
    <h1>¡Activa tu cuenta!</h1>
</div>
<div style="color:rgb(51, 51, 51); line-height:20px; margin:10px 0px;">
    Estimado {{_NAME}} para activar tu cuenta en nuestro sistema por favor copia el código en los campos de activación:
    <span
        style=" margin:10px 0px; text-align: center; width: 100%; display: inline-block;">
        {{_CODE}}
    </span>
</div>
<!-- <p>¿Estás recibiendo muchos correos electrónicos para restablecer tu contraseña?</p> -->
<!-- <p>Puedes cambiar tu configuración de cuenta para que se te solicite información personal para restablecer tu contraseña. ¿Cómo puedo saber que un correo electrónico es de Twitter?</p> -->
<div style="color:rgb(51, 51, 51); line-height:20px;">Al hacer click en este link podras crear un password, por tu
    seguridad elige un password mayor a 8 caracteres, mayusculas, minusculas, números y algun caracter.</div>
