.boxModule[system='inventory'] {
    .bodyModule {
        .header {}

        .tbody {}
    }
}

#modalInventory {
    .modalInner {
        width: 1024px;
    }

    .macroTable {
        padding-left: 25px;
        padding-right: 25px;
    }
}

#configForm {
    .inner {
        border-top: 1px solid var(--color-line);
        display: flex;
        flex-direction: row;

        .leftInner {
            width: 300px;
            padding: 30px 50px;

            .title {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            .subtitle {
                font-size: 13px;
                color: var(--color-text);
            }
        }

        .bodyInner {
            width: calc(100% - 300px);
            padding: 30px 50px;
            display: flex;
            flex-direction: column;

            .box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .description {
                    width: 360px;
                    font-size: 13px;
                    color: var(--color-text);

                    .title {
                        font-weight: 600;
                        font-size: 14px;
                        margin-bottom: 4px;
                    }
                }

                .item {}
            }
        }
    }
}