@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

div[module='products'] {
    .actions {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    #tbodyColor {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .itemColor {
            border: 1px solid var(--color-line);
            padding: 7px;
            border-radius: 5px;
            background: #e4ebeb;

            .btnFull {
                background-color: var(--color-white) !important;
            }
        }
    }
}



#listProductsColors {
    .widthAvailable();
    height: 0;
    .transition();
    position: absolute;
    bottom: 23px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    border: 1px solid var(--color-white);
    background-color: var(--color-white);


    &.on {
        .transition(0.2s);
        opacity: 1;
        height: auto;
        bottom: 23px;
        border-color: @colorLine;
    }

    .selectorListColors {
        display: flex;
        flex-direction: column;
        gap: 5px;


        a {
            border: 1px solid @colorLine;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            gap: 7px;

            .icon {
                font-size: 18px;
            }

            &:hover {
                background-color: @colorLine;
                color: @colorWhite;
            }
        }
    }


}

.numPares {
    display: flex;
    gap: 5px;
    background-color: var(--color-yellow);
    padding: 3px 5px;
    border-radius: 6px;
}

input[name="inputBox"] {
    border: 2px solid !important;
    border-color: var(--color-yellow) !important;
}