@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

.chronology {
    .formItem {
        position: relative;

        .comments {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: space-between;

            .perfil {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffc107;
                border-radius: 100px;
                color: white;
                z-index: 2;
            }

            input {
                width: 70%;
            }
        }
    }

    .register {
        &::after {
            content: "";
            height: 70px;
            width: 2px;
            background: #b8d1d4;
            left: 14px;
            top: -10px;
            position: absolute;
            z-index: 0;
        }

        .icon-point {
            font-size: 10px;
            margin-right: 10px;
            color: @colorPrimary;
            margin-left: 10px;
            z-index: 2;
            position: relative;
        }
    }
}
