@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

#historyAdvised {
    padding: 0;

    .formControlHead {
        font-size: 13px;

        .box {
            label {
                min-width: 125px;
            }

            #inputFields {
                max-width: 125px;
            }
        }
    }

    .easyeditor {
        min-height: 120px;
    }

    .boxInputOthers {
        label {
            margin-right: 7px;
        }

        #inputOthers {
            margin-left: 7px;
            margin-right: 7px;
            display: none;

            &.on {
                display: inline-block;
            }
        }
    }

    .formActions {
        .formSlit {
            .dropdown {
                width: 215px;
            }
        }
    }


}

#historyAdvisedHistory {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 25px;

    .formControlSearch {
        width: 30%;

        .formInput {
            background-color: @colorWhite  !important;
        }
    }

    .listHistory {
        .history {
            border: 1px solid @colorLine;
            margin-top: 15px;
            border-radius: @borderRadiusForm;
            background-color: @colorWhite;

            .formControlHead {
                .widthAvailable();
                margin-top: 5px;
                margin-bottom: 0px;
                padding: 0 7px;
                font-size: 13px;
                border-bottom: 1px solid @colorLine;
                padding-bottom: 5px;
                display: flex;
                justify-content: space-between;

                label {
                    display: flex;
                    align-items: center;
                    gap: 10px
                }
            }

            .num {
                background: #899dbd;
                padding: 2px 5px;
                border-radius: 3px;
                font-size: 11px;
                color: white;
                font-weight: 700;
                // margin-right : 5px;
                margin-left: -1px;
            }

            .date {
                opacity: 0.5;
                margin-left: 5px;
                display: flex;
                align-items: center;
                gap: 10px;

            }

            .comments {
                padding: 15px;
                border-bottom-right-radius: @borderRadiusForm;
                border-bottom-left-radius: @borderRadiusForm;
            }

            .typeHistory {
                font-size: 11px;
                border-radius: 2px;
                background: var(--color-close-modal);
                padding: 3px 5px;
                color: var(--color-white);
            }
        }
    }
}

.bodyModule[module="counseling"] {
    .header {
        .head {
            .name {
                margin-left: 0;
            }
        }
    }

    .dashboard {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .dataDiaria {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 30px 20px;
        padding: 20px;

        .boxData {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;
            width: 90px;
            position: relative;

            @bgProgress : #D9D9D9;
            @alert : #FE3535;
            @success : #6ED059;
            @warning : #FEBF10;

            .crown {
                position: absolute;
                height: 20px;
                z-index: 1;
                top: -18px;
            }

            .progress {
                z-index: 0;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                background: @bgProgress;
                position: relative;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;

                div[color="alert"] {
                    background: @alert;
                }

                div[color="success"] {
                    background: @success ;
                    width: 60px;
                    height: 60px;
                }

                div[color="warning"] {
                    background: @warning;
                    width: 60px;
                    height: 60px;
                }

                .circle-right,
                .circle-left,
                .mask-right,
                .mask-left {
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }

                .circle-right,
                .circle-left {
                    background: #b2b2b2;
                    width: 59px;
                    height: 59px;
                }

                .mask-right,
                .mask-left {
                    background: @bgProgress;

                }

                .circle-right,
                .mask-right {
                    clip: rect(0, 60px, 60px, 30px);
                }

                .circle-left,
                .mask-left {
                    clip: rect(0, 30px, 60px, 0);
                }

                label {
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    font-size: 14px;
                    // color: deepskyblue;
                    border-radius: 100%;
                    background: #fff;
                    position: absolute;
                    top: 7px;
                    left: 7px;
                }
            }

            .name {
                .widthAvailable();
                display: flex;
                align-items: flex-start;
                justify-content: center;
                text-align: center;
                font-size: 13px;
            }
        }

    }
}

#modalAfterhoursRegistrationHistory {
    .modalInner {
        width: 450px;
    }
}

//@Media
@media (max-width: 1920px) {}

@media (max-width: 1445px) {}

@media (max-width: 1280px) {}

@media (max-width: 470px) {

    .col-id,
    .colId,
    .colCI,
    .colTelf,
    .colEmail,
    .colCelular,
    .colConsejeros {
        display: none;
    }

    .innerForm {
        /* #inputCI {
            width: 74px;
        }

        #inputExt {
            width: 55px;
        } */

        .formControlLandscape {
            flex-direction: column;
        }
    }

    #historyAdvised {
        .formControlHead {
            flex-direction: column;

            .box {
                justify-content: flex-start;
            }
        }

        .formActions {
            align-items: flex-end;

            .formControlLandscape {
                align-items: flex-start;
            }

            .formSlit {
                .btn {
                    font-size: 12px;
                }
            }
        }
    }

    #modalAfterhoursRegistrationHistory {
        .modalInner {
            width: 90%;
        }

        .form {
            .formFlex {
                flex-direction: column;

                .formControl {
                    width: 100% !important;
                }
            }
        }
    }
}