.bodyModule[module='reportsCounseling'] {

    .tableContainer {
        .loading {
            width: 60px;
            height: 60px;
        }
    }

    .tbody {
        flex-direction: column;

        .form {
            padding-left: 0;
            padding-right: 0;
        }
    }
}