<div class="boxColumn boxColumn200w boxColumnWhite boxCompetitions ">
    <div class="head">
        <label>Concursos</label>
        <div class="btns">
            <a class="btn btnPrimary btnMini"><i class="icon icon-plus"></i></a>
        </div>
    </div>
    <div class="tbody" id="listCompetitions">

    </div>
</div>

<div class="boxColumn boxColumn300w boxColumnWhite boxCompetitionsForm ">
    <div class="head">
        <label>Concursantes Form. Postulación</label>
        <!-- <div class="btns">
            <a class="btn btnPrimary btnMini"><i class="icon icon-plus"></i></a>
        </div> -->
    </div>
    <div class="tbody" id="listCompetitionsForm">

    </div>
</div>

<div class="boxColumn  boxColumnWhite boxCompetitionsFormItem ">

</div>