{{_SCRIPTS}}
<script>
    _MODULE_SCRIPT;
</script>
<div class="boxModule" system="{{_SYSTEM}}" module="{{_MODULE}}">
    <div class="sidebarMenuModule sidebarMenu{{_MODULE}} on" system="{{_SYSTEM}}" module="{{_MODULE}}">

        <ul class="tbody ">
            <li class="titleMenuTop titleMenuInner" system="{{_SYSTEM}}">
                <i class="icon {{_ICON}} " style="color:{{_COLOR}}"></i>
                <h4>{{_NAME_TOP}}</h4>
            </li>
            {{_SIDEBAR_MODULE}}
        </ul>
        <div class="footerSidebarMenuModule">
            <button class="colapseSidebarMenu on" for="{{_SYSTEM}}"><i class="icon  icon-panel"></i></button>
        </div>
    </div>
    <div class="bodyModule" module="{{_MODULE}}" system="{{_SYSTEM}}">

    </div>
</div>