<div class="content active" id="contentAccountinPlan">
    <div class="head">
        <div class="title">
            <i class="icon icon-list"></i><span><h3>Plan de Cuentas</h3></span>
        </div>
    </div>
    <div class="tbody">
        <button class="btn btnLink btnIconLeft btnAddAccountPlan" name="root"  level="0">
            <i class="icon icon-plus"></i>
            <span>Agregar Cuenta</span>
        </button>
        <form class="form formAccountingPlan" id="formAccountingPlan">
                <label ><h2 lang="es" class="">Agregar Cuenta:</h2></label>
                <div class="formControl">
                    <label for="">Codigo:</label>
                    <input type="text" class="formInput" name="inputCode" id="inputCode">
                    <input type="hidden" class="formInput" name="inputLevel" id="inputLevel">
                    <input type="hidden" class="formInput" name="inputParent" id="inputParent">
                </div>
                <div class="formControl">
                    <label for="">Nombre de la Cuenta:</label>
                    <input type="text" class="formInput" name="inputName" id="inputName">
                </div>            
                <div class="formControl">
                    <label for="">Descripción:</label>
                    <textarea type="text" class="formInput" name="inputDescription" id="inputDescription"></textarea>
                </div> 
                <div class="formControl">
                        <label for="" class="" lang="es">Moneda</label>
                        <select name="" id="inputCoin" class="formInput">
                        </select>
                </div>          
                <div class="formControl">
                    <label for="">Padre:</label>
                    <input type="text" class="formInput disabled" name="inputParentName" id="inputParentName">
                </div>

                <div class="formControl formActions">
                    <button class="btn btnLink"><span>Cancelar</span></button>
                    <button class="btn btnPrimary"><span>Agregar</span></button>
                </div>
    
        </form>
        
    </div>
</div>