<script>
    _MODULE_SCRIPT
</script>
<div class="menuTopModule menuTop{{_SYSTEM}}" system="{{_SYSTEM}}">
    <div class="menuTopHeader menuTopLeft">
        <button class="colapseSidebarMenu" for="{{_SYSTEM}}"><i class="icon icon-panel"></i></button>
        <div class="titleMenuTop" system="{{_SYSTEM}}">
            <i class="icon {{_ICON}} " style="color:{{_COLOR}}"></i>
            <h4> {{_NAME_TOP}} </h4>
        </div>
    </div>
    <div class="menuTopMedium">{{_MENU_TOP_MEDIUM}}</div>
    <div class="menuTopRight">{{_MENU_TOP_RIGHT}}</div>
</div>
<div class="boxModule" system="{{_SYSTEM}}" module="{{_MODULE}}">
    <div class="sidebarMenuModule sidebarMenu{{_MODULE}} on " module="{{_MODULE}}">
        <!-- <div class="head ">
              <i class="icon {{_ICON}} " style="color:{{_COLOR}}"></i>  
            <label>{{_NAME}}</label>
        </div> -->
        <ul class="tbody">
            {{_SIDEBAR_MODULE}}
        </ul>
    </div>
    <div class="bodyModule" module="{{_MODULE}}" system="{{_SYSTEM}}">
        {{_DASHBOARD}}
    </div>
</div>