<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                <i class="icon icon-arrow-line-left"></i>
            </a>
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_FORM_ID}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <label for="">Datos Generales</label>
                            <div class="formGroup ">
                                <div class="formControl">
                                    <label for="inputName" lang="es">*Nombres(s)</label>
                                    <input class="formInput" id="inputId" type="hidden">
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>
                                <div class="formControl">
                                    <label for="inputName" lang="es">*Apellido Paterno</label>
                                    <input class="formInput" id="inputFathersLastname" name="inputFathersLastname"
                                        value="" type="text" />
                                </div>
                                <div class="formControl">
                                    <label for="inputName" lang="es">*Apellido Materno</label>
                                    <input class="formInput" id="inputMothersLastname" name="inputMothersLastname"
                                        value="" type="text" />
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl form40w">
                                        <label for="inputTags" lang="es ">Genero</label>
                                        <select class="formInput" name="inputGender" id="inputGender">
                                            <option value="0">
                                                Seleccionar
                                            </option>
                                            <option value="female">
                                                Mujer
                                            </option>
                                            <option value="male">Hombre</option>
                                        </select>
                                    </div>
                                    <div class="
                                            formControl
                                            form60w
                                            formInputCI
                                            formSelect
                                        ">
                                        <label for="inputCI" lang="es">*Carnet de Identidad</label>
                                        <input class="formInput" id="inputCI" type="text" value="" />
                                        <select name="" id="inputExt">
                                            <option value="SC" selected>
                                                SC
                                            </option>
                                            <option value="LP">LP</option>
                                            <option value="CB">CB</option>
                                            <option value="CH">CH</option>
                                            <option value="OR">OR</option>
                                            <option value="PT">PT</option>
                                            <option value="TJ">TJ</option>
                                            <option value="BE">BE</option>
                                            <option value="PD">PD</option>
                                            <option value="EXT">EXT</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl form40w formInputCalendar">
                                        <label for="inputBirthday" lang="es"><span class="required">*</span>Fecha de
                                            Nacimiento</label>
                                        <i class="icon icon-calendar"></i>
                                        <input type="text" class="formInput" name="inputBirthday" id="inputBirthday"
                                            autocomplete="new-password" #password />
                                    </div>

                                    <div class="formControl form60w">
                                        <label for="inputName" lang="es">Nacionalidad</label>
                                        <input class="formInput" name="inputNationality" id="inputNationality"
                                            autocomplete="nope" type="text" value="Boliviana" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <label for="">Situación de registro</label>
                            <div class="formControlLandscape">
                                <div class="formControl form40w">
                                    <label for="inputName" lang="es">Edad de Primer consumo</label>
                                    <input class="formInput" id="inputAgeFirstUse" name="inputAgeFirstUse" type="text">
                                </div>
                                <div class="formControl form60w">
                                    <label for="inputName" lang="es">Tiempo entre primer consumo y
                                        rehabilitación:</label>
                                    <select class="formInput" id="inputTEPCYR" name="inputTEPCYR">
                                        <option value="1-8">1-8 Años</option>
                                        <option value="9-16">9-16 Años</option>
                                        <option value="17-25">17-25 Años</option>
                                        <option value="26-40">26-40 Años</option>
                                        <option value="41-99">41-99 Años</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <label for=" ">Datos de 1ra Internación</label>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl form40w formInputCalendar">
                                        <label for="inputBirthday" lang="es"><span class="required">*</span>Fecha de
                                            Internación</label>
                                        <i class="icon icon-calendar"></i>
                                        <input type="text" class="formInput" name="inputDateIntern" id="inputDateIntern"
                                            autocomplete="new-password" #password />
                                    </div>
                                    <div class="formControl form60w">
                                        <label for="inputName" lang="es">Consumo Principal</label>
                                        {{_SELECT_PRIMARY_CONSUMPTION}}
                                        <!-- <select class="formInput" id="inputPrimaryCompuption"
                                            name="inputPrimaryCompuption">
                                            <option value="Alcohól">Alcohól</option>
                                            <option value="Base">Base</option>
                                            <option value="Cocaina">Cocaina</option>
                                            <option value="Farmacos">Farmacos</option>
                                            <option value="Marihuana">Marihuana</option>
                                            <option value="Tabaco">Tabaco</option>
                                            <option value="Tabletas">Tabletas</option>
                                            <option value="Otros">Otros</option>
                                        </select> -->
                                    </div>

                                </div>

                                <div class="formControl">
                                    <label for="inputName" lang="es">Observaciones</label>
                                    <textarea class="formInput" name="inputObservations" id="inputObservations"
                                        rows="5"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <label for="">Datos del Tutor</label>
                            <div class="formGroup ">
                                <div class="formControl">
                                    <label for="inputName" lang="es">*Nombres(s)</label>
                                    <input class="formInput" id="inputId" type="hidden">
                                    <input class="formInput" id="inputNameTutor" name="inputNameTutor" type="text">
                                </div>
                                <div class="formControl">
                                    <label for="inputName" lang="es">*Apellido Paterno</label>
                                    <input class="formInput" id="inputFathersLastnameTutor"
                                        name="inputFathersLastnameTutor" value="" type="text" />
                                </div>
                                <div class="formControl">
                                    <label for="inputName" lang="es">*Apellido Materno</label>
                                    <input class="formInput" id="inputMothersLastnameTutor"
                                        name="inputMothersLastnameTutor" value="" type="text" />
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl form40w">
                                        <label for="inputTags" lang="es ">Genero</label>
                                        <select class="formInput" name="inputGenderTutor" id="inputGenderTutor">
                                            <option value="0">
                                                Seleccionar
                                            </option>
                                            <option value="female">
                                                Mujer
                                            </option>
                                            <option value="male">Hombre</option>
                                        </select>
                                    </div>
                                    <div class="
                                            formControl
                                            form60w
                                            formInputCI
                                            formSelect
                                        ">
                                        <label for="inputCITutor" lang="es">*Carnet de Identidad</label>
                                        <input class="formInput" id="inputCITutor" type="text" value="" />
                                        <select name="" id="inputExtTutor">
                                            <option value="SC" selected>
                                                SC
                                            </option>
                                            <option value="LP">LP</option>
                                            <option value="CB">CB</option>
                                            <option value="CH">CH</option>
                                            <option value="OR">OR</option>
                                            <option value="PT">PT</option>
                                            <option value="TJ">TJ</option>
                                            <option value="BE">BE</option>
                                            <option value="PD">PD</option>
                                            <option value="EXT">EXT</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl form40w ">
                                        <label lang="es"><span class="required">*</span>Celular</label>
                                        <input type="text" class="formInput" name="inputCelularTutor"
                                            id="inputCelularTutor" autocomplete="new-password" #password />
                                    </div>

                                    <div class="formControl form60w">
                                        <label for="inputName" lang="es">Relación Familiar</label>
                                        <input class="formInput" name="inputRelationship" id="inputRelationship"
                                            autocomplete="nope" type="text" value="" />
                                    </div>
                                </div>
                                <div class="formControl form70w  ">
                                    <label lang="es">Email</label>
                                    <input type="text" class="formInput" name="inputEmailTutor" id="inputEmailTutor"
                                        autocomplete="new-password" #password />
                                </div>

                                <div class="formControl formIconRight">
                                    <label for="inputName" lang="es">Dirección</label>
                                    <a class="btn btnIcon btnPointerAddress" data-initcoord="" data-for="inputCoord"><i
                                            class="icon icon-pointer"></i></a>
                                    <input class="formInput" id="inputAddressTutor" name="inputAddressTutor" value=""
                                        type="text" />
                                    <input class="formInput" id="inputCoordTutor" name="inputCoordTutor" value=""
                                        type="hidden" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Datos Maestros-->
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputProductStatus" id="inputProductStatus">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        
                            <div class="formControl formControlCheck disabled">
                                <label for=" ">Centro de Ingreso </label>
                                {{_SELECT_CENTER}}
                            </div>
                        </div>

                    </div>
                    <!--Sidebar Right-->
                </div>
            </form>
        </div>
    </div>
</div>