<div class="formGroupFrame">
    <label for="">Datos Tutor</label>
    <div class="formGroup ">

        <div class="formControl">
            <label for="inputName" lang="es">*Nombres(s)</label>
            <input class="formInput" id="inputNameTutor" name="inputNameTutor" type="text">
        </div>
        <div class="formControl">
            <label for="inputName" lang="es">*Apellido Paterno</label>
            <input class="formInput" id="inputFathersLastnameTutor" name="inputFathersLastnameTutor" value=""
                type="text" />
        </div>
        <div class="formControl">
            <label for="inputName" lang="es">*Apellido Materno</label>
            <input class="formInput" id="inputMothersLastnameTutor" name="inputMothersLastnameTutor" value=""
                type="text" />
        </div>
    </div>
    <div class="formGroup">
        <div class="formControlLandscape">
            <div class="formControl form40w">
                <label for="inputTags" lang="es ">Genero</label>
                <select class="formInput" name="inputGenderTutor" id="inputGenderTutor">
                    <option value="0">
                        Seleccionar
                    </option>
                    <option value="female">
                        Mujer
                    </option>
                    <option value="male">Hombre</option>
                </select>
            </div>
            <div class="
                                            formControl
                                            form60w
                                            formInputCI
                                            formSelect
                                        ">
                <label for="inputCI" lang="es">*Carnet de Identidad</label>
                <input class="formInput" id="inputCITutor" type="text" value="" />
                <select name="" id="inputExtTutor">
                    <option value="SC" selected>
                        SC
                    </option>
                    <option value="LP">LP</option>
                    <option value="CB">CB</option>
                    <option value="CH">CH</option>
                    <option value="OR">OR</option>
                    <option value="PT">PT</option>
                    <option value="TJ">TJ</option>
                    <option value="BE">BE</option>
                    <option value="PD">PD</option>
                    <option value="EXT">EXT</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formGroup">
        <div class="formControl">
            <label for="inputName" lang="es">Parentesco</label>
            <input class="formInput" id="inputRelationship" name="inputRelationship" value="" type="text" />
        </div>
        <div class="formControl">
            <label for="inputName" lang="es">Dirección</label>
            <input class="formInput" id="inputAddress" name="inputAddress" value="" type="text" />
        </div>

        <div class="formControl form50w">
            <label for="inputName" lang="es">*Celular</label>
            <div class="formInput formDialCelular" for="inputCelular" state="0" mode="dialcelular">
                <a class="btnDialCelular" for="inputCelular" form="{{_ID_FORM}}">
                    <img src="{{_PATH_WEB_NUCLEO}}vendor/svg/flags/bo.svg" />
                    <span>+591</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <input id="inputCelularDial" name="inputCelularDialTutor" type="hidden" value="+591" />
                <input class="" id="inputCelularTutor" name="inputCelularTutor" type="text" value="" />
            </div>
        </div>
    </div>
</div>