<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon icon-alert-warning" style="color:#eebc16"></i>
            <span class="title" lang="es">Consumo Principal</span>
        </div>
    </div>
</div>
<div class="tbody">
    {{_BODY}}
</div>