<div class="header">
    <div class="pull-left">
        <div class="head"><i class="icon icon-user"></i><span>Registro Alumnos</span></div>
    </div>
    <ul class="pull-right">
        <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}" module="{{_MODULE}}" fn="{{_FN}}"><i class="icon icon-plus"></i><span>Nuevo Alumno</span></a>
    </ul>
</div>
<div class="tbody">

</div>