<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                <i class="icon icon-arrow-line-left"></i>
            </a>
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" data-form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">

                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Nombre:</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>

                                <!-- <div class="formControl">
                                    <label for="inputSummary" lang="es">Resumen</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputSummary" id="inputSummary" rows="5"></textarea>
                                </div> -->

                                <div class="formControl">
                                    <label for="inputTags" lang="es">Tags:</label>
                                    <input class="formInput" name="inputTags" id="inputTags" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="inputTags" lang="es">Dirección:</label>
                                <input class="formInput" name="inputAddress" id="inputAddress" type="text">
                            </div>

                            <div class="formControl">
                                <label for="inputName" lang="es">Ciudad:</label>
                                <input class="formInput" id="inputCity" name="inputCity" type="text">
                            </div>
                            <div class="formGroup formControlLandscape">
                                <div class="formControl form33w">
                                    <label for="inputTags" lang="es">Pais:</label>
                                    {{_COUNTRY_SELECT}}
                                </div>
                                <div class="formControl  form33w">
                                    <label for="inputTags" lang="es">Telefono:</label>
                                    <input class="formInput" name="inputPhone" id="inputPhone" type="text"
                                        placeholder="+591 000-0000">
                                </div>
                                <div class="formControl  form33w">
                                    <label for="inputTags" lang="es">Celular (whatsapp):</label>
                                    <input class="formInput" name="inputCelular" id="inputCelular" type="text"
                                        placeholder="+591 000-0000">
                                </div>
                            </div>

                            

                            <div class="formControl" id="contentBody" style="z-index:3">
                                <label for="inputBody" lang="es">Información:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text" name="inputInfo"
                                    id="inputInfo" rows="10"></textarea>
                            </div>

                            <div class="formControl" id="contentBody" style="z-index:3">
                                <label for="inputBody" lang="es">Json:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text" name="inputJson"
                                    id="inputJson" rows="10"></textarea>
                            </div>

                            <div class="formControl" id="contentBody" style="z-index:3">
                                <label for="inputBody" lang="es">Content:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text" name="inputContent"
                                    id="inputContent" rows="10"></textarea>
                            </div>

                            <!-- Multimedia -->
                            <div class="formGroup">
                                <div class="head">
                                    <label for="">Multimedia Slider:</label>
                                    <div class="actions" for="inputFilesMedia"></div>
                                </div>
                                <div class="formGroup">
                                    <div class="formChargeMedia" for="inputFilesMedia" item="{{_ITEM}}">
                                        <div class="boxInputFile ui-state-disabled">
                                            <div class="boxInner">
                                                <i class="icon icon-upfile"></i>
                                                <span class="btn btnFull">Agrega Archivos</span>
                                                <span class="message">O arrastra archivos [jpg,gif,svg,png]
                                                    max.2MB</span>
                                            </div>
                                            <input type="file" title="" class="inputFileBtn" multiple="multiple"
                                                mode="multipleFiles" folder="contents" validfiles="jpeg,jpg,gif,png,svg"
                                                path="bussiness" name="inputFilesMedia" id="inputFilesMedia"
                                                system="{{_SYSTEM}}" input-id="{{_ITEM}}" module="{{_MODULE}}" />
                                            <div class="boxInputs"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="formControl">
                                <label for="inputTags" lang="es">Coordenada Principal:</label>
                                <input type="text" class="formInput" id="coordenadas" />
                                <div id="coordPrincipal"></div>
                            </div>


                            <div class="formControl">
                                <label for="inputTags" lang="es">Perimetro:</label>
                                <input type="text" value="{{_PERIMETER}}" class="formInput" id="inputPerimeter">
                                <div id="map-canvas"></div>
                            </div>
                            <div class="formControl formCheckbox">
                                <div class="formCheckboxItem">
                                    <input class="formInput" type="checkbox" name="input24h" id="input24h"
                                        value="0">
                                    <label class="formCheckLabel" for="inputNotitle" lang="es">24hrs</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <!-- Image -->
                            <div class="formGroup">
                                 <div class="head formControlLine">
                                    <label lang="es" class="title">Imagen Info:</label>
                                    <div class="box" for="inputImage">
                                        <a class="btn btnLink btnMini">Finder</a>
                                        <div class="actions" for="inputImage"></div>
                                    </div>
                                </div>
                                <div class="formUpFile" >
                                    <div class="formPreview" id="previewImg"></div>
                                    <div class="inner" for="inputTypeImgFile">
                                        <i class="icon icon-upfile"></i>
                                        <span class="btn btnFull">Agrega Archivo</span>
                                        <span class="message">O arrastra [jpe,jpeg,png] max.1MB</span>
                                    </div>
                                    <input type="hidden" name="inputImage" id="inputImage" />
                                    <input type="file" title="" class="inputUpFile" multiple="single"
                                        mode="single" data-folder="info" data-validfiles="jpe,jpeg,avif,webp,png" data-return="previewImg"
                                        name="inputTypeImgFile" id="inputTypeImgFile" data-name="inputImage"  data-system="{{_SYSTEM}}"
                                        data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                                </div>
                            </div>

                            <!--Icon profile-->
                            <div class="formGroup">
                                 <div class="head formControlLine">
                                    <label lang="es" class="title">Icon Profile:</label>
                                    <div class="box" for="inputImage">
                                        <a class="btn btnLink btnMini">Finder</a>
                                        <div class="actions" for="inputImage"></div>
                                    </div>
                                </div>
                                <div class="formUpFile" >
                                    <div class="formPreview" id="previewProfileIcon"></div>
                                    <div class="inner" for="inputTypeImgFileIcon">
                                        <i class="icon icon-upfile"></i>
                                        <span class="btn btnFull">Agrega Archivo</span>
                                        <span class="message">O arrastra [jpe,jpeg,png,svg] max.1MB</span>
                                    </div>
                                    <input type="hidden" name="inputProfileIcon" id="inputProfileIcon" />
                                    <input type="file" title="" class="inputUpFile" multiple="single"
                                        mode="single" data-folder="icons-profile" data-validfiles="jpe,jpeg,avif,webp,png,svg" data-return="previewProfileIcon"
                                        name="inputTypeImgFileIcon" id="inputTypeImgFileIcon" data-name="inputProfileIcon"  data-system="{{_SYSTEM}}"
                                        data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                                </div>
                            </div>
                            <!--Icon map-->
                            <div class="formGroup">
                                 <div class="head formControlLine">
                                    <label lang="es" class="title">Icon Map:</label>
                                    <div class="box" for="inputImage">
                                        <a class="btn btnLink btnMini">Finder</a>
                                        <div class="actions" for="inputImage"></div>
                                    </div>
                                </div>
                                <div class="formUpFile" >
                                    <div class="formPreview" id="previewMapIcon"></div>
                                    <div class="inner" for="inputTypeMapIcon">
                                        <i class="icon icon-upfile"></i>
                                        <span class="btn btnFull">Agrega Archivo</span>
                                        <span class="message">O arrastra [jpe,jpeg,png,svg] max.1MB</span>
                                    </div>
                                    <input type="hidden" name="inputMapIcon" id="inputMapIcon" />
                                    <input type="file" title="" class="inputUpFile" multiple="single"
                                        mode="single" data-folder="icons-map" data-validfiles="jpe,jpeg,avif,webp,png,svg" data-return="previewMapIcon"
                                        name="inputTypeMapIcon" id="inputTypeMapIcon" data-name="inputMapIcon"  data-system="{{_SYSTEM}}"
                                        data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </form>
        </div>
    </div>
</div>