<div class="container-fluid">
    <div class="header">
        <div class="pull-left">
            <div class="head">
                <i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i>
                <span>{{_NAME}}</span>
            </div>
        </div>
        <ul class="pull-right">
            <a class="btn btnPrimary btnSmall btnIconLeft" id="btnNewFormPlace" data-system="{{_SYSTEM}}"
                data-module="{{_MODULE}}">
                <i class="icon icon-plus"></i>
                <span>{{_BTN_LABEL_ACTION}}</span>
            </a>
        </ul>
    </div>
    <div class="tbody">
        {{_BODY}}
    </div>
</div>