<!DOCTYPE html>
<!-- Si te gusta programar este sitio esta desarrollado en Nucleo Framework open sourse  https://gitlab.com/wappcom/nucleo.3/ por Wappcom SRL -->
<html id="index">
    <head>
        <title>Elements</title>

        <link rel="shortcut icon" href="" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        />
        <meta
            name="tipo_contenido"
            content="text/html;"
            http-equiv="content-type"
            charset="utf-8"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->

        <!-- Styles Externos -->
        <link
            rel="stylesheet"
            type="text/css"
            href="../vendor/css/animate.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="../vendor/css/jquery.datetimepicker.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="../vendor/css/trumbowyg/trumbowyg.min.css"
        />
        
        <!-- <link rel="stylesheet" type="text/css" href="../vendor/css/summernote.css" /> -->
        <!-- <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700&display=swap" rel="stylesheet"> -->
        <link href="../vendor/css/fullcalendar.min.css" rel="stylesheet" />
        <link
            href="../vendor/css/fullcalendar.print.css"
            rel="stylesheet"
            media="print"
        />
        
         

        <!-- Styles Propios -->
        <link
            rel="stylesheet"
            type="text/css"
            href="../modules/assets/css/index.css?{{_VS}}"
        />
        <link
            rel="stylesheet"
            rel="preload"
            async
            as="styles"
            type="text/css"
            href="../modules/dashboard/assets/css/dashboard.css?{{_VS}} "
        />
        <link
            rel="stylesheet"
            rel="preload"
            async
            as="styles"
            type="text/css"
            href="../modules/assets/css/login.css?{{_VS}} "
        />
        <link
            rel="stylesheet"
            rel="preload"
            async
            as="styles"
            type="text/css"
            href="../modules/assets/css/nav.css?{{_VS}}"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="../modules/assets/css/form.css?{{_VS}}"
        />
        <link
            rel="stylesheet"
            href="../vendor/css/dataTables.bootstrap.css?{{_VS}}"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="../modules/assets/css/table.css?{{_VS}}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="../modules/assets/css/calendar.css?{{_VS}}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            rel="stylesheet"
            rel="preload"
            async
            as="styles"
            type="text/css"
            href="../modules/assets/css/modal.css?{{_VS}} "
        />

        <!-- Script  Externos -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="../vendor/js/moment.min.js"></script>
        <script
            type="text/javascript"
            src="../vendor/js/fullcalendar.min.js"
        ></script>


        <script
            type="text/javascript"
            language="javascript"
            src="../vendor/js/jquery-ui.min.js"
        ></script>

        <!-- 
    <script type="text/javascript" language="javascript" src="../vendor/js/summernote.min.js"></script>
    <script type="text/javascript" language="javascript" src="../vendor/js/jquery.easyeditor.js"></script> -->
        <script
            type="text/javascript"
            language="javascript"
            src="../vendor/js/trumbowyg/trumbowyg.js"
        ></script>
        <script
            type="text/javascript"
            language="javascript"
            src="../vendor/js/trumbowyg/langs/es.js"
        ></script>
        <script
            type="text/javascript"
            language="javascript"
            src="../vendor/js/md5.js"
        ></script>
        <script
            type="text/javascript"
            language="javascript"
            src="../vendor/js/moment.js"
        ></script>
        <script
            type="text/javascript"
            language="javascript"
            src="../vendor/js/jquery.datetimepicker.full.min.js"
        ></script>
        <script
            type="text/javascript"
            language="javascript"
            src="../vendor/js/jquery.dataTables.min.js"
        ></script>


        <script
            type="module"
            language="javascript"
            src="../modules/dashboard/components/dashboard.js?{{_VS}}"
        ></script>  
        <script>
            const _PATH_WEB = "";
            const _PATH_WEB_NUCLEO = "";
            const _PATH_FILES = "";
            const _PATH_DASHBOARD_BRAND = "";
            const _PATH_LOGOUT = "";
            const _PATH_DASHBOARD_FAVICON = "";
            const _PATH_DASHBOARD = "";
            const _PATH_PAGE = "";
            const _BEARER_TOKEN =
                "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3MjM0OTIzODczNDkiLCJuYW1lIjoibnVjbGVvIiwiaWF0Ijo5MzI0MjQzNDl9.jIsiHIdOGa-KHCJ2mUhLLKqlvTYVLolUyrp1HM6E7Cs-gedeon";
            const _CLIENT_ID = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9-gedeon";
            const _CLIENT_SECRET =
                "eyJzdWIiOiI3MjM0OTIzODczNDkiLCJuYW1lIjoibnVjbGVvIiwiaWF0Ijo5MzI0MjQzNDl9-gedeon";
            const _COIN_DEFAULT = "";
            const _LOCALE = "es_ES";
            const _TIMEZONE = "America/La_Paz";
            var _CATEGORYS;
            var _VS = "v17657";
            var userData = "";
            var displayLoadingBar = "";
        </script>

        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/websites/assets/css/websites.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/rrhh/assets/css/rrhh.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/inventory/assets/css/inventory.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/accounting/assets/css/accounting.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/counseling/assets/css/counseling.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/sales/assets/css/sales.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/brokers/assets/css/brokers.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/inventory/assets/css/products.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/inventory/assets/css/stock.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/counseling/assets/css/calendarAdvised.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/sales/assets/css/salepoint.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappserver/nucleo/nucleo.3/modules/brokers/assets/css/brokersCustomers.css"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="http://wappcom.com/proy/font/font-brave/src/style.css"
        />
    </head>

    <body id="bodyRoot">
        <form class="form">
            <label for="">Forms</label>
            <div class="formControl">
                <div class="listConunselors">
                    <div class="Counselor">
                        <div class="formControl formStateSwitch">
                            <div class="boxBtnStateSwitch">
                                <label class="title">Raul Suarez</label>
                                <a class="btnStateSwitch"
                                    item="${id}"
                                    state="${state}"
                                    fn="${fn}"">
                                    <div class="circle"></div>
                                    <div class="light"></div>
                                    <div class="base"></div>
                                </a>
                                <input
                                    type="hidden"
                                    value="0"
                                    name="inputState${id}"
                                    id="inputState${id}"
                                />
                                <div class="state" item="${id}">
                                    <label for="">Deshabilitado</label>
                                    <div class="times tbody">
                                        <i class="icon icon-clock"></i>
                                        <div class="formControl formControlDate">
                                            <span>Lunes</span>
                                            <div class="hours">
                                                <div class="hourStart">
                                                    <div class="listHours">
                                                        <a
                                                            class="btnListHours"
                                                            for="inputHourStart"
                                                            >00:00</a
                                                        >
                                                        <div
                                                            class="list scrollBar"
                                                            for="inputHourStart"
                                                        >
                                                            <a
                                                                class="btnHour active"
                                                                value="00:00"
                                                                >00:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="00:15"
                                                                >00:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="00:30"
                                                                >00:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="00:45"
                                                                >00:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="01:00"
                                                                >01:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="01:15"
                                                                >01:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="01:30"
                                                                >01:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="01:45"
                                                                >01:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:00"
                                                                >02:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:15"
                                                                >02:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:30"
                                                                >02:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:45"
                                                                >02:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:00"
                                                                >03:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:15"
                                                                >03:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:30"
                                                                >03:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:45"
                                                                >03:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:00"
                                                                >04:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:15"
                                                                >04:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:30"
                                                                >04:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:45"
                                                                >04:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:00"
                                                                >05:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:15"
                                                                >05:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:30"
                                                                >05:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:45"
                                                                >05:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:00"
                                                                >06:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:15"
                                                                >06:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:30"
                                                                >06:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:45"
                                                                >06:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:00"
                                                                >07:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:15"
                                                                >07:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:30"
                                                                >07:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:45"
                                                                >07:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:00"
                                                                >08:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:15"
                                                                >08:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:30"
                                                                >08:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:45"
                                                                >08:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:00"
                                                                >09:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:15"
                                                                >09:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:30"
                                                                >09:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:45"
                                                                >09:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:00"
                                                                >10:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:15"
                                                                >10:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:30"
                                                                >10:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:45"
                                                                >10:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:00"
                                                                >11:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:15"
                                                                >11:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:30"
                                                                >11:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:45"
                                                                >11:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:00"
                                                                >12:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:15"
                                                                >12:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:30"
                                                                >12:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:45"
                                                                >12:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:00"
                                                                >13:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:15"
                                                                >13:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:30"
                                                                >13:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:45"
                                                                >13:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:00"
                                                                >14:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:15"
                                                                >14:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:30"
                                                                >14:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:45"
                                                                >14:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:00"
                                                                >15:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:15"
                                                                >15:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:30"
                                                                >15:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:45"
                                                                >15:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:00"
                                                                >16:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:15"
                                                                >16:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:30"
                                                                >16:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:45"
                                                                >16:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:00"
                                                                >17:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:15"
                                                                >17:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:30"
                                                                >17:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:45"
                                                                >17:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:00"
                                                                >18:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:15"
                                                                >18:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:30"
                                                                >18:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:45"
                                                                >18:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:00"
                                                                >19:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:15"
                                                                >19:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:30"
                                                                >19:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:45"
                                                                >19:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:00"
                                                                >20:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:15"
                                                                >20:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:30"
                                                                >20:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:45"
                                                                >20:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:00"
                                                                >21:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:15"
                                                                >21:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:30"
                                                                >21:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:45"
                                                                >21:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:00"
                                                                >22:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:15"
                                                                >22:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:30"
                                                                >22:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:45"
                                                                >22:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:00"
                                                                >23:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:15"
                                                                >23:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:30"
                                                                >23:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:45"
                                                                >23:45</a
                                                            >
                                                        </div>
                                                        <input
                                                            type="hidden"
                                                            name="inputHourStart"
                                                            id="inputHourStart"
                                                            value="00:00"
                                                        />
                                                    </div>
                                                </div>
                                                -
                                                <div class="hourEnd">
                                                    <div class="listHours">
                                                        <a
                                                            class="btnListHours"
                                                            for="inputHourEnd"
                                                            >01:00</a
                                                        >
                                                        <div
                                                            class="list scrollBar"
                                                            for="inputHourEnd"
                                                        >
                                                            <a
                                                                class="btnHour"
                                                                value="00:00"
                                                                >00:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="00:15"
                                                                >00:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="00:30"
                                                                >00:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="00:45"
                                                                >00:45</a
                                                            ><a
                                                                class="btnHour active"
                                                                value="01:00"
                                                                >01:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="01:15"
                                                                >01:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="01:30"
                                                                >01:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="01:45"
                                                                >01:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:00"
                                                                >02:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:15"
                                                                >02:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:30"
                                                                >02:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="02:45"
                                                                >02:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:00"
                                                                >03:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:15"
                                                                >03:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:30"
                                                                >03:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="03:45"
                                                                >03:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:00"
                                                                >04:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:15"
                                                                >04:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:30"
                                                                >04:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="04:45"
                                                                >04:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:00"
                                                                >05:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:15"
                                                                >05:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:30"
                                                                >05:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="05:45"
                                                                >05:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:00"
                                                                >06:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:15"
                                                                >06:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:30"
                                                                >06:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="06:45"
                                                                >06:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:00"
                                                                >07:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:15"
                                                                >07:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:30"
                                                                >07:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="07:45"
                                                                >07:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:00"
                                                                >08:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:15"
                                                                >08:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:30"
                                                                >08:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="08:45"
                                                                >08:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:00"
                                                                >09:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:15"
                                                                >09:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:30"
                                                                >09:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="09:45"
                                                                >09:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:00"
                                                                >10:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:15"
                                                                >10:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:30"
                                                                >10:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="10:45"
                                                                >10:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:00"
                                                                >11:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:15"
                                                                >11:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:30"
                                                                >11:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="11:45"
                                                                >11:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:00"
                                                                >12:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:15"
                                                                >12:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:30"
                                                                >12:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="12:45"
                                                                >12:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:00"
                                                                >13:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:15"
                                                                >13:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:30"
                                                                >13:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="13:45"
                                                                >13:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:00"
                                                                >14:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:15"
                                                                >14:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:30"
                                                                >14:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="14:45"
                                                                >14:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:00"
                                                                >15:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:15"
                                                                >15:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:30"
                                                                >15:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="15:45"
                                                                >15:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:00"
                                                                >16:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:15"
                                                                >16:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:30"
                                                                >16:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="16:45"
                                                                >16:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:00"
                                                                >17:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:15"
                                                                >17:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:30"
                                                                >17:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="17:45"
                                                                >17:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:00"
                                                                >18:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:15"
                                                                >18:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:30"
                                                                >18:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="18:45"
                                                                >18:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:00"
                                                                >19:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:15"
                                                                >19:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:30"
                                                                >19:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="19:45"
                                                                >19:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:00"
                                                                >20:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:15"
                                                                >20:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:30"
                                                                >20:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="20:45"
                                                                >20:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:00"
                                                                >21:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:15"
                                                                >21:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:30"
                                                                >21:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="21:45"
                                                                >21:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:00"
                                                                >22:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:15"
                                                                >22:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:30"
                                                                >22:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="22:45"
                                                                >22:45</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:00"
                                                                >23:00</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:15"
                                                                >23:15</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:30"
                                                                >23:30</a
                                                            ><a
                                                                class="btnHour"
                                                                value="23:45"
                                                                >23:45</a
                                                            >
                                                        </div>
                                                        <input
                                                            type="hidden"
                                                            name="inputHourEnd"
                                                            id="inputHourEnd"
                                                            value="01:00"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btnAddHours"><i class="icon icon-circle-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script
        type="module"
        language="javascript"
        src="../modules/components/lang.js?{{_VS}}"
    ></script>
</html>
