@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

#tableCustomers {
    max-width: fit-content;
}

#modalNewExternalDocument {
    .listTemplatesEd {
        .widthAvailable();
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;

        // intercale color divs
        .btn:nth-child(odd) {
            background-color: var(--color-odd);
        }

        .btn:nth-child(even) {
            background-color: var(--color-even);
        }
    }
}

#innerFormNewEd {
    .tbody {
        .widthAvailable();
        display: flex;
        justify-content: center;
        padding-bottom: 30px;

        .innerPage {
            &.pageLetter {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 15px;

                .page {
                    width: 880px;
                    height: 1139px;
                    display: flex;
                    border: 1px solid var(--color-line);
                    background: var(--color-white);

                    .pageBody{
                        page-break-before: always; 
                        overflow-y:hidden;

                        &.trumbowyg-editor{
                            background-color: var(--color-white);
                        }

                        &.on{
                            height: 710px;
                        }
                    }
                }
            }
        }
    }
}