<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon {{_ICON_MODULE}}"></i
            ><span lang="es">{{_TITLE_MODULE}}</span>
        </div>
    </div>
    <ul class="pull-right">
        <div class="boxChargeXls">
            <button
                class="btn btnPrimary btnSmall"
                onclick="btnchargeXlsStock()"
                pathurl="{{_PATHURL}}"
                system="{{_SYSTEM}}"
                module="{{_MODULE}}"
            >
                <i class="icon icon-icon-arrow-line-up"></i
                ><span lang="es">Descargar a Xls</span>
            </button>
            <!-- <input type="file" accept=".xlsx" action="chargeProducts" name="fileXls" id="fileXls" /> -->
        </div>
        <!--         <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}" module="{{_MODULE}}" fn="productsFormNew"><i class="icon icon-plus"></i><span>Nuevo Producto</span></a> -->
    </ul>
</div>
<div class="tbody">
    <!-- <form action="{{_PATH_WEB}}controllers/api/v1/inventory/fileXls.php" method="post" target="_blank" id="FormExport"><input type="hidden" id="dataSend" name="dataSend" /></form> -->
    <div class="groupTabs">
        <div class="tabs" for="tabs{{_MODULE}}">
            <button class="tab active" item="1">
                <span lang="es">Empresas</span>
            </button>
            <button class="tab" item="2">
                <span lang="es">Personas</span>
            </button>
        </div>
        <div class="tabsContents" id="tabs{{_MODULE}}">
            <div class="tabContent active" item="1">
                <div class="head">
                    <div class="title" lang="es">
                        Lista de Empresas Registradas
                    </div>
                    <div class="actions">
                        <button
                            class="
                                btn
                                btnPrimary
                                btnIconLeft
                                btnAddCustomerCompany
                            "
                        >
                            <i class="icon icon-plus"></i
                            ><span lang="es">Adicionar Empresa</span>
                        </button>
                    </div>
                </div>
                <div class="tbody"></div>
            </div>
            <div class="tabContent" item="2">
                <div class="head">
                    <div class="title" lang="es">
                        Lista de Clientes Personas
                    </div>
                    <div class="actions">
                        <button
                            class="
                                btn
                                btnPrimary
                                btnIconLeft
                                btnAddCustomerPerson
                            "
                        >
                            <i class="icon icon-plus"></i
                            ><span lang="es">Adicionar Persona</span>
                        </button>
                    </div>
                </div>
                <div class="tbody"></div>
            </div>
        </div>
    </div>
</div>
