<div class="modal modalDraggable" id="{{_FORM_ID}}">
    <div class="head">
        <label lang="es">{{_TITLE_HEAD}}</label>
        <button class="btnModalClose" for="{{_FORM_ID}}">
            <i class="icon icon-close"></i>
        </button>
    </div>
    <div class="bodyModal">
        <form class="form {{_FORM_ID}}" id="{{_FORM_ID}}">
            <div class="formGroup formGroupAround">
                <div class="formChargeControl formCircleControl">
                    <div class="boxIcon" id="boxIcon" for="inputArchivoPhoto">
                        <i class="icon icon-photo-camera"></i>
                        <span>Cargar Foto max. 500x500px</span>
                    </div>
                    <input
                        type="file"
                        class="inputFileBtn"
                        multiple=""
                        returnidinput="inputPhoto"
                        returnitem="boxIcon"
                        returnaction="returnBoxUpFileCircle"
                        folder="kardex/media"
                        mode="imgPerfil"
                        validfiles="jpg,jpeg,png"
                        name="inputArchivoPhoto"
                        id="inputArchivoPhoto"
                    />
                </div>
                <div
                    class="formGroup formControlLandscape form70w formListRight"
                >
                    <div class="formControl">
                        <label for="">Nombre de la Empresa</label>
                        <input
                            type="text"
                            placeholder=""
                            id="inputName"
                            class="formInput"
                            value=""
                        />
                    </div>
                    <div class="formControl form40w">
                        <label for="">Code</label>
                        <input
                            type="text"
                            placeholder=""
                            name="inputCode"
                            id="inputCode"
                            class="formInput"
                            value=""
                        />
                    </div>
                    <div class="formControl">
                        <label lang="es">Descripción:</label>
                        <textarea
                            class="formInput"
                            name="inputDescription"
                            id="inputDescription"
                            rows="3"
                        ></textarea>
                    </div>
                    <div class="formControl">
                        <label for="">Nombre del Resposable</label>
                        <input
                            type="text"
                            placeholder=""
                            id="inputNameRef"
                            class="formInput"
                            value=""
                        />
                    </div>
                    <div class="formControl">
                        <label for="">Apellidos del Resposable</label>
                        <input
                            type="text"
                            placeholder=""
                            id="inputLastnameRef"
                            class="formInput"
                            value=""
                        />
                    </div>
                    <div class="formControl">
                        <label for="">E-mail</label>
                        <input
                            type="text"
                            placeholder=""
                            id="inputEmailRef"
                            class="formInput"
                            value=""
                        />
                    </div>
                    <div class="formControl">
                        <label for="">Celular</label>
                        <input
                            type="text"
                            placeholder=""
                            id="inputCelularRef"
                            class="formInput"
                            value=""
                        />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
