<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">

                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Nombre:</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputSummary" lang="es">Resumen:</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputSummary" id="inputSummary" rows="5"></textarea>
                                </div>

                                <!-- <div class="formControl">
                                    <label for="inputTags" lang="es">Tags:</label>
                                    <input class="formInput" name="inputTags" id="inputTags" type="text">
                                </div> -->
                            </div>
                        </div>
                        <div class="form95w  formControlLandscape" id="periods">
                            <div class="left">
                                <h3 for="">Periodos y Temas</h3>
                            </div>
                            <div class="right">
                                <a class="btnNewSection btn  btnFull btnIconLeft btnSmall " data-syl-id="{{_ITEM}}">
                                    <i class="icon icon-plus"></i>
                                    <span>Nuevo Periodo</span>
                                </a>
                            </div>
                        </div>
                        <div class="formGroup form100w" id="listElementsSyllabus"></div>
                    </div>
                    <div class="formGroup form30w">
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>