<div class="inner container">
    <div class="headInnerForm">
        <div class="inner">
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>

            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner">
            <form class="form" id="{{_FORM}}">
                <div class="formGroupFrame formNew">
                    <div class="formControlLandscape">
                        <div class="formControl">
                            <label lang="es">*Nombre:</label>
                            <input class="formInput" type="text" id="inputName" name="inputName">
                        </div>
                        <div class="formControl">
                            <label lang="es">Resumén:</label>
                            <input class="formInput" type="text" id="inputSumary" name="inputSumary">
                        </div>
                        <div div class="formControl form30w">
                            <label lang="es">Acciones:</label>
                            <a class="btn btnPrimary btnSaveNewPeriodSyllabus"
                                data-form="{{_FORM}}"><span>Guardar</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="formHeadTable ">
                    <div class="formControl form5w"><label>Id</label></div>
                    <div class="formControl form35w"><label>Nombre</label></div>
                    <div class="formControl form40w"><label>Resumén</label></div>
                    <div class="formControl form10w"><label>Estado</label></div>
                    <div class="formControl form10w"><label>Acciones</label></div>
                </div>
                <div class="formGroupFrame" data-form="{{_FORM}}">
                    {{_LIST_SECTIONS}}
                </div>
            </form>

        </div>
    </div>
</div>