/* @import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less"; */
@import  "../../../assets/css/_color.scss";
@import  "../../../assets/css/index.scss";

.formAccountingPlan {
    @include heightAvailable;
    border-left   : 1px solid $colorLine;
    background : $colorWhite;
    position      : absolute;
    top:0;
    right         : -312px;
    width         : 260px;
    display       : flex;
    flex-direction: column;
    height        : -moz-available;
    height        : fill-available;
    padding       : 20px;
    box-shadow    : 0px 5px 12px $colorShadow;
    transition: all 0.2s ease;

    &.on{
        transition: all 0.2s ease;
        right : 0;
    }
}

#contentmodalConfigAccounting{
    .head{

    }

    .tbody{
        @include widthAvailable;
        padding-left: 20px;
        padding-right:20px;
    }

     
}