@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

.calendar {
    .widthAvailable();
    display: flex;
    flex-direction: column;
    height: 100%;

    .head {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 21px;
    }

    &.calendarYear {
        .months {
            .widthAvailable();
            .heightAvailable();
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            box-sizing: content-box;
            padding: 10px;

            .month {
                min-width: 23%;
                box-sizing: content-box;
                margin: 5px;

                .monthInner {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 90%;

                    .head {
                        display: flex;
                        padding: 0;
                        border: 0;
                        flex-direction: column;

                        label {
                            font-size: 15px;
                            color: @colorCalendarLabelMonth;
                            font-weight: 500;
                        }

                        .lineDay {
                            .widthAvailable();
                            color: @colorCalendarHeadlineDay;
                            align-items: center;
                            display: flex;
                            justify-content: space-between;
                            font-size: 11px;
                            margin-top: 5px;

                            span {
                                width: 14.2%;
                                text-align: center;
                            }
                        }
                    }

                    .row {
                        .widthAvailable();
                        height: 14.2%;
                        align-items: center;
                        display: flex;
                        justify-content: end;

                        &:last-child {
                            justify-content: flex-start;
                        }

                        .day {
                            width: 14.2%;
                            text-align: center;
                            border-radius: 100px;
                            min-height: 20px;
                            align-items: center;
                            font-size: 13px;
                            display: flex;
                            justify-content: center;
                            cursor: pointer;
                            border: 2px solid transparent;

                            &:hover {
                                background-color: @colorPrimary;
                                color: @colorWhite;
                            }

                            &.today {
                                background: @colorcalendarToday;
                                border-color: @colorcalendarToday;

                                &.blocked {
                                    border-color: @colorcalendarToday;
                                    background: @colorcalendarBocked;
                                    //background: linear-gradient(180deg, @colorcalendarBocked 48%, @colorcalendarToday 48%);
                                }
                            }

                            &.blocked {
                                border-color: @colorWhite;
                                background: @colorcalendarBocked;
                                color: @colorWhite  !important;
                            }

                            &.endWeek {
                                color: @colorCalendarHeadlineDay;
                            }
                        }
                    }
                }
            }
        }
    }
}