// Colors context
@bgDefault: rgb(247, 250, 255);
@colorText: #2c3136;
@colorTextReference: #777777;
@colorLine: rgb(209, 210, 212);

// Colors General
@colorWhite: #ffffff;
@colorBlank: #050f2c;

@colorBlue: #3369e7;
@colorDarkblue: #003666;
@colorSkyblue: #00aeff;
@colorDodgerBlue: #1e90ff;

@colorPurple: #8e43e7;
@colorMediPurple: #ad9ae8;
@colorViolet: #b84592;
@colorRed: #fe3535;
@colorOrange: #ffc168;
@colorYellow: #ffd900;
@colorGray: #8e8c97;

@colorGreen: #11b671;
@colorLightGreen: #14d689;
@colorSeaGreen: #1cc7d0;

// Colors Status
@colorPrimary: @colorBlue;
@colorSuccess: @colorGreen;
@colorInfo: @colorSkyblue;
@colorWarning: @colorOrange;
@colorDanger: @colorRed;

// Colors Btns
@colorBtnDefault: @colorWhite;
@colorBtnDefaultHover: #ededed;

@colorBtnPrimary: @colorBlue;
@colorBtnPrimaryHover: #4674de;

@colorBtnInfo: @colorSkyblue;
@colorBtnInfoHover: @colorDodgerBlue;

@colorBtnSuccess: @colorLightGreen;
@colorBtnSuccessHover: @colorGreen;

@colorBtnWarning: @colorOrange;
@colorBtnWarningHover: @colorRed;

@colorBtnDanger: @colorRed;
@colorBtnDangerHover: #b52828;

@colorBtnFullHover: #dedee9;

// Colors Form
@colorPlaceholder: #ededed;
@colorMessageError: #fdcccc;
@colorMessageAlert: #ffb8b8;
@colorMessageDanger: #fab3b3;
@colorMessageWarning: #fdf2b0;
@colorMessageSuccess: #dff0d8;
@colorMessageInfo: #d8e7f0;
@colorMessagePrimary: #8bd4ff;
@colorMessageMedium: #f9d88a;
@colorMessageHeavy: #a7d670;

//forms
@colorPlaceholder: #6b6a6a;
@colorAlertDanger: #f44336;
@colorAlertSuccess: #4caf50;
@colorAlertWarning: #ff9800;
@colorAlertInfo: #00bcd4;
@colorAlertDefault: #e0e0e0;
@colorBtnCloseModal: rgb(148 158 183);
@colorBtnHoverCloseModal: @alertDanger ;

// Colors Alert
@alertSuccess: #52c41a;
@alertWarning: #f89406;
@alertDanger: #fe3535;
@alertInfo: #5bc0de;
@alertPrimary: #5b85de;

// Form
@bgInput: #f4f4fb;
@borderInput: #c1c1d0;
@colorTextForm: #202429;
@colorIconAdd: rgb(148 158 183);
@colorIconAddOff: #bebebe;
@colorInput: #383551;
@colorPlaceholder: rgb(95, 101, 117);
//@colorLineTree: #96a3b5;
@colorLineTree: #d5dbe3;
@boxCheck: #efefef;
@boxBorder: #e0dada;
@boxShadow: #d4caca;
@colorTextPlaceholder: #939aa7;

//Nav
@bgNav: #ffffff;
@btnColorNav: #cfcfde;
@btnColorNavHover: #363649;
@colorBtn: #c8cdd2;
@btnProfile: #c3c3d6;
@btnTextProfile: #ffffff;
@colorBtnHover: #9a9ab4;
@colorBtnHoverMenu: #607986;

//NavTop
@colorMenuTop: #3b3d42;
@colorMenuTopBtn: #707990;

//NavTopRigth
@colorMenutopRight: #707990;

//sidebar
@colorTitleSidebar: #667080;
@colorTextBtn: #696971;
@colorTextBtnHover: #26262b;
@colorTextBtnHoverBg: #e4e7f3;
@bgSidebarModileMenu: #f9f9f9;
@colorSidebarTitle: #3b3d42;
@colorSidebarIcon: #96a6be;

@sidebarModules: #e4e7f3;
@sidebarModulesBgBtnActive: #4b5267;

@sidebarModalBtnActive: #e4e7f3;

//boxEntities
@colorBgEntitie: #eae8f3;
@colorTextEntitie: #5f697b;

//Tabs
@colorTabText: #525258;
@colorTabTextHover: #3d3d4d;
// @colorTabBg : #E9E9EF;
@colorTabBg: #ffffff;
// @colorTabBgHover : #454B54;
// @colorTabBgHover : #47556b;
// @colorTabBgHover : #d3dae4;
@colorTabBgHover: #e8eaf1;
@colorTabBgMenuTop: #f6f4f7;
@colorLineMenuTop: #d9e0ec;
@colorBgTabMobile: rgb(142 143 154);
@colorTabInactive: #9999b1;
@colorTabActive: @colorBlue;

@colorTabTextActive: #1e2124;
@colorTabIcon: #9a9a9e;
@colorTabIconActive: #68687d;
// @colorTabTextActive :@colorWhite;

//input
@colorSelect: #616d73;

//loading
@colorLoadingBar: #22b5ff;

//Table
@colorTextAux: #3d434d;
@bgHeadTable: #f2f3f9;
@evenTr: #efefef;
@colorBtnTable: #667080;
@colorHoverBtnTable: #4674de;
@colorTableIcon: #5b636f;
@colorBtnAmount: #cfd5e0;

//Module
@colorSubMenuTop: #f2f3f9;
// @bgModuleDefault: #f4f4fb;
@bgModuleDefault: #EAEAF2;

//Message
@colorMessageSuccess: #0ecc4b;

//Calendar

@colorCalendarHeadlineDay: rgb(161, 159, 159);
@colorCalendarLabelMonth: rgb(221, 58, 58);
@colorcalendarToday: #ffc107;
@colorcalendarBocked: #eb4646;

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue: #4674de;
    --color-blue-active: #3369e7;
    --color-yellow: #ffc107;
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-orange: #ff8c00;
    --color-skyblue: #00ffff;
    --color-dodgerblue: #1e90ff;
    --color-mediumpurple: #ad9ae8;
    --color-violet: #b84592;
    --color-line: #E9E9E9;
    --color-line-soft: #E9E9E9;

    --color-line: @colorLine;
    --color-line-soft: #E9E9E9;
    --color-line-menu-top: #eceef2;
    --color-text: @colorText;

    --color-primary: @colorBlue;
    --color-danger: @colorRed;
    --color-success: @colorGreen;
    --color-warning: @colorOrange;
    --color-info: @colorSkyblue;
    --color-default: #e8eaf1;

    --color-danger: @colorDanger;

    --color--input-placeholder: #8f8f8f;

    --color-upload-text: #8989a7;

    --color-bg-ws: #f5f6f8;
    --color-sidebar: #f3f3f4;
    --color-sidebar-modal: #EEEEFC;
    --color-sidebar-bg-mobile-menu: #f6f8fb;
    --color-body-module: #f9f9f9;
    --color-icon-grid: #7c8288;
    --color-close-modal: #7c8288;

    --color-bg-gray: #e8eaf1;
    --color-bg-gray-hover: rgb(148 158 183);
    --color-bg-box-info-modal: #ffffff;

    --color-close-modal-hover: #eb4646;
    --color-btn-hover: #4674de;
    --color-btn-hover-light: #D1E4FC;
    --color-btn-disabled: #dededf;
    --color-tab-bg-menu-top: #f1f3f9;
    --color-inner-form: #e0e4ec;
    --color-inner-form-head: #edeff4;
    --color-inner-upfile: #d3d8f4;

    --color-tab-hover-bg: #ecf0f1;

    --color-btn-icon-input: rgb(148 158 183);
    --color-whatsapp: #25d366;
    --color-modal-bg: #F2F2F2;

    --color-odd: #f2f3f9;
    --color-odd-hover: #dbdde8;

    --color-blue-soft: #c8d1e5;

    --border-radius: 5px;
    --color-sidebar-icon: #0070f6;

    --color-label-form: #68687d;

    --color-primary-disabled: #042d8b;
}

.colorDanger {
    color: var(--color-danger)
}