@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

@wSidebar : 170px;

.finder {
    position: fixed;
    z-index: 101;
    background: rgba(0, 0, 0, 70%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        width: 90%;
        height: 80%;
        background: var(--color-white);
        border-radius: 6px;
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            gap: 10px;
            align-items: center;
            border-bottom: 1px solid var(--color-line);
            padding-left: 15px;
            justify-content: space-between;
            box-sizing: border-box;

            .head {
                display: flex;
                align-items: center;
                gap: 15px;

                .title {
                    font-size: 18px;
                    font-weight: bold;
                    color: var(--color-primary);
                    min-width: @wSidebar - 30px;
                }

                .tabs {
                    margin-bottom: -2px;
                }
            }

            .actions {
                display: flex;
                align-items: center;
                margin-bottom: -1px;
                gap: 7px;

                .btnCloseFinder {
                    font-size: 18px;
                    padding: 11px 13px 8px;
                    color: var(--color-close-modal);

                    &:hover {
                        color: var(--color-close-modal-hover);
                    }
                }

                .search {
                    padding: 0px 7px;
                    border-radius: 4px;
                    background: lavender;

                    .icon {
                        font-size: 14px;
                    }

                    input {
                        border: 0;
                        background-color: transparent;
                        font-size: 14px;
                        padding: 6px 0px;
                    }
                }
            }
        }

        .tbody {
            min-height: calc(100% - 95px) !important;
            overflow-y: auto;
            position: relative;
            display: flex;

            .sidebar {
                .heightAvailable();
                background: var(--color-sidebar-modal);
                width: @wSidebar;
                display: flex;
                position: relative;
                flex-direction: column;
                top: auto;
                right: auto;
                pointer-events: all;
                opacity: 1;
                padding-top: 7px;

                .btnFolderFinder {
                    display: flex;
                    gap: 7px;
                    font-size: 15px;
                    align-items: center;
                    padding: 7px 15px;

                    .icon {
                        font-size: 18px;
                    }

                    &.active {
                        color: var(--color-primary);
                    }
                }
            }

            .tabsContents {
                width: calc(100% - 170px);
                min-height: 100% !important;
                padding: 15px;
                display: flex;
                position: relative;
                gap: 15px;

                .item {
                    border-radius: 6px;
                    border: 1px solid var(--color-line);
                    box-sizing: border-box;
                    outline: 1px solid transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    flex-direction: column;

                    &:hover {
                        outline-color: var(--color-primary);
                        border-color: var(--color-primary);
                    }

                    .image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        width: 100%;
                        height: 130px;
                        background: #7f8283;

                        img {
                            .heightAvailable();
                        }
                    }

                    .info {

                        .widthAvailable();
                        height: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 12px;
                        opacity: .7;
                        gap: 5px;

                        .name {
                            overflow: hidden;
                            width: 60%;
                        }

                        .ext {
                            overflow: hidden;
                            text-align: right;
                            width: 40%;
                        }

                    }

                }

                .boxCharge {
                    border-radius: 6px;
                    border: 2px dotted var(--color-line);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .boxChargeInner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        pointer-events: none;
                        flex-direction: column;
                        gap: 10px;

                        .icon {
                            font-size: 24px;
                        }

                        .message {
                            font-size: 11px;
                            color: var(--color-close-modal);
                            text-align: center;
                        }
                    }

                    input {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                }


            }
        }

        .tfooter {
            display: flex;
            flex-direction: row-reverse;
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 10px;
            border-top: 1px solid var(--color-line);

            .actions {
                display: flex;
                gap: 7px;
                align-items: center;
            }
        }
    }
}