@font : 'Assistant',
sans-serif;
@font : -apple-system,
BlinkMacSystemFont,
San Francisco,
Segoe UI,
Roboto,
Helvetica Neue,
sans-serif;

.fontSize(@pxValue) {
    @remValue: (@pxValue / 10);
    font-size:~"@{pxValue}px";
    font-size:~"@{remValue}rem";
}

.fontThin() {
    font-family: @font;
    font-weight: 200;
}

.fontLigth() {
    font-family: @font;
    font-weight: 300;
}

.fontRegular() {
    font-family: @font;
    font-weight: 400;
}

.fontMedium() {
    font-family: @font;
    font-weight: 600;
}

.fontBold() {
    font-family: @font;
    font-weight: 700;
}

.fontBlack() {
    font-family: @font;
    font-weight: 800;
}