// out: ./dist/form.css

@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

.form {
	position: relative;
	z-index: 0;
	.widthAvailable();
	.heightAvailable();
	display: flex;
	flex-direction: column;
	padding-left: 25px;
	padding-right: 25px;

	&.formLineal {
		padding-left: 0px;
		padding-right: 0px;
	}

	&.formOff {
		display: none !important;
	}

	&.formColumn {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		height: auto;

		background: var(--color-default);

		input {
			background-color: var(--color-white) !important;
		}

		textarea {
			background-color: var(--color-white) !important;
		}

		select {
			background-color: var(--color-white) !important;
		}
	}

	>.head {
		font-size: 16px;
		font-weight: 500;
		margin-top: 18px;
		margin-bottom: 10px;
	}

	&.formSlim {
		padding-left: 15px;
		padding-right: 15px;
	}

	&.formNoBottom {
		margin-bottom: 10px !important;

		.formControl:last-child {
			margin-bottom: 10px !important;
		}
	}

	>.formControl:last-child {
		margin-bottom: 40px !important;

		&.formControlActionBottomWindow {
			margin-bottom: 0px;
			padding-bottom: 80px !important;
		}
	}

	.titleSeparator {
		.widthAvailable();
		margin: 15px 0px 5px 0px;
		padding-top: 5px;
		font-size: 16px;
	}

	.formBoxPills {
		display: flex;
		flex-direction: row;
		gap: 10px;

		.pill {
			display: flex;
			align-items: center;
			padding: 7px 20px 7px 15px;
			background: var(--color-bg-gray);
			border-radius: 20px;
			position: relative;
			margin-bottom: 10px;

			&:hover {
				background: var(--color-bg-gray-hover);
				color: var(--color-white);
			}

			span {
				cursor: pointer !important;
			}

			.btnClosePill {
				position: absolute;
				right: -7px;
				top: -7px;
				border: 0;
				background: white;
				border-radius: 40px;
				padding: 2px !important;
			}

		}
	}

	.settings {
		margin-top: 7px;
	}



	.formControl {
		.widthAvailable();
		display: flex;
		flex-direction: column;
		position: relative;
		margin-bottom: 10px;
		z-index: 1;

		&.disabled {
			opacity: .5;
			pointer-events: none;
		}

		>label {
			font-size: 13px;
			color: var(--color-label-form);
			margin-top: 0px;
			display: flex;

			a {
				color: var(--text-color);

				&:hover {
					color: var(--color-primary);
				}
			}

			margin-bottom: 3px;
			.widthAvailable();
			padding-right: 5px;

			&.noMargin {
				margin-bottom: 0px;
			}

			&.space-between {
				justify-content: space-between;
			}
		}

		>.head {
			font-size: 14px;
			font-weight: 400;
		}

		&.formControlNoMargin {
			margin-bottom: 0px;
		}

		&:last-child {
			//margin-bottom: 0px;
		}

		.reference {
			font-size: 13px;
			margin-bottom: 10px;
		}

		&.formFlex {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}

		&.formFlexCenter {
			justify-content: center;
		}

		&.formFlexRight {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;
		}

		&.formBottom {
			align-items: flex-start;
			gap: 0;
			margin-bottom: 10px !important;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			button {
				padding: 7px 22px;
			}
		}

		&.formBtns {
			// margin-top: 5px;
			margin-bottom: 15px !important;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;
		}

		&.formLeft {
			justify-content: center;
			align-items: flex-start;
		}

		&.formRight {
			justify-content: center;
			align-items: flex-end;
		}

		.formControlHead {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 7px;
			margin-top: 7px;


			.box {
				display: flex;
				align-items: center;

				label,
				span,
				div {
					margin-right: 5px;
				}
			}
		}

		&.formControlQuantity {
			.formGroup {
				position: relative;

				input {
					z-index: 0;
				}

				.btn {
					z-index: 1;
					bottom: 5px;
					right: 7px;
					position: absolute;
					font-size: 18px !important;
					padding: 0px 10px 1px 10px !important;

					&.btnQuantityMinus {
						right: 45px;
					}

					&:hover {
						background-color: var(--color-primary);
						color: var(--color-white);
					}
				}
			}
		}

		&.formControlSelectAndOthers {
			.boxGroup {
				display: flex;
				flex-wrap: nowrap;

				select {
					width: 45%;
					margin-right: 7px;
				}

				input {
					width: 50%;
					display: none !important;

					&.on {
						display: flex !important;
					}
				}
			}
		}

		&.formControlDate {
			flex-direction: row;
			align-items: center;
			z-index: 10;

			.icon {
				font-size: 19px;
				// margin-right: 10px;
			}

			.hours {
				display: flex;
				// margin-left: 10px;
			}
		}

		&.formControlIconSelect {
			.formInput {
				padding-left: 35px;
				padding-right: 35px;
			}

			.btnSelectIcon {
				position: absolute;
				bottom: 6px;
				z-index: 1;
				right: 10px;
				font-size: 18px;
			}

			.iconSelect {
				position: absolute;
				font-size: 20px;
				bottom: 9px;
				z-index: 1;
				left: 8px;
			}

			.boxSelectIcons {
				position: absolute;
				z-index: 3;
				border-radius: 5px;
				border: 1px solid #d1d2d4;
				background: #ffffff;
				box-shadow: 1px 1px 10px rgb(44 44 44 / 54%);
				display: flex;
				flex-direction: column;
				max-height: 240px;
				overflow-y: auto;
				bottom: 0px;
				left: 1px;

				a {
					.widthAvailable();
					padding: 3px 10px;

					&.hover {
						background-color: @colorBtnHover;
					}
				}
			}
		}

		&.formControlPrice {
			.money {
				position: absolute;
				left: 5px;
				bottom: 6px;
				font-weight: 500;
				z-index: 1;
				background: white;
				border: 1px solid @colorLine;
				padding: 2px 5px;
				border-radius: 4px;
				width: 25px;
			}

			.formInput {
				padding-left: 45px;
			}
		}

		&.formControlSelectPrice {
			.selectPrice {
				position: absolute;
				left: 7px;
				top: 40px;
				font-weight: 500;
				z-index: 1;
				border: 0;
				background: transparent;
				font-size: 16px;
			}

			.formInput {
				padding-left: 65px;
				font-size: 16px;
			}
		}

		&.formControlLineal {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
			gap: 10px;

			&.formLeft {
				justify-content: flex-start !important;
			}


		}

		&.formSelectList {
			z-index: 15;

			.boxInput {
				position: relative;

				.icon {
					position: absolute;
					right: 7px;
					font-size: 1.3em;
					top: 8px;
					color: @colorLine;
					z-index: 1;
					pointer-events: none;
				}

				.formInput {
					z-index: 0;
					// padding-right: 30px;
				}
			}

			.boxSelectList {
				.widthAvailable();
				position: relative;
				display: flex;
				flex-direction: column;
				padding: 5px;
				height: 0px;
				opacity: 0;
				margin-top: 0px;
				box-shadow: 0px 4px 9px rgba(0, 0, 0, 30%);
				border: 1px solid @colorLine;
				background: @colorWhite;
				border-radius: @borderRadiusForm;
				text-transform: capitalize;
				overflow-y: hidden;


				&.on {
					height: 250px;
					opacity: 1;
					position: absolute;
					z-index: 10;
					top: 65px;
				}

				.search {
					position: relative;

					.icon {
						position: absolute;
						top: 9px;
						left: 7px;
						font-size: 1.2em;
					}

					.formInput {
						padding-left: 30px;
					}
				}

				.list {
					display: flex;
					flex-direction: column;
					overflow-y: auto;
					margin-top: 10px;

					.btn {
						padding: 10px 5px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						border-bottom: 1px dotted @colorLine;
						.widthAvailable();

						span {
							text-align: left;
							font-size: 13px;
						}
					}
				}

				.btns {
					display: flex;
					align-items: center;
					gap: 7px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}

		&.formSelectItems {
			.head {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.formInputSelect {
				display: inline-block;
				min-height: 33px;

				.boxInputPathUrl {
					display: flex;
					align-items: baseline;
					overflow-x: auto;
					flex-wrap: nowrap;
					overflow-y: hidden;
					width: 47.7%;
					height: 100%;
					padding: 0 10px;
					margin: 0;
					flex-basis: max-content;
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;

				}
			}

			.boxInput {
				position: relative;

				.icon {
					position: absolute;
					right: 7px;
					font-size: 1.3em;
					top: 8px;
					color: @colorLine;
					z-index: 1;
					pointer-events: none;
				}


			}

			.formPathurl {
				position: absolute;
				right: 0;
				top: 24px;
				/* border-top: 0px; */
				padding-right: 7px;
				width: 42%;

				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				font-size: 14px;
				color: #526176;
				padding-top: 8px;
				background: rgb(220 223 231);

			}

			.boxSelectList {
				position: relative;
				display: flex;
				flex-direction: column;
				.widthAvailable();
				padding: 5px;
				height: 0px;
				opacity: 0;
				border: 1px solid @colorLine;
				border-radius: @borderRadiusForm;
				margin-top: -5px;
				background: @colorWhite;
				.boxShadow();

				&.on {
					height: 200px;
					opacity: 1;
				}

				.search {
					position: relative;

					.icon {
						position: absolute;
						top: 9px;
						left: 7px;
						font-size: 1.2em;
					}

					.formInput {
						padding-left: 30px;
					}
				}

				.list {
					display: flex;
					flex-direction: column;
					overflow-y: auto;
					margin-top: 10px;

					.btn {
						padding: 10px 10px;
						border-radius: 0;
						display: flex;
						align-items: center;
						justify-content: space-between;
						border-bottom: 1px dotted @colorLine;

						span {
							text-align: left;
							font-size: 13px;
						}
					}
				}
			}

			.boxInputContent {
				z-index: 0;
				padding-right: 30px;
				flex-wrap: wrap;
				padding-left: 0px;
				padding-top: 0px;
				min-height: 25px;

				.item {
					font-size: 12px;
					padding: 6px 15px;
					text-align: left;
					background: rgb(148 158 183);
					border-radius: 5px;
					color: @colorWhite;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-left: 7px;
					margin-top: 7px;
					position: relative;
					display: flex;


					span {
						pointer-events: none;
					}

					.btnRemoveItemSelect {
						.icon {
							position: relative;
							margin: 0px;
							padding: 0px;
							right: -7px;
							top: 2px;
							pointer-events: all;
							opacity: .5;

							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}

		&.formStateSwitch {
			@widthStateSwitch: 23px;

			.boxBtnStateSwitch {
				width: -webkit-fill-available;
				padding: 20px 0px;
				display: flex;
				align-items: center;

				.title {
					display: inline-block;
					font-weight: 500;
					overflow: hidden;
					text-overflow: ellipsis;
					vertical-align: top;
					width: 20%;
				}

				.btnStateSwitch {
					display: flex;
					align-items: center;
					position: relative;
					width: @widthStateSwitch * 2;

					&[state="1"] {
						.circle {
							right: 5px;
						}

						.base {
							border-color: @colorPrimary;
						}
					}

					.circle {
						transition: border-color 0.3s ease;
						border: 10px solid #fafafa;
						border-radius: 100%;
						position: absolute;
						box-shadow: 1px 1px 3px rgba(0, 0, 0, 50%);
						z-index: 1;
					}

					.base {
						transition: border-color 0.3s ease;
						border: 7px solid #9aa0a6;
						border-radius: 7px;
						position: absolute;
						top: -7px;
						width: @widthStateSwitch;
						z-index: 0;
					}
				}

				.state {
					display: flex;
					align-items: center;
					margin-left: 5px;

					.icon {
						margin-left: 7px;
						margin-right: 7px;
						font-size: 21px;
						color: @colorBtnHover;

						&:hover {
							color: @colorSuccess;
						}
					}

					.tbody {
						display: flex;
						align-items: center;
						margin-left: 10px;
					}

					.formControl {
						margin: 0;
					}
				}
			}
		}

		&.formControlList {
			margin-top: 15px;
			display: flex;

			.formCol {
				.col {
					padding: 5px 10px;
				}

				&.head {
					display: flex;
					justify-content: space-between;
					margin-bottom: 10px;
					border-bottom: 1px solid @colorLine;
					padding-bottom: 5px;

					.col {
						font-size: 13px;
					}
				}

				&.tbody {
					display: flex;
					justify-content: space-between;
					.widthAvailable();

					.formItem {
						.widthAvailable();
						display: flex;
						flex-direction: column;

						img {
							max-height: 55px;
							max-width: 55px;
						}

						.input50w {
							width: 50px;
						}

						.value {
							display: flex;
							align-items: center;
							justify-content: center;
						}

						buttom {
							padding: 14px;
							font-size: 16px;
						}

						.col {
							&.colActions {
								display: flex;
								align-items: center;
							}
						}
					}
				}
			}
		}

		&.formCheckbox {
			margin-top: 15px;

			&:first-child div {
				margin-top: 10px;
			}

			&.formControlLineal {
				gap: 20px;

				.formCheckboxItem {
					margin-top: 10px;
					margin-bottom: 0px;
				}
			}

			.formCheckboxItem {
				&:first-child {
					margin-top: 10px;
				}

				display: flex;
				align-items: center;
				min-height: 1rem;
				padding-left: 5px;
				margin-bottom: 7px;
				gap: 7px;

				.formCheckLabel,
				label {
					display: flex;
					align-items: center;

					.formInput {
						// margin-left: 7px;
						padding: 6px 7px;
						min-width: 180px;
					}
				}

				.formCheckInput {
					/* margin-left: 7px; */
					max-width: 30px;
					padding: 6px 7px;
				}

				.formInput {
					/* margin-left: 7px; */
					//margin-right: 10px;
					border-radius: 5px;
					width: 18px;
					height: 18px;
				}
			}
		}

		&.formControlCheck {

			>label {
				margin-bottom: 10px;
			}

			.formCheck {

				display: flex;
				align-items: center;
				min-height: 1rem;
				padding-left: 10px;
				margin-bottom: 7px;

				.formCheckLabel {
					display: flex;
					align-items: center;

					.formInput {
						margin-left: 7px;
						padding: 6px 7px;
						min-width: 180px;
					}
				}

				.formCheckInput {
					margin-top: 2px;
					margin-right: 10px;
					font-size: 14px;
					width: 16px;
					height: 16px;
				}

				.formInput {
					margin-left: 7px;
					padding: 6px 7px;
					width: 16px;
					height: 16px;
				}

				.formCheckLabel {
					font-size: 14px;
				}
			}
		}

		.message {
			//padding: 0 5px;
			font-size: 13px;

			&.on {
				margin: 10px 0px;
			}

			&.error {
				span {
					background: @colorMessageError;
					padding: 3px 10px;
					margin-top: 10px;
					display: inline-block;
					border-radius: 5px;
				}
			}

			&.medium {
				span {
					background: @colorMessageMedium;
					padding: 3px 10px;
					margin-top: 10px;
					display: inline-block;
					border-radius: 5px;
				}
			}

			&.heavy {
				span {
					background: @colorMessageHeavy;
					padding: 3px 10px;
					margin-top: 10px;
					display: inline-block;
					border-radius: 5px;
				}
			}
		}

		.checkboxControl {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 12px;
			display: flex;
			margin-left: 10px;
			align-items: flex-start;

			&.checkboxControlSmall {
				.checkboxControlLabel {
					font-size: 13px;
					line-height: 20px;
				}
			}

			.checkboxControlLabel {
				display: inline-block;
				font-size: 14px;
				align-items: center;
				margin: -2px 0px 0px 5px;
				padding: 0;
				padding-left: 5px;
				line-height: 16px;

				a {
					color: @colorText;
					margin-left: 5px;
					text-decoration: underline !important;
				}

				.reference {
					color: @colorTextReference;
				}
			}
		}

		&.formControlMedium {
			margin-bottom: 10px !important;
		}


		&.formDuo {
			display: flex;
		}

		.titleSection {
			font-size: 21px;
		}

		&.formInputCalendar {
			label {
				margin-left: 38px;

				&.on {
					margin-left: 10px;
				}
			}

			.formInput {
				padding-left: 38px;
			}
		}

		&.formCheckOk {
			&.on {
				&::after {
					opacity: 1;
				}
			}

			&::after {
				content: @iconCheckOk;
				font-family: @fontIcon;
				position: absolute;
				z-index: 10;
				color: @alertSuccess;
				font-size: 21px;
				width: 24px;
				height: 24px;
				bottom: 9px;
				right: 7px;
				opacity: 0;
			}
		}

		&.formIconRight {
			position: relative;

			input {
				z-index: 0;
			}

			.btn {
				z-index: 1;
				position: absolute;
				bottom: 1px;
				right: 2px;
				border-radius: 0 4px 4px 0;
				padding: 6px;
				background: var(--color-btn-icon-input);
				border-color: var(--color-btn-icon-input);

				.icon {
					color: var(--color-white);
				}

			}
		}

		.formInput {
			.widthAvailable();
			padding: 7px 10px;
			display: flex;
			z-index: 0;
			background: @bgInput;
			color: @colorInput;
			border: 1px solid @borderInput;
			font-size: 14px;
			.fontRegular();
			//box-shadow: 0px 0px 0px 1px transparent !important;
			// box-shadow: 0px 0px 1px 1px #cecece !important;
			border-radius: @borderRadiusFormInput;
			font-size: 14px;
			min-height: 18px;
			transform: all ease 0.2s;
			margin-left: 1px;
			margin-right: 1px;

			&:focus {
				background-color: @colorWhite;
			}

			&.btn {
				font-weight: 700;
			}

			&.textRight {
				text-align: right;
			}

			&.btnSmall {
				font-size: 15px !important;
				padding: 9px 15px !important;
			}

			&.formTitle {
				margin-top: 7px;
				margin-bottom: 15px;
			}

			.helpBlock {
				a {
					display: block;
					text-align: center;
				}
			}

			&:hover {
				border-color: @colorBlue;
				box-shadow: 0px 0px 0px 1px @colorBlue  !important;
				transform: all ease 0.2s;
			}

			&.formInputSm {
				font-size: 13px;
				padding: 4px 10px;
			}

			&.formInputLg {
				font-size: 18px;
				padding: 12px 18px;
			}

			&.error {
				border-color: @alertDanger;
				box-shadow: 0px 0px 0px 1px @alertDanger  !important;
				transform: all ease 0.2s;
			}
		}
	}

	.formGroup {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: 7px;

		&.formGroupTwoColumns {
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
		}

		.head {
			padding: 7px 0px 7px 0px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			&.nospace {
				padding: 0;
			}

			>label {
				font-size: 1.2em;
				font-weight: 600;
				// margin-bottom: 7px;
				display: inline-block;
			}

			.title {
				font-size: 14px;
				font-weight: 400;
			}


			.actions {
				display: flex;
				align-items: center;
				gap: 10px;

				.box {
					margin-left: 10px;
					display: flex;
					align-items: center;

					.btn {
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}

		.box {
			display: flex;
		}
	}

	.formLine {
		border-top: 1px solid @colorLine;
		margin-top: 15px;
		padding-top: 10px;
		margin-bottom: 15px;
	}

	.formControlLine {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		z-index: 0;

		&:last-child {
			margin-right: 0;
		}
	}



	.loader {
		border: 1px solid var(--color-blue-soft);
		padding: 5px;
		border-radius: 5px;
		display: flex;
		gap: 10px;
		align-items: center;

		.barLoader {
			width: 100%;
			height: 7px;
			border-radius: 10px;
			background: var(--color-default);
			display: flex;
			align-items: center;

			.bar {
				background: var(--color-dodgerblue);
				display: flex;
				height: 7px;
				border-radius: 5px;
			}
		}

	}


	.formUpFile {
		@heightUpFile: 150px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		z-index: 0;
		position: relative;
		min-height: @heightUpFile;
		margin-bottom: 15px;

		.formPreview {
			.widthAvailable();
			z-index: 0;
			position: relative;

			.item {
				position: relative;
				width: fit-content;

				.btnRemoveFileItem {
					position: absolute;
					top: -10px;
					right: -10px;
					z-index: 1;
					background: var(--color-white);
					/* padding: 3px; */
					border-radius: 20px;
					font-size: 21px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 2px solid var(--color-white);

					&:hover {
						color: var(--color-danger);

					}
				}

				img {
					border: 1px solid var(--color-line);
					max-height: @heightUpFile;
					width: auto;
				}

				&.item-svg {
					img {
						min-width: 120px;
						min-height: 120px;
					}
				}
			}
		}

		.inner {
			.widthAvailable();
			.heightAvailable();
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			border-radius: 7px;
			border: 1px dotted var(--color-line);
			pointer-events: none;
			opacity: 1;
			gap: 10px;


			&.on {
				border: 1px dotted var(--color-primary);
				background-color: var(--color-inner-upfile);

				.btn {
					border-color: var(--color-primary) !important;
					background-color: var(--color-primary) !important;
					color: var(--color-white) !important;
				}
			}

			.icon {
				font-size: 21px;
			}

			.message {
				font-size: 12px;
			}

			&.off {
				display: none;
			}
		}

		.inputUpFile {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 0;
			cursor: pointer;
		}

	}

	.formRadio {
		display: flex;
		align-items: center;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		input[type="radio"] {
			margin: 0 7px;
			align-items: center;
			width: 18px;
			height: 18px;
		}
	}

	.formDividerOr {
		.widthAvailable();
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.7;
		margin: 0.5em 0;
		position: relative;
		color: #d1d1d1;

		&::before {
			content: "";
			display: block;
			width: 40%;
			height: 1px;
			background: #d1d1d1;
			margin-right: 0.5em;
			position: absolute;
			left: 10px;
		}

		&::after {
			content: "";
			display: block;
			width: 40%;
			height: 1px;
			background: #d1d1d1;
			margin-left: 0.5em;
			position: absolute;
			right: 10px;
		}
	}

	.formFlex {
		display: flex;
		align-items: center;
		gap: 10px;

		&.formFlexColumn {
			flex-direction: column;

			div {
				.widthAvailable();
			}
		}

		&.formFlexSpaceBetween {
			justify-content: space-between;
		}

		.formCol {
			.widthAvailable();
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}

		>.btnIcon {
			padding: 7px;
		}
	}

	.formGroupFluid {
		.widthAvailable();
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.formCollapse {
		transition: all .3s ease;
		overflow: hidden;
		.heightAvailable();

		&.active {
			height: 0;
		}
	}

	.btnGroupCollapse {
		&.active {
			transform: rotate(180deg);
		}
	}

	.formGroupFrame {
		background-color: @colorWhite;
		border-radius: 5px;
		margin-right: 23px;
		padding: 15px;
		margin-bottom: 15px;
		box-shadow: 0px 0px 3px #c1c5cc;

		>label {
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: 7px;
			display: flex;
			align-items: center;
			gap: 7px;

		}

		.head {
			padding: 0px 0px 10px 0px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			>label {
				font-size: 1.2em;
				font-weight: 600;
				display: flex;
				align-items: center;
				gap: 7px;
			}

			&.no-margin {
				padding-bottom: 0;
				margin: 0;
			}

			.actions {
				display: flex;
				align-items: center;

				.box {
					margin-left: 10px;
					display: flex;
					align-items: center;
				}
			}
		}
	}

	.formControlLandscape {
		display: flex !important;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;

		.formControl {
			//padding-right: 10px;

			&.formControlIconSelect {
				.btnSelectIcon {
					right: 18px;
				}

				.iconSelect {
					bottom: 7px;
				}
			}

			&:last-child {
				//padding-right: 0px;
			}
		}
	}

	.formSelect {
		&::after {
			/*content: "\E80B";
            width: 20px;
            height: 20px;
            bottom: 10px;
            right: 0px;
            margin-right: 15px;
            position: absolute;
            background-color: #ffffff;
            font-family: "font-brave" !important;
            display: flex;
            align-items: center;
            pointer-events: none;*/
		}
	}

	.formUploadMedia {
		display: flex;
		flex-direction: column;
		position: relative;

		.boxCharge {
			.widthAvailable();
			min-height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px dotted var(--color-line);
			border-radius: 6px;
			position: relative;

			&:hover {
				border-color: rgb(5, 186, 93);
			}

			.charge {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 13px;
				z-index: 1;
				touch-action: none;
				pointer-events: none;

				.icon {
					font-size: 2.3em;
					color: var(--color-upload-text);
				}

				.message {
					font-size: 11px;
					color: var(--color-upload-text);
				}
			}

			.boxInputFile {
				position: absolute;
				z-index: 0;
				.widthAvailable();
				.heightAvailable();
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;

				input {
					width: 100%;
					height: 100%;
				}
			}

		}
	}

	.formControlDisplay {
		padding-top: 18px;
		margin-bottom: 7px !important;
		z-index: 10;

		label {
			position: absolute;
			font-size: 16px;
			margin: 8px 15px;
			transition: all ease 0.2s;
			z-index: 10;
			color: @colorTextPlaceholder;

			&.on {
				transition: all ease 0.2s;
				margin: -20px 10px;
				font-size: 14px;
			}
		}
	}

	select[class="formInput"] {
		height: 34px;
	}

	.formInputCalendar {
		.icon {
			color: @colorIconAdd;
		}

		label {
			margin-left: 0px !important;
		}

		.icon-calendar {
			position: absolute;
			z-index: 2;
			font-size: 21px;
			left: 8px;
			bottom: 7px;
		}
	}

	.formControlTree {}

	.formControlGroup {
		background: @colorWhite;
		padding: 15px;
		border-radius: 5px;
		border: 1px solid @colorLine;
		display: flex !important;

		>.btn {
			margin-bottom: 9px;
			border: 1px dotted;

			&:hover {
				border-color: @colorGreen  !important;
			}
		}

		.checkbox {
			// float: left;
			background: @boxCheck;
			border: 1px solid @boxBorder;
			padding: 3px 12px 3px 5px;
			box-shadow: 1px 1px 5px @boxShadow;
			border-radius: 4px;
			margin-bottom: 10px !important;
			margin-right: 10px;
			margin-left: 0px !important;

			.box {
				margin-left: 4px;
			}
		}
	}

	.formSlit {
		display: flex;
		align-items: center;
		position: relative;
		flex-direction: row;
		gap: 0;
		width: auto;
		margin: 0;

		.btn {

			&.btnDropdown {
				//min-height: 34px;
				padding-left: 10px;
				padding-right: 10px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				background: #5485f6;

				.icon {
					font-size: 12px;
				}

				&.on {
					background: #0f46c7;
				}

				&:hover {
					background: #0f46c7;
				}

			}

			&:first-child {
				border-bottom-right-radius: 0px;
				border-top-right-radius: 0px;
			}

			&:last-child {
				border-bottom-left-radius: 0px;
				border-top-left-radius: 0px;
			}
		}

		.dropdown {
			.widthAvailable();
			height: 0;
			overflow: hidden;
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 34px;
			right: 0;

			&.on {
				min-height: 34px;
				padding-top: 5px;
				padding-bottom: 5px;
				.heightAvailable();
				position: absolute;
				box-shadow: 1px 1px 8px rgba(0, 0, 0, 30%);
				background: white;
				border-radius: 5px;

				a,
				button {
					.widthAvailable();
				}
			}
		}
	}

	.formTree {
		padding: 20px;
		padding-top: 45px;
		background: @colorWhite;
		border-radius: 5px;
		max-height: 450px;
		//border: 1px solid @colorLine;
		position: relative;
		//@borderTree : 1px solid @colorLineTree;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		label {
			position: absolute;
			top: 0;
			left: 0;
			padding: 15px;
			.widthAvailable();
			background: @colorWhite;
			z-index: 10;
		}

		.formGroup {
			margin-top: 7px;
			overflow-y: auto;
		}



		/* &::before {
			content: "";
			height: 99%;
			width: 1px;
			position: absolute;
			bottom: 14px;
			left: 26px;
			border-left: @lineTree;
		} */

		.level {
			padding: 0px 15px;
			position: relative;
			overflow-y: hidden;
			border-left: @lineTree;

			&:last-child {
				border-left: 0px;

				&::before {
					content: "";
					height: 11px;
					width: 1px;
					position: absolute;
					top: 0;
					left: 0;
					border-left: @lineTree;
				}
			}

			.head {
				padding: 4px 0;
				justify-content: left;
				align-items: flex-start;
				position: relative;
				overflow-y: clip;

				.box {
					&::before {
						content: "";
						height: 1px;
						width: 13px;
						position: absolute;
						margin-top: 7px;
						margin-left: -14px;
						border-top: @lineTree;
					}

					&.haveChild {
						&::after {
							content: "";
							height: 100%;
							width: 1px;
							position: absolute;
							top: 21px;
							left: 8px;
							border-left: @lineTree;
						}
					}

					input {
						width: 16px;
						height: 16px;
					}
				}

				.name {
					font-size: 13px;
					cursor: pointer;
					padding: 0 0 0 8px;

					&[state="0"] {
						opacity: 0.5;
					}

					&:hover {
						color: @colorPrimary;
					}
				}

				.add {
					display: flex;
					align-items: center;
					margin-left: 12px;

					.btnActionNode {
						font-size: 15px;
						margin: 0 7px;

						&:hover {
							color: @colorPrimary;
						}
					}

					.btnStateNode {

						&[state="0"] {
							.icon-eye-open {
								display: none;
							}
						}

						&[state="1"] {
							.icon-eye-close {
								display: none;
							}
						}
					}

					.btnDeleteNode {
						&:hover {
							color: @colorDanger;
						}
					}
				}
			}

			.childs {
				position: relative;
				display: flex;
				flex-direction: column;
				overflow-y: hidden;
				margin-left: 8px;

				&.haveChild {
					/* &::before {
						content: "";
						height: 100%;
						width: 1px;
						position: absolute;
						bottom: 15px;
						left: 6px;
						border-left: @lineTree;
					} */
				}
			}
		}

		/* .children {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: -100px;
				left: -1px;
				width: 1px;
				height: 150%;
				border-left: @borderTree;
			}
		}

		.level {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: start;
			position: relative;

			&[child="childrenActive"] {
				&::after {
					content: "";
					position: absolute;
					top: 25px;
					left: 17px;
					width: 1px;
					height: 9px;
					border-left: @borderTree;
				}
			}

			&.level-last {
				.box {
					&::after {
						content: "";
						position: absolute;
						top: -8px;
						left: -7px;
						width: 1px;
						height: 24px;
						border-left: @borderTree;
					}
				}
			}

			.box {
				width: 32px;
				height: 32px;
				display: flex;
				align-items: center;
				justify-content: center;

				&::before {
					content: "";
					position: absolute;
					top: 15px;
					left: -6px;
					width: 14px;
					height: 1px;
					border-top: @borderTree;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0px;
					left: -7px;
					width: 1px;
					height: 34px;
					border-left: @borderTree;
				}

				&.haveChild {
					&::after {
						content: "";
						position: absolute;
						top: 24px;
						left: 16px;
						width: 1px;
						height: 8px;
						border-left: @borderTree;
					}
				}
			}

			.name {
				font-size: 14px;
				margin-left: 0px;
				width: 80%;
			}

			input[type="checkbox"] {
				width: 16px;
				height: 16px;
			}
		}

		>.formGroup {
			overflow-y: scroll;
			max-height: 420px;
			padding-left: 1px;
			display: flex;
			flex-direction: column;

			&::before {
				content: "";
				position: absolute;
				width: 1px;
				height: 100%;
				top: 0px;
				left: 0px;
				border-left: @borderTree;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 10px;
				height: 16px;
				// background: white;
			}
		}

		.level-last {
			&::before {
				content: "";
				display: none;
			}

			.box {
				::after {
					background: red;
				}
			}

			.childActive {
				&::after {
					height: 24px !important;
				}
			}
		}

		.level0 {
			margin-left: 1px;

			.box {
				&::before {
					width: 10px;
					left: -2px;
				}

				&::after {
					left: -2px;
					top: 17px;
				}
			}
		} */
	}

	.formGroupAround {
		.widthAvailable();
		display: flex;
		justify-content: space-around;
	}

	.formChargeMedia {
		.widthAvailable();
		@heightBoxMedia: 110px;
		position: relative;
		border-radius: 5px;
		min-height: @heightBoxMedia * 2;
		border-radius: 5px;
		border-radius: 5px;
		/* flex-grow         : 1; */
		/* flex-shrink       : 1; */
		/* flex-basis        : 0%; */
		box-sizing: border-box;
		grid-template-columns: repeat(4, 1fr);
		display: grid;
		flex-wrap: wrap;
		grid-gap: 1rem;
		-webkit-user-select: none;
		user-select: none;
		padding: 5px;
		margin-bottom: 10px;

		.item {
			width: 100%;
			height: 100%;
			min-height: @heightBoxMedia;
			display: flex;
			overflow: hidden;
			align-items: center;
			justify-content: center;
			border: 1px solid @borderInput;
			border-radius: 5px;
			margin-right: 15px;
			margin-bottom: 15px;
			position: relative;
			cursor: move;
			background: rgba(96, 96, 96, 28%);

			&:first-child {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;

				.img {
					img {
						max-height: @heightBoxMedia * 2 + 10;
					}
				}
			}

			&.on {
				border: 1px solid @colorPrimary;

				.actions {
					.btnSelectMedia {
						color: @colorPrimary;
					}
				}
			}

			.actions {
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;

				.btnOrderMedia {
					position: absolute;
					left: 7px;
					top: 10px;
					font-size: 18px;
					color: rgba(255, 255, 255, 0.7);

					&:hover {
						color: white;
					}
				}

				.btnSelectMedia,
				.btnSelectImage {
					position: absolute;
					right: 7px;
					top: 8px;
					font-size: 17px;
					color: white;
				}

				.btnEditMedia,
				.btnEditImage {
					position: absolute;
					right: 7px;
					bottom: 10px;
					font-size: 19px;
					color: rgba(255, 255, 255, 0.7);

					&:hover {
						color: white;
					}
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.7);
				}
			}

			.img {
				position: relative;
				z-index: 0;

				img {
					max-height: @heightBoxMedia;
				}
			}
		}

		.boxInputs {
			display: none;
		}

		.boxInputFile {
			background-color: @colorWhite;

			&.block {
				width: 99%;
				height: 99%;
				min-height: @heightBoxMedia;
				position: relative;
				display: flex;

				.boxInner {
					position: relative;
				}

				.inputFileBtn {}
			}

			.inputFileBtn {
				border: 2px dotted @borderInput;
				border-radius: 5px;
				color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 99%;
				height: 99%;
				min-height: @heightBoxMedia;
				display: block;

				&.on {
					border-color: @alertSuccess;
				}

				&:hover {
					border-color: @alertSuccess;
				}
			}

			.boxInner {
				width: 99%;
				height: 99%;
				min-height: @heightBoxMedia;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 5px;
				touch-action: none;
				pointer-events: none;
				overflow: hidden;
				position: absolute;
				top: 2px;
				left: 2px;
				z-index: 1;
				background: @colorWhite;

				&.block {
					position: relative;
					top: auto;
					left: auto;
					margin-right: 7px;
					margin-bottom: 7px;

					.item {
						width: 99%;
						height: 99%;
						display: flex;
						overflow: hidden;
						align-items: center;
						justify-content: center;
						border: 1px solid @borderInput;
						border-radius: 5px;
					}
				}

				.icon {
					font-size: 2em;
					margin-bottom: 10px;
				}

				.message {
					margin-top: 10px;
					opacity: 0.8;
					padding: 0 10px;
					text-align: center;
					font-size: 80%;

					&.on {
						margin-top: 0px;
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}

		.boxMediaMini {
			min-height: 130px;
			background: white;
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 2px;
			margin-left: 2px;
			padding: 0px 10px;
			text-align: center;
			pointer-events: none;

			span {
				padding: 0px;
			}

			a {
				color: @colorBtnPrimary;
			}
		}
	}

	.formChargeImage {
		.widthAvailable();
		@heightBoxMedia: 110px;
		position: relative;
		border-radius: 5px;
		min-height: @heightBoxMedia * 2;
		border-radius: 5px;
		border-radius: 5px;
		/* flex-grow         : 1; */
		/* flex-shrink       : 1; */
		/* flex-basis        : 0%; */
		box-sizing: border-box;
		grid-template-columns: repeat(4, 1fr);
		display: grid;
		flex-wrap: wrap;
		grid-gap: 1rem;
		-webkit-user-select: none;
		user-select: none;
		padding: 5px;

		.box {
			display: flex;
			margin-top: -7px;
		}

		.item {
			width: 100%;
			height: 100%;
			min-height: @heightBoxMedia;
			display: flex;
			overflow: hidden;
			align-items: center;
			justify-content: center;
			border: 1px solid @borderInput;
			border-radius: 5px;
			margin-right: 15px;
			margin-bottom: 15px;
			position: relative;
			cursor: move;

			&:first-child {
				grid-column: 1 / span 2;
				grid-row: 1 / span 2;

				.img {
					img {
						max-height: @heightBoxMedia * 2 + 10;
					}
				}
			}

			&.on {
				border: 1px solid @colorPrimary;

				.actions {
					.btnSelectMedia {
						color: @colorPrimary;
					}
				}
			}

			.actions {
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;



				.btnTrashImg,
				.btnTrashImage {
					position: absolute;
					right: 8px;
					top: 8px;
					font-size: 17px;
					color: white;
				}

				.btnEditImage {
					position: absolute;
					right: 7px;
					bottom: 10px;
					font-size: 19px;
					color: rgba(255, 255, 255, 0.7);

					&:hover {
						color: white;
					}
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.7);
				}
			}

			.img {
				position: relative;
				z-index: 0;

				img {
					max-height: @heightBoxMedia;
				}
			}
		}

		.boxInputs {
			display: none;
		}

		.boxInputFile {
			background-color: @colorWhite;

			&.block {
				width: 99%;
				height: 99%;
				min-height: @heightBoxMedia;
				position: relative;
				display: flex;

				.boxInner {
					position: relative;
				}

				.inputFileBtn {}
			}

			.inputFileBtn {
				border: 2px dotted @borderInput;
				border-radius: 5px;
				color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 99%;
				height: 99%;
				min-height: @heightBoxMedia;
				display: block;

				&.on {
					border-color: @alertSuccess;
				}

				&:hover {
					border-color: @alertSuccess;
				}
			}

			.boxInner {
				width: 99%;
				height: 99%;
				min-height: @heightBoxMedia;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 5px;
				touch-action: none;
				pointer-events: none;
				overflow: hidden;
				position: absolute;
				top: 2px;
				left: 2px;
				z-index: 1;
				background: @colorWhite;

				&.block {
					position: relative;
					top: auto;
					left: auto;
					margin-right: 7px;
					margin-bottom: 7px;

					.item {
						width: 99%;
						height: 99%;
						display: flex;
						overflow: hidden;
						align-items: center;
						justify-content: center;
						border: 1px solid @borderInput;
						border-radius: 5px;
					}
				}

				.icon {
					font-size: 2em;
					margin-bottom: 10px;
				}

				.message {
					margin-top: 10px;
					opacity: 0.8;
					padding: 0 10px;
					text-align: center;

					&.on {
						margin-top: 0px;
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}

		.boxMediaMini {
			min-height: 130px;
			background: white;
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 2px;
			margin-left: 2px;
			padding: 0px 10px;
			text-align: center;
			pointer-events: none;

			span {
				padding: 0px;
			}

			a {
				color: @colorBtnPrimary;
			}
		}
	}

	.formChargeDocs {
		width: 300px;
		height: auto !important;
		padding: 30px 10px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-left: 2px;
		margin-top: 25px;

		.btnRemoveDoc {
			position: absolute;
			z-index: 2;
			background: rgb(255 255 255);
			font-size: 22px;
			border-radius: 20px;
			padding: 0;
			margin: 0;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -10px;
			right: -12px;

			.icon {
				margin: 0 !important;
				padding: 0px !important;
				color: @colorTabBgHover;
			}

			&:hover {
				.icon {
					color: @colorViolet  !important;
				}
			}
		}

		.boxIcon {
			touch-action: none;
			pointer-events: none;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 7px;
			flex-direction: column;
			overflow: hidden;
			border: 2px dotted #8798a9;
			background-color: @colorWhite;

			.icon {
				font-size: 21px;
				margin-bottom: 5px;
				color: #8798a9;
			}
		}
	}

	.formCircleControl {
		width: 120px;
		height: 120px;
		border-radius: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0 15px;

		.btnRemoveImg {
			position: absolute;
			z-index: 2;
			background: rgb(255 255 255);
			font-size: 22px;
			border-radius: 20px;
			padding: 0;
			margin: 0;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0px;
			right: 7px;

			.icon {
				margin: 0 !important;
				padding: 0px !important;
				color: @colorTabBgHover;
			}

			&:hover {
				color: @colorViolet;
			}
		}

		.boxIcon {
			touch-action: none;
			pointer-events: none;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 150px;
			flex-direction: column;
			line-height: 15px;
			overflow: hidden;
			border: 1px solid @colorLine;
			background-color: @colorWhite;

			img {
				height: 150px;
			}

			.icon {
				font-size: 24px;
				margin-top: 10px;
				color: @colorIconAdd;
			}

			span {
				font-size: 12px;
				width: 100px;
				text-align: center;
			}
		}

		input[type="file"] {
			z-index: 0;
			width: 120px;
			height: 120px;
			opacity: 0;
		}
	}

	.formDialCelular {
		display: flex !important;
		padding-top: 4px !important;
		padding-bottom: 4px !important;
		align-items: center;
		min-height: 24px !important;

		.btnDialCelular {
			display: flex;
			align-items: center;

			img {
				height: 18px;
				margin-right: 5px;
			}
		}

		input {
			margin-left: 5px;
			width: 90%;
			height: 90%;
			border: 0;
			/* border-left: 1px solid #ccc; */
			background: transparent;
			font-size: 14px;
		}
	}

	.formDialSimple {
		.dial {
			position: absolute;
			z-index: 1;
			height: 40px;
			display: flex;
			align-items: center;
			left: 10px;
			top: 1px;

			.img {
				width: 32px;
				height: 32px;
				display: block;
				margin-right: 5px;
				display: block;
				background-size: cover !important;
			}

			label {
				font-size: 14px;
				font-weight: bold;
			}
		}

		input {
			padding-left: 85px !important;
		}
	}

	.formSelectCountry {
		position: relative;
		padding: 0px !important;
		height: 32px;

		.countrySelect {
			.widthAvailable();
			position: relative;
			display: flex;
			justify-content: space-between;

			.country {
				width: 90%;

				.cp {
					display: flex;
					align-items: center;
					padding: 7px 7px;

					img {
						margin-right: 5px;
						width: 26px;
						height: 18px;
					}

					span {
						text-overflow: ellipsis;
						overflow: hidden;
						height: 15px;
						margin-top: -3px;
					}
				}
			}

			.btnSelectCountry {
				position: absolute;
				width: 35px;
				height: 32px;
				display: flex;
				top: 0px;
				right: 0px;
				align-items: center;
				justify-content: center;
				background: #949eb7;
				border-radius: 0px 4px 4px 0px;
				color: white;
			}
		}
	}

	.formAlignCenter {
		align-items: center;
	}

	.formControlSearch {
		position: relative;

		.iconSearch {
			position: absolute;
			left: 8px;
			top: 8px;
			z-index: 2;
			font-size: 16px;
		}

		.formInput {
			padding-left: 30px !important;
		}

		.iconClear {
			position: absolute;
			right: 8px;
			top: 8px;
			z-index: 2;
			font-size: 17px;
			color: @colorIconAddOff;
			display: none;

			&.on {
				display: inline-block;
			}

			&:hover {
				color: @colorDanger;
			}
		}

		.boxResults {
			position: absolute;
			width: 98.6%;
			height: 0px;
			top: 32px;
			z-index: 3;
			overflow-y: auto;
			border: 1px solid transparent;
			background: white;
			border-radius: var(--border-radius-form);
			transition: all ease 0.3s;
			opacity: 0;

			&.active {
				border: 1px solid var(--color-line);
				transition: all ease 0.3s;
				height: auto;
				max-height: 200px;
				opacity: 1;
			}

			.item {
				padding: 7px;
				display: flex;



				&:active,
				&:visited,
				&:link {
					color: var(--color-text);
				}

				&:hover {
					background: var(--color-bg-gray-hover);
					color: var(--color-white);
				}

				&:nth-child(even) {
					background: var(--color-bg-gray);
				}
			}
		}
	}

	.formLinearRows {
		.formInput {
			padding: 0;
			border: 0px;
			background: #0000;
		}
	}

	.formHeadTable {
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		gap: 15px;

		.formControl {
			padding-left: 7px;
			padding-right: 10px;

			label {
				font-size: 12px;
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}

	}

	.formInputCI {
		position: relative;
		margin-bottom: 7px !important;

		select {
			position: absolute;
			font-size: 15px;
			padding: 2px 7px;
			bottom: 1px;
			right: 2px;
			height: 32px;
			background: @colorIconAdd;
			border: 1px solid @colorIconAdd;
			color: #ffffff;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
		}

		.formInput {
			height: 16px;
			padding-right: 80px !important;
		}

		&::after {
			right: -7px;
			background: #afbbc5;
			color: @colorWhite;
		}
	}

	.form5w {
		width: 4% !important;
	}

	.form8w {
		width: 7% !important;
	}

	.form10w {
		width: 10% !important;
	}

	.form15w {
		width: 15% !important;
	}

	.form20w {
		width: 20% !important;
	}

	.form25w {
		width: 25% !important;
	}

	.form30w {
		width: 35% !important;
	}

	.form35w {
		width: 30% !important;
	}

	.form33w {
		width: 33% !important;
	}

	.form40w {
		width: 40% !important;
	}

	.form45w {
		width: 45% !important;
	}

	.form50w {
		width: 49.5% !important;
	}

	.form55w {
		width: 54% !important;
	}

	.form60w {
		width: 60% !important;
	}

	.form65w {
		width: 65% !important;
	}

	.form70w {
		width: 70% !important;
	}

	.form75w {
		width: 75% !important;
	}

	.form80w {
		width: 80% !important;
	}

	.form85w {
		width: 85% !important;
	}

	.form90w {
		width: 90% !important;
	}

	.form95w {
		width: 95% !important;
	}

	.form100w {
		width: 100% !important;
	}

	.formActions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
		padding: 15px 0px 0px;
		z-index: 0;
		gap: 7px;

		.btn {
			//margin-left: 15px;
			min-height: 20px;

			&.btnDelete {
				&:hover {
					color: @colorDanger;
				}
			}
		}

		&.normal {
			margin-bottom: 18px !important;
		}

		&.min {
			margin-bottom: 10px !important;
		}

		&.fit {
			margin-bottom: 0px !important;
		}
	}



	.formIconAddon {
		position: relative;

		&.iconRight {
			>.icon {
				left: auto;
				right: 8px;
			}

			input {
				padding-left: 10px !important;
				padding-right: 40px !important;
			}
		}

		>.icon {
			z-index: 2;
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 20px;
			color: @colorIconAdd;
		}

		input {
			padding-left: 40px !important;
		}

		&.formIconAddonLg {
			>.icon {
				top: 12px;
				left: 12px;
				font-size: 20px;
			}
		}
	}

	.formDivider {
		display: flex;
		margin-bottom: 20px;

		.line {
			width: 45%;
			height: 1px;
			border-bottom: 1px dotted @colorLine;
			padding-top: 7px;
		}

		.text {
			font-size: 14px;
			width: 10%;
			text-align: center;
			color: @colorText;
		}
	}

	.btnCerrarInputGroup {
		padding: 5px;
		margin-top: 0px;
		display: block;
		background: @alertDanger;
		width: 29px;
		height: 29px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		color: @colorWhite;
		opacity: 1;

		&:hover {
			opacity: 0.8;
		}
	}

	.formBirthday {
		margin-top: 15px;

		>label {
			font-weight: bold;
		}

		.group {
			display: flex;
			flex-direction: row;
			// max-width: 210px;

			.formControl {
				label {
					margin: 0;
					font-size: 13px;
					margin-top: 7px;
					padding-left: 1px;
					line-height: 10px;
				}
			}
		}

		.formInput {
			text-align: right;
			margin-top: 5px;
			margin-right: 10px;
			padding: 5px 10px !important;
			font-size: 15px;

			&[id="inputDay"] {}

			&[id="inputMonth"] {}

			&[id="inputYear"] {
				margin-right: 0px;
			}
		}
	}

	.formBottomBtns {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
		padding: 7px 0 15px 0;
		z-index: 0;
		gap: 7px;
		margin-bottom: 0 !important;
	}
}

.actionsBottomWindow {
	.widthAvailable();
	background: @colorWhite;
	border-top: 1px solid @colorLine;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-between;

	.actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
		padding: 15px;
	}
}

.btnBlockPw {
	right: 15px;
	top: 13px;
	opacity: 0.5;
	position: absolute;
	z-index: 2;
	font-size: 20px;
}

.trumbowyg-box {
	border-radius: @borderRadiusFormInput;
	border: 1px solid @colorLine;
	min-height: 120px;

	.trumbowyg-button-pane {
		border-top-left-radius: @borderRadiusFormInput;
		border-top-right-radius: @borderRadiusFormInput;
		background: #f4f4fb;
	}

	.trumbowyg-editor {
		ul {
			li {
				list-style: initial;
				margin-left: 25px;
			}
		}
	}

}

.trumbowyg-editor,
.trumbowyg-textarea {
	min-height: 120px;
	line-height: 24px;
}

input {
	&.error {
		border-color: @alertDanger;
		box-shadow: 0px 0px 0px 1px @alertDanger  !important;
		transform: all ease 0.2s;
	}
}

.selectHoursStartEnd {
	display: flex;
	align-items: center;
}

.listHours {
	position: relative;
	line-height: 14px;

	.btnListHours {
		padding: 7px 7px 6px 7px;
		font-size: 16px;
		cursor: text;
		border-radius: 5px;

		&.on {
			background: #e4e7f3;
		}
	}

	.bar {
		margin-top: -3px;
	}

	.list {
		width: 80px;
		display: none;
		flex-direction: column;
		overflow-y: auto;
		position: absolute;
		z-index: 1;
		top: 26px;
		left: 0px;
		.boxShadowList();

		&.on {
			display: flex;
		}

		.btnHour {
			padding: 7px 15px;
			font-size: 15px;
			.widthAvailable();

			&.active {
				background-color: #e4e7f3;
			}

			&:hover {
				background-color: #ececec;
			}
		}
	}
}


.formModal {
	position: fixed;
	z-index: 100;
	top: 100px;
	right: 20px;
	width: 430px;
	height: 80%;
	overflow-y: auto;
	box-sizing: content-box;
	background-color: @colorWhite;
	//border: 1px solid @colorLine;
	border-radius: 5px;
	border-top: 5px solid rgb(148 158 183);
	.boxShadow();

	.btnCloseModal {
		font-size: 14px;
		padding: 0;
		color: @colorBtnCloseModal;

		&:hover {
			background-color: transparent;
			color: @colorBtnHoverCloseModal;
		}
	}

	.title {
		font-size: 18px;
		padding: 12px 15px 8px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.icon {
			margin-left: -5px;
			margin-right: 5px;
			opacity: .3;
		}
	}

	.form {
		.widthAvailable();
		padding: 0 15px;
		height: 80%;
		overflow-y: auto;
		padding-right: 10px;

		.formControl {
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}

	.btnsActions {
		position: absolute;
		width: -webkit-fill-available;
		display: flex;
		justify-content: flex-end;
		left: 0;
		bottom: 0;
		background: white;
		padding: 10px;
		box-shadow: 1px 1px 15px #d9d9d9;
		border-top: 1px solid @colorLine;
	}
}

.required {
	color: @colorDanger;
	margin-right: 1px;
}