// out: ./dist/index.css

@import (reference) "color.less";
@import (reference) "font.less";

@borderRadius: 5px;
@borderRadiusBtn: 5px;
@borderRadiusForm: 5px;
@borderRadiusFormInput: 5px;

@heightNav: 44px;

@fontIcon: "font-brave";
@iconPointerL: "\E817";
@iconCheckOk: "\e800";
@lineTree : 1px dotted @colorLineTree;

:root {
    --border-radius-form: 5px;
}

.border(@x) {
    border: 1px solid @x;
}

.borderRadius(@x) {
    border-radius: @x;
}

// general
* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: @colorWhite;
    .fontRegular();
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover !important;
    color: @colorText;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer !important;
}

button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    .fontRegular();
}

.containerFluid {
    width: 100%;
    .widthAvailable() !important;
}

.container {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.pullRight {
    float: right;
}

.pullLeft {
    float: left;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

a {
    transition: all ease 0.3s;

    &:hover {
        transition: all ease 0.3s;
    }
}

.btn {
    // background: @colorBtnDefault;
    color: @colorText;
    // border: 2px solid transparent;
    border: 1px solid rgba(0, 0, 0, 0);

    -webkit-border-radius: @borderRadiusBtn;
    border-radius: @borderRadiusBtn;
    text-decoration: none;
    padding: 6px 22px 6px 15px;
    display: flex;
    gap: 7px;
    font-size: 15px;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all ease 0.3s;
    text-align: center;
    width: fit-content;

    span,
    .icon,
    i {
        pointer-events: none;
    }

    &.spaceLeft {
        margin-left: 7px;
    }

    &.spaceRight {
        margin-right: 7px;
    }

    &:hover {
        transition: all ease 0.3s;
        background-color: @colorBtnDefaultHover; // opacity: 0.7;
    }

    &:focus {
        transition: all ease 0.3s;
        border: 1px solid rgba(37, 213, 163, 0.9) !important;
        outline: 1px solid rgba(37, 213, 163, 0.9) !important;
    }

    &.disabled {
        opacity: 0.7;
        pointer-events: none;
        user-select: none;

        border: 1px solid @colorAlertDefault  !important;
        background: @colorAlertDefault;
        color: var(--color--input-placeholder);
    }

    &.btnResponsive {
        .widthAvailable();
    }

    &.btnDefault {
        border: 1px solid @colorAlertDefault;
        background: @colorAlertDefault;
        color: @colorText;

        &:hover {
            border-color: @colorLine;
        }
    }

    &.btnPrimary {
        background-color: @colorBtnPrimary;
        color: @colorWhite;

        &:hover {
            color: @colorWhite;
            background-color: @colorBtnPrimaryHover;
        }

        &.disabled {
            border: 1px solid @colorBtnPrimary  !important;
            background: var(--color-primary-disabled) !important;
            color: var(--color-white);
            opacity: 0.8;
            pointer-events: none;
            user-select: none;

            &:focus {
                border: 1px solid var(--color-line) !important;
                outline: 1px solid var(--color-line) !important;
                color: var(--color-line) !important;
            }
        }
    }

    &.btnInfo {
        background-color: @colorBtnInfo;
        color: @colorWhite;

        &:hover {
            color: @colorWhite;
            background-color: @colorBtnInfoHover;
        }
    }

    &.btnSuccess {
        background: @colorBtnSuccess  !important;
        color: @colorWhite  !important;

        &:hover {
            background-color: @colorBtnSuccessHover  !important;
        }
    }

    &.btnWarning {
        background-color: @colorBtnWarning;
        color: @colorWhite;

        &:hover {
            background-color: @colorBtnWarningHover;
        }
    }

    &.btnDelete {
        &:hover {
            color: @colorBtnDanger;
        }
    }

    &.btnDanger {
        background-color: @colorBtnDanger;
        color: @colorWhite;

        &:hover {
            background-color: @colorBtnDangerHover;
        }
    }

    &.btnFull {
        background: transparent !important;
        border: 1px solid @colorLine  !important;

        &:hover {
            //border-color: @colorBtnFullHover  !important;
            background-color: @colorBtnFullHover  !important;
            color: @colorText  !important;
            text-decoration: none !important;
        }

        &.disabled {
            background-color: var(--color-btn-disabled) !important;
            border-color: var(--color-btn-disabled);
            color: @colorText;
            cursor: not-allowed;
        }
    }

    &.btnLink {
        background: transparent;
        border-color: transparent;
        text-decoration: underline !important;

        &:hover {
            text-decoration: underline !important;
        }
    }

    &.btnBackPage {
        margin-top: 70px;
        display: inline-block;
        margin: 100px 20px 20px;

        .icon {
            border: 1.3pt solid #bfc7c6;
            color: #bfc7c6;
            background: @colorWhite;
            font-size: 16px;
            padding: 10px 8px 8px 7px;
            border-radius: 30px;
        }
    }

    &.btnLg {
        font-size: 18px;
        padding: 8px 15px;
    }

    &.btnBig {
        font-size: 21px;
        padding: 10px 15px;
    }

    &.btnSmall {
        font-size: 14px !important;
        padding: 6px 10px !important;
    }

    &.btnMini {
        font-size: 13px !important;
        padding: 3px 10px !important;

        &.btnIcon {
            padding: 4px 4px !important;

            border: 1px solid #a5a6ad;

            .icon {
                margin-left: 0px;
                margin-right: 0px;
                font-size: 14px !important;
            }

            &:hover {
                color: var(--color-primary);
            }

            &:focus {
                border-color: transparent !important;
            }

        }
    }

    &.btnHiperMini {
        font-size: 12px !important;
        padding: 0px 5px !important;
    }

    &.btnIconRight {
        padding-right: 30px !important;
        padding-left: 15px !important;
        text-align: left;
        text-decoration: none !important;

        .icon {
            position: absolute;
            right: 10px;
            // top: 10px;
            left: auto !important;
        }
    }

    &.btnIconLeft {
        padding-right: 15px !important;
        padding-left: 30px !important;
        text-align: right;
        text-decoration: none !important;

        .icon {
            position: absolute;
            left: 10px;
            right: auto !important;
            // top: 10px;
        }
    }

    &.btnIcon {
        background: transparent;
        font-size: 18px;
        padding: 5px;

        &.btnSmall {
            font-size: 17px !important;
        }

        .icon {
            //opacity: 0.7;
            color: var(--color-close-modal);
        }

        &:hover {
            color: var(--color-black);

            .icon {
                color: var(--color-primary);
            }
        }

        &:focus {
            border-color: transparent !important;
            outline-color: transparent !important;
        }
    }

    .icon-loading {
        -webkit-animation: 2s rotate linear infinite;
        animation: 2s rotate linear infinite;
        -webkit-transform-origin: 15% 50%;
        transform-origin: 50% 50%;
        /* left                 : 5px !important; */
        /* width                : 20px; */
        /* height               : 20px; */
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    &.btnBold {
        font-weight: 500;
    }


    &.btnCenter {
        justify-content: center;
    }

    &.btnSelection {
        .widthAvailable();
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;

        &:hover {
            background-color: var(--color-btn-hover) !important;
            color: var(--color-white) !important;
        }
    }

    &.btnSwitch {
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        background-color: transparent;
        .transition();

        &:hover {
            .transition();

            label {
                opacity: 1;
            }

            .switch {
                box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
            }
        }

        &[value="1"] {
            .switch {
                background-color: var(--color-btn-hover-light);
                border: 1px solid #CADDF4;

                .icon {
                    color: var(--color-primary);
                    right: 1px;
                    left: auto;
                }
            }
        }

        label {
            opacity: .8;
        }

        .switch {
            position: relative;
            border: 1px solid var(--color-line);
            background-color: var(--color-white);
            height: 17px;
            width: 34px;
            border-radius: 20px;

            .icon {
                position: absolute;
                font-size: 15px;
                top: 1px;
                left: 1px;
                color: var(--color-text);
                opacity: .9;
            }
        }


    }

}

.col {

    >.head {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-line-soft);
        padding: 7px 10px;

        .title {
            display: flex;
            gap: 5px;
            align-items: center;
        }
    }

    >.body {
        padding: 7px 10px;
        padding-top: 10px;
        overflow-y: auto;
        .heightAvailable();
    }
}

.col5w {
    width: 4% !important;
}

.col10w {
    width: 10% !important;
}

.col15w {
    width: 15% !important;
}

.col20w {
    width: 20% !important;
}

.col25w {
    width: 25% !important;
}

.col30w {
    width: 35% !important;
}

.col35w {
    width: 30% !important;
}

.col33w {
    width: 33% !important;
}

.col40w {
    width: 40% !important;
}

.col45w {
    width: 45% !important;
}

.col50w {
    width: 49.5% !important;
}

.col55w {
    width: 45% !important;
}

.col60w {
    width: 60% !important;
}

.col65w {
    width: 65% !important;
}

.col70w {
    width: 70% !important;
}

.col75w {
    width: 75% !important;
}

.col80w {
    width: 80% !important;
}

.col85w {
    width: 85% !important;
}

.col90w {
    width: 90% !important;
}

.col95w {
    width: 95% !important;
}

.col100w {
    width: 100% !important;
}

.badge {
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1;
    color: var(--color-white);

    border-radius: 10px;

    &.badgePill {
        border-radius: 20px;
    }

    &.badgeDefault {
        background-color: var(--color-default);
        color: var(--color-text);
    }

    &.badgePrimary {
        background-color: var(--color-primary);
    }

    &.badgeSuccess {
        background-color: var(--color-success);
    }

    &.badgeInfo {
        background-color: var(--color-info);
    }

    &.badgeWarning {
        background-color: var(--color-warning);
    }

    &.badgeDanger {
        background-color: var(--color-danger);
    }


}

.flexLineEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .innerSearch {
        border: 1px solid @colorLine;
        border-radius: @borderRadius;
    }

    .icon {
        position: absolute;
        left: 7px;
        top: 7px;
    }

    input {
        border: 0;
        border-radius: @borderRadius;
        padding: 5px 15px 5px 30px;
    }
}

.boxBtnSlit {
    display: flex;
    position: relative;
    align-items: center;

    .btn {
        &:nth-child(1) {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:nth-child(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 8px 10px 7px 10px !important;
        }
    }

    .btnSlit {
        &.on {
            background-color: @colorBtnPrimary  !important;
            color: var(--color-primary);
            //color: #fff;
            border-bottom-right-radius: 0px;
            border-color: @colorBtnPrimary;
        }
    }

    .slitMenu {
        min-width: 120px;
        position: fixed;
        display: flex;
        background: @colorWhite;
        border-radius: 5px;
        .widthAvailable();
        z-index: 1000;
        overflow: hidden;
        height: 0;
        opacity: 0;
        // transition: all ease 0.3s;
        top: 0;
        left: 0;
        flex-direction: column;

        &:nth-child(1) {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        ul {
            .widthAvailable();
            margin: 0;

            li {
                .widthAvailable();
                margin: 0;
            }
        }

        a {
            font-size: 14px !important;
            text-align: left;
            min-height: 19px;
            .widthAvailable();
        }

        &.slitMenuDown {
            top: 30px;
            right: 0px;
            border-top-right-radius: 0px;
        }

        &.on {
            opacity: 1;
            // transition: all ease 0.3s;
            height: auto;
            padding: 0px;
            background-color: white;
            //border: 1px solid @colorLine;


            &.slitMenuDown {
                box-shadow: 0px 4px 7px rgba(0, 0, 0, 30%);
            }
        }
    }
}

.animated.fast {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.animated.enlarge {
    -webkit-animation: 2s enlarge linear;
    animation: 2s enlarge linear;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes enlarge {
    from {
        height: 1px !important;
        max-height: 1px !important;
        min-height: 1px !important;
    }

    to {
        height: auto;
        max-height: auto;
        min-height: auto;
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

input[type="text"],
input[type="password"] {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

:-moz-placeholder {
    color: var(--color--input-placeholder);
    .fontRegular();
}

::-webkit-input-placeholder {
    color: var(--color--input-placeholder);
    .fontRegular();
}

::-moz-placeholder {
    color: var(--color--input-placeholder);
    .fontRegular();
}

:-ms-input-placeholder {
    color: var(--color--input-placeholder);
    .fontRegular();
}

::-webkit-scrollbar {
    //display: none;
    width: 0px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Estilo general del scrollbar */
.scrollBar::-webkit-scrollbar {
    width: auto !important;
    height: 7px;
    /* Altura para el scroll horizontal */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Estilo del track (fondo) del scrollbar */
.scrollBar::-webkit-scrollbar-track {
    width: auto !important;
    height: 7px;
    /* Altura para el scroll horizontal */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Estilo del thumb (manejador) del scrollbar */
.scrollBar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 7px;
    background: #3e48b8;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
}

/* Thumb cuando la ventana está inactiva */
.scrollBar::-webkit-scrollbar-thumb:window-inactive {
    background: #7a83ed;
}

/* Estilo específico para scroll horizontal */
.scrollBar-x {
    overflow-x: scroll;
    /* Asegúrate de habilitar el scroll horizontal */
    overflow-y: hidden;
    /* Opcional si no necesitas el scroll vertical */
}

.scrollBar-x::-webkit-scrollbar {
    height: 7px;
    /* Establece la altura de la barra horizontal */
}

.scrollBar-x::-webkit-scrollbar-thumb {
    height: 7px;
    /* Altura del manejador de la barra horizontal */
    background-color: #5b66e1;
    border-radius: 15px;
}




a,
button {
    .icon {
        pointer-events: none;
    }
}

textarea:focus,
input:focus,
*:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: yellow !important;
}

input:-webkit-autofill {
    -webkit-appearance: menulist-button;
    background-color: yellow !important;
}

a,
input,
button {
    text-decoration: none !important;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset;
    transition: all 5000s ease-in-out 0s;
}

.boxShadow() {
    // box-shadow: 0 1px 4px 0 rgba(167, 167, 177, 0.86);
    // box-shadow: 0 1px 4px 0 rgba(208, 208, 208, 0.86);

    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.boxShadowDark() {
    box-shadow: 0 1px 11px 0 rgba(131, 131, 140, 0.86);
}

.boxShadowWindow () {
    background: @colorWhite;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.26);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.boxShadowList () {
    max-height: 200px;
    overflow-y: scroll;
    background: @colorWhite;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 14%),
        0px 1px 10px 0px rgba(0, 0, 0, 12%),
        0px 2px 4px -1px rgba(0, 0, 0, 20%);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 14%),
        0px 1px 10px 0px rgba(0, 0, 0, 12%),
        0px 2px 4px -1px rgba(0, 0, 0, 20%);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.transition(@x :.3s) {
    transition: all ease @x;
}

.widthAvailable() {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.heightAvailable() {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
}

.divisor {
    width: 100%;
    display: flex;

    .linea {
        width: 45%;
        border-top: 1px solid #e6e1e1;
        margin-top: 10px;
    }

    .centro {
        text-align: center;
        color: #ccc;
        width: 10%;
    }
}

.loading {
    width: 36px;
    height: 36px;
    left: 50%;
    top: 20px;
    margin-left: -17px;
    opacity: 1;
    position: relative;
    background: url(../../img/loading.svg) no-repeat center center;
    background-size: contain;
    z-index: 100;
    transition: all ease 0.2s;

    &.off {
        .transition(0.2s);
        opacity: 0;
        top: -2260px;
        position: absolute;
    }

    &.txt {
        span {
            color: @colorWhite;
            position: absolute;
            top: 40px;
            left: -8px;
            color: @colorText;
        }
    }

    &.loading-fluid {
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: rgba(21, 21, 21, 0.65);
        left: 0;
        top: 0;
        background-size: 50px;
        margin-left: 0px;
    }

    &.loadingFluid {
        width: 100%;
        position: absolute;
        height: 100%;
        // background-color: rgba(21, 21, 21, 0.65);
        left: 0;
        top: 0;
        background-size: 50px;
        margin-left: 0px;
    }

    &.loadingFluidTop {
        width: 100%;
        position: relative;
        height: -webkit-fill-available;
        min-height: 145px;
        left: 0;
        top: 0;
        background-size: 40px;
        background-position-y: 0px;
        margin-left: 0px;
    }

}

/* Alert */

@datesShadow: 0 0 7px 2px;

.alert {
    border: none;
    padding: 15px 20px;
    color: @colorWhite;
    font-size: 110%;
    line-height: 145%;
    display: flex;

    >a {
        color: @colorWhite;
    }
}

.iconDanger {
    color: @alertDanger;
}

.iconSuccess {
    color: @alertSuccess;
}

.iconWarning {
    color: @alertWarning;
}

.iconPrimary {
    color: @alertPrimary;
}

.iconInfo {
    color: @alertInfo;
}

.bgDanger {
    background-color: @alertDanger;
}

.bgSuccess {
    background-color: @alertSuccess;
}

.bgInfo {
    background-color: @alertInfo;
}

.bgWarning {
    background-color: @alertWarning;
}

.bgPrimary {
    background-color: @alertPrimary;
}

.alertDanger {
    background-color: @colorAlertDanger;
    border-radius: @borderRadiusForm;
    color: @colorWhite;
    box-shadow: @datesShadow rgba(151, 102, 38, 0.25);
}

.alertSuccess {
    background-color: var(--color-success);
    border-radius: var(--color-success);
    color: @colorWhite;
    box-shadow: @datesShadow rgba(151, 102, 38, 0.25);
}

.alertWarning {
    background: @colorAlertWarning;
    color: @colorWhite;
    box-shadow: @datesShadow rgba(151, 102, 38, 0.25);
}

.alertInfo {
    background: @colorAlertInfo;
    color: @colorWhite;
    box-shadow: @datesShadow rgba(55, 132, 152, 0.25);
}

.space1w {
    width: 4% !important;
}

.space2w {
    width: 14% !important;
}

.space3w {
    width: 23% !important;
}

.space4w {
    width: 33% !important;
}

.space5w {
    width: 43% !important;
}

.space6w {
    width: 47.5% !important;
}

.space7w {
    width: 53% !important;
}

.space8w {
    width: 63% !important;
}

.space9w {
    width: 73% !important;
}

.space10w {
    width: 83% !important;
}

.space11w {
    width: 93% !important;
}

.space12w {
    width: 98% !important;
}

.boxAlert {
    position: fixed;
    margin: 0px;
    z-index: 1300;
    max-width: 340px;
    height: auto;
    display: flex;
    flex-direction: column;

    &.bottom-left {
        bottom: 20px;
        right: 20px;
    }

    &.top-left {
        top: 50px;
        right: 20px;
    }

    .alert {
        .widthAvailable();
        position: relative;
        margin: 0px 0px 6px 0px;
        z-index: 200;
        height: auto;
        min-height: 28px;
        display: block;
        border-radius: 5px;
        padding: 10px 15px;
        @datesShadow: 0 0 7px 2px;
        box-shadow: @datesShadow rgba(86, 118, 154, 0.25);
        display: flex;
        align-items: flex-start;
        margin-left: 15px;

        @x1: 1px 1px 3px;

        &.bottom-left {
            bottom: 20px;
            right: 20px;
        }

        &.top-left {
            top: 70px;
            right: 20px;
        }


        &.success {
            background: @alertSuccess;
            color: @colorWhite;
            box-shadow: @x1 rgba(86, 118, 154, 0.25);
        }

        &.warning {
            background: @alertWarning;
            color: @colorWhite;
            box-shadow: @x1 rgba(151, 102, 38, 0.25);
        }

        &.danger {
            background: @alertDanger;
            color: @colorWhite;
            box-shadow: @x1 rgba(150, 27, 27, 0.25);
        }

        &.info {
            background: @alertInfo;
            color: @colorWhite;
            box-shadow: @x1 rgba(55, 132, 152, 0.25);
        }



        .icon {
            font-size: 24px;
            display: inline-block;
            margin-right: 10px;
        }

        .text {}
    }
}

.rotation() {
    animation: rotation 3s infinite alternate;
}

.loadingPageModule {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: @colorWhite;

    .loadingBar {
        width: 0;
        height: 5px;
        background-color: @colorLoadingBar;
    }
}

.message {
    .widthAvailable();

    .messageAction() {
        padding: 5px 10px;
        border-radius: 6px;
        margin-top: 5px;
    }

    &.messageSuccess,
    .messageSuccess {
        .messageAction();
        background-color: @colorMessageSuccess;
    }

    &.messageCenter,
    .messageCenter {
        .messageAction();
        text-align: center;
    }

    &.messageWarning,
    .messageWarning {
        .messageAction();
        background-color: @colorMessageWarning;
    }

    &.messageDanger,
    .messageDanger {
        .messageAction();
        background-color: @colorMessageDanger;
    }

    &.messageInfo,
    .messageInfo {
        .messageAction();
        background-color: @colorMessageInfo;
    }

    &.messagePrimary,
    .messagePrimary {
        .messageAction();
        background-color: @colorMessagePrimary;
    }

    &.messageAlert,
    .messageAlert {
        .messageAction();
        background-color: @colorMessageAlert;
    }
}

@keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.boxCountries {
    min-width: 300px;
    max-height: 200px;
    overflow: auto;
    position: absolute !important;
    background: white;
    border: 1px solid @colorLine;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #bfc3c5;
    padding-top: 45px;
    padding-bottom: 5px;
    display: none;
    z-index: 10;

    &.on {
        display: inline-block;
    }

    .inputSearchCountry {
        position: absolute;
        top: 7px;
        left: 7px;
        padding: 7px 10px;
        width: 88%;
        border: 1px solid @colorLine;
        border-radius: 4px;
        font-size: 15px;
    }

    .listCountries {
        display: flex;
        flex-direction: column;
        max-height: 290px;
        overflow-y: auto;

        &.on {
            .dialCode {
                display: inline-block !important;
            }
        }

        .btnCodeCountry {
            display: flex;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;

            &.active {
                opacity: 0.5;
                pointer-events: none;
            }

            .dialCode {
                display: none;
            }

            .name {
                margin-left: 5px;
                font-size: 14px;
                height: 16px;
                overflow: hidden;
            }
        }
    }
}

.hide {
    display: none !important;
}



//calendar

.fc-state-default {
    background-image: none !important;
    border-color: #e6e6e6 !important;
}

.fc-state-active {
    box-shadow: none !important;
    text-shadow: none !important;
    background-color: #e4e7f3;
    border-color: #e4e7f3;
}


//boxColumn
.boxColumn {
    .widthAvailable();
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-line-soft);


    &.boxColumn200w {
        width: 200px;
    }

    &.boxColumn300w {
        width: 300px;
    }

    &.boxColumn400w {
        width: 400px;
    }

    &.boxColumnWhite {
        background-color: var(--color-white);
    }

    .head {
        display: flex;
        padding: 7px 10px 6px 10px;
        background: var(--color-sidebar);
        border-bottom: 1px solid var(--color-line-soft);
        justify-content: space-between;
        align-items: center;

        label {
            font-size: 14px;
        }
    }

}