@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

.listElements{
    position: relative;

    .header{
        padding: 0;
    }
    .search{
        width: 25%;
        position: relative;
        border:1px solid var(--color-line);
        border-radius: var(--border-radius-form);
        display: flex;
        
        .icon{
            position: absolute;
            top:5px;
            left:5px;
            font-size: 16px;
        }

        input{
            width: 100%;
            padding: 4px 15px 4px 30px;
            border:0;
            border-radius: var(--border-radius-form);
        }
    }

    .lists{
        position: relative;
        margin-top:20px;
        margin-bottom: 20px;
        display: flex;
        gap: 20px;

        .element{
            width: 20%;
            border-radius: var(--border-radius-form);
            border: 1px solid var(--color-line);
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: var(--color-white);

            .head{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .actions{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}