@root: "../../../assets/css/";

// @import (reference) "@{root}color.less";
@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

body {
    height: 100vh;
    //background: #e8e9ef;
    /*background: linear-gradient(45deg, rgba(211, 222, 223, 1) 0%, rgba(226, 227, 227, 1) 50%, rgba(229, 228, 214, 1) 100%);*/
}

.pubLogin {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .pubInner {
        width: 380px;
        height: auto !important;
        margin-top: -3%;

        .formLogin {
            display: flex;
            /*align-items  : center;*/
            justify-content: flex-start;
            flex-direction: column;
            padding-left: 25px;
            padding-right: 25px;

            border-radius: @borderRadiusForm;
            background-color: @colorWhite;
            .boxShadow();

            .brandLogin {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 20px;

                img {
                    max-width: 140px;
                    max-height: 80px;
                    padding: 5px 0 0px;
                    display: inline-block;
                    // margin-bottom: 8px;
                }
            }

            .formActions {
                justify-content: space-between;
                align-items: center;
                margin-top: 7px;
                padding: 0px 0 25px;

                .btnLink {
                    //width: 175px;
                    font-size: 12px !important;
                    padding: 0px !important;
                    display: block;
                    margin-left: 0px;
                    color: var(--color--input-placeholder);
                }

                .btn {
                    .fontRegular();

                    span {
                        margin-top: -2px;
                        display: block;
                    }

                    .icon {
                        right: 10px;
                        top: 8px;
                    }
                }
            }

            .formControl {
                &.formTitle {
                    margin: 15px 0;
                }

                .title {
                    font-size: 24px;
                    .fontMedium();
                }

                .btn {
                    .fontRegular();
                }
            }

            #messageLogin {
                .alert {
                    .icon {
                        padding-right: 10px;
                        font-size: 32px;
                    }
                }
            }
        }

        .boxSignup {
            text-align: center;
            font-size: 16px;
            margin-top: 5px;

            a {
                color: @colorDarkblue;
                font-size: 16px;
                .fontMedium();
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    color: #969090;
    text-shadow: 1px 1px 1px #fffefede;
}

@media (max-width: 470px) {
    .formLogin {
        height: 100vh;
    }

    .pubLogin {
        margin-top: -30%;

        .pubInner {
            width: 100%;

            .formLogin {
                box-shadow: none;
            }
        }
    }


}