//out: ./dist/modal.css, compress: true, outExt:.min.css
@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

.modalRender {
	position: fixed;
	z-index: 120;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&#modalJson {
		z-index: 121;

		textarea {
			padding: 10px;
			border-radius: 4px;
			border: 1px solid @colorLine;
			min-height: 500px;

			font-size: 14px;
			font-family: monospace;
			line-height: 16pt;
			tab-size: 2;
		}
	}

	&#modalTextarea {
		z-index: 121;

		textarea {
			padding: 10px;
			border-radius: 4px;
			border: 1px solid @colorLine;
			min-height: 140px;

			font-size: 14px;
			font-family: monospace;
			line-height: 16pt;
			tab-size: 2;
		}
	}

	.modalInner {
		width: 50vh;
		min-height: 100px;
		height: auto !important;
		background-color: @colorWhite;
		//border: 1px solid @colorLine;
		border-radius: 5px;
		position: relative;
		.boxShadow();

		&.modalInnerMini {
			width: 300px;
			min-height: 70px;
		}

		.btnCloseModal {
			position: absolute;
			font-size: 24px;
			right: -13px;
			top: -12px;
			z-index: 20;

			border-radius: 100px;
			opacity: 1;
			padding: 1px;

			i {
				background: white;
				border-radius: 100px;
				border: 1px solid white;
			}

			&:hover {
				i {
					background: var(--color-close-modal-hover);
					border: 1px solid var(--color-close-modal-hover);
					color: var(--color-white)
				}
			}
		}

		.modalHeader {
			padding: 5px 7px 5px 15px;
			border-bottom: 1px solid @colorLine;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 5px 5px 0px 0px;

			&.blue-sky {
				background: var(--color-blue-soft);
			}


			.btn {
				.icon {
					font-size: 16px;
				}
			}

			.actions {
				display: flex;
				gap: 10px;
			}
		}

		.modalBody {
			padding: 15px 15px 10px;
			padding-bottom: 0px;
			display: flex;
			font-size: 15px;

			>.icon {
				font-size: 32px;
				margin-right: 10px;
				margin-bottom: 10px;
				margin-top: 0px;
			}

			>span {
				line-height: 21px;
			}

			.form {
				padding: 0;
			}
		}

		.modalControl {
			padding-left: 15px;
			padding-right: 15px;

			input {
				.widthAvailable();
				padding: 8px 10px;
				display: inline-block;
				z-index: 0;
				background: @bgInput;
				color: @colorInput;
				border: 1px solid @borderInput;
				//box-shadow: 0px 0px 0px 1px transparent !important;
				// box-shadow: 0px 0px 1px 1px #cecece !important;
				border-radius: @borderRadiusFormInput;
				font-size: 14px;
				transform: all ease 0.2s;
				margin-left: 1px;
				margin-right: 1px;
				margin-bottom: 7px;
			}
		}

		.modalFooter {
			padding: 15px;
			display: flex;
			justify-content: flex-end;

			.btn {
				margin-left: 7px;
			}

			.btnConfirmRemove {
				padding: 5px 35px;
			}
		}
	}

	&.modalAlert {
		.modalInner {
			max-width: 325px;
		}
	}

	&.modalConfirm {
		z-index: 121;

		.modalInner {
			max-width: 325px;

			.modalTitle {
				padding: 7px 15px;
				/* border-bottom: 1px solid red; */
				background: #96a3b5;
				color: white;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
		}
	}

	&.modalRename {
		.modalBody {
			.icon {
				font-size: 24px !important;
				margin-bottom: 0 !important;
			}
		}

		.modalControl {
			input {
				font-size: 16px;
				//margin-top: 7px px;
				margin-bottom: 0px !important;
			}
		}
	}

	&.modalConfig {
		.modalInner {
			width: 90vw;
			min-height: 85vh;
			max-height: 85vh;
			overflow: hidden;
			transition: all ease .5s;
			z-index: 2;

			>.head {
				border-bottom: 1px solid #ced6e6;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-left: 20px;
				padding-right: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				background: #e4e5f1;
				border-radius: 6px 6px 0px 0px;

				.icon {
					font-size: 16px;
					//margin-right: 10px;
				}

				a,
				button {
					display: flex;
					align-items: center;
					padding: 0;
				}

				.title {
					display: flex;
					align-items: center;
					gap: 10px;
				}

				.actions {

					&.actionsDefault {
						display: flex;
						margin-top: 4px;
						margin-bottom: 4px;

						.btn {
							opacity: 1;

							&:hover {
								opacity: 1;
							}
						}
					}

					.btn {
						font-size: 14px;
						opacity: 0.3;

						&:hover {
							opacity: 0.7;
						}
					}
				}
			}

			>.tbody {
				.widthAvailable();
				.heightAvailable();
				position: relative;
				display: flex;
				min-width: auto;
				overflow-y: auto;

				>.head {
					.widthAvailable();
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 20px;

					.icon {
						font-size: 21px;
						margin-right: 12px;
					}

					.title {
						display: flex;
						align-items: center;



						h2,
						h1,
						h3 {
							font-size: 18px;
						}
					}

					.actions {
						display: flex;
						align-items: center;
					}
				}

				>.sidebarMenu {
					position: relative;
					display: flex;
					width: 180px;
					//.heightAvailable();
					border-right: 1px solid @colorLine;
					flex-direction: column;
					padding: 5px;
					padding-top: 7px;
					overflow-y: auto;

					.btn {
						.widthAvailable();
						margin-bottom: 5px;
						align-items: baseline;
						padding-right: 7px !important;

						&.active {
							background-color: @sidebarModalBtnActive;
						}

						span {
							text-align: left;
							font-size: 0.8rem;
						}
					}
				}

				.content {
					position: relative;
					width: calc(100% - 180px);

					.head,
					.header {
						padding: 15px 15px 5px 15px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 10px;
						.widthAvailable();

						>.icon {
							font-size: 26px;
						}

						.title {
							display: flex;
							align-items: center;
							gap: 10px;
							font-weight: 600;
							font-size: 21px;

							.icon {
								font-size: 21px;
							}
						}

						.subtitle {
							font-size: 13px;
							font-weight: normal;
						}

					}

					.tbody {
						.widthAvailable();
						height: calc(100% - 78px) !important;
						padding: 0;
						padding-left: 25px;
						padding-right: 20px;
					}
				}

				.contents {
					overflow-y: auto;
					padding-bottom: 40px;

					.content {
						.widthAvailable();
						.heightAvailable();
						overflow-y: auto;
						display: none;
						flex-direction: column;
						align-items: flex-start;
						position: relative;

						&.active {
							display: flex;
						}

						>.tbody {
							padding-left: 20px;
							padding-right: 20px;
						}
					}
				}
			}

			.innerWindow {
				.container {
					width: 860px;
				}

				.tbody {
					>.inner {
						padding-top: 70px;
					}
				}
			}
		}

		.modalBgBack {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			z-index: 0;
		}
	}

	&.modalExtended {
		.modalInner {
			width: 100vh;
			height: 90vh !important;
		}
	}

	&.modalExtendedMedia {
		.modalInner {
			width: 80%;
			height: 85vh !important;
			position: relative;
		}

		.modalFormEditMedia {
			height: 100%;
			width: 100%;
			display: block;



			.body {
				display: flex;
				justify-content: space-between;
				height: 100%;
				position: relative;

				.col {
					&.col-media {
						width: 50%;
						border-right: 1px solid @colorLine;

						.header {
							width: 100%;

							h2 {
								padding: 20px 30px;
								font-size: 150%;
								font-weight: 400;
							}
						}

						.media {
							display: flex;
							justify-content: center;
							align-items: center;
							margin-bottom: 15px;

							.img-fluid {
								width: 80%;
								max-height: 80%;
								border: 1px solid @colorLine;

							}
						}

						.data {
							padding: 0 30px;



							p {
								margin-bottom: 3px;

								b {}
							}
						}




					}

					&.col-form {
						width: 50%;
						padding-top: 30px;
						padding-bottom: 30px;
						overflow-y: auto;

						.title {
							font-size: 21px;
							font-weight: 400;
						}



					}
				}
			}
		}
	}

	&.modalMain {
		background-color: transparent;
		align-items: flex-start;
		top: 84px;

		.modalInner {
			width: 100%;
			height: 100% !important;
			box-shadow: none;
			border-radius: 0;
			display: flex;

			.modalSidebar {
				.heightAvailable();
				width: 240px;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				overflow-y: auto;
				background: #f9f9f9;
				box-shadow: inset -1px 0px 0px #ebebef;

				.title {
					.widthAvailable();
					border-bottom: 1px solid #e2e2e5;
					padding: 10px 15px;
					display: flex;
					align-items: center;

					.icon {
						font-size: 18px;
						margin-right: 10px;
					}
				}

				.inner {
					.widthAvailable();
					padding: 7px;
				}

				.btn {
					margin-bottom: 5px;
					align-items: center;
					justify-content: flex-start;
					padding-right: 7px;
					padding-left: 7px;
					.widthAvailable();

					&.active {
						background-color: #dbdde5;
					}

					.icon {
						font-size: 18px;
						margin-right: 5px;
					}

					span {
						text-align: left;
						font-size: 14px;
					}
				}
			}

			.modalBody {
				.header {}
			}
		}
	}
}

.modalHead {
	.widthAvailable();
	display: flex;
	padding: 5px 15px;
	font-size: 16px;
	background: @colorMenuTopBtn;
	color: @colorWhite;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modalDraggable {
	position: fixed;
	z-index: 100;
	min-height: 320px;
	min-width: 34%;
	top: 30%;
	left: 50%;
	padding-bottom: 20px;
	margin-left: -17%;
	border: 1px solid #dde0e4;
	.boxShadowWindow();

	.head {
		height: 36px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		background-color: #f1f3f4;
		-webkit-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
		cursor: move;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;

		label {
			font-weight: 700;
		}
	}

	.bodyModal {
		margin-top: 10px;
	}
}

.modalDelete {
	.modalBody {
		.title {
			//.widthAvailable();
			overflow-wrap: break-word;
			width: 80%;
		}

		.form {
			padding: 0px;
			margin-top: 7px;

			.widthAvailable();
		}
	}
}

.innerForm {
	width: 100%;
	height: 100%;
	position: absolute;
	//top: 40px;
	right: -200vh;
	//background-color: @bgModuleDefault;
	background-color: var(--color-inner-form);
	display: flex;
	//justify-content: center;
	align-content: center;
	flex-direction: column;
	z-index: 10;

	//.transition(.05s);

	&.collapse {
		width: calc(100% - 45px) !important;
		.transition(.05s) !important;
	}

	&.on {
		right: 0;
		//.transition(.05s);

		&.responsive {
			top: 0;
			background-color: @colorWhite;
		}
	}

	&.mode-compact {
		background-color: transparent;

		.boxInnerForm {
			width: 400px;
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			height: calc(100vh - 45px);
			background-color: var(--color-white);
			overflow-y: auto;

			.form {
				>div {
					z-index: 1;
					position: relative;
				}

				.formTree {
					padding-left: 0;
					padding-right: 0;
					padding-top: 0;
					min-height: 350px;

					label {
						padding-left: 0;
						padding-right: 0;
						padding-top: 0;
						padding-bottom: 2px;
						position: relative;
					}

					.scrollBar {
						padding-left: 20px;
						background: var(--color-bg-ws);
						padding-top: 5px;
						margin-top: 0px;
						border-radius: 5px 5px 5px 5px;
						border: 1px solid var(--color-line);
						.widthAvailable();
					}
				}

				.formBottomBtns {
					position: sticky;
					bottom: 0;
					/* right: 0; */
					z-index: 2;
					width: calc(100% + 17px);
					margin-left: -23px;
					padding-top: 15px;
					padding-right: 15px;
					padding-left: 15px;
					background: var(--color-white);
					box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
				}
			}
		}

		.bgInnerForm {
			background-color: rgba(0, 0, 0, 0.7);
			position: absolute;
			z-index: 0;
			.widthAvailable();
			.heightAvailable();
		}
	}

	.inner {
		overflow-y: auto;
		height: 100%;

		.headInnerForm {
			.widthAvailable();
			z-index: 10;
			//background: @bgModuleDefault;
			background: var(--color-inner-form-head);
			position: absolute;
			padding: 10px 35px;
			right: auto;
			justify-content: space-between;
			border-bottom: 1px solid @colorLineMenuTop;
			align-items: center;

			&.headFullWhite {
				background-color: @colorWhite;
				border-bottom: 1px solid @colorLine;

				.inner {
					margin-bottom: 5px;
				}
			}

			.inner {
				position: relative;
				display: flex;
				justify-content: space-between;


				//margin-top: 5px;
				.btnFull {
					background-color: @colorWhite  !important;
				}
			}

			.container {
				display: flex;
				position: relative;
			}

			.btnBack {}

			.boxLeft {
				display: flex;
				align-items: center;
				min-height: 32px;
				gap: 7px;

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					line-height: 10px;
					margin-top: -3px;
				}

				.actions {
					margin-left: 10px;
					display: flex;
					align-items: center;
					gap: 10px;
					position: relative;

					label {
						font-size: 13px;
						color: @colorInput;
					}

					.formControl {
						position: relative;
					}

					input,
					select {
						border-radius: 5px;
						padding: 6px 15px 6px 7px;
						border-color: @colorLine;
						position: relative;
					}
				}
			}

			.boxRight {
				display: flex;
				justify-content: flex-end;
				min-height: 32px;
				gap: 7px;
			}
		}
	}

	.container {
		width: 948px;
	}

	.tbody {
		min-width: 998px;
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-top: 65px;

		.inner {
			padding-top: 5px;
		}

		.form {
			.formGroupTwoColumns {
				.form30w {
					.formGroupFrame {
						margin-right: 0px;
						margin-left: 0px;
					}
				}
			}
		}
	}
}

.innerWindow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: -120vh;
	background-color: @bgModuleDefault;
	display: flex;
	//justify-content: center;
	align-content: center;
	flex-direction: column;
	z-index: 10;

	.transition(.05s);

	&.on {
		right: 0;
		.transition(.05s);

		&.responsive {
			top: 0;
			background-color: @colorWhite;
		}
	}

	.inner {
		overflow-y: auto;
		height: 100%;

		.headInnerForm {
			.widthAvailable();
			z-index: 10;
			background: @bgModuleDefault;
			position: absolute;
			padding: 10px 35px;
			right: auto;
			justify-content: space-between;
			border-bottom: 1px solid @colorLineMenuTop;
			align-items: center;

			&.headFullWhite {
				background-color: @colorWhite;
				border-bottom: 1px solid @colorLine;

				.inner {
					margin-bottom: 5px;
				}
			}

			.inner {
				position: relative;
				display: flex;
				justify-content: space-between;


				//margin-top: 5px;
				.btnFull {
					background-color: @colorWhite  !important;
				}
			}

			.container {
				display: flex;
				position: relative;
			}

			.btnBack {}

			.boxLeft {
				display: flex;
				align-items: center;
				min-height: 32px;
				gap: 7px;

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					line-height: 10px;
					margin-top: -3px;
				}

				.actions {
					margin-left: 10px;
					display: flex;
					align-items: center;
					gap: 10px;
					position: relative;

					label {
						font-size: 13px;
						color: @colorInput;
					}

					.formControl {
						position: relative;
					}

					input,
					select {
						border-radius: 5px;
						padding: 6px 15px 6px 7px;
						border-color: @colorLine;
						position: relative;
					}
				}
			}

			.boxRight {
				display: flex;
				justify-content: flex-end;
				min-height: 32px;
				gap: 7px;
			}
		}
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 25px 5px 25px;
	}

	.container {
		width: 948px;
	}

	.tbody {
		min-width: 998px;
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-top: 65px;

		.inner {
			padding-top: 5px;
		}

		.form {
			.formGroupTwoColumns {
				.form30w {
					.formGroupFrame {
						margin-right: 0px;
						margin-left: 0px;
					}
				}
			}
		}
	}
}


.tooltip {
	position: absolute;
	z-index: 200;
	width: auto;
	height: auto;

	&.tooltipTop {
		margin-top: -8px;
	}


	.tooltipInner {
		padding: 10px;
		background-color: white;
		box-shadow: 0px 2px 7px #aaabb1;
		border-radius: 5px;
		box-sizing: content-box;
		max-width: 300px;
	}

	//&.tooltipTop {}
	.arrow {
		width: 10px;
		height: 10px;
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -5px;
		transform: rotate(45deg);
		background: #fff;
		box-shadow: 1px 1px 0px #c3bcbc;
		z-index: 0;
	}
}


.boxInfoModal {
	position: fixed;
	top: 46px;
	right: -2500px;
	background: var(--color-bg-box-info-modal);
	z-index: 500;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 95vh;
	border-left: 1px solid var(--color-line);
	box-shadow: 2px 2px 4px;
	transition: all 0.3s ease;
	padding: 30px;
	width: 300px;

	&.on {
		right: 0;
		transition: all 0.3s ease;
	}

	table {
		tr {
			border-collapse: collapse;
			border-bottom: 1px solid var(--color-line);
			display: inline-table;

			td {
				padding: 7px;
				vertical-align: top;

			}
		}

		/* rr:nth-child(even) {
			background-color: #f0f0f0;
		}

		tr:nth-child(odd) {
			background-color: #ffffff;

		}*/
	}
}

.btnInfoModal {
	&.on {
		.icon {
			color: var(--color-blue-active);
		}
	}
}


.modalContextMenu {
	position: absolute;
	z-index: 100;
	width: 120px;
	min-height: 60px;
	background: var(--color-white);
	box-shadow: 0px 2px 7px #aaabb1;
	border-radius: 5px;
	box-sizing: content-box;


	.btn {
		.widthAvailable();
		border-radius: 0;

		&:first-child {
			border-top-left-radius: var(--border-radius);
			border-top-right-radius: var(--border-radius);
		}

		&:last-child {
			border-bottom-left-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
		}
	}

	.separator {
		width: 100%;
		height: 1px;
		background: var(--color-line);
		//margin: 7px 0;
	}
}

//@Media
@media (max-width: 1920px) {}

@media (max-width: 1445px) {}

@media (max-width: 1280px) {}

@media (max-width: 470px) {
	.innerForm {
		.inner {
			.headInnerForm {
				padding: 10px 15px;

				.btnBack {
					position: absolute;
				}

				.box {
					&.boxLeft {
						margin-left: 35px;
					}

					.title2 {
						display: none;
					}
				}

				.btn {
					padding-left: 10px;
					padding-right: 10px;
				}
			}

			.tbody {
				.widthAvailable();
				min-width: auto;
				padding-top: 52px;

				.inner {
					padding-top: 0;

					.form {
						padding: 0;

						.formGroupTwoColumns {
							flex-direction: column;

							.formControl {
								width: 100% !important;

								.formGroupFrame {
									margin: 0;
								}
							}

							.formGroup {
								width: 100% !important;

								.formGroupFrame {
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}