// out: ./dist/nav.css

@root: "../../../assets/css/";

@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

@bgSelectEntitie: #e7eaec;
@bgSelectEntitieHover: #c3cfd8;
@colorSelectEntitieHover: #d2d8da;
@colorSelectEntitie: #e7f0fe;

nav {
	.widthAvailable();
	height: @heightNav;
	background: @colorWhite;
	// box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11);
	top: 0;
	left: 0;
	display: flex;
	z-index: 100;
	position: fixed;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-line-menu-top);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 5%);

	.brand {
		padding: 4px 10px;
		display: flex;
		align-items: center;

		>img {
			max-height: 28px;
		}

		.boxSites {
			a {
				padding: 10px 5px;
				color: @btnColorNav;

				&:hover {
					color: @btnColorNavHover;
				}
			}
		}
	}

	.innerNav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 15px;
		margin-top: -1px;

		.navTabs {
			width: 70%;
			display: flex;
			height: 100%;
			align-items: center;
			overflow: hidden;
			gap: 0px;

			.tabsNavList {
				display: flex;
				gap: 5px;
				.widthAvailable();
			}

			.boxTabsMobile {
				display: none;
			}

			.item {
				//width: 20%;
				max-width: 120px;
				height: 30px;
				display: flex;
				color: @colorTabText;
				padding: 0;
				border: 0;
				background: @colorTabBg;
				border: 1px solid transparent;
				border-radius: 7px 7px 0px 0px;
				border-radius: 7px;
				cursor: pointer;
				position: relative;
				justify-content: space-between;

				&.active {
					background-color: @colorTabBgHover;
					margin-bottom: -1px;

					&::before {
						content: "";
						position: absolute;
						left: -7px;
						bottom: 0px;
						height: 7px;
						width: 7px;
						//background: url(../img/bend.svg) top left;
					}

					&::after {
						content: "";
						position: absolute;
						right: -7px;
						bottom: 0px;
						height: 7px;
						width: 7px;
						//background: url(../img/bend.svg) top right;
					}

					button {
						color: @colorTabTextActive;

						.icon {
							color: @colorTabIconActive  !important;
						}

						.btnItemTabClose {
							opacity: 1;
						}
					}
				}

				&:hover {
					background-color: var(--color-tab-hover-bg);
				}

				button {
					display: flex;
					align-items: center;
					border: 0;
					//margin: 0 5px;
					border-radius: 5px 5px 0px 0px;
					border-radius: 7px;
					background-color: transparent;
					color: @colorTabText;
					gap: 7px;

					&:hover {

						.name,
						.icon {
							color: @colorTabTextHover;
						}
					}

					.name {
						text-align: left;
						line-height: 15px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						// max-width: 100px;
					}

					.icon {
						color: @colorTabIcon;
						padding: 0px;
						font-size: 16px;
					}
				}

				.btnItemTab {
					padding-right: 0px;

					.icon {
						padding: 0 0 0 7px;
					}


				}

				.btnItemTabClose {
					cursor: pointer;
					margin: 0px;
					max-width: 28px;
					width: 28px;
					display: flex;
					justify-content: center;
					opacity: 0;

					&.btnHover {
						opacity: 1;
					}

					&:hover {
						opacity: 1;
						color: @colorTabTextActive;
					}

					.icon {
						padding: 0 7px;
						font-size: 9px;
						border: 0;
						margin-top: 2px;
					}
				}
			}
		}

		.menuNav {
			display: flex;
			align-items: center;

			button {
				border: 0px;
				background: transparent;
				cursor: pointer;
				position: relative;

				.icon {
					font-size: 18px;
					padding: 10px 8px;
					color: @colorBtn;

					&:hover {
						color: @colorBtnHover;
					}
				}
			}

			.menu {
				&[state="1"] {
					.icon {
						color: @colorBtnHoverMenu;
					}
				}
			}

			.notifications {
				.icon {
					font-size: 20px;
				}
			}

			.task {
				.icon-point {
					right: -5px !important;
					top: -14px !important;
				}
			}

			.iconPoint {
				.icon-point {
					position: absolute;
					top: -13px;
					right: -1px;
					font-size: 11px;
					color: @alertDanger;
				}
			}

			.profileNav {
				border-radius: 50px;
				width: 30px;
				height: 30px;
				border: 0px;
				color: @btnTextProfile;
				background: @btnProfile;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: auto;
				cursor: pointer;
				margin-left: 5px;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.boxEntities {
		display: flex;
		margin-right: 5px;
		border: 1px solid var(--color-line-soft);
		border-radius: var(--border-radius-form);

		span {
			background: var(--color-white);
			color: @colorTextEntitie;
			font-size: 12px;
			padding: 6px 10px;
			border-radius: 6px;
			display: flex;
			align-items: center;

		}

		.item-select {

			display: flex;
			align-items: center;
			width: auto;
			max-width: 130px;
			overflow-x: hidden;
			padding: 0px 5px;
			// background: @bgSelectEntitie;
			height: 30px;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				// background: @bgSelectEntitieHover;
			}

			span {
				width: 240px;
				overflow-x: hidden;
				height: 20px;
				margin-left: 5px;
				margin-right: 5px;
			}

			img {
				max-height: 22px;
				border-radius: 40px;
			}

			.icon {
				color: @colorSelect;
			}
		}

		.innerEntities {
			background-color: @colorWhite;
			border-radius: 5px;
			box-shadow: 0px 1px 7px 1px #cac2c2;
			position: absolute;
			top: 40px;
			width: 260px;
			padding: 5px;
			display: none;
			flex-direction: column;
			align-items: center;

			&.on {
				display: flex;
			}

			.item {
				display: flex;
				align-items: center;
				border-radius: 5px;
				background: @colorWhite;
				cursor: pointer;
				.widthAvailable();

				padding: 5px;

				&:hover {
					background: @colorSelectEntitieHover;

					.icon {
						color: @colorSelect;
						opacity: 0.5;
					}
				}

				&.on {
					background: @colorSelectEntitie;

					.icon {
						color: @colorSelect;
					}
				}

				span {
					line-height: 15px;
					margin-left: 5px;
				}

				.icon {
					font-size: 18px;
					color: #d6d2d2;
					margin-right: 5px;
				}

				img {
					height: 40px;
					border-radius: 40px;
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	/* border     : 1px solid red; */
	width: 100%;
	height: 100%;
	display: flex;
	top: @heightNav;
	right: 0;
	pointer-events: none;
	opacity: 0;
	transition: all ease 0.1s;

	&.on {
		pointer-events: auto;
		transition: all ease 0.1s;
		opacity: 1;

		.innerMenu {
			transition: all ease 0.2s;
			right: 0;
		}

		.bg {
			transition: all ease 0.2s;
		}
	}

	.innerMenu {
		width: 270px;
		.heightAvailable();
		overflow-y: auto;
		display: flex;
		position: absolute;
		top: 1px;
		right: -270px;
		background: var(--color-white);
		z-index: 2;
		transition: all ease 0.3s;
		flex-direction: column;

		.innerMenuNav {
			border-bottom: 1px solid @colorLine;
			margin-bottom: 10px;
			padding: 15px;

			.task {
				.icon-point {
					right: -5px !important;
					top: -14px !important;
				}
			}

			.iconPoint {
				.icon-point {
					position: absolute;
					top: -13px;
					right: -1px;
					font-size: 11px;
					color: @alertDanger;
				}
			}

			button {
				border: 0px;
				background: transparent;
				cursor: pointer;
				position: relative;

				.icon {
					font-size: 18px;
					padding: 10px 5px;
					color: @colorBtn;
				}
			}
		}

		.boxEntities {
			margin-top: 10px;
			margin-left: 15px;
			width: 89%;
			position: relative;
		}

		.elem {
			.widthAvailable();
			padding: 7px 15px 15px;
			border-bottom: 1px solid @colorLine;
			display: inline-block;

			label {
				font-size: 13px;
				margin-top: 5px;
				margin-bottom: 10px;
				display: block;
				color: @colorTitleSidebar;
			}

			&.elem-administrator {
				border-bottom: 0;
			}

			&.elem-list {
				.inner {
					flex-direction: column;

					.item {
						width: 100%;

						.btnItemMenu {
							padding: 5px 0px;
							flex-direction: row;
							border-radius: 5px;
							margin-bottom: 3px;
							padding-bottom: 5px;

							&:hover {
								background-color: @colorTextBtnHoverBg;
							}

							i {
								font-size: 18px;
								width: auto;
								height: auto;
								background: transparent;
								border: 0px;
								margin: 0;
								/* margin-top: -1px; */
								padding: 3px 7px 2px 7px;
							}

							span {
								font-size: 14px;
								margin-left: 3px;
							}
						}
					}
				}
			}

			.inner {
				width: 100%;
				// border: 1px solid;
				display: flex;
				justify-content: left;
				flex-wrap: wrap;

				.item {
					width: 33%;

					button {
						.widthAvailable();
						height: 100%;
						display: flex;
						flex-direction: column;
						background-color: @colorWhite;
						border: 0;
						padding: 10px;
						/* justify-content: center; */
						align-items: center;
						cursor: pointer;

						&:hover {
							i {
								border: 2px solid rgb(119, 123, 156);
								//background:rgb(76, 79, 100);
								//color:@colorWhite !important;
							}

							span {
								color: @colorTextBtnHover;
							}
						}

						i {
							font-size: 24px;
							width: 40px;
							height: 40px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 5px;
							margin-bottom: 5px;
							background: #f1f1fb;
							border: 1px solid rgba(150, 166, 190, 0.2);
							box-sizing: border-box;
							border-radius: 5px;
						}

						span {
							font-size: 12px;
							color: @colorTextBtn;
						}
					}
				}
			}
		}
	}

	.bg {
		position: absolute;
		/* border       : 1px solid red; */
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
		left: 0;
		background-color: rgba(115, 118, 128, 70%);
		transition: all ease 0.2s;
	}
}

.profileMenu {
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 26%);
	min-width: 270px;
	opacity: 0;
	transition-duration: 200ms;
	transform: translate(0px, 0px);
	max-height: 870px;
	position: absolute;
	min-height: 100px;
	background: white;
	right: 10px;
	top: 37px;
	border-radius: 5px;
	pointer-events: none;

	&.on {
		transition-duration: 200ms;
		transform: translate(0px, 4px);
		min-height: 0px;
		opacity: 1;
		pointer-events: all;
	}

	.block {
		border-top: 1px solid @colorLine;
		padding: 15px;
		display: flex;
		width: -webkit-fill-available;
		flex-direction: column;

		.btn {
			&:hover {
				color: @colorPrimary  !important;
			}
		}

		&.perfil {
			flex-direction: row;

			.img {
				overflow: hidden;
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				background: #fbd8a6;
				font-weight: 700;
				color: #8c7f7f;

				img {
					width: 48px;
					height: 48px;
				}
			}

			.text {
				display: flex;
				flex-direction: column;
				padding-left: 10px;

				.name {
					display: flex;
					align-items: center;
					font-size: 14px;

					.btn {
						font-size: 16px;
					}
				}

				.email {
					font-size: 12px;
					opacity: 0.5;
				}
			}
		}

		&.blockRol {
			flex-direction: row;

			label {
				font-size: 11px;
				padding: 2px 10px;
				border-radius: 20px;
				background-color: #c9cdda;
				color: @colorWhite;
				margin-right: 10px;
				margin-left: 4px;
			}
		}

		&.blockMenu {
			.btn {
				padding-left: 5px;
				font-size: 14px;
				opacity: 1;
			}
		}

		&.blockOut {
			padding: 10px 15px;

			.btnIcon {
				font-size: 14px;
				opacity: 1;
				padding-left: 0px;

				.icon {
					font-size: 18px;
					padding-right: 5px;
				}
			}
		}
	}
}

.colapseSidebarMenu {
	background: transparent;
	border: 0;
	font-size: 24px;
	color: @colorMenuTopBtn;
	background: transparent;
	border: 0;
	padding: 5px 3px;
	margin-left: 2px;
	font-size: 20px;
	margin-top: -2px;
	cursor: pointer;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	&.on {
		opacity: 0.3;
	}
}

.menuTopModule {
	width: 100%;
	height: 38px;
	background: var(--color-tab-bg-menu-top);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: @colorSubMenuTop;
	border: 1px solid var(--color-line-menu-top);
	border-left: 0;

	.menuTopHeader {
		display: flex;
		align-items: center;
		height: 100%;
		padding-left: 7px;


		button {
			background: transparent;
			border: 0;
			font-size: 24px;
			color: @colorMenuTopBtn;
			background: transparent;
			border: 0;
			padding: 5px 3px;
			margin-left: 2px;
			font-size: 20px;
			margin-top: -2px;
			cursor: pointer;
			opacity: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			&.on {
				opacity: 0.3;
			}
		}

		.titleMenuTop {
			font-size: 0.9rem;
			color: @colorMenuTop;
			display: flex;
			margin-left: 10px;
			align-items: center;

			.icon {
				font-size: 20px;
				margin-left: 0px;
				margin-right: 7px;
			}

			h4 {
				line-height: 10px;
			}
		}
	}

	.btn {
		color: @colorSubMenuTop;

		&.btnLink {
			color: @colorText;
		}

		&.active {
			.fontBold();
		}
	}

	.btnMenuTop {
		font-size: 20px;
		margin: 0px 5px;
	}

	.menuTopRight {
		display: flex;
		align-items: center;
		width: auto;
		justify-content: space-between;

		.left {
			padding-left: 10px;
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.right {
			padding-right: 15px;
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.head {

			justify-content: center;
			display: flex;
			color: @colorMenuTop;
			gap: 7px;
		}


		a {
			margin-left: 3px;

			&.active {
				.icon {
					color: @colorPrimary;
				}

			}
		}

		.btn {
			color: @colorMenutopRight;
		}

		.icon {
			color: @colorMenuTop;
			font-size: 19px;

			&:hover {
				color: @colorPrimary;
			}
		}
	}

	.menuTopLeft {
		width: 192px;
		padding-left: 7px;
		overflow-x: hidden;
		border-right: 1px solid @colorLineMenuTop;

		&.on {
			width: 37px;
		}
	}

	.menuTopMedium {
		display: flex;
		align-items: center;

		ul {
			display: flex;
			align-items: center;
			flex-direction: row;
		}


		.head {
			border-left: 1px solid @colorLineMenuTop;
			padding: 10px 10px 11px 10px;
			color: @colorText;
			display: flex;
			align-items: center;
			gap: 10px;

			.icon {
				font-size: 18px;
			}

			span {
				font-size: 13px;
				font-weight: bold;
			}
		}

	}

	.boxRol {
		background: #667080;
		border-radius: 5px;
		color: #adb2c1;
		padding: 3px 10px;
		font-weight: 600;
		font-size: 0.85em;
	}
}

.boxModule {
	.widthAvailable();
	.heightAvailable();
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	>.inner {
		width: 100%;
		height: 100%;
		display: flex;
	}

	.sidebarMenuModule {
		width: 47px;
		// height: 100%;
		display: flex;
		margin-left: 0px;
		transition: all ease 0.05s;
		flex-direction: row;
		background: var(--color-sidebar);
		box-shadow: inset -1px 0px 0px var(--color-line-menu-top);
		cursor: pointer;
		flex-direction: column;
		z-index: 11;
		justify-content: space-between;


		&.on {
			transition: all ease 0.05s;
			width: 200px;

			.head {
				label {
					display: block;
				}
			}

			.tbody {
				li {
					>a {
						overflow-x: hidden;

						span {
							display: inline-block;
						}
					}
				}
			}

			.titleMenuInner {

				h4 {
					overflow-x: hidden;
					width: 100%;
					transition: all ease .1s;
					height: auto;
				}

			}
		}

		.head {
			.widthAvailable();

			display: flex;
			align-items: flex-start;
			padding: 10px;
			margin: 10px 0px;

			.icon {
				font-size: 25px;
				margin-left: -4px;
			}

			label {
				font-size: 17px;
				font-weight: 700;
				margin-left: 5px;
				margin-top: 5px;
				width: 76%;
				display: none;
				color: @colorSidebarTitle;
			}
		}

		.titleMenuInner {
			font-size: 0.9rem;
			color: @colorMenuTop;
			display: flex;
			margin-left: 5px;
			padding-top: 5px !important;
			padding-bottom: 10px !important;
			align-items: center;
			width: 0;

			.icon {
				font-size: 20px;
				margin-left: 0px;
				margin-right: 8px;
			}

			h4 {
				width: 0px;
				line-height: 20px;
				overflow: hidden;
				transition: all ease .1s;
				height: auto;
			}
		}

		.tbody {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
			padding-left: 2px;

			li {
				display: flex;
				width: -webkit-fill-available !important;
				padding: 0 8px 0px 6px;

				>a {
					display: flex;
					align-items: end;
					justify-content: flex-start;
					text-align: left;
					width: -webkit-fill-available;
					padding: 5px;
					margin-bottom: 4px;
					font-weight: 400;
					align-items: center;

					&.active {
						background-color: @colorTextBtnHoverBg;
					}

					.icon {
						//color: @colorSidebarIcon;
						color: var(--color-sidebar-icon);
						font-size: 16px;
						//margin-right: 5px;
					}

					span {
						font-size: 0.80rem;
						// margin-top: 1px;
						margin-left: 3px;
						display: none;
						min-width: 200px;
					}
				}
			}
		}

		.footerSidebarMenuModule {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.colapseSidebarMenu {
				margin-left: 10px;
			}
		}
	}

	.bodyModule {
		.widthAvailable();
		.heightAvailable();
		overflow-x: hidden;
		// overflow-y: auto;
		position: relative;
		background: var(--color-body-module);

		&::-webkit-scrollbar {
			width: 0px;
		}

		.inner {
			width: 100%;
			height: 100%;
			position: relative;

			left: 0;

			&.on {
				left: -100%;
			}
		}

		.headInnerForm {
			width: 100%;
			display: flex;
			// border-bottom: 1px solid #efefef;
			// background   : #dfdfe2;

			.container {
				padding: 15px 0px !important;

				.box-rigth {
					display: flex;
				}
			}

			.inner {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 7px 0px;
			}
		}



		>.tbody {
			overflow-y: auto;
			max-height: auto;

			&.off {
				max-height: 400px;
				overflow-y: hidden;
			}
		}
	}
}

.tabs {
	display: flex;
	border-bottom: 1px solid @colorLine;
	.widthAvailable();

	.tab {
		padding: 10px 20px;
		font-size: 14px;
		background: transparent;
		border: 0;
		border-bottom: 2px solid transparent;
		font-weight: normal;
		color: @colorTabInactive;

		&.active {
			color: @colorTabActive;
			font-weight: bold;
			border-bottom-color: @colorTabActive;
		}
	}
}

.tabsContents {
	.widthAvailable();
	display: inline-grid;
	min-height: 95%;

	.tabContent {
		.widthAvailable();
		display: none;
		overflow-y: auto;

		>.head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 15px;
			padding-left: 2px;
			padding-right: 1px;

			.title {
				font-size: 1em;
				font-weight: 700;
			}
		}

		>.tbody {
			padding: 0px;
			margin-top: 15px;
		}

		&.active {
			display: inline-block;
		}
	}
}



//@Media
@media (max-width: 1920px) {}

@media (max-width: 1445px) {}

@media (max-width: 1280px) {}

@media (max-width: 470px) {
	nav {
		.innerNav {
			.navTabs {
				.tabsNavList {
					.itemTabNav {
						width: auto;

						.btnItemTab {
							.name {}
						}
					}
				}
			}


		}
	}

}

@media (max-width: 850px) and (max-height: 470px) {
	.navTabs {
		width: auto !important;
	}
}