@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

@borderRow: 3px;
@borderImg: 6px;

@sorting_asc: "\e994";
@sorting_desc: "\e995";
@sorting: "\e996";

.table thead .sorting:after,
.table thead .sorting_asc:after,
.table thead .sorting_desc:after,
.table thead .sorting_asc_disabled:after,
.table thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 30%;
    right: 8px;
    display: block;
    font-family: "font-brave" !important;
    opacity: 0.5;
}

.table-responsive {
    .widthAvailable();
    background: var(--color-white);
    padding: 10px;
    border-radius: 7px;
    border: 1px solid var(--color-line-soft);
    position: relative;
}

.table thead .sorting_asc:after {
    content: @sorting_asc;
    /* sort-by-attributes */
}

.table thead .sorting_desc:after {
    content: @sorting_desc;
    /* sort-by-attributes-alt */
}

.table thead .sorting:after {
    opacity: 0.2;
    content: @sorting;
    /* sort */
}

.dataTables_wrapper {
    position: relative;

    .top {
        background-color: @colorWhite;
        // border-top: 1px solid @colorLine;
        // border-left: 1px solid @colorLine;
        // border-right: 1px solid @colorLine;
        border-radius: @borderRadiusForm @borderRadiusForm 0px 0px;
        padding: 0px 0px 15px 0px;
        color: @colorTextAux;
        display: flex;
        align-items: center;
        // justify-content: space-around;

        .dataTables_filter {
            width: 40%;
            //border:1px solid red;
            position: relative;
            max-width: 500px;
            min-width: 380px;

            label input {
                padding: 6px 10px 6px 28px;
                width: 100%;
                border-radius: @borderRadiusForm;
                border: 1px solid @colorLine;
            }

            .icon {
                position: absolute;
                top: 7px;
                left: 7px;
                color: @colorTableIcon;
            }
        }

        .dataTables_length {
            width: 20%;

            label {
                padding: 0px 15px;
                font-size: 12px;

                select {
                    width: 50px;
                }
            }
        }
    }

    select {
        border: 1px solid;
        border-radius: 5px;
        padding: 5px 4px;
        border-color: @colorLine;
        margin: 0px 5px;
        color: @colorTextAux;

        option {
            color: @colorTextAux;
        }
    }

    .bottom {
        margin-top: 30px;
        position: relative;
        background-color: @colorWhite;
        // border-bottom: 1px solid @colorLine;
        // border-left: 1px solid @colorLine;
        // border-right: 1px solid @colorLine;
        border-bottom-left-radius: @borderRadiusForm;
        border-bottom-right-radius: @borderRadiusForm;
        padding: 15px 0px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: @colorTextAux;

        .dataTables_info {
            width: 70%;
            padding-top: 0;
            color: @colorTextAux;
            font-size: 12px;
            opacity: 0.5;
        }
    }

    .dataTables_paginate {
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        white-space: nowrap;
        text-align: right;
        display: flex;

        &.paging_simple {
            gap: 7px;
        }

        >a {
            cursor: pointer;
            position: relative;
            margin-top: 0;
            // margin-left: 5px;
            // margin-right: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid @colorLine;
        }

        span {
            padding: 0px 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            >a {
                width: 29px;
                height: 29px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                margin: 0 3px;

                &:hover {
                    background-color: @colorLine;
                }
            }
        }
    }
}

.table-wrapper-inner {
    &.active {
        background-color: @colorLine;
        position: absolute;
        max-height: 90vh;
        z-index: 10;
        top: 90px;
        overflow-y: auto;
        .widthAvailable();
        display: block;
    }
}

.table {
    background: @colorWhite;
    width: 100%;
    margin-top: 0px;
    // border-left: 1px solid @colorLine;
    // border-right: 1px solid @colorLine;
    border-collapse: collapse !important;
    position: relative;




    thead {
        padding-top: 5px;
        // background-color: @bgHeadTable;
        //border-top:1px solid @colorLine;
        border-bottom: 1px solid @colorLine;
        border-collapse: collapse;

        tr {
            border-collapse: collapse;
        }

        th {
            color: @colorTextAux;
            font-size: 11px;
            text-align: left;
            padding: 8px 5px;
            border-collapse: collapse;

            &.col-id {
                width: 30px;
            }

            &.col-actions {
                width: 150px;
            }



            &.colActions {
                padding-right: 25px !important;
                text-align: right;
            }

        }
    }

    tbody {
        tr {
            border-collapse: collapse;

            &:nth-child(even) {
                background-color: @evenTr;
                border-radius: @borderRow;
            }

            &.even {
                background-color: @evenTr;
                border-radius: @borderRow;
            }

            a {
                color: @colorText;
            }

            td {
                font-size: 13px;
                padding: 5px;
                border-collapse: collapse;


                &:first-child {
                    border-top-left-radius: @borderRow;
                    border-bottom-left-radius: @borderRow;
                }

                &:last-child {
                    border-top-right-radius: @borderRow;
                    border-bottom-right-radius: @borderRow;
                }
            }
        }
    }



    .colId {
        padding-left: 5px;
        // max-width: 30px;
        padding-right: 5px;
    }

    .colState {
        text-align: center;

        .state {
            justify-content: center;
            font-size: 15px;

            &[state='1'] {
                color: @colorSuccess;

                .icon-eye-close {
                    display: none;
                }
            }

            &[state='0'] {
                color: @colorGray;

                .icon-eye-open {
                    display: none;
                }
            }
        }
    }

    .btnDelete,
    .btnDeleteFn {

        &:hover {
            .icon {
                color: var(--color-danger);
            }
        }
    }


    .colCats {

        &a[state='1'] {
            opacity: 1;
        }

        &a[state='0'] {
            opacity: .7;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .check {
        width: 10px;
        padding-right: 0px !important;

        &:after {
            display: none !important;
        }
    }

    .colImg {
        display: flex;
        gap: 10px;

        img {
            border-radius: @borderImg;
            max-height: 54px;
            border: 1px solid #ece8f1;
        }
    }

    a {
        display: flex;
        align-items: center;

        span {
            margin-left: 10px;
        }

        &:hover {
            color: @colorHoverBtnTable;
        }
    }

    .categorysList {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 21px;

        a {
            margin-left: 5px;
        }
    }

    .actions,
    .colActions {


        .btns {
            //min-width : 115px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;

            a,
            button {
                //margin-left: 7px;
            }

            .hoverDelete:hover {
                .icon {
                    color: var(--color-danger) !important;
                }
            }
        }

        a {
            font-size: 16px;
            padding: 10px;
            color: @colorBtnTable;

            &:hover {
                color: @colorHoverBtnTable;
            }
        }
    }

    .boxAmount {
        display: flex;
        margin-left: 7px;
        position: relative;

        .inputTable {
            border: 1px solid @colorLine;
            border-radius: @borderRadiusBtn;
            font-size: 14px;
            padding: 6px 30px 6px 10px;
            width: 50px;
            height: 17px;
        }

        .chevrons {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 2px;
            top: 2px;

            button {
                &:first-child {
                    margin-bottom: 1px;
                }

                width: 23px;
                height: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                background: @colorBtnAmount;
                border-radius: 4px;
                font-size: 11px;
            }
        }
    }
}

@colorLineCol : #c3d4d9;
@colorBgThead : #ecf1fd;
@colorBgRowInit : #e0e8f3;
@colorBgRowInitHover : #c5d4e3;

@colorBgSearch : #e6e8f2;
@colorBgHeader : #fff;

@heightCellTable: 24px;

.tableForm {
    .widthAvailable();
    margin: 0px;
    border-collapse: collapse;
    border: none;

    thead {
        tr {
            background: @colorBgThead;
            //border-bottom: 1px solid @colorLine;
        }
    }

    .col {
        padding: 5px;
        font-size: 11px;
        border: 1px solid @colorLineCol;
        border-top: none;
        border-right: none;

        &.colId {
            width: 30px;
            text-align: right;
        }
    }

    tbody {
        .rowInit {
            background-color: @colorBgRowInit;

            td {
                padding: 0px;

                &.colId {
                    padding: 5px;
                }

                &.colActions {
                    text-align: center;
                    padding-left: 5px;
                    padding-right: 5px;

                    .btn {
                        max-height: 10px;
                        max-width: 10px;
                        padding-left: 10px;
                        padding: 5px 10px;
                        justify-content: center;
                        font-size: 14px;
                    }
                }
            }
        }

        tr {
            td {
                input[type="text"] {
                    .widthAvailable();
                    border: 0;
                    font-size: 14px;
                    padding: 5px;
                    background-color: transparent;

                    &:focus {
                        background-color: @colorBgRowInitHover;
                    }
                }

                [type="buttom"] {
                    &:focus {
                        outline: 1px solid orange !important;
                    }
                }
            }
        }
    }
}


.macroTable {
    @headTable : 58px;
    @headTableM : 60px;
    .widthAvailable();
    //margin-top: 15px;
    max-width: 1000px;
    min-height: 300px;
    height: 60vh;


    overflow: auto;
    position: relative;

    .macroTableHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 15px 0px;
        // background-color: @colorBgHeader;
        // position: absolute;
        .widthAvailable();

        .left {
            display: flex;
            align-items: center;
            gap: 7px;

            .search {
                position: relative;
                /* border: 1px solid #d1d2d4; */
                background-color: @colorBgSearch;
                border-radius: 5px;
                min-width: 250px;
                padding: 5px;
                gap: 7px;
                display: flex;
                align-items: center;

                .icon {
                    font-size: 17px;
                    z-index: 1;
                }

                .searchInput {
                    z-index: 0;
                    font-size: 14px;
                    width: 88%;
                    border: 0;
                    background: transparent;

                }
            }

            .pages,
            .actions {
                padding: 4px 5px 4px 4px;
                border: 1px solid @colorBgSearch;
                border-radius: 5px;

                select {
                    border: 0px;
                    background: transparent;
                    color: @colorText;
                }
            }

        }

        .middle {
            display: flex;
            align-items: center;
            gap: 7px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 7px;

            .actions {
                display: flex;
                align-items: center;
                gap: 7px;

                .btn {
                    border-color: @colorBgSearch;
                }
            }
        }
    }

    .macroTableBody {
        //margin-top: @headTable;
        background-color: #E6E6E6;
        border: 1px solid @colorLine;
        height: calc(100% - @headTableM );
        border-radius: @borderImg;
        overflow-x: auto;

        .macroTableInner {
            border-collapse: collapse;
            border: none;

            thead {
                tr {
                    th {
                        border: 1px solid @colorLine;
                        border-top: 0;
                        background-color: #e2e6e9;
                        font-size: 12px;
                        font-weight: normal;
                        padding: 4px 10px;

                        &:first-child {
                            border-left: 0;
                        }

                        &.colName {
                            min-width: 250px;
                        }

                        &.colTitle {
                            min-width: 250px;
                        }

                        &.colDescription {
                            min-width: 250px;
                        }

                        &.colSummary {
                            min-width: 250px;
                        }

                        &.colTextarea {
                            min-width: 250px;
                        }
                    }
                }
            }

            tbody {
                tr {


                    &:first-child {
                        td {
                            padding: 0;
                            background: #f8f1e3;
                        }

                    }

                    td {
                        background: #fff;
                        border: 1px solid @colorLine;
                        font-size: 12px;
                        font-weight: normal;
                        padding: 0 5px;

                        &:first-child {
                            border-left: 0;
                        }

                        &:first-child::after {
                            content: "";
                            /* display: inline-block;
                            vertical-align: middle;
                            min-height: @heightCellTable; */
                        }

                        &.colCheck {
                            position: relative;

                            input {
                                //position: absolute;
                                /* padding: 10px; */
                                width: 16px;
                                height: 16px;
                                //top: 4px;
                            }

                            &.active {
                                background-color: #D7DCE1;
                            }
                        }

                        .tableInput {
                            .widthAvailable();
                            padding-left: 5px;
                            border: 0;
                            background: transparent;
                            font-size: 12px;
                            font-weight: normal;
                            min-height: @heightCellTable;
                            display: flex;
                            align-items: center;
                            box-sizing: border-box;

                            &.error {
                                border: 1px solid red;
                                color: @colorText;
                            }

                            &[type="checkbox"] {
                                min-height: 14px;
                            }

                            &:focus {
                                background-color: #faeeca;
                            }
                        }

                        &.colBadgePoint {
                            .out {
                                display: flex;
                                align-items: center;
                                gap: 5px;

                                &::before {
                                    content: "";
                                    display: inline-block;
                                    width: 7px;
                                    height: 7px;
                                    display: flex;
                                    border-radius: 50%;
                                    background-color: #D7DCE1;
                                }

                                &.high {
                                    &::before {
                                        background-color: @colorDanger;
                                    }
                                }

                                &.normal {
                                    &::before {
                                        background-color: @colorBlue;
                                    }
                                }
                            }
                        }

                        &.colJson {
                            padding: 0px 5px;

                            .boxJson {
                                .widthAvailable();
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                /* flex-direction: column; */
                                padding: 0px;
                                gap: 5px;



                            }

                        }

                        &.colTextarea {
                            padding: 5px;

                            .boxTextarea {
                                .widthAvailable();
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                /* flex-direction: column; */
                                padding: 0px;
                                gap: 5px;
                                max-width: 250px;

                            }

                            .btnBoxTableTextarea {
                                &.active {
                                    background-color: var(--color-success);
                                }
                            }

                        }

                    }
                }
            }
        }
    }
}

.btnActionMobile {
    display: none !important;
}

//@Media
@media (max-width: 1920px) {}

@media (max-width: 1445px) {}

@media (max-width: 1280px) {}

@media (max-width: 470px) {

    .dataTables_wrapper {
        overflow-x: auto;

        .top {
            width: -webkit-fill-available;
            max-width: none;
            min-width: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
            align-items: flex-start;
            background: var(--color-white);

            .dataTables_filter {
                .widthAvailable();
                max-width: none;
                min-width: 130px;
            }

            .dataTables_length {
                width: auto;

                label {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    padding: 0;

                    select {
                        padding-left: 0;
                        padding-right: 0;
                        margin: 0;
                    }
                }

                .reg {
                    display: none;
                }
            }

            .topActions {
                select {
                    width: 125px;
                    margin: 0;
                }
            }

            .dataTables_paginate {
                width: auto;
            }

        }

        .table-responsive {
            position: fixed;
            /* height: 90vh; */
            width: calc(100vw - 75px);
            height: calc(100vh - 170px);
            overflow: auto;
        }

        .table {
            thead {
                tr {
                    &[role='row'] {
                        position: relative;
                    }
                }
            }

            tbody {
                .actions {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;

                    .btns {
                        display: none;

                        &.on {
                            display: flex;
                            position: absolute;
                            background: var(--color-white);
                            top: -1px;
                            right: 45px;
                            border: 1px solid var(--color-line);
                            border-radius: 6px;
                        }
                    }

                    .btnActionMobile {
                        font-size: 18px;
                        padding: 5px;
                        width: 22px;
                        display: inline-flex !important;

                        &[state='1'] {


                            .icon {
                                rotate: 45deg;
                                color: var(--color-danger);
                            }

                        }
                    }
                }
            }

        }

        .dataTables_info {

            .m1,
            .m2 {
                display: none;
            }
        }
    }



}