<div class="boxDivisions">
    <div class="head">
        <div class="left">
            <i class="icon icon-list"></i>
            <label for="" class="title">Divisiones</label>
        </div>
        <div class="right">
            <button class="btn btnPrimary btnMini" id="btnAddSportDivision">
                <i class="icon icon-plus"></i>
            </button>
        </div>
    </div>
    <div class="form formNewDivision">
        <div class="formControl">
            <label for=""><span class="required">*</span>Nombre de la Division:</label>
            <input type="text" class="formInput" id="inputDivisionName">
        </div>
        <div class="formControl">
            <label for="">Descripción:</label>
            <textarea class="formInput" id="inputDivisionDescription"></textarea>
        </div>
        <div class="formControl">
            <label for="">JSON:</label>
            <textarea class="formInput" id="inputDivisionJson"></textarea>
        </div>
        <div class="formBottomBtns">
            <button class="btn btnLink btnMini" id="btnCancelDivision">Cancelar</button>
            <button class="btn btnPrimary btnMini" id="btnSaveDivision" data-league-id="{{_LEAGUE_ID}}">Guardar</button>
        </div>
    </div>
    <div class="listDivisions">
        {{_DIVISIONS}}
    </div>
</div>