<div class="boxSections">
    <div class="col col-leagues">
        <div class="head">
            <div class="left">
                <i class="icon icon-list"></i>
                <label for="" class="title">Ligas</label>
            </div>
            <div class="right">
                <button class="btn btnPrimary btnMini" id="btnAddLeague">
                    <i class="icon icon-plus"></i>
                </button>
            </div>
        </div>
        <div class="form formNewLeague">
            <div class="formControl">
                <label for=""><span class="required">*</span>Nombre de la Liga:</label>
                <input type="text" class="formInput" id="inputLeagueName">
            </div>
            <div class="formControl">
                <label for="">Descripción:</label>
                <textarea class="formInput" id="inputLeagueDescription"></textarea>
            </div>
            <div class="formControl">
                    <label for="" class="" lang="es">Deporte:</label>
                    <select class="formInput" name="inputSport" id="inputSport">
                        <option value="futbol">Futbol</option>
                    </select>
            </div>
            <div class="formControl">
                <label for="">JSON:</label>
                <textarea class="formInput" id="inputLeagueJson"></textarea>
            </div>
            <div class="formBottomBtns">
                <button class="btn btnLink btnMini" id="btnCancelLeague">Cancelar</button>
                <button class="btn btnPrimary btnMini" id="btnSaveLeague">Guardar</button>
            </div>
        </div>
        <div class="listLeagues">
            {{_LEAGUES}}
        </div>
    </div>
    <div class="col col-boxLeague" id="boxLeague">
          
    </div>
</div>