<div class="boxGameDates">
    
    <div class="box Dates">
        <div class="head">
            <div class="left">
                <i class="icon icon-calendar"></i>
                <label for="" class="title">Fechas</label>
            </div>
            <div class="right">
                <button class="btn btnPrimary btnMini" id="btnAddDateGame">
                    <i class="icon icon-plus"></i>
                </button>
            </div>
        </div>
        <div class="form formNewGameDate" id="formGameDate">
            <div class="formFlex">
                <div class="formCol formCol-1">
                    <div class="formControl">
                        <label for=""><span class="required">*</span>Fecha Literal:</label>
                        <input type="text" class="formInput" id="inputGameDateLiteral">
                    </div>
                    <div class="formControl formInputCalendar">
                        <label for=" ">Fecha:</label>
                        <i class="icon icon-calendar"></i>
                        <input class="formInput" name="inputGameDate" id="inputGameDate" type="text" autocomplete="new-password" #password>
                    </div>
                    <div class="formBottomBtns">
                        <button class="btn btnLink btnMini" id="btnCancelGameDate">Cancelar</button>
                        <button class="btn btnPrimary btnMini" id="btnSaveGameDate">Guardar</button>
                    </div>
                </div>
                <!-- <div class="formCol formCol-2">
                    <div class="head">
                        <div class="left">
                            <i class="icon icon-list"></i>
                            <label for="">Partidos</label>
                        </div>
                        <div class="right">
                            <button class="btn btnPrimary btnMini" id="btnAddGameSport">
                                <i class="icon icon-plus"></i>
                            </button>
                        </div>
                        
                    </div>
                    <div class="gamesDates"></div>
                </div> -->
            </div>
            
        </div>
        <div class="listGameDates">{{_GAMES_DATES}}</div>
    </div>
    <div class="box Teams">
        <div class="head">
            <div class="left">
                <i class="icon icon-list"></i>
                <label for="" class="title">Equipos</label>
            </div>
            <div class="right">
                <button class="btn btnPrimary btnMini" id="btnAddTeam">
                    <i class="icon icon-plus"></i>
                </button>
            </div>
        </div>
         
        <form class="form formNewTeam" id="formTeamSports" action="" onsubmit="return false;">
            <div class="formFlex formFlexSpaceBetween">
                <div class="formCol">
                    <div class="formControl">
                        <label for=""><span class="required">*</span>Nombre del Equipo:</label>
                        <input type="text" class="formInput" id="inputTeamSportName">
                    </div>
                    <div class="formControl">
                        <label for=""><span class="required">*</span>Pathurl:</label>
                        <input type="text" class="formInput" id="inputTeamSportPathUrl">
                    </div>
                    <div class="formControl">
                        <label for="">Detalles:</label>
                        <textarea class="formInput" id="inputTeamSportDetails"></textarea>
                    </div>
                    <div class="formControl">
                        <label for="">JSON:</label>
                        <textarea class="formInput" id="inputTeamSportJson"></textarea>
                    </div>
                    <div class="formBottomBtns">
                        <button class="btn btnLink btnMini" id="btnCancelTeam">Cancelar</button>
                        <button class="btn btnPrimary btnMini" id="btnSaveSportTeam" data-division-id ="{{_DIVISIONS_ID}}" >Guardar</button>
                    </div>
                </div>
                
                <div class="formCol">
                    <div class="head">
                        <label lang="es">Imagen:</label>
                        <div class="actions" for="inputImage">
                            <a class="btn btnLink btnMini">Finder</a>
                        </div>
                    </div>
                    <div class="formGroup ">
                        <div class="formUpFile" >
                            <div class="formPreview" id="previewImg"></div>
                            <div class="inner" for="inputTypeImgFile">
                                <i class="icon icon-upfile"></i>
                                <span class="btn btnFull">Agrega Archivo</span>
                                <span class="message">O arrastra [png] max.1MB</span>
                            </div>
                            <input type="hidden" name="inputTeamSportImagen" id="inputTeamSportImagen" />
                            <input type="file" title="" class="inputUpFile" multiple="single"
                                mode="single" data-folder="sports" data-validfiles="avif,webp,png" data-return="previewImg"
                                name="inputTypeImgFile" id="inputTypeImgFile" data-name="inputTeamSportImagen"  data-system="{{_SYSTEM}}"
                                data-id="{{_ITEM}}" data-form="formTeamSports" data-module="{{_MODULE}}" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="listTeams">
            {{_TEAMS}}
        </div>
    </div>
</div>