<div class="head">
    <label for="">
        <h3 lang="es">Configuración de Documentos Externos</h3>
    </label>
    <a class="btnCancelModal"><i class="icon icon-close"></i></a>
</div>
<div class="tbody">
    <div class="sidebarMenu">
        <ul class="inner">
            {{_SIDEBAR_CONFIG}}
            <!-- <li>
                <a class="btn btnIconLeft btnMenuModal" data-module="{{_MODULE}}" data-modal-id="{{_MODAL_ID}}"
                    data-for="contentConfig" data-content='configEd'>
                    <i class="icon icon-conf"></i>
                    <span lang="es">Configuración</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnMenuModal" data-module="{{_MODULE}}" data-modal-id="{{_MODAL_ID}}"
                    data-for="contentConfig" data-content="typesDocumentsEd">
                    <i class="icon icon-category-r"></i>
                    <span lang="es">Tipos de Documentos</span>
                </a>
            </li> -->
        </ul>
    </div>
    <div class="content" id="boxContentConfigEd">
        {{_CONTENT_CONFIG}}
    </div>
</div>