


<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <i class="icon icon-doc"></i>
                <h3> {{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <button class="btn btnFull" id="btnViewNewEd">
                    <span>Previsualizar</span>
                </button>
                <button class="btn btnPrimary" id="btnSaveNewEd">
                    <span>Guardar</span>
                </button>
                <!-- <button class="btn btnPrimary" id="btnShareNewEd">
                    <i class="icon icon-skip"></i>
                    <span>Descargar</span>
                </button> -->
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="innerPage {{_CLS_TEMPLATE}}">
            {{_PAGES}}
        </div>
    </div>
</div>