<h2><i class="icon icon-info"></i> Palabras clave para intercambio</h2><br><br>
<table>
    <tr>
        <td>[[_NAME]]</td>
        <td>Es el nombre que se remplaza de la agenda del sistema</td>
    </tr>
    <tr>
        <td>[[_TODAY]]</td>
        <td>Fecha actual al general el documento</td>
    </tr>
</table>

 