<div class="header">
    <div class="pull-left">
        <div class="head"><i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i><span>{{_NAME}}</span></div>
        <div class="btns">
            <!-- <button class="btn btnFull btnIconLeft" data-toggle="modal" data-target="" id="btnConfigEd">
                <i class="icon icon-plus"></i>
                <span>Nuevo Documento</span>
            </button> -->
        </div>
    </div>
    <ul class="pull-right">
        <a class="btn btnPrimary btnSmall btnIconLeft"  system="{{_SYSTEM}}" module="{{_MODULE}}" {{_BTN_ATTR}} id="{{_BTN_ID}}" >
            <i class="{{_BTN_ICON}}"></i>
            <span>{{_BTN_NAME}}</span>
        </a>
    </ul>
</div>
<div class="tbody">
    
</div>