<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            
            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" {{_ATTR}} item="{{_ITEM}}"
                    form="{{_FORM_ID}}"><i class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_FORM_ID}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <label for="">Datos Maestros</label>
                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Nombre del la plantilla</label>
                                    <input class="formInput" id="inputId" type="hidden">
                                    <input class="formInput" id="inputType" name="inputType" type="hidden">
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputDescription" lang="es">Descripción</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputDescription" id="inputDescription" rows="3"> </textarea>
                                </div>
                                <div class="formGroup ">
                                    <div class="formControlLandscape">
                                        <div class="formControl form30w">
                                            <label for="inputCode" lang="es"><span class="required">*</span>Codigo Interno</label>
                                            <input class="formInput formInputCode" type="text" name="inputCode"
                                                id="inputCode" />
                                        </div>
                                        <div class="formControl form70w">
                                            <label for="inputTags" lang="es">Tags</label>
                                            <input class="formInput" name="inputTags" id="inputTags" type="text">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                        
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                            <!-- <div class="formControl">
                                <label for=" ">Tipo de Producto</label>
                                <select class="formInput" name="inputProductType" id="inputProductType">
                                    {{_PRODUCTS_TYPE}}
                                </select>
                            </div> -->
                            <div class="formControl ">
                                <label for=" ">Diseño de Página</label>
                                <select class="formInput" name="inputPageDesing" id="inputPageDesing">
                                    {{_PAGE_DESING}}
                                </select>
                            </div>

                            <div class="formControl">
                                <label for=" "><span class="required">*</span>Tipo de Documento Externo</label>
                                <select class="formInput" name="inputTypeEd" id="inputTypeEd">
                                    {{_TYPES_DOCUMENTS}}
                                </select>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="formGroupFrame formGroupFluid">
                    <div class="formControl" id="contentBody" style="z-index:3">
                        <label for="inputBody" lang="es" class="formFlex">
                            <span>Cuerpo del documento</span>
                            <div class="btns">
                                <a class="btn btnIcon btnInfoModal" for="infoModal{{_FORM_ID}}">
                                    <i class="icon icon-info"></i>
                                </a>
                                <div class="boxInfoModal" for="infoModal{{_FORM_ID}}">
                                    {{_INFO}}
                                </div>
                            </div>
                        </label>
                        <textarea class="formInput formInputEditor editorNote" type="text" name="inputBody"
                            id="inputBody" ></textarea>

                    </div>
                </div>

                <div class="formGroupFrame formGroupFluid">
                    <div class="formControl" id="contentBody" style="z-index:3">
                        <label for="inputBody" lang="es" class="formFlex">
                            <span>Json:</span>
                        </label>
                        <textarea class="formInput" type="text" name="inputJson"
                            id="inputJson" rows="10" ></textarea>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>