<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon icon-category-r" style="color:#ffd34c"></i>
            <span class="title" lang="es">Tipos de Documentos Externos</span>
        </div>
    </div>
</div>
<div class="tbody">
    {{_BODY}}
</div>