<div class="formGroupFrame ">
    <div class="head">
        <label for="">Inventario</label>
        <div class=""></div>
    </div>
    <div class="formControl">
        <label for="" class="" lang="es">Código de Barra</label>
        <input class="formInput" id="inputCodebar" name="inputCodebar" value="" type="text" />
    </div>
    <div class="formControl formControlQuantity form30w" for="inputStock">
        <label for="">Stock</label>
        <div class="formGroup">
            <input class="formInput" id="inputStock" name="inputStock" type="text" value="0" placeholder="">
            <button type="button" class="btn btnMini btnDefault btnQuantityPlus" for="inputStock">+</button>
            <button type="button" class="btn btnMini btnDefault btnQuantityMinus" for="inputStock">-</button>
        </div>
    </div>
</div>
<div class="formGroupFrame ">
    <div class="head">
        <label for="">Variantes</label>
        <div class=""></div>
    </div>
    <div class="formGroup formFlex form98w">
        <div class="formControl form60w">
            <label for="" class="" lang="es">Seleccionar Tallas</label>
            <div class="formControl formControlLineal formLeft formCheckbox">
                <div class="formCheckboxItem formControlLineal">
                    <input class="formInput" type="checkbox" name="inputSizes[]" id="inputSizeXS" size="XS" />
                    <label for="inputSizeS" class="" lang="es">XS</label>
                </div>
                <div class="formCheckboxItem formControlLineal">
                    <input class="formInput" type="checkbox" name="inputSizes[]" id="inputSizeS" size="S" />
                    <label for="inputSizeS" class="" lang="es">S</label>
                </div>
                <div class="formCheckboxItem formControlLineal">
                    <input class="formInput" type="checkbox" name="inputSizes[]" id="inputSizeM" size="M" />
                    <label for="inputSizeM" class="" lang="es">M</label>
                </div>
                <div class="formCheckboxItem formControlLineal">
                    <input class="formInput" type="checkbox" name="inputSizes[]" id="inputSizeL" size="L" />
                    <label for="inputSizeL" class="" lang="es">L</label>
                </div>
                <div class="formCheckboxItem formControlLineal">
                    <input class="formInput" type="checkbox" name="inputSizes[]" id="inputSizeOnDemand"
                        size="onDemand" />
                    <label for="inputSizeL" class="" lang="es">A pedido</label>
                </div>
            </div>
        </div>
    </div>
    <div class="formGroup formFlex form98w">
        <div class="formControl ">
            <div class="formControlHead">
                <label for="" class="box" lang="es"><b>Colores</b></label>
                <div class="actions form25w">
                    <a class="box btn btnFull btnMini btnAddProductColor " data-for="tbodyColor"
                        id="btnAddProductColor">
                        <i class="icon icon-plus"></i>
                        <span>Agregar</span>
                    </a>
                    <div id="listProductsColors"></div>
                </div>
            </div>
            <div class="formControl" id="tbodyColor"></div>
        </div>
    </div>
</div>
<!-- <div class="formGroupFrame">
    <div class="head">
        <label for="">Stock Inicial</label>
        <div class=""></div>
    </div>
    <div class="formControl">
        <label for="" class="" lang="es">Cantidad</label>
        <input class="formInput" id="inputStock" name="inputStock" value="" type="text" />
    </div>
</div> -->
<div class="formGroupFrame" for="prices">
    <div class="head">
        <label for="">Precios</label>
        <div class=""></div>
    </div>
    <div class="formGroup formFlex form98w">
        <div class="formControl form20w">
            <label for="" class="" lang="es">Precio $us.</label>
            <div class="formControl formControlLineal formLeft">
                <div class="formControl  formControlPrice">
                    <div class="money">$</div>
                    <input class="formInput" type="text" name="inputPriceUsd" id="inputPriceUsd" value="0.00" />
                </div>
            </div>
        </div>
        <div class="formControl form20w">
            <label for="" class="" lang="es">Precio Anterior</label>
            <div class="formControl formControlLineal formLeft">
                <div class="formControl  formControlPrice">
                    <div class="money">$</div>
                    <input class="formInput" type="text" name="inputPreviousPriceUsd" id="inputPreviousPriceUsd"
                        value="0.00" />
                </div>
            </div>
        </div>
    </div>
    <div class="formGroup formFlex form98w">
        <div class="formControl form20w">
            <label for="" class="" lang="es">Precio Bs.</label>
            <div class="formControl formControlLineal formLeft">
                <div class="formControl  formControlPrice">
                    <div class="money">Bs.</div>
                    <input class="formInput" type="text" name="inputPriceBs" id="inputPriceBs" value="0.00" />
                </div>
            </div>
        </div>
        <div class="formControl form20w">
            <label for="" class="" lang="es">Precio Anterior</label>
            <div class="formControl formControlLineal formLeft">
                <div class="formControl  formControlPrice">
                    <div class="money">Bs.</div>
                    <input class="formInput" type="text" name="inputPreviousPriceBs" id="inputPreviousPriceBs"
                        value="0.00" />
                </div>
            </div>
        </div>
    </div>

</div>
<div class="formGroupFrame">
    <div class="head">
        <label for="">Personalización</label>
        <div class=""></div>
    </div>
    <div class="formControl">
        <div class="formControl">
            <label for="inputContents" class="" lang="es">Contenidos</label>
            <input class="formInput" id="inputContents" name="inputContents" value="" type="text" />
        </div>
        <div class="formControl">
            <label for="inputNotes" class="" lang="es">Notas</label>
            <input class="formInput" id="inputNotes" name="inputNotes" value="" type="text" />
        </div>
    </div>
</div>