<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon icon-paint-bucket" style="color:#ff5e4c"></i>
            <span class="title" lang="es">Colors</span>
        </div>
    </div>
</div>
<tbody>
    {{_BODY}}
</tbody>