<div class="head">
    <label for="">
        <h3 lang="es">Configuración de Inventario</h3>
    </label>
    <a class="btnCancelModal"><i class="icon icon-close"></i></a>
</div>
<div class="tbody">
    <div class="sidebarMenu">
        <ul class="inner">
            <li>
                <a class="btn btnIconLeft btnMenuModal" data-module="{{_MODULE}}" data-modal-id="{{_MODAL_ID}}"
                    data-for="contentConfig" data-content='config'>
                    <i class="icon icon-conf"></i>
                    <span lang="es">Configuración</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnMenuModal" data-module="{{_MODULE}}" data-modal-id="{{_MODAL_ID}}"
                    data-for="contentConfig" data-content="warehouses">
                    <i class="icon icon-column"></i>
                    <span lang="es">Almacenes</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnMenuModal" data-module="{{_MODULE}}" data-modal-id="{{_MODAL_ID}}"
                    data-for="contentConfig" data-content="typesProducts">
                    <i class="icon icon-copy"></i>
                    <span lang="es">Tipos de Productos</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnMenuModal" data-module="{{_MODULE}}" data-modal-id="{{_MODAL_ID}}"
                    data-for="contentConfig" data-content="colors">
                    <i class="icon icon-paint-bucket"></i>
                    <span lang="es">Colores</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnMenuModal" data-module="{{_MODULE}}" data-modal-id="{{_MODAL_ID}}"
                    data-for="contentConfig" data-content="units">
                    <i class="icon icon-meter"></i>
                    <span lang="es">
                        Unidades de medida
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content" id="contentConfig">
    </div>
</div>