<div id="configForm" class="form formLineal">
    <div class="header">
        <div class="pull-left">
            <div class="head">
                <i class="icon icon-conf" style="color:#4a39de"></i>
                <span lang="es">
                    <h4 class="title" lang="es">Configuración de Inventario</h4>
                    <h6 class="subtitle" lang="es">Gestionar la configuración y preferencias de su cuenta</h6>
                </span>
            </div>
        </div>
    </div>
    <tbody>
        <div class="inner">
            <div class="leftInner">
                <div class="title" lang="es">Categorias</div>
                <div class="subtitle" lang="es">Configuración de elementos sobre la ruta de categorías generales</div>
            </div>
            <div class="bodyInner">
                <div class="box formControl">
                    <div class="description">
                        <div class="title" lang="es">Ruta de Categorías para Inventario</div>
                        <div class="subtitle" lang="es">El Id de Categoría que ingreses sera el padre de todo el sistema
                            de inventario.</div>
                    </div>
                    <div class="item item-1 form15w">
                        <input class="formInput textRight" type="text" name="inputCategoryId" id="inputCategoryId"
                            value="{{_CATEGORY_ID}}">
                    </div>
                </div>
                <div class="box formControl formStateSwitch">
                    <div class="description">
                        <div class="title" lang="es">Multi-tipos de productos</div>
                        <div class="subtitle" lang="es">Activar y desactivar para crear varios tipos de productos, si se desactiva solo se activa el producto principal.</div>
                    </div>
                    <div class="item item-1 form15w boxBtnStateSwitch">
                        <a class="btnStateSwitch" state="0" fn="default" for="inputStateMultiTypeInventory">
                            <div class="circle"></div>
                            <div class="light"></div>
                            <div class="base"></div>
                        </a>
                        <input type="hidden" value="0" name="inputStateMultiTypeInventory" id="inputStateMultiTypeInventory">
                    </div>
                </div>
                <div class="formControl formActions">
                    <button class="btn btnPrimary" id="btnSaveConfigCategoryInventory">
                        <i></i><span lang="es">Guardar</span>
                    </button>
                </div>

            </div>
        </div>
    </tbody>
</div>