<div class="formGroupFrame ">
    <div class="head">
        <label for="">Inventario</label>
        <div class=""></div>
    </div>
    <div class="formControl">
        <label for="" class="" lang="es">Código de Barra</label>
        <input class="formInput" id="inputCodebar" name="inputCodebar" value="" type="text" />
    </div>
    <div class="formControl formControlQuantity form30w" for="inputStock">
        <label for="">Stock</label>
        <div class="formGroup">
            <input class="formInput" id="inputStock" name="inputStock" type="text" value="0" placeholder="">
            <button type="button" class="btn btnMini btnDefault btnQuantityPlus" for="inputStock">+</button>
            <button type="button" class="btn btnMini btnDefault btnQuantityMinus" for="inputStock">-</button>
        </div>
    </div>
</div>