<script>
    _MODULE_SCRIPT
</script>
{{_SCRIPTS}}
<!-- <div class="menuTopModule menuTop{{_SYSTEM}}" system="{{_SYSTEM}}">
    <div class="menuTopHeader menuTopLeft">
        <button class="colapseSidebarMenu" for="{{_SYSTEM}}" state="{{_STATE}}"><i
                class="icon  icon-panel"></i></button>
        <div class="titleMenuTop" system="{{_SYSTEM}}">
            <i class="icon {{_ICON}} " style="color:{{_COLOR}}"></i>
            <h4> {{_NAME_TOP}} </h4>  
        </div>
    </div>
    <div class="menuTopMedium">{{_MENU_TOP_MEDIUM}}</div>
    <div class="menuTopRight">{{_MENU_TOP_RIGHT}}</div>
</div>
<div class="boxModule" system="{{_SYSTEM}}" module="{{_MODULE}}">
    <div class="sidebarMenuModule sidebarMenu{{_MODULE}} on" system="{{_SYSTEM}}" module="{{_MODULE}}">
        <ul class="tbody">
            {{_SIDEBAR_MODULE}}
        </ul>
    </div>
    <div class="bodyModule" module="{{_MODULE}}" system="{{_SYSTEM}}"></div>
</div> -->

<div class="boxModule" system="{{_SYSTEM}}" module="{{_MODULE}}">
    <div class="sidebarMenuModule sidebarMenu{{_MODULE}} on" system="{{_SYSTEM}}" module="{{_MODULE}}">
        
        <ul class="tbody ">
            <li class="titleMenuTop titleMenuInner" system="{{_SYSTEM}}">
                <i class="icon {{_ICON}}" style="color:{{_COLOR}}"></i>
                <h4>{{_NAME_TOP}}</h4>
            </li>
            {{_SIDEBAR_MODULE}}
        </ul>
        <div class="footerSidebarMenuModule">
            <button class="colapseSidebarMenu on" for="{{_SYSTEM}}"><i class="icon  icon-panel"></i></button>
        </div>
    </div>
    <div class="bodyModule" module="{{_MODULE}}" system="{{_SYSTEM}}"></div>
</div>