<div class="formGroupFrame">
    <div class="tabs" for="boxContainer">
        <a class="tab tab-1 active" item="1"><span>Datos Generales</span></a>
        <a class="tab tab-2" item="2"><span>Proveedor</span></a>
        <a class="tab tab-2" item="3"><span>Datos de Empaque</span></a>
        <a class="tab tab-2" item="4"><span>Datos para Almacen</span></a>
    </div>
    <div class="tabsContents" id="boxContainer">
        <div class="tabContent active" for="1">
            <div class="formGroup ">
                <div class="formControlLandscape">
                    <div class="formControl form40w">
                        <label for="inputTags" lang="es">Codigo Producto Proveedor</label>
                        <input class="formInput" name="inputProviderCode" id="inputProviderCode" type="text">
                    </div>
                    <div class="formControl form40w">
                        <label for="inputTags" lang="es">Proveedor/Laboratorio</label>
                        <select class="formInput" name="inputProviders" id="inputProviders">
                            <option value="">Seleccionar proveedor</option>
                            <option value="">Crear Proveedor</option>
                            {{_PROVIDERS}}
                        </select>
                    </div>
                </div>
                <div class="formControlLandscape">
                    <div class="formControl form40w">
                        <label for="inputTags" lang="es">Laboratorio Fabricante</label>
                        <select class="formInput" name="inputFabricatorLaboratorys" id="inputFabricatorLaboratorys">
                            <option value="">Seleccionar Laboratorio Fabricante</option>
                            <option value="">Crear Laboratorio Fabricante</option>
                            {{_FRABRICATOR_LABS}}
                        </select>
                    </div>
                    <div class="formControl form40w">
                        <label for="inputTags" lang="es">Marca</label>
                        <select class="formInput" name="" id="">
                            <option value="">Seleccionar Marca</option>
                            {{_BRANDS}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabContent" for="2">2</div>
        <div class="tabContent" for="3">3</div>
        <div class="tabContent" for="4">4</div>
    </div>
</div>