<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon icon-coin"></i><span>Price List</span>
        </div>
    </div>
    <ul class="pull-right">
        <div class="boxChargeXls">
            <button
                class="btn btnPrimary btnSmall"
                onclick="btnchargeXlsStock()"
                pathurl="{{_PATHURL}}"
                system="{{_SYSTEM}}"
                module="{{_MODULE}}"
            >
                <i class="icon icon-icon-arrow-line-up"></i
                ><span>Descargar a Xls</span>
            </button>
            <!-- <input type="file" accept=".xlsx" action="chargeProducts" name="fileXls" id="fileXls" /> -->
        </div>
        <a
            class="btnAddForm btn btnPrimary btnSmall btnIconLeft"
            pathurl="{{_PATHURL}}"
            system="{{_SYSTEM}}"
            module="{{_MODULE}}"
            fn="productsFormNew"
            ><i class="icon icon-plus"></i><span>Nueva Lista</span></a
        >
    </ul>
</div>
<div class="tbody">
    <!-- <form action="{{_PATH_WEB}}controllers/api/v1/inventory/fileXls.php" method="post" target="_blank" id="FormExport"><input type="hidden" id="dataSend" name="dataSend" /></form> -->
</div>
