<div class="header">
    <div class="pull-left">
        <div class="head"><i class="icon icon-box"></i><span>Productos</span></div>
    </div>
    <ul class="pull-right">
        <a class="btn btnIcon" id="btnConfigInventory" module="{{_MODULE}}"><i class="icon icon-conf"></i></a>
        <div class="boxChargeXls">
            <button class=" btn btnPrimary btnSmall" onclick="btnchargeXlsProducts()" pathurl="{{_PATHURL}}"
                system="{{_SYSTEM}}" module="{{_MODULE}}"><i class="icon icon-icon-arrow-line-up"></i><span>Cargar desde
                    Xls</span></button>
            <input type="file" accept=".xlsx" action="chargeProducts" name="fileXls" id="fileXls" />
        </div>
        <div class="boxBnts">
            {{_BTN_NEW}}
        </div>
        <!-- <a class="btnAddProducts btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}"
            module="{{_MODULE}}" fn="productsFormNew"><i class="icon icon-plus"></i><span>Nuevo Producto</span></a> -->
    </ul>
</div>
<div class="tbody">
    <!-- <form action="{{_PATH_WEB}}controllers/api/v1/inventory/fileXls.php" method="post" target="_blank" id="FormExport"><input type="hidden" id="dataSend" name="dataSend" /></form> -->
</div>

<script src="{{_PATH_WEB_NUCLEO}}vendor/js/xlsx.full/xlsx.full.min.js"></script>
<script src="{{_PATH_WEB_NUCLEO}}{{_PATHURL}}components/app.js"></script>