<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                <i class="icon icon-arrow-line-left"></i>
            </a>
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" {{_ATTR}} item="{{_ITEM}}"
                    form="{{_FORM_ID}}"><i class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_FORM_ID}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <label for="">Datos Maestros Producto</label>
                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es">*Nombre del Producto</label>
                                    <input class="formInput" id="inputId" type="hidden">
                                    <input class="formInput" id="inputType" name="inputType" type="hidden">
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputDescription" lang="es">Descripción</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputDescription" id="inputDescription" rows="3"> </textarea>
                                </div>
                                <div class="formGroup ">
                                    <div class="formControlLandscape">
                                        <div class="formControl form30w">
                                            <label for="inputCode" lang="es">Codigo Interno</label>
                                            <input class="formInput formInputCode" type="text" name="inputCode"
                                                id="inputCode" />
                                        </div>
                                        <div class="formControl form70w">
                                            <label for="inputTags" lang="es">Tags</label>
                                            <input class="formInput" name="inputTags" id="inputTags" type="text">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- Image -->

                        <div class="formGroupFrame">
                            <div class="head">
                                <label lang="es">Imagen General:</label>
                                <div class="box" for="inputImage">
                                    <a class="btn btnLink">Cargar desde Finder</a>
                                    <div class="actions" for="inputImage"></div>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formChargeImage" for="inputImageCharge">
                                    <div class="boxInputFile ui-state-disabled">
                                        <div class="boxInner">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivos</span>
                                            <span class="message">O arrastra [jpg,gif,svg,png] max.2MB</span>
                                        </div>
                                        <input type="hidden" value="" id="inputImage" for="inputImageCharge"
                                            name="inputImage">
                                        <input type="file" title="" class="inputFileBtn" multiple="" mode="simpleFile"
                                            folder="inventory/media" validfiles="jpeg,jpg,png,svg" name="inputImageCharge"
                                            id="inputImageCharge" input-id="{{_ITEM}}" system="{{_SYSTEM}}"
                                            module="{{_MODULE}}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Multimedia -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label for="">Media</label>
                                <div class="actions" for="inputFilesProducts"></div>
                            </div>
                            <div class="formGroup">
                                <div class="formChargeMedia" for="inputFilesProducts">
                                    <div class="boxInputFile ui-state-disabled">
                                        <div class="boxInner">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivos</span>
                                            <span class="message">O arrastra archivos [jpg,png,webp,mp4] max.2MB</span>
                                        </div>
                                        <input type="file" title="" class="inputFileBtn" multiple="multiple"
                                            mode="multipleFiles" folder="inventory/media"
                                            validfiles="jpeg,jpg,webp,png,mp4" name="inputFilesProducts"
                                            id="inputFilesProducts" system="{{_SYSTEM}}" module="{{_MODULE}}" />
                                        <div class="boxInputs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="formGroupFrame">
                            {{_INPUT_FILE_MEDIA}}
                        </div>  -->
                        <!-- Personalizado por Tipo -->
                        <div id="typeProductForm"></div>
                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado del Producto</label>
                                <select class="formInput" name="inputProductStatus" id="inputProductStatus">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                            <!-- <div class="formControl">
                                <label for=" ">Tipo de Producto</label>
                                <select class="formInput" name="inputProductType" id="inputProductType">
                                    {{_PRODUCTS_TYPE}}
                                </select>
                            </div> -->
                        </div>

                        <div class="formGroupFrame ">
                            <div class="formControl ">
                                <label for=" ">Almacen</label>
                                <select class="formInput" name="InputAlmacen" id="InputAlmacen">
                                    {{_LIST_WAREHOUSES}}
                                </select>
                            </div>
                            <div class="formControl ">
                                <label for=" ">Datos Ubicación Almacen</label>
                                <input class="formInput " id="inputDateWarehouse" name="inputDateWarehouse" type="text "
                                    placeholder="Ej: RAN2U5 - Rack A Nivel 2 Ubicación 5 ">
                            </div>
                        </div>

                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup">{{_CATEGORYS}}</div>
                        </div>

                        <div id="sidebarProduct"></div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>