<div class="formControl">
    <div class="formControlLandscape">
        <div class="formControl  form30w formControlPrice">
            <label lang="es">Precio Venta</label>
            <span class="money">{{_COIN}}</span>
            <input class="formInput" type="text" value="0,00" name="inputPriceUnit" id="inputPriceUnit">
        </div>

        <div class="formControl form30w">
            <label for="">Descuento</label>
            <select class="formInput" name="inputProvider" id="inputDiscounts">
                                                        {{_DICOUNTS}}
                                                    </select>
        </div>
        <div class="formControl  form30w">
            <label>Precio Final de Venta</label>
            <div class="value valueMargin" lang="es">-</div>
        </div>
    </div>
    <div class="formControlLandscape">
        <div class="formControl  form20w formControlPrice">
            <label lang="es">Precio Farmacorp</label>
            <span class="money">{{_COIN}}</span>
            <input class="formInput" type="text" value="0,00" name="inputPriceUnitFarmacorp" id="inputPriceUnitFarmacorp">
        </div>
        <div class="formControl  form20w formControlPrice">
            <label lang="es">Precio Chavez</label>
            <span class="money">{{_COIN}}</span>
            <input class="formInput" type="text" value="0,00" name="inputPriceUnitChavez" id="inputPriceUnitChavez">
        </div>
        <div class="formControl  form20w formControlPrice">
            <label lang="es">Precio Otros</label>
            <span class="money">{{_COIN}}</span>
            <input class="formInput" type="text" value="0,00" name="inputPriceUnitOthers" id="inputPriceUnitOthers">
        </div>
    </div>
    <!-- <div class="formLine"></div> -->
    <div class="formControlLandscape">
        <div class="formControl  form40w formControlPrice">
            <label lang="es">Costo Unitario Bruto</label>
            <span class="money">{{_COIN}}</span>
            <input class="formInput" type="text" value="0,00" name="inputCost" id="inputCost">
            <div class="message" lang="es">Esta información no la veran los clientes.</div>
        </div>
        <div class="formControl  form10w"></div>
        <div class="formControl  form20w">
            <label>Margen</label>
            <div class="value valueMargin" lang="es">-</div>
        </div>
        <div class="formControl  form20w">
            <label>Ganancia</label>
            <div class="value valueGain" lang="es">-</div>
        </div>
    </div>

</div>