<div class="formGroupFrame ">
    <div class="head">
        <label for="">Inventario</label>
    </div>
    
    <div class="formControl" for="inputStock">
        <label class="formFlex formFlexSpaceBetween">
            <b>Stock Pares</b>
            <div class="numPares"><b>0</b> <span>pares</span></div>
        </label>
        <div class="formFlex">
            <div class="form8w">
                <label>33</label>
                <input class="formInput"  name="inputStock[]" data-num="33" type="text" value="0" placeholder="">
            </div>            
            <div class="form8w">
                <label>34</label>
                <input class="formInput"  name="inputStock[]" data-num="34" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>35</label>
                <input class="formInput"  name="inputStock[]" data-num="35" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>36</label>
                <input class="formInput"  name="inputStock[]" data-num="36" type="text" value="0" placeholder="">
            </div>            
            <div class="form8w">
                <label>37</label>
                <input class="formInput"  name="inputStock[]" data-num="37" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>38</label>
                <input class="formInput"  name="inputStock[]" data-num="38" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>39</label>
                <input class="formInput"  name="inputStock[]" data-num="39" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>39</label>
                <input class="formInput"  name="inputStock[]" data-num="39" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>40</label>
                <input class="formInput"  name="inputStock[]" data-num="40" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>41</label>
                <input class="formInput"  name="inputStock[]" data-num="41" type="text" value="0" placeholder="">
            </div>
            <div class="form8w">
                <label>Cajas:</label>
                <input class="formInput"  name="inputBox" type="text" value="0" placeholder="">
            </div>
        </div>
    </div>
    <div class="formFlex">
        <div class="formControl form30w">
            <label for="" class="" lang="es">Color:</label>
            <input class="formInput" id="inputColor" name="inputColor" value="" type="text" />
        </div>
        <div class="formControl form70w">
            <label for="" class="" lang="es">Descripción de color:</label>
            <input class="formInput" id="inputDescriptionColor" name="inputDescriptionColor" value="" type="text" />
        </div>
    </div>
    <div class="formControl form30w formControlPrice">
            <label for="" class="" lang="es">Precio Unitario:</label>
            <span class="money">{{_COIN}}</span>
            <input class="formInput" id="inputUnitPrice" name="inputUnitPrice" value="" type="text" />
        </div>


</div>