<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                <i class="icon icon-arrow-line-left"></i>
            </a>
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary btnIconLeft {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" form="{{_FORM_ID}}"><i class="icon icon-plus"></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_FORM_ID}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">

                        <div class="formGroupFrame">
                            <div class="group formControlSearch">
                                <i class="icon icon-search iconSearch btnSearchCoun"></i>
                                <input class="formInput" id="inputSearchProducts" name="inputSearchProducts" type="text" value="" placeholder="Buscar Producto" />
                                <i class="icon icon-circle-close iconClear btnSearchClear" for="inputSearchCounselor" restore="listConunselors"></i>
                            </div>
                            <div class="formControl" id="listProducts">
                            </div>
                            <div class="formControl formControlList">

                                <div class="formCol head">
                                    <div class="col colImg"></div>
                                    <div class="col colName">Producto</div>
                                    <div class="col colActions">Cantidad</div>
                                </div>
                                <div class="formCol tbody">
                                    {{_INITIAL_ITEM}}
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <label>Cronología</label>
                            <div class="formControlList chronology">
                                <div class="formItem">
                                    <div class="comments">
                                        <div class="perfil">{{_SIGLA}}</div>
                                        <input lang="es" class="formInput" type="text" value="" placeholder="Deja aqui un comentario" name="inputComment" id="inputComment">
                                        <button class="btn btnSuccess  btnSaveComment" item="">Guardar</button>
                                    </div>
                                    <div class="register">
                                        <i class="icon icon-point"></i> {{_DATE_COMMENT}}
                                        <input type="hidden" class="formInput" id="inputdateComment" value="{{_DATE_NOW_DB}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formControl form30w">
                        <div class="formGroupFrame ">
                            <div class="formControl ">
                                <label for=" ">Almacen</label>
                                <select class="formInput" name="inputWarehouse" id="inputWarehouse">
                                    {{_LIST_WAREHOUSES}}
                                </select>
                            </div>
                            <div class="formControl ">
                                <label for=" ">Datos Ubicación Almacen</label>
                                <input class="formInput " id="inputDateWarehouse" name="inputDateWarehouse" type="text " placeholder="Ej: RAN2U5 - Rack A Nivel 2 Ubicación 5 ">
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="">Nro. Factura Acreedor</label>
                                <input type="text" class="formInput" id="inputNumInvoiceCreditor" name="input" value="">
                            </div>
                            <div class="formControl">
                                <label for="">Nro. Lote</label>
                                <input type="text" class="formInput" id="inputLote" name="input" value="">
                            </div>
                            <div class="formControl">
                                <label for="">Alerta Max. Disponible</label>
                                <input type="text" class="formInput" id="inputMax" name="input" value="5000">
                            </div>
                            <div class="formControl">
                                <label for="">Alerta Min. Disponible</label>
                                <input type="text" class="formInput" id="inputMin" name="input" value="5">
                            </div>

                            <div class="formControl formInputCalendar">
                                <label for="inputBirdaydateSpouse" lang="es">Fecha de Recepción</label>
                                <i class="icon icon-calendar"></i>
                                <input class="formInput" id="inputReceptionLote" autocomplete="nope" type="text" value="{{_DATE_NOW}}" />
                            </div>

                            <div class="formControl formSelectList">
                                <label for="">Proveedor</label>
                                <div class="boxInput">
                                    <i class="icon icon-doc"></i>
                                    <input class="formInput inputSelectList" id="inputProviderLabel" name="inputProviderLabel" for="inputProvider" autocomplete="nope" type="text" />
                                    <input id="inputProvider" name="inputProvider" autocomplete="nope" type="hidden" />
                                </div>
                                <div class="boxSelectList" for="inputProvider">
                                    <div class="search">
                                        <i class="icon icon-search"></i>
                                        <input type="text" class="inputSearch formInput" id="inputSearchList1" for="inputProvider">
                                    </div>
                                    <div class="list" for="inputProvider">
                                        {{_LIST_PROVIDERS}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>