<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon icon-copy" style="color:#ffd34c"></i>
            <span class="title" lang="es">Tipos de Productos</span>
        </div>
    </div>
</div>
<tbody>
    {{_BODY}}
</tbody>