<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon icon-meter" style="color:#34efd0"></i>
            <span class="title" lang="es">Unidades de Medida</span>
        </div>
    </div>
</div>
<tbody>
    {{_BODY}}
</tbody>