<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="icon icon-copy" style="color:#4c5eff"></i>
            <span class="title" lang="es">Almacenes</span>
        </div>
    </div>
</div>
<tbody>
    {{_BODY}}
</tbody>