<div class="header">
    <div class="pull-left">
        <div class="head"><i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i><span>{{_NAME}}</span></div>
       <!--  <div class="btns">
            <button class="btn btnFull btnIconLeft" data-toggle="modal" data-target="" id="btnNewPerson">
                <i class="icon icon-plus"></i>
                <span>Nuevo Persona</span>
            </button>
        </div> -->
    </div>
    <ul class="pull-right">
           
            <div class="btns">
                 <!-- <button class="btn btnIcon" data-toggle="modal" data-target="" id="btnConfigEd"><i class="icon icon-conf"></i></button> -->
                {{_BTNS_RIGTH}}
                 <a class="btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}"
                 module="{{_MODULE}}" id="{{_BTN_ID}}"><i class="icon icon-plus"></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
    </ul>
</div>
<div class="tbody">

</div>