<div class="appointmentsCalendars menuTopModule">
    <div class="menuTopRight" style="width: 1508.06px;">
        <div class="left">
            <div class="head">
                <i class="icon icon-calendar"></i>
                <span>Calendario</span>
            </div>
        </div>
        <div class="right">
            <button class="btnConfig" module="calendars" system="appointments">
                <i class="icon icon-conf"></i>
            </button>
        </div>
    </div>
    <div class="tbody">
        <div class="sidebarCalendar sidebarAppointmentsCalendars" num="{{_NUM}}">
            <label for="">Agentes</label>
            <ul class="list">
                {{_LIST_AGENTS}}
            </ul>
        </div>
        <div class="bodyCalendar calendar" num="{{_NUM}}">{{_CALENDARS}}</div>
    </div>
</div>