<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">
            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                {{_BTNS_TOP}}
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Personales-->
                        <div class="formGroupFrame">
                            <div class="formGroup">
                                <div class="formControl">
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <label for="inputName"><span class="required">*</span>Nombre:</label>
                                    <input class="formInput" id="inputName" name="inputName" type="text">
                                </div>
                                <div class="formControl">
                                    <label for="inputLastnameFather"><span class="required">*</span>Apellido
                                        Paterno:</label>
                                    <input class="formInput" id="inputLastnameFather" name="inputLastnameFather"
                                        type="text">
                                </div>
                                <div class="formControl">
                                    <label for="inputLastnameMother">Apellido Materno:</label>
                                    <input class="formInput" id="inputLastnameMother" name="inputLastnameMother"
                                        type="text">
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="inputEmail"><span class="required">*</span>Email:</label>
                                <input class="formInput" id="inputEmail" name="inputEmail" type="email">
                            </div>

                            <div class="formGroup formFlex">

                                <div class="formControl form20w">
                                    <label for="inputPhone">Dial:</label>
                                    <input class="formInput" id="inputPhoneDial" name="inputPhoneDial" value="+591"
                                        type="tel">
                                </div>

                                <div class="formControl form40w">
                                    <label for="inputPhone">Celular:</label>
                                    <input class="formInput" id="inputPhone" name="inputPhone" type="tel">
                                </div>
                            </div>


                            <div class="formControl">
                                <label for="inputComments">Comentarios:</label>
                                <textarea class="formInput formInputEditor editorNote" id="inputComments"
                                    name="inputComments" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <h4 class="formGroupTitle">Avanzado</h4>
                            <div class="formControl">
                                <label for="inputCustomClass">Clase CSS:</label>
                                <input class="formInput" id="inputCustomClass" name="inputCustomClass" type="text">
                            </div>
                            <div class="formControl">
                                <label for="inputCustomId">ID Personalizado:</label>
                                <input class="formInput" id="inputCustomId" name="inputCustomId" type="text">
                            </div>
                            <div class="formControl">
                                <label for="inputMetadata">Metadatos (JSON):</label>
                                <textarea class="formInput" id="inputMetadata" name="inputMetadata" rows="3"
                                    placeholder="{ }"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="formGroup form30w">
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="inputType"><span class="required">*</span>Tipo:</label>
                                <select class="formInput" id="inputType" name="inputType">
                                    {{_PERSON_TYPES}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>