<div class="inner">
    <div class="header">
        <div class="pull-left">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system=""><i class="icon icon-arrow-line-left"></i></a>
            <div class="head"><i class="icon icon-user"></i><span lang="es">Nuevo Registro</span></div>
        </div>
        <ul class="pull-right">
        </ul>
    </div>
    <div class="tbody">
        <div class="inner">
            <form class="form">
                <div class="steps" module="{{_MODULE}}" action="{{_ACTION}}">
                    <a class="btnStep step active" step='1'>1</a>
                    <line for="1"></line>
                    <a class="btnStep step" step='2'>2</a>
                    <line for="2"></line>
                    <a class="btnStep step" step='3'>3</a>
                    <line for="3"></line>
                    <a class="btnStep step" step='4'>4</a>
                    <line for="4"></line>
                    <a class="btnStep step" step='5'>5</a>
                    <line for="5"></line>
                    <a class="btnStep step stepLast" step='6'>6</a>
                </div>
                <div class="contentSteps " module="{{_MODULE}}" action="{{_ACTION}}">
                    <div class="content scrollBar active" for="1">
                        <div class="formControl">
                            <label class="titleSection">1. Datos Generales</label>
                        </div>
                        <div class="formGroup formGroupAround">
                            <div class="formChargeControl formCircleControl">
                                <div class="boxIcon" id="boxIcon" for="inputArchivoPhoto">
                                    <i class="icon icon-photo-camera"></i>
                                    <span>Cargar Foto max. 500x500px</span>
                                </div>
                                <input type="file" class="inputFileBtn" multiple="" returnidinput="inputPhoto" returnitem="boxIcon" returnaction="returnBoxUpFileCircle" folder="kardex/media" mode="imgPerfil" validfiles="jpg,jpeg,png" name="inputArchivoPhoto" id="inputArchivoPhoto">
                            </div>
                            <div class="formGroup formControlLandscape formListRight">
                                <div class="formControl form33w formControlDisplay">
                                    <label for="inputName" lang="es">*Nombre(s)</label>
                                    <input class="formInput" id="inputName" type="text">
                                    <input id="inputPhoto" type="hidden">
                                </div>
                                <div class="formControl form33w formControlDisplay">
                                    <label for="inputFathersLastname" lang="es">*Apellido Paterno</label>
                                    <input class="formInput" id="inputFathersLastname" type="text">
                                </div>
                                <div class="formControl form33w formControlDisplay">
                                    <label for="inputMothersLastname" lang="es">*Apellido Materno</label>
                                    <input class="formInput" id="inputMothersLastname" type="text">
                                </div>
                                <div class="formControl form33w formControlDisplay formInputCI formSelect">
                                    <label for="inputCI" lang="es">*Carnet de Identidad</label>
                                    <input class="formInput" id="inputCI" type="text">
                                    <select name="" id="inputExt">
                                        <option value="SC" selected >SC</option>
                                        <option value="LP">LP</option>
                                        <option value="CB">CB</option>
                                        <option value="CH">CH</option>
                                        <option value="OR">OR</option>
                                        <option value="PT">PT</option>
                                        <option value="TJ">TJ</option>
                                        <option value="BE">BE</option>
                                        <option value="PD">PD</option>
                                    </select>
                                </div>
                                <div class="formControl  form33w  formControlDisplay formInputCalendar">
                                    <label for="inputBirdaydate" lang="es">*Fecha de Cumpleaños</label>
                                    <i class="icon icon-calendar"></i>
                                    <input class="formInput" id="inputBirdaydate" type="text">
                                </div>
                                <div class="formControl  form33w  formControlDisplay formInputCalendar">
                                    <label for="inputExpCI" lang="es">Fecha de Expiración de C.I.</label>
                                    <i class="icon icon-calendar"></i>
                                    <input class="formInput" id="inputExpCI" type="text">
                                </div>
                                <div class="formControl  form33w  formControlDisplay formInputCalendar">
                                    <label for="inputExpLic" lang="es">Fecha de Expiración Licencia</label>
                                    <i class="icon icon-calendar"></i>
                                    <input class="formInput" id="inputExpLic" type="text">
                                </div>
                                <div class="formControl form50w formControlDisplay">
                                    <label for="inputNationality" lang="es">Nacionalidad</label>
                                    <input class="formInput" id="inputNationality" type="text">
                                </div>
                                <div class="formControl form50w formControlDisplay">
                                    <label for="inputBirthPlace" lang="es">Lugar de Nacimiento</label>
                                    <input class="formInput" id="inputBirthPlace" type="text">
                                </div>
                                <div class="formControl form33w formControlDisplay formSelect">
                                    <select class="formInput" name="inputSex" id="inputSex">
                                        <option value="0" selected >*Seleccione un Genero</option>
                                        <option value="1">Femenino</option>
                                        <option value="2">Masculino</option>
                                        <option value="3">Otro</option>
                                    </select>
                                </div>
                                <div class="formControl form33w formControlDisplay formSelect">
                                    <select class="formInput" name="inputCivilStatus" id="inputCivilStatus">
                                        <option value="0" selected >*Seleccione estado Civil</option>
                                        <option value="1">Soltero/a</option>
                                        <option value="2">Casado/a</option>
                                        <option value="3">Divorciado/a</option>
                                        <option value="4">Viudo/a</option>
                                    </select>
                                </div>
                                <div class="formControl form33w formControlDisplay">
                                    <label for="inputBloodType" lang="es">Tipo de Sangre</label>
                                    <input class="formInput" id="inputBloodType" type="text">
                                </div>

                                <div class="formControl form70w  formControlDisplay">
                                    <label for="inputHealthData" lang="es">Datos de Salud. Ej: Alergias, ciruguas, enfermedades prescritas...</label>
                                    <textarea class="formInput" type="text" name="inputDatesContact" id="inputHealthData" rows="5"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="formControl formFamily">
                            <label class="titleSection">1.1. Datos Familiares</label>
                        </div>
                        <div class="formGroup formControlLandscape formFamily">
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputNameM" lang="es">Nombre Esposa(o)</label>
                                <input class="formInput" id="inputNameM" type="text">
                            </div>
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputNameMA" lang="es">Apellidos Esposa(o)</label>
                                <input class="formInput" id="inputNameMA" type="text">
                            </div>
                        </div>
                        <div class="formGroup formControlLandscape formFamily ">
                            <div class="formControl form20w formControlDisplay">
                                <a class="btn formInput  btnSuccess btnSmall btnAgregarHijos">Agregar Hijo(a)</a>
                            </div>
                        </div>
                        <div class="formGroup formHijos"></div>
                        <div class="formFooter">
                            <a class="btn btnPrimary btnLg btnIconRight btnNextStep" module="{{_MODULE}}" lang="es" step="2"><span>Siguiente</span> <i class="icon icon-arrow-line-right"></i></a>
                        </div>
                    </div>
                    <div class="content " for="2">

                        <div class="formControl">
                            <label class="titleSection">2. Datos de Contacto</label>
                        </div>
                        <div class="formGroup formControlLandscape">
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputPhoneAddress" lang="es">Telefóno Fijo de Contacto</label>
                                <input class="formInput" id="inputPhoneAddress" type="text">

                            </div>
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputPersonalMobile" lang="es">*Número Celular Personal</label>
                                <input class="formInput" id="inputPersonalMobile" type="text">
                            </div>
                        </div>
                        <div class="formGroup formControlLandscape">
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputPersonalEmail" lang="es">*Email Personal</label>
                                <input class="formInput" id="inputPersonalEmail" type="text">
                            </div>
                        </div>
                        <div class="formControl form80w  formControlDisplay">
                            <label for="inputDatesContact" lang="es">Datos para Contacto de Emergencia</label>
                            <textarea class="formInput" type="text" name="inputDatesContact" id="inputDatesContact" rows="5"></textarea>
                        </div>
                        <div class="formFooter">
                            <a class="btn btnPrimary btnLg btnIconLeft btnPreviusStep" module="{{_MODULE}}" lang="es" step="1"><i class="icon icon-arrow-line-left"></i><span>Anterior</span> </a>
                            <a class="btn btnPrimary btnLg btnIconRight btnNextStep" module="{{_MODULE}}" lang="es" step="3"><span>Siguiente</span> <i class="icon icon-arrow-line-right"></i></a>
                        </div>
                    </div>
                    <div class="content" for="3">
                        <div class="formControl">
                            <label class="titleSection">3. Datos Educativos</label>
                        </div>
                        <div class="formControl form33w formControlDisplay formSelect">
                            <select class="formInput" name="inputGrade" id="inputGrade">
                                <option value="0" selected lang="es">Seleccione un Grado Educativo</option>
                                <option value="1">Ninguno</option>
                                <option value="2">Escolar</option>
                                <option value="3">Bachillerato</option>
                                <option value="4">Licenciatura</option>
                                <option value="5">Diplomado</option>
                                <option value="6">Doctorado (phD)</option>
                            </select>
                        </div>
                        <div class="formControl form50w formControlDisplay">
                            <label for="inputEspecialidad" lang="es">Especialidad</label>
                            <input class="formInput" id="inputEspecialidad" type="text">
                        </div>
                        <div class="formChargeControl formChargeDocs">
                            <div class="boxIcon" id="boxIconDoc" for="inputArchivoCV">
                                <i class="icon icon-upfile"></i>
                                <span>Cargar C.V. [pdf,docx] max. 15Mb</span>
                            </div>
                            <input id="inputCV" type="hidden">
                            <input type="file" class="inputFileBtn" multiple="" returnidinput="inputCV" returnitem="boxIconDoc" returnaction="returnBoxUpFile" textreturnaction="Cargar C.V. [pdf,docx] max. 15Mb" mode="singleDoc" folder="kardex/docs" validfiles="doc,pdf" name="inputArchivoCV"
                                id="inputArchivoCV">
                        </div>
                        <div class="formFooter">
                            <a class="btn btnPrimary btnLg btnIconLeft btnPreviusStep" module="{{_MODULE}}" lang="es" step="2"><i class="icon icon-arrow-line-left"></i><span>Anterior</span> </a>
                            <a class="btn btnPrimary btnLg btnIconRight btnNextStep" module="{{_MODULE}}" lang="es" step="4"><span>Siguiente</span> <i class="icon icon-arrow-line-right"></i></a>
                        </div>
                    </div>
                    <div class="content" for="4">
                        <div class="formControl">
                            <label class="titleSection">3. Datos de Ubicación</label>
                        </div>
                        <div class="formControl formControlDisplay">
                            <label for="inputAddress" lang="es">Dirección de vivienda</label>
                            <input class="formInput " id="inputAddress" type="text">
                        </div>
                        <div class="formControl">
                            <input class="formInput" id="inputCoordinates" type="hidden">
                            <div id="map"></div>
                        </div>
                        <div class="formFooter">
                            <a class="btn btnPrimary btnLg btnIconLeft btnPreviusStep" module="{{_MODULE}}" lang="es" step="3"><i class="icon icon-arrow-line-left"></i><span>Anterior</span> </a>
                            <a class="btn btnPrimary btnLg btnIconRight btnNextStep" module="{{_MODULE}}" lang="es" step="5"><span>Siguiente</span> <i class="icon icon-arrow-line-right"></i></a>
                        </div>
                    </div>
                    <div class="content" for="5">
                        <div class="formControl">
                            <label class="titleSection">4. Datos Corporativos</label>
                        </div>
                        <div class="formGroup formControlLandscape">
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputCorpEmail" lang="es">*Email Asignado para la cuenta</label>
                                <input class="formInput " id="inputCorpEmail" type="text">
                            </div>


                        </div>
                        <div class="formGroup formControlLandscape">
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputNroCns" lang="es">Número Caja Nacional de Salud</label>
                                <input class="formInput" id="inputNroCns" type="text">
                            </div>
                            <div class="formControl form40w formControlDisplay formInputCI">
                                <label for="inputNroAfp" lang="es">Número Cod. AFP</label>
                                <input class="formInput " id="inputNroAfp" type="text">
                            </div>
                            <div class="formControl form40w formControlDisplay">
                                <select class="formInput" name="inputAfp" id="inputAfp">
                                    <option value="0 " selected >*Seleccione Gestora AFP</option>
                                    <option value="1 ">AFP Previsión</option>
                                    <option value="2 ">AFP Futuro</option>
                                </select>
                            </div>
                        </div>
                        <div class="formControl form40w formControlDisplay formDuo">
                            <label for="inputPhoneCorp" lang="es">Telefóno Fijo Asignado</label>
                            <input class="formInput form80w" id="inputPhoneCorp" type="text">
                            <input class="formInput form20w" id="inputPhoneCorpExt" type="text" placeholder="Int">
                        </div>
                        <div class="formControl form40w formControlDisplay">
                            <label for="inputCorpMobile" lang="es">Número Celular Asignado</label>
                            <input class="formInput " id="inputCorpMobile" type="text">
                        </div>
                        <div class="formGroup formControlLandscape">
                            <div class="formControl form20w formControlDisplay">
                                <label for="inputShirtSize" lang="es">Talla de Polera</label>
                                <input class="formInput " id="inputShirtSize" type="text">
                            </div>
                            <div class="formControl form20w formControlDisplay">
                                <label for="inputPantSize" lang="es">Talla de Pantalón</label>
                                <input class="formInput " id="inputPantSize" type="text">
                            </div>
                            <div class="formControl form20w formControlDisplay">
                                <label for="inputBootSize" lang="es">Talla de zapatos</label>
                                <input class="formInput " id="inputBootSize" type="text">
                            </div>
                        </div>
                        <div class="formGroup formControlLandscape">
                            <div class="formControl form33w formControlDisplay">
                                <label for="inputTrabajoPrevio" lang="es">Nombre Trabajo Previo</label>
                                <input class="formInput " id="inputTrabajoPrevio" type="text">
                            </div>
                            <div class="formControl form33w formControlDisplay">
                                <label for="inputCargoPrevio" lang="es">Cargo</label>
                                <input class="formInput " id="inputCargoPrevio" type="text">
                            </div>
                            <div class="formControl form20w formControlDisplay">
                                <label for="inputATiempoTrabajado" lang="es">Tiempo Trabajado</label>
                                <input class="formInput " id="inputATiempoTrabajado" type="text">
                            </div>


                        </div>
                        <div class="formGroup">
                            <label for="">Nueva Asignación</label>
                            <div class="formControl formControlTree">
                                <label for="inputATiempoTrabajado" lang="es">Areá Asignada</label>
                                <div class="formTree">
                                    {{_DEPARTAMENTS}}
                                </div>
                            </div>
                            <div class="formControl formControlTree">
                                <label for="inputATiempoTrabajado" lang="es">Cargo Asignado</label>
                                <div class="formTree">
                                    {{_JOBSTITLES}}
                                </div>
                            </div>
                        </div>
                        <div class="formFooter">
                            <a class="btn btnPrimary btnLg btnIconLeft btnPreviusStep" module="{{_MODULE}}" lang="es" step="4"><i class="icon icon-arrow-line-left"></i><span>Anterior</span> </a>
                            <a class="btn btnPrimary btnLg btnIconRight btnNextStep" module="{{_MODULE}}" lang="es" step="6"><span>Siguiente</span> <i class="icon icon-arrow-line-right"></i></a>
                        </div>
                    </div>
                    <div class="content" for="6">
                        <div class="formControl">
                            <label class="titleSection">5. Datos de cuenta de Sistema</label>
                        </div>
                        <div class="formGroup formControlLandscape">
                            <div class="formControl form40w formControlDisplay">
                                <label for="inputEmailAccount" lang="es">Email para login de cuenta</label>
                                <input class="formInput" id="inputEmailAccount" type="text">
                            </div>
                            <div class="formControl form40w formControlDisplay formInputCI">
                                <label for="inputNameUser" lang="es">Nombre de Usuario</label>
                                <input class="formInput " id="inputNameUser" type="text">
                            </div>
                        </div>
                        <div class="formControl">
                            <label lang="es">Seleccione su Rol en el Equipo</label>
                        </div>
                        <div class="formControl">
                            {{_ROLES}}
                        </div>
                        <div class="formControl">
                            <label lang="es">Grupos Designados:</label>
                        </div>
                        <div class="formControl form50w formControlGroup">
                            {{_GROUPS}}
                            <a class="btn btnSmall btnFull btnAddGroup"><i class="icon icon-plus"></i><span>Agregar Grupo</span></a>
                        </div>
                        <div class="formFooter">
                            <a class="btn btnPrimary btnLg btnIconLeft btnPreviusStep" module="{{_MODULE}}" lang="es" step="4"><i class="icon icon-arrow-line-left"></i><span>Anterior</span> </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<style>
    #map {
        height: 60vh;
        margin: 0;
    }
    
    #map .centerMarker {
        position: absolute;
        /*url of the marker*/
        background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
        /*center the marker*/
        top: 50%;
        left: 50%;
        z-index: 1;
        /*fix offset when needed*/
        margin-left: -10px;
        margin-top: -34px;
        /*size of the image*/
        height: 34px;
        width: 20px;
        cursor: pointer;
    }
</style>

<script>
    function initMap() {

        var lat = -17.783779080186306;
        var long = -63.18044550520638;
        var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(lat, long),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
        var infoWindow = new google.maps.InfoWindow({
            content: '',
            buttons: {
                close: {
                    visible: false
                }
            }
        });
        $('<div id="windowInfo "/>').addClass('centerMarker').appendTo(map.getDiv())
            .click(function() {
                if (formattedAddress) {
                    infoWindow.bindTo('position', map, 'center');
                    infoWindow.open(map);
                }
            });


        var geocoder = new google.maps.Geocoder(); // create a geocoder object
        var formattedAddress = null;

        function updateAddress(lat, long) {

            geocoder.geocode({
                'latLng': new google.maps.LatLng(lat, long)
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) { // if geocode success
                    formattedAddress = results[0].formatted_address; // if address found, pass to processing function
                    console.log(formattedAddress + ',' + lat + ", " + long);
                    $('#inputCoordinates').val(lat + ", " + long);
                }
                infoWindow.setContent(formattedAddress);
            });
        }
        updateAddress(lat, long);

        function gEventCallback(e) {
            updateAddress(this.getCenter().lat(), this.getCenter().lng());
        }

        google.maps.event.addListener(map, 'drag', gEventCallback);
        google.maps.event.addListener(map, 'dragend', gEventCallback);
        google.maps.event.addListener(map, 'zoom_changed', gEventCallback);
    }
</script>

<!-- Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNtWh_2ACO4MZRuCroQaJThC78_C2x36E&callback=initMap&libraries=&v=weekly " defer></script>