<div class="inner">
    <div class="header">
        <div class="pull-left">
            <div class="head"><i class="icon icon-doc"></i><span lang="es">Altas de Personal</span></div>
        </div>
        <ul class="pull-right">
            <a class="btn btnPrimary btnIconLeft btnAddForm" action="formNew" system="{{_SYSTEM}}" module="{{_MODULE}}">
                <i class="icon icon-plus"></i>
                <span>Agregar</span>
            </a>
        </ul>
    </div>
    <div class="tbody">

    </div>
</div>