<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i>
            <span>Suscriptores</span>
        </div>
    </div>
    <ul class="pull-right"></ul>
</div>
<div class="tbody">
    <!-- <form action="{{_PATH_WEB}}controllers/api/v1/inventory/fileXls.php" method="post" target="_blank" id="FormExport"><input type="hidden" id="dataSend" name="dataSend" /></form> -->
</div>