@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

.bodyModule[module='categorys'] {
    .header {
        .btnAddNode {
            //margin-left: 40px;
            max-height: 20px;
            max-width: 110px;
            display: flex;
            justify-content: center;
        }

        .pull-left {
            display: flex;
            align-items: center;
            gap: 35px;

            .boxAccions {
                gap: 7px;
            }
        }
    }

    .boxAccions {
        display: flex;
        align-items: center;

        #nodesOrderCategorys {
            .icon {
                font-size: 12px !important;
                padding: 1px;
            }
        }
    }
}

#modalOrderCategorys {
    .modalBody {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-bottom: 15px;

        div.itemSortable {
            border: 1px solid var(--color-line);
            background-color: var(--color-white);
            padding: 5px 0px;
            border-radius: 5px;

            .icon {
                opacity: .5;
            }
        }
    }
}


#rootCategorys {
    margin-left: 15px;
    overflow-y: hidden;
    position: relative;

    .newNode {
        margin-bottom: 10px;
        display: flex;

        .btnNewNode {
            width: auto;
            padding: 0px;

            .icon {
                margin-right: 5px;
            }

            &:hover {
                background-color: transparent;
                color: @colorPrimary;
            }
        }
    }

    .nodes {
        position: relative;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            height: 99%;
            width: 1px;
            position: absolute;
            bottom: 14px;
            border-left: @lineTree;
        }

        .level {
            padding: 0px 25px;
            position: relative;

            .head {
                padding: 4px 0;
                display: flex;
                justify-content: left;
                align-items: center;

                .box {
                    &::before {
                        content: "";
                        height: 1px;
                        width: 25px;
                        position: absolute;
                        margin-top: 0px;
                        margin-left: -30px;
                        border-top: @lineTree;
                    }

                    input {
                        display: none;
                    }
                }

                .name {
                    font-size: 14px;
                    cursor: pointer;
                    padding: 2px 0;

                    &[state="0"] {
                        opacity: 0.5;
                    }

                    &:hover {
                        color: @colorPrimary;
                    }
                }

                .add {
                    display: flex;
                    align-items: center;
                    margin-left: 12px;

                    .btnActionNode {
                        font-size: 1.05em;
                        margin: 0 7px;

                        &:hover {
                            color: @colorPrimary;
                        }
                    }

                    .btnStateNode {

                        &[state="0"] {
                            .icon-eye-open {
                                display: none;
                            }
                        }

                        &[state="1"] {
                            .icon-eye-close {
                                display: none;
                            }
                        }
                    }

                    .btnDeleteNode {
                        &:hover {
                            color: @colorDanger;
                        }
                    }
                }
            }

            .childs {
                position: relative;
                display: flex;
                flex-direction: column;
                overflow-y: hidden;

                &.haveChild {
                    &::before {
                        content: "";
                        height: 100%;
                        width: 1px;
                        position: absolute;
                        bottom: 14px;
                        border-left: @lineTree;
                    }
                }
            }
        }
    }
}