@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

form[module="posts"] {
    #inputPathurl {
        opacity: 0.7;

        &:focus {
            opacity: 1;
        }
    }
}

#modalSelectionPost {
    .modalInner {
        max-height: 90vh;
        overflow: hidden;
    }

    .modalBody {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 15px;
        max-height: 90vh;
        overflow-y: auto;

        .item {
            display: flex;
            gap: 15px;
            border-radius: var(--border-radius-form);
            padding: 5px;

            &:hover {
                background-color: var(--color-bg-gray-hover);
            }

            .img {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: var(--border-radius-form);
                overflow: hidden;
                background-color: var(--color-line);

                img {
                    height: 60px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                width: 60%;

                .title {
                    font-weight: bold;
                    font-size: medium;
                }

                .review {
                    opacity: 0.7;
                    font-size: small;
                }
            }
        }
    }
}



.inputSearch {
    .widthAvailable();
    padding: 5px 15px;
    border-radius: var(--border-radius-form);
    border: 1px solid var(--color-line);
}

#previewEmbed {
    margin: 5px 0;

    iframe {
        width: 100%;
        height: 170px;
    }
}

#tablePosts {
    .colId {
        //width: 55px !important;
    }

   .colTitle {
        display: flex;
        flex-align: center;
        gap: 10px;

        &:hover {
            cursor: pointer;
            color: var(--color-primary) !important;
        }
    }
    
}