@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

#formNewPub,
#formEditPub {
    //padding: 0 25px;

    >.formGroupTwoColumns {
        .heightAvailable();

        >.formControl {
            padding-top: 10px;
            overflow-y: auto;
        }



        >.formControl:nth-child(1) {
            padding-right: 20px;
        }

        >.formControl:nth-child(2) {
            height: 100%;
            padding-left: 25px;
            border-left: 1px solid @colorLine;
        }

        .formControl {
            &:last-child {
                margin-bottom: 25px;
            }
        }
    }

    .others {}
}

.listPublications {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between;
    margin-top: 10px;


}

.pubElem {
    width: 48%;
    border: 2px solid transparent;
    margin-bottom: 15px;
    border-radius: @borderRadius;

    &:hover,
    &.on {
        border-color: #a3befb;
        background: #eef1f7;
    }



    &.active {
        border-color: @colorBtnPrimary;
        background: #e7eefd;
    }

    .inner {
        display: flex;
        align-items: flex-start;
        pointer-events: none;
        border-radius: @borderRadius;



        h3,
        .title {
            margin-top: 0px;
            font-size: 1em;
        }

        .img {
            font-size: 0px;

            img {
                width: 80px;
                height: 70px;
                border-radius: @borderRadius;
            }
        }

        .text {
            padding: 7px;

            p {
                font-size: 13px;
            }
        }
    }
}

#modalPubForm {
    .modalInner {
        min-height: 80vh;

        .modalBody {
            //height: calc(100% - 60px);
        }
    }

    .listPublications {
        justify-content: flex-start;
    }

}

#formSelectedPub {
    margin-top: 12px;
    height: 100%;

    .others {
        display: flex;
        align-items: center;
        justify-content: end;


        .btnNewPub {
            // width: 280px;
            margin-left: 7px;
        }


        .formNewPubOrigin {
            display: flex;
            height: auto;
            overflow-y: auto;
        }
    }

    .listPublications {
        justify-content: flex-start;

        .pubElem {
            width: 24% !important;
        }
    }
}

#fieldPubSelected {
    .widthAvailable();
    //margin-top: 20px;

    .pubElem {
        .widthAvailable();
    }
}

#modalEditPub {
    .modalInner {
        max-width: 670px;


        .tbody {
            flex-direction: column;
            // overflow-y: auto;
        }
    }

    .tabContent {
        &[item='editPublication'] {
            

            &.active {
                display: flex;
                justify-content: center;
                padding-top: 20px;

                .form {
                    width: 90%;
                    height: calc(100% - 70px);
                    overflow-y: auto;
                }
            }

        }

        .form {
            .head {
                padding: 0;
            }


        }
    }
}

#modalPubNewModal {

    .modalInner {
        .modalBody {
            height: calc(100% - 40px);
            padding: 0;
            overflow: hidden;
            border-radius: 5px;
        }
    }

    #formSelectedPub {
        padding-top: 0;
        margin: 0;
        height: 100%;


        .formGroupTwoColumns {
            gap: 15px;
            .heightAvailable();
            margin: 0px;
            padding: 0px;

            .formControl {
                width: 100%;
            }

        }
    }

    #formNewPub {
        .formGroupTwoColumns {
            margin-bottom: 0px;
        }
    }

    .formPubsOrigin {
        padding: 10px 20px;

        .listPublications {
            justify-content: flex-start;
            gap: 10px;

            .pubElem {
                width: 31% !important;
            }
        }
    }

    .formNewPubOrigin {
        .heightAvailable();
        overflow-y: scroll;
        border-left: 1px solid var(--color-line);
        background-color: var(--color-bg-gray);
        margin: 0 !important;
        position: relative;
        z-index: 0;
        flex-direction: column;
        display: flex;
        padding: 0 !important;

        .data {
            .widthAvailable();
            display: flex;
            flex-direction: column;
            height: calc(100% - 40px);
            overflow-y: auto;
            padding: 20px 20px 0px;
        }

        .formActions {
            .widthAvailable() !important;
            position: relative;
            bottom: 0;
            margin: 0;
            left: 0;
            z-index: 21;
            align-items: flex-end;
            background: var(--color-white);
            border-top: 1px solid var(--color-line);
            padding: 15px;
            margin-bottom: 0 !important;
        }
    }
}

#panelEdit {

    #fieldPubSelected {
        .btnPubElem {
            margin-bottom: 0px;
        }
    }

    .titleSeparator {
        margin-top: 10px;
        padding-top: 0px;
    }
}