@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";


#worksheetNode {
    background-color: #d3d3d3;
    border-left: 1px solid var(--color-line-soft);
    //box-shadow: inset 1px 0px 0px #dadada;

    .inner {}

    .headInnerForm {
        display: flex;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;

        .btnBack {
            position: relative;
            left: auto;
            top: auto;
        }

        &.headFullWhite {}

        .inner {
            flex-wrap: wrap;
            align-content: center;
            width: 1004px;
        }

        .box {

            &.boxLeft {
                width: 70%;
                flex-wrap: wrap;
                justify-content: space-between;

                .title {

                    height: 30px;
                    position: relative;
                    margin-right: 10px;
                    display: flex;
                    //overflow-x: clip;
                    align-items: center;

                    .icon {
                        font-size: 20px;
                        margin-right: 10px;
                        color: @colorOrange;
                    }

                    h3 {
                        width: 100%;
                        line-height: 24px;
                        margin-top: 0px;
                    }
                }

                .actions {
                    max-height: 31px;

                    input {
                        border-color: @colorLine;
                    }

                    select {
                        max-width: 105px;
                    }
                }


            }

            &.boxRight {
                width: 30%;
                max-height: 30px;
                align-items: center;

                .btn.btnLink.btnCancel {
                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }
    }

    .tbody {
        .widthAvailable();
        min-width: -webkit-fill-available;
        justify-content: center;
        display: flex;
        margin-top: 25px;

        .inner {
            .widthAvailable();
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#spaceWorksheet {
    padding: 20px;
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;

    .wsElem {
        .widthAvailable();
        border-radius: @borderRadius;
        background-color: rgb(251 251 251);
        border: 1px solid #d5d2e1;

        &.ui-sortable-helper {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 10%);
            border: 1px solid rgb(199, 204, 219);
        }

        &[type="block"] {
            margin: 0px 7px 7px 7px;
            border: 1px dotted #ffffff;
        }

        &[type="block"][level="1"] {
            border: 1px solid #fff;
        }

        &[type="block"][level="2"] {
            margin: 0px 0px 7px 0px;
            border: 1px solid #fff;
        }



        &[type="publication"] {
            .body {
                display: none;
            }
        }

        &[state='0'] {
            .head {
                .title {
                    opacity: .4;
                }
            }
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 4px 5px 5px;

            .title {
                display: flex;
                align-items: center;
                opacity: 1;
            }

            label {
                font-size: 14px;
                margin-left: 5px;
            }

            .actions {
                display: flex;
                align-items: center;

                .btn {
                    opacity: 0.25;
                    font-size: 16px;

                    &:hover {
                        color: @colorBtnPrimary;
                        opacity: 1;
                    }
                }


                .btnNew {
                    padding: 0 5px;
                    font-size: 20px;
                    opacity: 0.35;
                }


            }
        }

        .body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #e1e1e1;
            box-shadow: inset 0px 0px 2px #c3c1cf;
            padding: 10px;
            min-height: 20px;
            margin: 0 7px 7px 7px;
            border-radius: 5px;
            position: relative;
        }

        .btnDelete {
            &:hover {
                color: @colorBtnDanger  !important;
            }
        }
    }
}

#formPattern {
    .modalBody {
        margin-bottom: 15px;
    }
}

#formRename {
    .modalBody {
        align-items: center;
        margin-bottom: 0;
    }

    #inputformRename {
        font-size: 18px;
    }
}