#contentConfigAdmin {
    position: relative;

    .innerWindow {
        .container {
            width: 870px;
        }
    }

    .header {
        .head {
            padding: 0px;
        }
    }

}