@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

.ws {
    &[system="appointments"] {
        .menuTopMedium {
            .head {
                .icon {
                    color: #558fff;
                }
            }
        }
    }
}

.bodyModule[module="calendars"][system="appointments"] {


    .menuTopModule {
        color: var(--color-text);

        .menuTopRight {
            padding: 7px 0;
        }
    }

    #selectTypeFormCalendar {
        width: 120px;
        padding: 3px 5px 2px 5px;
        border-radius: 4px;
        font-size: 13px;
        border: 0px;
        border: 1px solid var(--color-line);
    }

    .boxColorFormCalendar {
        width: 20px;
        height: 20px;
        margin-right: -7px;
        margin-top: 0px;
        border-radius: 4px;
        background-color: #a1c0fd;
        border: 1px solid rgba(0, 0, 0, 7%);
    }

    #spaceDateFormCalendar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;

        .formControl {
            margin-bottom: 0px;

            .icon {
                margin: 0;
            }

            .hours {
                margin: 0;
                display: flex;
                align-items: center;
            }

            .line {
                display: flex;
                align-items: center;
                gap: 7px;
            }
        }
    }
}

.appointmentsCalendars {
    .widthAvailable();
    .heightAvailable();
    overflow-y: hidden;
    position: relative;
    flex-direction: column;

    .menuTopRight{
        .widthAvailable() !important;
    }

    .tbody {
        .widthAvailable();
        //height: calc(100% - 47px);
        height: 100%;
        position: relative;
        padding: 0 !important;
        display: flex;
        justify-content: flex-start;
        gap: 0;
    }

    .sidebarCalendar {
        width: 150px;
        background: @sidebarModules;
        .heightAvailable();
        overflow-y: auto;

        &[num="1"] {
            width: 0;
        }

        label {
            font-size: 12px;
            padding: 10px 15px 10px 15px;
            display: flex;
            opacity: 0.7;
        }

        .list {
            width: 100%;
            display: flex;
            flex-direction: column;

            li {
                width: 100%;
                display: flex;

                a {
                    font-size: 12px;
                    padding: 6px 10px;
                    margin: 1px 7px;
                    width: -webkit-fill-available;

                    &:hover {
                        color: @colorPrimary;
                    }

                    &.active {
                        background: @sidebarModulesBgBtnActive;
                        color: @colorWhite;
                        font-weight: 500;

                        border-radius: @borderRadiusBtn;
                    }
                }
            }
        }
    }

    .bodyCalendar {
        min-width: 80%;
        width: calc(100% - 150px);
        position: relative;
        background: var(--color-white);

        &[num="1"] {
            width: 100%;
        }

        //overflow-y: hidden;

        .calendar {
            // width: 97%;
            // padding: 1.5%;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 16px;
                    margin-left: 10px;
                }

                button {
                    /* border: 1px solid; */
                    border-radius: 5px;
                    font-size: 15px;
                    background-color: #e4e7f3;
                    height: 30px;

                    &:hover {
                        background-color: #b8bfdb;
                        color: @colorWhite;
                    }
                }
            }

            .fc-head {
                position: -webkit-sticky !important;
                position: sticky !important;
                top: 0;
                background-color: white;
                z-index: 9999 !important;
            }

            .fc-widget-header {
                tr {
                    td {
                        border: 1px solid red;
                    }
                }
            }

            .fc-listMonth-button {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .fc-next-button {
                margin-left: 10px;
                border-radius: 5px;
            }

            .fc-view-container {
                overflow-y: auto;
            }

            .fc-event {
                padding: 2px 5px;
                //border-color: #a1c0fd !important;
                //background: #a1c0fd !important;
                color: #1e3950 !important;
            }

            .fc-bgevent[data="disabled"] {
                background-color: #fd9f9f !important;
                pointer-events: none;
            }

            .fc-toolbar {
                padding: 10px;
                margin-bottom: 0px;
            }

            &.active {
                opacity: 1;
                z-index: 1;
                pointer-events: all;
            }

            
        }

        .fc td, .fc th {
            border-color: #e4e7f3 !important;
        }
        
    }

    .innerWindowCalendarList {
        position: absolute;
        z-index: 10;
        background: @colorWhite;
        width: 100%;
        height: 100%;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px 5px 25px;
        }
    }
}

.error {
    color: red;
}

#modalConfigappointmentsCalendar {
    .sidebarMenu {
        button {
            .widthAvailable();
        }
    }

    .modalFormCalendar {
        width: 250px;
        max-width: 250px;

        .form {
            margin-top: 20px;
        }
    }

    .boxBtnStateSwitch {
        align-items: flex-start;

        .btnStateSwitch {
            margin-top: 10px;
        }
    }

    .state {
        align-items: flex-start;
    }

    .listHours {
        display: flex;
        flex-direction: column;
        margin-top: -3px;

        .boxHours {
            display: flex;
            align-items: center;

            .btnRemoveHours {
                .icon {
                    font-size: 14px;

                    &:hover {
                        color: @colorAlertDanger  !important;
                    }
                }
            }
        }

        .day {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            label {
                min-width: 65px;
            }
        }
    }
}

#formBlockDateAdvised {
    min-height: 100px;
}

#modalCreateAdviser {
    .modalInner {
        width: 550px;
    }
}

/* 
.btnCreateUser {
    margin: 10px auto;
    border: 1px solid @colorLine;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    width: max-content;

    &:hover {
        background-color: @colorPrimary;
        color: @colorWhite;
    }
} */

#formCalendar {
    width: 470px;
    min-width: auto;

    .head {
        margin-bottom: 10px;

        label {
            display: flex;
            align-items: center;
            gap: 10px;

            .type {
                width: 14px;
                height: 14px;
                border-radius: 50%;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .typeTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .typeColor {
            display: flex;
            width: 10px;
            height: 10px;
            border-radius: 100px;
        }

        .typeName {
            font-weight: 600;
            font-size: 18px;
        }
    }

    .headUser {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 17px;
        margin-top: 7px;
        font-size: 15px;

        .phone {
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: 17px;

            .icon {
                color: var(--color-whatsapp);
            }

            a {
                font-size: 16px;
                font-weight: 600;
                color: var(--color-black);

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }

    .formControlDate {
        gap: 7px;
    }

    .formSelectList {
        margin-bottom: 0;

        .boxSelectList {
            &.on {
                top: 53px;
            }

            .searchAccount {
                position: relative;

                .btnCreateUser,
                .btnCreatePerson,
                .btnCreatePersonAgenda {
                    position: absolute;
                    z-index: 4;
                    right: 2px;
                    top: 0px;

                    .icon {
                        position: relative;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }

        .boxInput {
            .formInput {
                padding-left: 15px;
            }

            .icon-search {
                right: auto;
                left: 8px;
            }

            .btnIcon {
                top: 4px;
                position: absolute;
                width: 24px;
                height: 24px;
                pointer-events: all;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                padding: 0px;
                right: 5px;

                &:hover {
                    .icon {
                        color: var(--color-btn-hover) !important;
                    }

                }


                .icon {
                    font-size: 21px;
                    right: 0px;
                    top: 0px;
                    position: relative;
                    pointer-events: all;
                    padding: 0px;
                    margin: 0;
                    z-index: 10;
                }
            }
        }
    }

    .formActions {
        padding: 0;
        flex-wrap: wrap;
        //flex-direction: row-reverse;
        margin-top: 10px;

        .btn {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    .otherResults {

        overflow-y: auto;
        background-color: #f4f4fb;
        border-radius: 3px;

        //padding-top: 10px;

        .item {

            display: flex;
            align-items: center;
            flex-direction: column;
            border-bottom: 1px solid var(--color-line);
            //margin-bottom: 7px;
            padding-top: 7px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 7px;
            gap: 7px;

            &:first-child {
                margin-top: 10px;
            }

            &:nth-child(odd) {
                background-color: #f4f4fb;
            }

            &:nth-child(even) {
                background-color: #ffffff;
            }

            .row {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                gap: 7px;

                label {
                    font-size: 13px;
                    width: calc (100% - 70px);
                }

                button {
                    width: 70px;
                }
            }

            .listCounselors {
                display: flex;
                justify-content: flex-start;
                .widthAvailable();
                .heightAvailable();
                overflow-y: auto;
            }
        }
    }

    .btns {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 7px;
    }
}

.innerSearchUsersAdvised {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 25%);
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .inner {
        margin-top: 10%;
        background-color: var(--color-white);
        border-radius: 6px;
        width: 80%;
        max-width: 500px;

        .search {
            display: flex;
            align-items: center;
            width: -webkit-fill-available;

            .icon-search {
                font-size: 24px;
                margin: 10px;
                display: flex;
            }

            input {
                font-size: 21px;
                border: 0;
                width: calc(100% - 70px);
            }

            .icon-circle-close {
                font-size: 18px;
            }
        }
    }
}

//@Media
@media (max-width: 1920px) {}

@media (max-width: 1445px) {}

@media (max-width: 1280px) {}

@media (max-width: 470px) {
    .modalFormCalendar {
        top: 45px;
        left: 0;
        margin: 0;
        height: calc(100vh - 65px);
        max-width: none;
        .widthAvailable() !important;
    }
}

//media max-width: 840px and max-height: 470px
@media (max-width: 850px) and (max-height: 850px) {
    .modalFormCalendar {
        top: 45px;
        left: 0;
        margin: 0;
        height: calc(100vh - 65px);
        max-width: none;
        .widthAvailable() !important;
        overflow-y: auto;
    }

    .formSelectList {
        .boxSelectList {
            &.on {
                height: calc(100vh - 155px) !important;
                top: 54px !important;
            }
        }
    }

    .bodyCalendar {
        .fc button {
            padding: 0 0.25em;
            font-size: 12px;
        }

        .fc-day-header {
            font-size: 12px;
        }

        .fc-toolbar {
            .fc-center {
                display: flex;
                width: 100%;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                padding-top: 10px;
                justify-content: space-between;

                h2 {
                    font-size: 14px;
                }
            }
        }

        .title {
            .btnCalendarList {
                height: 25px !important;
                padding: 0px 7px;
            }
        }

        .formActions {
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 10px;
        }
    }

    #inputComments {
        height: 24px !important;
    }
}