#coordPrincipal {
    display: flex;
    width: 100%;
    min-height: 300px;
    background: #e4dfdf;
    border:1px solid var(--color-black);

    .form-coordPrincipal {
        width: 100%;
        height: 300px;
        display: flex;
        border: 1px solid red;
    }

    .centerMarker {
        position: absolute;
        /*url of the marker*/
        background: url("../../../../assets/img/marker.png") no-repeat;
        /*center the marker*/
        top: 50%;
        left: 50%;
        z-index: 1;
        /*fix offset when needed*/
        margin-left: -10px;
        margin-top: -34px;
        /*size of the image*/
        height: 34px;
        width: 20px;
        cursor: pointer;
    }
}

 

#map-canvas {
    width: auto;
    height: 500px;
    border:1px solid var(--color-black);
}