<div class="head">
    <label for="">
        <h3>Configuración de Administrador</h3>
    </label>
    <a class="btnCancelModal"><i class="icon icon-close"></i></a>
</div>
<div class="tbody">
    <div class="sidebarMenu">
        <ul class="inner">
            <li>
                <a class="btn btnIconLeft btnConfAction" for="contentConfigAdmin" content='config'>
                    <i class="icon icon-conf"></i>
                    <span lang="es">Configuración</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnConfAction" for="contentConfigAdmin" content="systems">
                    <i class="icon icon-system"></i>
                    <span lang="es">Systemas</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnConfAction" for="contentConfigAdmin" content="users">
                    <i class="icon icon-users"></i>
                    <span lang="es">Usuarios</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnConfAction" for="contentConfigAdmin" content="roles">
                    <i class="icon icon-credential"></i>
                    <span lang="es">Roles</span>
                </a>
            </li>
            <li>
                <a class="btn btnIconLeft btnConfAction" for="contentConfigAdmin" content="groups">
                    <i class="icon icon-group"></i>
                    <span lang="es">Grupos</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="content bodyModule" id="contentConfigAdmin">
    </div>
</div>