<!DOCTYPE html>
<!-- Si te gusta programar este sitio esta desarrollado en Nucleo Framework open sourse  https://gitlab.com/wappcom/nucleo.3/ por Wappcom SRL -->
<html id="index">

<head>
    <title>{{title}}</title>

    <link rel="shortcut icon" href="{{urlFavicon}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="tipo_contenido" content="text/html;" http-equiv="content-type" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->

    <!-- Styles Externos -->
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}vendor/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}vendor/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}vendor/css/trumbowyg/trumbowyg.min.css" />
    <link rel="stylesheet" type="text/css"
        href="{{_PATH_WEB_NUCLEO}}vendor/js/trumbowyg/plugins/table/ui/sass/dist/trumbowyg.table.css" />

    <!-- <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}vendor/css/summernote.css" /> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700&display=swap" rel="stylesheet"> -->
    <link href="{{_PATH_WEB_NUCLEO}}vendor/css/fullcalendar.min.css" rel="stylesheet" />
    <link href="{{_PATH_WEB_NUCLEO}}vendor/css/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link rel="preconnect" href="https://wappcom.com/proy/font/font-brave/" crossorigin />
    <link href="{{_ICONS_LINK}}?{{_VS}}" rel="stylesheet" />

    <!-- Styles Propios -->
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/color.css?{{_VS}}" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/index.css?{{_VS}}" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/finder.css?{{_VS}}" />
    <link rel="stylesheet" rel="preload" async as="styles" type="text/css"
        href="{{_PATH_WEB_NUCLEO}}{{_PATH_DASHBOARD}}assets/css/dist/dashboard.css?{{_VS}} " />
    <link rel="stylesheet" rel="preload" async as="styles" type="text/css"
        href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/login.css?{{_VS}} " />
    <link rel="stylesheet" rel="preload" async as="styles" type="text/css"
        href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/nav.css?{{_VS}}" />

    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/lists.css?{{_VS}}" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/form.css?{{_VS}}" />
    <link rel="stylesheet" type="text/css" href="{{_PATH_WEB_NUCLEO}}modules/users/assets/css/dist/users.css?{{_VS}}" />
    <link rel="stylesheet" href="{{_PATH_WEB_NUCLEO}}vendor/css/dataTables.bootstrap.css?{{_VS}}" type="text/css" />
    <link rel="stylesheet" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/table.css?{{_VS}}" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/calendar.css?{{_VS}}" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" rel="preload" async as="styles" type="text/css"
        href="{{_PATH_WEB_NUCLEO}}modules/assets/css/dist/modal.css?{{_VS}} " />

    <!-- Script  Externos -->
    <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script> -->

    <script src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery.min.js"></script>
    <script src="{{_PATH_WEB_NUCLEO}}vendor/js/axios.min.js"></script>
    <script src="{{_PATH_WEB_NUCLEO}}vendor/js/moment.min.js"></script>
    <script src="{{_PATH_WEB_NUCLEO}}vendor/js/svg-pan-zoom.js"></script>
    <script type="text/javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/fullcalendar.js"></script>

    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery-ui.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/chart.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    
    <!-- 
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/summernote.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery.easyeditor.js"></script> -->
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/trumbowyg/trumbowyg.js">
    </script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/trumbowyg/langs/es.js">
    </script>
    <script type="text/javascript" language="javascript"
        src="{{_PATH_WEB_NUCLEO}}vendor/js/trumbowyg/plugins/table/trumbowyg.table.js"></script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/md5.js"></script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/moment.js"></script>

    </script>
    <script type="text/javascript" language="javascript"
        src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{_PATH_WEB_NUCLEO}}vendor/js/jquery.dataTables.min.js">
    </script>

    {{_CONFIGS}}


    <!-- <meta name="google-signin-client_id" content="253305601559-5krrio9bt3bf0ungg0t159bd5aqoujon.apps.googleusercontent.com"> 
    <script src="https://apis.google.com/js/api:client.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{_KEY_GOOGLE}}&libraries=&v=weekly" defer></script>-->

    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "{{_KEY_GOOGLE}}",
          v: "weekly",
          // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
          // Add other bootstrap parameters as needed, using camel case.
        });
      </script>

    {{_SCRIPTS_CSS}}
    <script type="module" language="javascript"
        src="{{_PATH_WEB_NUCLEO}}modules/dashboard/components/dashboard.js?rs{{_VS}}"></script>
    <script>var exports = {};</script>
    
</head>

<body id="bodyRoot">
    <div id="root"></div>
</body>
<script type="module" language="javascript" src="{{_PATH_WEB_NUCLEO}}modules/components/lang.js?{{_VS}}"></script>


</html>