<div class="pub pubLogin">
    <div class="pubInner">
        <form class="form formLogin animated fadeIn">
            <div class="brand brandLogin">
                <img class="" src="{{_PATH_BRAND}}" />
            </div>
            <div class="formControl formTitle">
                <label class="title" lang="es">Ingresa con tu cuenta</label>
            </div>
            <div class="formGroup">
                <div class="
                        formControl
                        formIconAddon
                        formIconAddonLg
                        formEmail
                        zise-12
                    ">
                    <i class="icon icon-envelope"></i>
                    <input class="formInput formInputLg" id="inputEmail" name="inputEmail" placeholder="Email"
                        type="text"
                        onfocus="if (this.hasAttribute( 'readonly')) { this.removeAttribute( 'readonly'); this.blur(); this.focus(); } " />
                </div>
                <div class="
                        formControl
                        formIconAddon
                        formIconAddonLg
                        formPassword
                        zise-12
                    ">
                    <i class="icon icon-lock"></i>
                    <a class="btnBlockPw" state="0" for="inputPassword"><i class="icon icon-eye-close"></i></a>
                    <input type="password" class="formInput formInputLg" id="inputPassword" autocomplete="false"
                        name="inputPassword" placeholder="Password"
                        onfocus="if (this.hasAttribute( 'readonly')) { this.removeAttribute( 'readonly'); this.blur(); this.focus();} " />
                </div>
            </div>
            <div class="formControl" id="messageLogin"></div>
            <div class="formActions">
                <a class="btn btnLink btnSmall btnForgotPassword" lang="es">¿ Olvidaste tu contraseña ?</a>
                <a class="btn btnPrimary btnLg btnIconRight btnSignIn" id="btnSingIn"
                    iconbase="icon icon-arrow-line-right">
                    <i class="icon icon-arrow-line-right"></i>
                    <span lang="es">Ingresar</span>
                    
                </a>
            </div>
        </form>
    </div>
</div>