<nav>
    <div class="brand">
        <img
            src="{{_PATH_WEB}}{{_PATH_DASHBOARD_FAVICON}}"
            width="28"
            height="28"
        />
        <!-- <div class="boxSites">
            <a href=""><i class="icon icon-chevron-down"></i></a>
            <div class="inner"></div>
        </div> -->
    </div>
    <div class="innerNav">
        <div class="navTabs">
            <div class="tabsNavList"></div>
            <div class="boxTabsMobile">
                <div class="numTabMobile">1</div>
                <div class="boxTabMobil">
                    <div class="inner"></div>
                    <div class="actions">
                        <button class="btnCerrarTabMobil btn btnLink" lang="es">
                            Listo
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="menuNav">
            {{selectEntities}}
            <div class="innerMenuNav">
                <button class="search">
                    <i class="icon icon-search"></i>
                </button>
                <button class="task iconPoint">
                    <i class="icon icon-point"></i>
                    <i class="icon icon-unchecked"></i>
                </button>
            </div>
            <button class="notifications iconPoint">
                <i class="icon icon-point"></i>
                <i class="icon icon-bell"></i>
            </button>
            <button class="menu" state="0">
                <i class="icon icon-point-gril"></i>
            </button>
            <button class="profileNav btnProfileNav" state="0">
                {{_PROFILE}}
            </button>
        </div>
    </div>
    <div class="sidebar">
        <div class="innerMenu"></div>
        <div class="bg"></div>
    </div>
    <div class="profileMenu">
        <div class="block perfil">
            <div class="boxImg">
                <div class="img">{{_PROFILE}}</div>
            </div>
            <div class="text">
                <div class="name">
                    <span>{{_PERFIL_NAME}} </span
                    ><button class="btn btnIcon">
                        <i class="icon icon-pencil"></i>
                    </button>
                </div>
                <div class="email">{{_PERFIL_EMAIL}}</div>
            </div>
        </div>
        <div class="block blockRol">
            <label for="">Rol</label>
            <span lang="es">{{_PERFIL_ROL}}</span>
        </div>
        <div class="block blockMenu">
            <button class="btn btnLink">
                <span lang="es">Mi cuenta</span>
            </button>
            <button class="btn btnLink">
                <span lang="es">Ver equipo y grupos</span>
            </button>
            <button class="btn btnLink">
                <span lang="es">Configuraciones</span>
            </button>
        </div>
        <div class="block blockOut">
            <button class="btn btnIcon btnCloseSession">
                <i class="icon icon-off"></i
                ><span lang="es">Cerrar Sessión</span>
            </button>
        </div>
    </div>
</nav>
