@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

.btnMesa {

    .text,
    .data {
        pointer-events: none;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.7;

        &[level="1"] {
            .mesa {
                stroke: #a87ab3;
            }
        }
    }

    &[state="0"] { //libre
        .mesa {
            fill: #7092fc;
        }

        .text,
        .data {
            fill: #fff;
        }
    }

    &[state="1"] {
        .mesa {
            fill: #fce667;
        }

        .text,
        .data {
            fill: #4a0d08;
        }
    }

    &[state="2"] {
        .mesa {
            fill: #f71010;
        }

        .text,
        .data {
            fill: #fff;
        }
    }

    &[state="3"] {
        .mesa {
            fill: #400ce8;
        }

        .text,
        .data {
            fill: #fff;
        }
    }

    &[level="1"] {
        .mesa {
            stroke: #ce06fb;

            &:hover {
                stroke: #9007af;
                stroke-width: 3px;
            }

        }
    }

    &[level="2"] {
        .mesa {
            stroke: #4592fb;
        }
    }
}

.contentTicketsEventUnit {
    position: relative;
    .widthAvailable();

    .btnCloseContentTickets {
        position: absolute;
        right: -10px;
        top: -7px;
        z-index: 2;
        background: var(--color-white);

        border-radius: 50%;
        padding: 0px;

        .icon {
            color: var(--color-danger) !important;
        }

        &:hover {
            border-radius: 50%;
            background: var(--color-danger) !important;

            .icon {
                color: var(--color-white) !important;

            }
        }
    }

    .inner {
        background: var(--color-white);
        border-radius: var(--border-radius-form);
        border: 1px solid var(--color-line);

        .head {
            .title {
                display: flex;
                align-items: center;
                gap: 15px;

                label {
                    font-size: 16px;
                    border: 0;
                    padding: 0;
                    background: none;
                }

                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--color-text);
                }
            }
        }

        .tbody {
            padding: 7px !important;
            display: flex;
        }
    }
}