@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";


.tickets {
    width: 100%;
}

#modalConfigTickets{
    .contents{
        .content{
            .head{
                label{
                    font-size:18px;
                }
            }
        }
    }
}