<div class="header headerLine headerSmall">
    <div class="pull-left">
        <div class="head"><i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i><span>{{_NAME}}</span></div>
    </div>
    <ul class="pull-right">
        <button type="button" class="btn btnIcon" id="btnConfigPosts"><i class="icon icon-conf"></i></button>
        <!-- <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}"
            module="{{_MODULE}}" fn="{{_FN}}"><i class="icon icon-plus"></i><span>Nuevo Ganadero</span></a> -->
    </ul>
</div>
<div class="tbody">
    <div class="inbox form">
        <div class="header headerSmall">
            <label>Facturas</label>
            <label class="formControl">
                <select class="formInput" id="listFacturasAppTributoFilter">
                    <option value="0">Todos</option>
                    <option value="1">Manuales</option>
                    <option value="3">Con QR-Antigua</option>
                    <option value="4">Con QR</option>
                </select>
            </label>
        </div>
        <ul class="list" id="listFacturasAppTributo">
            <div class="loading"></div>
        </ul>
    </div>
    <div class="image" id="imageAppTributo">
        <div class="topImage"></div>
        <div id="image-container">
        </div>
        <div class="zoom-buttons">
            <button id="zoom-in"><i class="icon icon-circle-plus"></i></button>
            <button id="zoom-out"><i class="icon icon-circle-minus"></i></button>
            <button id="reset"><i class="icon icon-home"></i></button>
        </div>
    </div>
    <div class="formDef">
        <div class="formController">
            <form class="form disabled" id="formDefAppTributo">
                <label class="head">Tipo de Factura:</label>
                <div class="formControl">

                    <div class="formFlex">
                        <div class="option">
                            <input type="radio" name="opcionTypeFactura" class="btnRadio" value="manual" checked>
                            <label for="btnAddFactura">Manual</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="opcionTypeFactura" class="btnRadio" value="qr">
                            <label for="btnSaveFactura">QR</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="opcionTypeFactura" class="btnRadio" value="qr_a">
                            <label for="btnSaveFactura">QR_A</label>
                        </div>
                    </div>
                </div>

                <div class="formControl">
                    <label for="inputNitProveedor">NIT del proveedor:</label>
                    <input type="text" id="inputNitProveedor" name="inputNitProveedor" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputRazonSocialProveedor">Razón social del proveedor:</label>
                    <input type="text" id="inputRazonSocialProveedor" name="inputRazonSocialProveedor"
                        class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputCodigoAutorizacion">Código de autorización:</label>
                    <input type="text" id="inputCodigoAutorizacion" name="inputCodigoAutorizacion" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputNumeroFactura">Número de factura:</label>
                    <input type="text" id="inputNumeroFactura" name="inputNumeroFactura" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputNumeroDuiDim">Número DUI/DIM:</label>
                    <input type="text" id="inputNumeroDuiDim" name="inputNumeroDuiDim" class="formInput" value="0">
                </div>

                <div class="formControl">
                    <label for="inputFechaFacturaDuiDim">Fecha de factura/DUI/DIM:</label>
                    <input type="date" id="inputFechaFacturaDuiDim" name="inputFechaFacturaDuiDim" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputImporteTotalCompra">Importe total de la compra:</label>
                    <input type="text" id="inputImporteTotalCompra" name="inputImporteTotalCompra" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputImporteIce">Importe ICE:</label>
                    <input type="text" id="inputImporteIce" name="inputImporteIce" class="formInput" value="0">
                </div>

                <div class="formControl">
                    <label for="inputImporteIehd">Importe IEHD:</label>
                    <input type="text" id="inputImporteIehd" name="inputImporteIehd" class="formInput" value="0">
                </div>

                <div class="formControl">
                    <label for="inputImporteIpj">Importe IPJ:</label>
                    <input type="text" id="inputImporteIpj" name="inputImporteIpj" class="formInput" value="0">
                </div>

                <div class="formControl">
                    <label for="inputTasas">Tasas:</label>
                    <input type="text" id="inputTasas" name="inputTasas" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputOtroNoSujetoACreditoFiscal">Otro no sujeto a crédito fiscal:</label>
                    <input type="text" id="inputOtroNoSujetoACreditoFiscal" name="inputOtroNoSujetoACreditoFiscal"
                        class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputImportesExentos">Importes exentos:</label>
                    <input type="text" id="inputImportesExentos" name="inputImportesExentos" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputImporteComprasGravadasATasaCero">Importe de compras gravadas a tasa cero:</label>
                    <input type="text" id="inputImporteComprasGravadasATasaCero"
                        name="inputImporteComprasGravadasATasaCero" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputDescuentos">Descuentos:</label>
                    <input type="text" id="inputDescuentos" name="inputDescuentos" class="formInput">
                </div>

                <div class="formControl">
                    <label for="inputImporteGifCard">Importe de gift card:</label>
                    <input type="text" id="inputImporteGifCard" name="inputImporteGifCard" class="formInput">
                </div>

                <label class="head">Modalidad:</label>
                <div class="formControl">
                    <div class="formFlex">
                        <div class="option">
                            <input type="radio" name="opcionTypeFactura" class="btnRadio" value="mensual" checked>
                            <label for="btnAddFactura">Mensual</label>
                        </div>
                        <div class="option">
                            <input type="radio" name="opcionTypeFactura" class="btnRadio" value="trimestral">
                            <label for="btnSaveFactura">Trimestral</label>
                        </div>
                    </div>
                </div>

                <div class="formControl formflex formEnd formActions">
                    <select class="formInput" name="inputPeriodo" id="inputPeriodo">
                        <option value="1">Descartar</option>
                        <option value="2">No es una factura</option>
                        <option value="3">No legible</option>
                        <option value="4">Nit incorrecto</option>
                        <option value="5">Esta en documento ABCF...</option>
                    </select>
                    <a href="{{_PATHURL}}" class="btn btnPrimary btnSave">Siguiente</a>
                </div>
            </form>

        </div>
    </div>


</div>