@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";



.bodyModule[module="salesPointTickets"] {
    .head {
        .widthAvailable();
        padding: 7px 6px;
        border-bottom: 1px solid var(--color-line);
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            font-size: 14px;
            font-weight: 500;
        }

        select {
            padding: 5px 10px 5px 7px;
            text-align: left;
            border-radius: 5px;
            margin-left: 7px;
            border: 1px solid var(--color-line);
            background: var(--color-bg-gray);
        }
    }

    .tbody {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        gap: 0;

        .varSales {
            width: 350px;
            height: 100%;
            flex-direction: column;
            border-left: 1px solid var(--color-line);
            background: #f6f4f7;
            display: flex;



            >label {
                font-size: 16px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid var(--color-line);
                padding: 10px 15px;
                background: #ececed;
                justify-content: space-between;
            }

            .form {
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: space-between;
                display: none;

                &.on {
                    display: flex;
                }

                .formInput {
                    background-color: var(--color-white);
                    margin: 0;
                }

                .boxSearch {

                    #btnAddCustomerExpress {
                        position: absolute;
                        z-index: 1;
                        top: 3px;
                        right: 3px;
                        display: none;

                        &.on {
                            display: flex;

                        }


                        .icon {
                            color: var(--color-blue);
                        }

                    }


                }

                .refReserveTicketEvent {
                    display: none;

                    &.on {
                        display: flex;
                    }
                }

                #ticketReservationTitle {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-weight: 500;
                    padding-left: 5px;
                    padding-right: 5px;

                    .numTickets {
                        display: flex;
                        gap: 7px;
                        align-items: center;
                        font-size: 14px;

                        .num {
                            border-radius: 50px;
                            background: var(--color-success);
                            font-size: 13px;
                            color: var(--color-white);
                            min-width: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                        }

                    }
                }

                #ticketReservationForm {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    width: 99%;
                }

                .outputs {
                    background: transparent;
                    border-radius: var(--border-radius-form);
                    border: 1px solid transparent;
                    margin-top: 5px;
                    width: 99%;
                    height: 0px;
                    margin-left: 1px;


                    &.on {
                        background: var(--color-white);
                        border: 1px solid var(--color-line);
                        padding-bottom: 3px;
                        .heightAvailable();
                    }


                    .btn {
                        padding-left: 10px;
                        width: -webkit-fill-available;
                        border-radius: 0px;
                        border-bottom: 1px solid var(--color-line);

                        .icon {
                            font-size: 14px;
                        }

                        &:first-child {
                            border-top-left-radius: var(--border-radius-form);
                            border-top-right-radius: var(--border-radius-form);
                        }

                        &:last-child {
                            border-bottom: 0px;
                        }

                        &:hover {
                            background: var(--color-blue);
                            color: var(--color-white);
                        }
                    }
                }

                .boxCustomer {
                    position: absolute;
                    background: transparent;
                    top: 4px;
                    left: 5px;
                    width: calc(100% - 10px);
                    height: 26px;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        background: var(--color-bg-gray);
                        display: flex;
                        align-items: center;
                        padding-left: 0px;
                        padding-right: 15px;
                        border-radius: 3px;
                        gap: 15px;

                        label {
                            padding: 4px 10px;
                            font-size: 14px;
                            background: var(--color-bg-gray-hover);
                            color: var(--color-white);
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                        }
                    }
                }



                #boxAccionTotal {
                    display: flex;
                    gap: 15px;
                    flex-direction: column;

                    .boxTotalPay {
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        font-weight: bold;

                        #btnPayTicketsEvent {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            font-size: 18px;
                            gap: 7px;

                            //#totalPayTickets
                        }
                    }

                    .boxAccions {
                        display: flex;
                        gap: 15px;
                    }

                    #boxTipsPays {
                        display: flex;
                        gap: 15px;
                        align-items: flex-start;
                        /* justify-content: space-between; */
                        flex-direction: column;
                        /* padding-left: 10px; */
                        background-color: var(--color-white);
                        border: 1px solid var(--color-line-soft);
                        padding: 15px;
                        padding-bottom: 20px;
                        border-radius: 5px;

                        .tip {
                            display: flex;
                            align-items: center;
                            gap: 7px;

                            .tippay {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                width: 40%;

                                #inputCourtesyTipPay {
                                    display: none;

                                    &.on {
                                        display: flex;
                                    }
                                }
                            }

                            input[type="radio"] {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }


                .ticketEventTotal {
                    display: flex;
                    flex-direction: column;
                    padding: 15px;
                    background: var(--color-white);
                    border-radius: 5px;
                    border: 1px solid var(--color-line-soft);

                    .reservaIdTitle {
                        background: var(--color-bg-gray-hover);
                        color: var(--color-white);
                        padding: 7px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .numTickets {
                        display: flex;
                        padding: 5px 0px;
                        gap: 7px;
                    }

                    .data {
                        display: flex;
                        padding: 5px 0px;
                        gap: 7px;
                    }

                    .finance {
                        display: flex;
                        padding: 5px 0px;
                        gap: 7px;
                    }
                }

            }
        }
    }


}

.modalPayQR {
    .modalBody {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-bottom: 35px;
        }
    }

    .modalBodySuccessPay {
        .message {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 10px;
            margin-top: 10px;

            .icon {
                font-size: 42px;
                color: var(--color-success);
            }
        }
    }
}

.drawUI {
    width: 100%;
    height: -webkit-fill-available;

    .containerDraw {
        width: 100%;
        height: 100%;
        background-color: var(--color-white);

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

#windowSales {
    .modalInner {
        width: 90%;

        #boxtableSalesPointTickets {
            .widthAvailable();
        }
    }
}