@root: "../../../assets/css/";

@import (reference) "@{root}color.less";
@import (reference) "@{root}font.less";
@import (reference) "@{root}index.less";

.bodyModule[module="app_tributo_selection"] {

    .tbody {
        height: calc(100vh - 92px);
        display: flex;
        padding: 0;
        justify-content: space-between;
        gap: 0;


        .inbox {
            width: 180px;
            border-right: 1px solid var(--color-line);
            background-color: var(--color-bg-gray);

            label {
                margin-bottom: 5px;
            }

            .headerSmall {
                border-bottom: 1px solid var(--color-line);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 7px 7px;

            }

            .loading {
                top: 0;
                height: 40px;
            }

            .list {
                padding-top: 0;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .item {
                    padding-left: 15px;
                    padding-right: 15px;
                    text-align: left;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid var(--color-line);


                    button {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }

                    &:nth-child(even) {

                        //background-color: rgba(255, 255, 255, 0.5);
                    }

                    .date {
                        font-size: 11px;
                    }

                    &.active {
                        background-color: var(--color-blue-soft);
                    }
                }
            }
        }

        .image {
            .widthAvailable();
            border-right: 1px solid var(--color-line);
            position: relative;


            #image-container {
                .widthAvailable();
                .heightAvailable();
                overflow: hidden;
                position: relative;
                background-color: var(--color-close-modal);
                z-index: 1;
            }

            #image-container img {
                //width: 100%;
                height: 100%;
                transition: transform 0.25s ease;

            }

            .zoom-buttons {
                margin-top: 10px;
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 10;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
            }

            .zoom-buttons button {
                padding: 5px 5px 4px;
                border-radius: 20px;
                background-color: rgba(0, 0, 0, 24%);
                color: var(--color-white);

                .icon {
                    font-size: 20px;
                }
            }

            .topImage {
                display: flex;
                width: -webkit-fill-available;
                height: 40px;
                background: var(--color-btn-icon-input);
            }
        }

        .formDef {
            width: 50%;
            background-color: var(--color-white);
            overflow-y: auto;
            .heightAvailable();

            .formController {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .form {
            padding: 0;
        }
    }


}