@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

.bodyModule[module="futbol"] {
    .boxSections {
        display: flex;
        .widthAvailable();
        .heightAvailable();

        .col {

            &.col-leagues {
                width: 240px;
                background: var(--color-bg-ws);
                border-right: 1px solid var(--color-line-soft);
            }

            &.col-boxLeague {
                width: calc(100% - 240px);
                display: flex;
            }
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            background: var(--color-inner-form);
            border-bottom: 1px solid var(--color-line);
            .widthAvailable();
        }

        .form {
            padding-left: 10px;
            padding-right: 10px;
            .widthAvailable();
            background: var(--color-white);
            overflow-y: auto;
            height: 0;
            .transition();

            &.active {
                padding-top: 10px;
                .transition();
                height: auto !important;
            }
        }
    }

    .listLeagues {}

    .boxDivisions {
        display: flex;
        width: 250px;
        .heightAvailable();
        flex-direction: column;
        background-color: var(--color-white);

        .head {
            background: var(--color-bg-ws);
        }

        .listDivisions {
            .btnSelectSportItem {
                &:nth-child(odd) {
                    background-color: var(--color-bg-gray);
                }
            }
        }
    }

    .boxGameDates {
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--color-line-soft);
        width: inherit;
        .heightAvailable();
        background: var(--color-bg-ws);

        .box {
            border-top: 1px solid var(--color-line);
            height: 50%;
            
        }

        .formNewTeam {
            .widthAvailable();

            .formFlexSpaceBetween {
                align-items: flex-start;
                gap: 40px;

                .head {
                    background-color: transparent;
                    border: 0;
                }
            }
        }
    }

    .btnSelectSportItem {
        .widthAvailable();
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 10px;
        border-bottom: 1px solid var(--color-line);
        border-radius: 0px;

        span {
            text-align: left;
        }

        &:nth-child(odd) {
            background: var(--color-default);
        }

        &.gameItem{
            display: flex;
            padding: 0;
            flex-direction: column;
            padding: 0px 15px;

            .header{
                .widthAvailable();
                width: 100%;
                padding: 7px 15px;
            }
            .listGamesItems{
                .widthAvailable();
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .listTeams {
        padding: 15px;
        gap: 15px;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        height: calc(100% - 70px);
    }

    .btnTeamGo {
        width: 30%;
        background: var(--color-white) !important;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        justify-content: flex-start;

        .img {
            img {
                height: 40px;
            }
        }

        .info {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }

    .formNewGameDate{
        padding: 0 !important;
        border-bottom: 1px solid var(--color-line-soft);

        .formFlex{
            align-items: flex-start;
            gap: 0;
        }
        .formCol{
            &.formCol-1{
                .widthAvailable();
                padding: 10px 10px 0 10px;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                .formBottomBtns{
                    padding-bottom: 0px;
                }
            }
            /*  &.formCol-2{
                width: 70%;

                .head{
                    background: var(--color-sidebar-bg-mobile-menu);
                }
            }*/  
        }
    }
}