  <div class="col col20w colCampaigns">
      <div class="head">
          <div class="title">
              <i class="icon icon-list"></i>
              <span>
                  <h4>Campañas</h4>
              </span>
          </div>
          <div class="actions">
              <button class="btn btnPrimary  btnMini btnFormOn" for="{{_FORM_ID}}"><i
                      class="icon icon-plus"></i></button>
          </div>
      </div>
      <div class="form formColumn formOff" id="{{_FORM_ID}}">
          <div class="formControl">
              <label for="inputName" class="" lang="es">Nombre Campaña:</label>
              <input class="formInput formInputSm" id="inputName" name="inputName" value="" type="text" />
          </div>

          <div class="formControl">
              <label for="inputDetails" class="" lang="es">Descripción:</label>
              <textarea class="formInput" id="inputDescription" name="inputDescription" value="" type="text"></textarea>
          </div>

          <div class="formControl">
              <label for="inputTags" class="" lang="es">Tags:</label>
              <input class="formInput" id="inputTags" name="inputTags" value="" type="text" />
          </div>

          <div class="formControl">
              <label for="inputCode" class="" lang="es">Tipo Cliente:</label>
              <select class="formInput" name="inputTypeCustomer" id="inputTypeCustomer">
                  <option value="enterprise">Empresa</option>
                  <option value="person">Persona Natural</option>
              </select>
          </div>

          <div class="formControl">
              <label for="inputCode" class="" lang="es">Código Cliente:</label>
              <input class="formInput" id="inputCode" name="inputCode" value="" type="text" />
          </div>

          <div class="formControl">
              <label for="inputCode" class="" lang="es">Target desde-hasta(años):</label>
              <div class="formFlex">
                  <select class="formInput form30w" id="inputAgeInit" name="inputAgeInit">
                      <option value="14">14</option>
                      <option value="18">18</option>
                      <option value="24">24</option>
                      <option value="30">30</option>
                      <option value="36">36</option>
                      <option value="42">42</option>
                      <option value="48">48</option>
                  </select>
                  <span> - </span>
                  <select class="formInput form30w" id="inpuAgeEnd" name="inputAgeEnd">
                      <option value="18">18</option>
                      <option value="24">24</option>
                      <option value="30">30</option>
                      <option value="36">36</option>
                      <option value="42">42</option>
                      <option value="48">48</option>
                      <option value="+54" selected>+54</option>
                  </select>
              </div>
          </div>

          <div class="formControl">
              <label for="" class="" lang="es">Target genero:</label>
              <div class="formFlex">
                  <select class="formInput form40w" id="inputGender" name="inputGender">
                    <option value="all">Todos</option>
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                    <option value="custom" for="inputGenderCustom">Custom</option>
                  </select>
                  <input class="formInput form30w" id="inputGenderCustom" name="inputGenderCustom" value="" type="hidden"
                      placeholder="custom" />
              </div>

          </div>

          <div class="formControl">
              <label for=" ">Fecha de Inicio</label>
              <input class="formInput formInputSmall" name="inputDateInit" id="inputDateInit" type="datetime-local" autocomplete="new-password"
                  #password>
          </div>
          <div class="formControl">
              <label for=" ">Fecha de Fin</label>
              <input class="formInput formInputSmall" name="inputDateEnd" id="inputDateEnd" type="datetime-local" autocomplete="new-password"
                  #password>
          </div>


          <div class="formControl">
              <label for="inputJson" class="" lang="es">Json:</label>
              <textarea class="formInput" id="inputJson" name="inputJson" value="" type="text"></textarea>
          </div>

          <div class="formControl formBtns">
              <button class="btn btnLink btnMini btnFormCancel" for="{{_FORM_ID}}"><span>Cancelar</span></button>
              <button class="btn {{_BTN_CLS}} btnMini" id="{{_BTN_ID}}"><i class=""></i><span>{{_BTN_TITLE}}</span></button>

          </div>

      </div>
      <div class="body">
          {{_BODY}}
      </div>
  </div>
  <div class="col col20w">
      <div class="head">
          <div class="title">
              <i class="icon icon-copy"></i>
              <span>
                  <h4>Actions</h4>
              </span>
          </div>

          <div class="actions"></div>
          <button class="btn btnFull  btnMini btnFormOn" for="{{_FORM_ID}}"><span>Analitycs</span></button>
      </div>
  </div>
  </div>
  <div class="col col60w">
      {{_ACTION}}
  </div>