@import (reference) "../../../assets/css/color.less";
@import (reference) "../../../assets/css/font.less";
@import (reference) "../../../assets/css/index.less";

.bodyModule[module="competitions"] {
    display: flex;
    flex-direction: row;
}

#listCompetitions {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 2px;

    .btnList {
        width: -webkit-fill-available;
        padding: 5px 10px;
        border-bottom: 1px solid var(--color-line-soft);

        &.active {
            background: var(--color-default);
        }
    }
}


#listCompetitionsForm {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    gap: 0;

    .item {
        width: -webkit-fill-available;
        border-bottom: 1px solid var(--color-line-soft);
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        gap: 10px;

        &:hover,
        .active {
            background: var(--color-default);
        }

        .name {
            width: 50%;
        }

        .date {
            width: 50%;
            font-size: 11px;
        }
    }
}


.itemDataCompetition {

    &:hover,
    &.active {
        background: var(--color-default);
    }
}

.boxCompetitionsFormItem {
    .widthAvailable();
    display: flex;
    overflow-y: auto;
    .heightAvailable() !important;
    padding: 20px;
}