<div class="header">
    <div class="pull-left">
        <div class="head">
            <i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i>
            <span>{{_NAME}}</span>
        </div>
        <div class="boxAccions" item="0" parent="0" child="{{_CHILD}}">
            <a class="btn btnIcon  btnMini btnFull" id="nodesOrderCategorys" data-node="0"><i class="icon icon-sort"></i></a>
            <a class="btn btnAddNode btnFull btnMini" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}" module="{{_MODULE}}">
                <span lang="es">Nueva Categoria</span>
            </a>
            
        </div>
    </div>
    <div class="pull-right"></div>
</div>
<div class="tbody">

    <div id="rootCategorys"></div>
</div>