<div class="header">
    <div class="pull-left">
        <div class="head"><i class="icon icon-doc" style="background-color:{{_COLOR}}"></i><span>Contenidos</span></div>
    </div>
    <ul class="pull-right">
        <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}" module="{{_MODULE}}" fn="{{_FN}}"><i class="icon icon-plus"></i><span>Nuevo Contenido</span></a>
    </ul>
</div>
<div class="tbody">
    <!-- <form action="{{_PATH_WEB}}controllers/api/v1/inventory/fileXls.php" method="post" target="_blank" id="FormExport"><input type="hidden" id="dataSend" name="dataSend" /></form> -->
</div>