<form class="form" id="{{_FORM}}">
    <div class="formControl">
        <div class="head formControlHead">
            <label for="">
                <h3 lang="es"><span class="required">*</span> Elegir una Publicación:</h3>
            </label>
            <div class="others form60w">
                <input type="text" id="inputSearchInPubList" for="{{_FORM}}" class="formInput form55w"
                    placeholder="Buscar un tipo de publicación">
                <button class="btn btnLink btnCancelModalRender" type="button">Cancelar</button>
                <button class="btn btnPrimary btnNewPub" data-form="formNewPub">
                    <i class="icon icon-plus"></i>
                    <span lang="es">Nueva publicación</span>
                </button>

            </div>
        </div>

        <div class="formControl listPublications " for="{{_FORM}}">
            {{_LIST_PUBS}}
        </div>
    </div>

</form>