<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">

            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                {{_BTNS_TOP}}

                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <label for="">Datos Contenido</label>
                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Titulo</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <input class="formInput" id="inputTitle" name="inputTitle" type="text">
                                </div>

                                <div class="formControl">
                                    <label for="inputSummary" lang="es">Resumen</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputSummary" id="inputSummary" rows="5"></textarea>
                                </div>
                                <div class="formControl">
                                    <label for="inputTags" lang="es">Tags</label>
                                    <input class="formInput" name="inputTags" id="inputTags" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formGroup ">
                                <div class="formControl" id="contentBody" style="z-index:3">
                                    <label for="inputBody" lang="es">Contenido</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text" name="inputBody"
                                        id="inputBody" rows="15"></textarea>

                                </div>
                                <div class="formControl">
                                    <label for="inputName" lang="es">Autor</label>
                                    <input class="formInput" id="inputAuthor" name="inputAuthor" type="text">
                                </div>
                                <div class="formControl">
                                    <label for="inputTags" lang="es">Ruta Amigable:</label>
                                    <input class="formInput" name="inputPathurl" id="inputPathurl" type="text">
                                </div>
                                <div class="formControl">
                                    <label for="inputTags" lang="es">Url</label>
                                    <input class="formInput" name="inputUrl" id="inputUrl" type="text">
                                </div>
                                <div class="formGroup formControlLandscape">
                                    <div class="formControl form25w">
                                        <label for="inputName" lang="es">Destino Url:</label>
                                        <select class="formInput" name="inputTarget" id="inputTarget">
                                            <option value="_self">Sobre la página</option>
                                            <option value="_blank">Fuera de la página</option>>
                                        </select>
                                    </div>
                                    <div class="formControl form40w formControlIconSelect" for="inputIcon">
                                        <label for="" class="" lang="es">Icon del Botón:</label>
                                        <i class="iconSelect"></i>
                                        <a class="btnSelectIcon" for="inputIcon">
                                            <i class="icon icon-circle-plus"></i>
                                        </a>
                                        <input class="formInput" id="inputIcon" name="inputIcon" value="" type="text"
                                            autocomplete="none" />
                                    </div>
                                    <div class="formControl form30w">
                                        <label for="inputTags" lang="es">Titulo Botón</label>
                                        <input class="formInput" name="inputBtnTitle" id="inputBtnTitle" type="text">
                                    </div>

                                </div>
                                <div class="formControl">
                                    <label for="inputTags" lang="es">Clase:</label>
                                    <input class="formInput" name="inputClass" id="inputClass" type="text">
                                </div>
                                <div class="formControl formCheckbox">
                                    <div class="formCheckboxItem">
                                        <input class="formInput" type="checkbox" name="inputNotitle" id="inputNotitle"
                                            value="0">
                                        <label class="formCheckLabel" for="inputNotitle" lang="es">Sin título</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- Image -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label lang="es">Imagen General:</label>
                                <div class="box" for="inputImage">
                                    <a class="btn btnLink">Cargar desde Finder</a>
                                    <div class="actions" for="inputImage"></div>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formChargeImage" for="inputImageCharge">
                                    <div class="boxInputFile ui-state-disabled">
                                        <div class="boxInner">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivos</span>
                                            <span class="message">O arrastra [jpg,gif,svg,png] max.2MB</span>
                                        </div>
                                        <input type="hidden" value="" id="inputImage" for="inputImageCharge"
                                            name="inputImage">
                                        <input type="file" title="" class="inputFileBtn" multiple="" mode="simpleFile"
                                            folder="contents" validfiles="jpeg,jpg,png,svg" name="inputImageCharge"
                                            id="inputImageCharge" input-id="{{_ITEM}}" system="{{_SYSTEM}}"
                                            module="{{_MODULE}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Multimedia -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label for="">Multimedia:</label>
                                <div class="actions" for="inputFilesMedia"></div>
                            </div>
                            <div class="formGroup">
                                <div class="formChargeMedia" for="inputFilesMedia" item="{{_ITEM}}">
                                    <div class="boxInputFile ui-state-disabled">
                                        <div class="boxInner">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivos</span>
                                            <span class="message">O arrastra archivos [jpg,gif,svg,png] max.2MB</span>
                                        </div>
                                        <input type="file" title="" class="inputFileBtn" multiple="multiple"
                                            mode="multipleFiles" folder="contents" validfiles="jpeg,jpg,gif,png,svg"
                                            name="inputFilesMedia" id="inputFilesMedia" system="{{_SYSTEM}}"
                                            input-id="{{_ITEM}}" module="{{_MODULE}}" />
                                        <div class="boxInputs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <div class="formControl" id="contentJson" style="z-index:3">
                                <label for="inputBody" lang="es">Json</label>
                                <textarea class="formInput " type="text" name="inputJson" id="inputJson"
                                    rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>

                        <div class="formGroupFrame ">
                            <label for=" ">Publicación</label>
                            <div class="formControl formCheckbox">
                                {{_PUBLICATIONS}}
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>