<form class="form" id="{{_FORM}}">
    <div class="formControlLandscape">
        <div class="formControl form70w">
            <label for="" class="" lang="es"><span class="required">*</span> Nombre:</label>
            <input class="formInput" id="inputName" name="inputName" value="" type="text" />
        </div>

        <div class="formControl form30w">
            <label for=" ">Estado</label>
            <select class="formInput" name="inputState" id="inputState">
                <option value="0">No Activo</option>
                <option value="1" selected>Activo</option>
            </select>
        </div>
    </div>

    <div class="formControl">
        <label for="" class="" lang="es">Descripción:</label>
        <textarea class="formInput" id="inputDescription" name="inputDescription" value="" type="text"
            rows="3"></textarea>
    </div>

    <div class="formControl">
        <label for="">Publicación Origen:</label>
        <div id="fieldPubSelected">
        </div>
    </div>

    <label class="titleSeparator">
        <h3>Datos Personalizados: </h3>
    </label>

    <div class="formControl">
        <label for="" class="" lang="es">Titulo:</label>
        <input class="formInput" id="inputTitle" name="inputTitle" value="" type="text" />
        <input type="hidden" name="inputId" id="inputId" value="">
    </div>

    <div class="formFlex">
        <div class="formControl">
            <div class="formControlHead">
                <label for="" class="" lang="es">Atributo Id:</label>
                <div class="actions">
                    <a class="btn btnIcon btnFull btnMini" id="btnAddAttr" type="button">
                        <i class="icon icon-plus"></i>
                        <span>Agregar Relación</span>
                    </a>
                </div>
            </div>

            <input class="formInput" id="inputAttrId" name="inputAttrId" value="" type="text" />
        </div>

        <div class="formControl formControlMedium" style="margin-top: 20px;">
            <label for="" class="" lang="es">Contador:</label>
            <input class="formInput" id="inputCount" name="inputCount" value="" type="text" />
        </div>
    </div>

    <div class="formControl">
        <label for="" class="" lang="es">Clase:</label>
        <input class="formInput" id="inputCls" name="inputCls" value="" type="text" />
    </div>
    
    <div class="formControl formControlActionBottomWindow">
        <label for="" class="" lang="es">Atributos (string,text,Json,url,date):</label>
        <textarea class="formInput" id="inputAttr" name="inputAttr" value="" type="text" rows="8"></textarea>
    </div>

        <div class="formControl formControlActionBottomWindow">
        <label for="" class="" lang="es">Html:</label>
        <textarea class="formInput" id="inputHtml" name="inputHtml" value="" type="text" rows="18"></textarea>
    </div>
    

    <div class="formControl formControlActionBottomWindow">
        <label for="" class="" lang="es">Archivo de datos (Json):</label>
        <textarea class="formInput" id="inputJson" name="inputJson" value="" type="text" rows="8"></textarea>
    </div>

    <label class="titleSeparator">
        <h3>Avanzado: </h3>
    </label>
    <div class="formControl">
        <label for=" ">Tipo:</label>
        <input type="text" class="formInput" name="inputType" id="inputType" value="">
    </div>
    <div class="formControl">
        <label for=" ">Path:</label>
        <input type="text" class="formInput" name="inputPath" id="inputPath" value="">
    </div>
    <div class="formControl">
        <label for=" ">PathUI:</label>
        <input type="text" class="formInput" name="inputPathUI" id="inputPathUI" value="">
    </div>
    <!-- <div class="formControl">
        <label for=" ">PathTpl:</label>
        <input type="text" class="formInput" name="inputPathTpl" id="inputPathTpl" value=""><br>
    </div> -->


</form>
<div class="actionsBottomWindow">
    <div class="actions actionsLeft">
        <div id="messagePub"></div>
    </div>
    <div class="actions actionsRight">
        <button class="btn btnLink btnCancelModalRender" type="button">Cancelar</button>
        <button class="btn btnPrimary {{_BTN_ACTION_CLS}}" {{_BTN_ACTION_ATTR}} data-form="{{_FORM}}" type="button"
            lang="es">{{_BTN_ACTION_LABEL}}</button>
    </div>

</div>
