<div class="docsForm boxInnerForm">

    <form class="form" id="{{_FORM_ID}}" data-module="{{_MODULE}}">
        <div class="head">{{_TITLE}}</div>

        <div class="formControl">
            <label for="inputFile">Archivo:</label>
            <input class="formInput" type="hidden" id="inputId" name="inputId" />
            <div class="formUpFile" id="boxInputDoc">
                <div class="formPreview" id="previewDoc"></div>
                <div class="inner" for="inputTypeFile">
                    <i class="icon icon-upfile"></i>
                    <span class="btn btnFull">Agrega Archivo</span>
                    <span class="message">arrastra un archivo<br>[pdf,doc,docx,xls,xlsx,ppt,pptx] max.10MB</span>
                </div>
                <input type="hidden" name="inputDoc" id="inputDoc" value="{{_ITEM}}" />
                <input type="file" title="" class="inputUpFile" multiple="multiple" mode="single" data-folder="docs"
                    data-validfiles="pdf,doc,docx,xls,xlsx,ppt,pptx" data-return="previewDoc" name="inputTypeFile"
                    id="inputTypeFile" data-name="inputDoc" data-system="{{_SYSTEM}}" data-id="{{_ITEM}}"
                    data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
            </div>
        </div>
        <div class="formControl formInputCalendar">
            <label for=" ">Fecha de Publicación</label>
            <i class="icon icon-calendar"></i>
            <input class="formInput" name="inputDate" id="inputDate" type="text" autocomplete="new-password" #password>
        </div>
        <div class="formControl">
            <label for="inputTitle">Título:</label>
            <input class="formInput" type="text" id="inputTitle" name="inputTitle" />
        </div>
        <div class="formControl">
            <label for="inputDescription">Descripción</label>
            <textarea class="formInput" id="inputDescription" name="inputDescription"></textarea>
        </div>
        <div class="formControl">
            <label for="inputTags">Tags:</label>
            <input class="formInput" type="text" id="inputTags" name="inputTags" />
        </div>
        <div class="formGroup">
            <div class="head">
                <label lang="es">Imagen Personalizada:</label>
                <div class="box" for="inputImage">
                    <a class="btn btnLink">Cargar desde Finder</a>
                    <div class="actions" for="inputImage"></div>
                </div>
            </div>
            <div class="formGroup ">
                <div class="formUpFile" id="boxInputImage">
                    <div class="formPreview" id="previewImg"></div>
                    <div class="inner" for="inputTypeImgFile">
                        <i class="icon icon-upfile"></i>
                        <span class="btn btnFull">Agrega Archivo</span>
                        <span class="message">O arrastra [jpg,jpge,avif,webp] max.1MB</span>
                    </div>
                    <input type="hidden" name="inputImage" id="inputImage" />
                    <input type="file" title="" class="inputUpFile" multiple="single" mode="single" data-folder="docs"
                        data-validfiles="jpeg,jpg,avif,webp" data-return="previewImg" name="inputTypeImgFile"
                        id="inputTypeImgFile" data-name="inputImage" data-system="{{_SYSTEM}}" data-id="{{_ITEM}}"
                        data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                </div>
            </div>
        </div>
        <div class="formControl formTree">
            <label for=" ">Categoria</label>
            <div class="formGroup scrollBar">
                {{_CATEGORYS}}
            </div>
        </div>
        <div class="formBottomBtns">
            <a class="btn btnCancel">Cancelar</a>
            <a class="btn btnPrimary" data-form="{{_FORM_ID}}" id="{{_BTN_ACTION}}">{{_BTN_LABEL}}</a>
        </div>
    </form>
</div>
<div class="bgInnerForm" for="{{_FORM_ID}}"></div>