 <div class="head">
     <div class="title">
         <h3>Editar Publicación</h3>
     </div>
     <div class="actions">
         <a class="btn  btnCancelModalRender btnIcon" id="btnCancelPubEdit" type="button"><i
                 class="icon icon-close"></i></a>
     </div>
 </div>
 <div class="tbody">
     <div class="tabs" for="panelEdit">
         <a class="tab active" item="panelUI" lang="es">Panel UI</a>
         <a class="tab" item="editPublication" lang="es">Editar Publicación</a>
     </div>
     <div class="tabsContents" id="panelEdit">
         <div class="tabContent active " item="panelUI">
             {{_PANEL_UI}}
         </div>
         <div class="tabContent " item="editPublication">
             {{_EDIT_PUBLICATION}}
         </div>
     </div>
 </div>