<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">

            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" data-item="{{_ITEM}}" data-form="{{_FORM_ID}}">
                    <i class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <label for="">Datos Contenido</label>
                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Titulo:</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <textarea class="formInput formInputPathurl" id="inputTitle" name="inputTitle" type="text"></textarea>
                                </div>
                                <div class="formControl">
                                    <label for="inputSummary" lang="es">Descripción:</label>
                                    <textarea class="formInput" type="text"
                                        name="inputDescription" id="inputDescription" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="formGroupFrame">
                            <div class="formGroup ">
                                <div class="formControl" id="contentBody" style="z-index:3">
                                    <label for="inputBody" lang="es"><span class="required">*</span>Contenido:</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text" name="inputBody"
                                        id="inputBody" rows="25"></textarea>

                                </div>
                            </div>
                        </div> -->
                        
                        <!-- Multimedia -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label for="">Multimedia:</label>
                                <div class="actions" for="inputFilesMedia"></div>
                            </div>
                            <div class="formGroup">
                                <div class="formChargeMedia" for="inputFilesMedia" item="{{_ITEM}}">
                                    <div class="boxInputFile ui-state-disabled">
                                        <div class="boxInner">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivos</span>
                                            <span class="message">O arrastra archivos [jpg,gif,svg,png] max.2MB</span>
                                        </div>
                                        <input type="file" title="" class="inputFileBtn" multiple="multiple"
                                            mode="multipleFiles" folder="sliders" validfiles="jpeg,jpg,gif,png,svg,mp4,avif"
                                            name="inputFilesMedia" id="inputFilesMedia" system="{{_SYSTEM}}"
                                            input-id="{{_ITEM}}" module="{{_MODULE}}" />
                                        <div class="boxInputs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         
                        
                        <div class="formGroupFrame">
                            <div class="head">
                                <label for="">Avanzado:</label>
                                <!-- <div class="actions" for="inputFilesMedia"></div> -->
                            </div>
                            <div class="formControl">
                                <label for="inputTags" lang="es">Clase:</label>
                                <input class="formInput" name="inputClass" id="inputClass" type="text">
                            </div>
                            <div class="formControl" id="contentJson" style="z-index:3">
                                <label for="inputBody" lang="es">Json</label>
                                <textarea class="formInput " type="text" name="inputJson" id="inputJson"
                                    rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                            <div class="formControl formInputCalendar">
                                <label for=" ">Fecha de Publicación</label>
                                <i class="icon icon-calendar"></i>
                                <input class="formInput" name="inputDate" id="inputDate" type="text" autocomplete="new-password" #password>
                            </div>
                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>

                        <!-- <div class="formGroupFrame ">
                            <label for=" ">Publicación</label>
                            <div class="formControl formCheckbox">
                                {{_PUBLICATIONS}}
                            </div>
                        </div> -->
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>