<form class="form" id="{{_FORM_ID}}">
    <div class="formControl">
        <label for="inputName" lang="es"><span class="required">*</span>Nombre Completo:</label>
        <input class="formInput formInputPathurl" name="inputAuthorName" id="inputAuthorName" type="text">
        <input class="formInput" id="inputAuthorId" name="inputAuthorId" type="hidden">
    </div>
    <div class="formControl">
        <label for="inputAuthorName" lang="es">Usuario/Path:</label>
        <textarea class="formInput formInputPathurl"  rows="1" for="inputAuthorName"  name="inputAuthorPathurl" id="inputAuthorPathurl" value="" type="text"></textarea>
        <div class="message" id="messagePath"></div>
    </div>
    <div class="formControl">
        <label for="inputSummary" lang="es"><span class="required">*</span>Descripción:</label>
        <textarea class="formInput" type="text" name="inputAuthorSummary" id="inputAuthorSummary" rows="5"></textarea>
    </div>
    <div class="formControl">
        <label for="inputSummary" lang="es">Datos de Contácto:</label>
        <textarea class="formInput" type="text" name="inputAuthorContact" id="inputAuthorContact" rows="5"></textarea>
    </div>
    
    <div class="formGroup">
        <div class="head">
            <label lang="es">Imagen Personalizada:</label>
            <div class="box" for="inputImageAuthor">
                <a class="btn btnLink">Cargar desde Finder</a>
                <div class="actions" for="inputImageAuthor"></div>
            </div>
        </div>
        <div class="formGroup ">
            <div class="formUpFile" >
                <div class="formPreview" id="previewImgAuthor"></div>
                <div class="inner" for="inputTypeImgFileAuthor">
                    <i class="icon icon-upfile"></i>
                    <span class="btn btnFull">Agrega Archivo</span>
                    <span class="message">O arrastra [jpg,jpge,avif,webp] max.1MB</span>
                </div>
                <input type="hidden" name="inputImageAuthor" id="inputImageAuthor" />
                <input type="file" title="" class="inputUpFile" multiple="single"
                    mode="single" data-folder="authors" data-validfiles="jpeg,jpg,avif,webp,png" data-return="previewImgAuthor"
                    name="inputTypeImgFileAuthor" id="inputTypeImgFileAuthor" data-name="inputImageAuthor"  data-system="{{_SYSTEM}}"
                    data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
            </div>
        </div>
    </div>

    <div class="formControl formActions normal">
        <a class="btn btnLink btnCancelModal" for="modalFormPostAuthor"><span>Cancelar</span></a>
        <a class="btn btnPrimary"  id="{{_BTN_ACTION}}" data-type="express" data-launch="boxLauncherPillAuthor" data-form="{{_FORM_ID}}" >
            <i class=""></i>
            <span>{{_BTN_LABEL}}</span>
        </a>
    </div>
</form>