<form class="form" id="{{_FORM}}" item="{{_ITEM}}">
    <label for="" class="title">Datos Relacionados</label>
    <div class="formControl">
        <label for="" class="" lang="es">Titulo:</label>
        <input class="formInput" id="inputTitle" name="inputTitle" value="" type="text" />
        <input type="hidden" name="inputIdContent" id="inputIdContent" value="{{_ITEM_CONTENT}}">
        <input type="hidden" name="inputIdMedia" id="inputIdMedia" value="{{_ITEM_MEDIA}}">
    </div>
    <div class="formControl">
        <label for="" class="" lang="es">Descripción:</label>
        <textarea class="formInput formInputEditor editorNote" id="inputSummary" name="inputSummary" value=""
            type="text" rows="10"></textarea>

    </div>
    <div class="formControl">
        <label for="" class="" lang="es">Url:</label>
        <input class="formInput" id="inputUrl" name="inputUrl" value="" type="text" />
    </div>
    <div class="formControl">
        <label for="" class="" lang="es">Titulo Botón:</label>
        <input class="formInput" id="inputBtnTitle" name="inputBtnTitle" value="" type="text" />
    </div>
    <div class="formGroup formControlLandscape">
        <div class="formControl">
            <label for="" class="" lang="es">target:</label>
            <select class="formInput" id="inputTarget">
                <option value="_self">_self</option>
                <option value="_blank">_blank</option>
            </select>
        </div>
        <div class="formControl formControlIconSelect" for="inputIcon">
            <label for="" class="" lang="es">icon:</label>
            <i class="iconSelect"></i>
            <a class="btnSelectIcon" for="inputIcon"><i class="icon icon-circle-plus"></i></a>
            <input class="formInput" id="inputIcon" name="inputIcon" value="" type="text" autocomplete="none" />
        </div>
    </div>

    <div class="formControl formActions">
        <button class="btn btnLink btnCancelModalRender" type="button">Cancelar</button>
        <button class="btn btnPrimary {{_BTN_UPDATE}}" form="{{_FORM}}" type="button" lang="es">Actualizar</button>

    </div>
</form>