<form class="form" id="{{_FORM}}">
    <div class="formGroup  formGroupTwoColumns">
        <!--formControl form70w-->
        <div class="formControl form60w formPubsOrigin">
            <div class="head">
                <label for="">
                    <h3><span class="required">*</span> Elegir el tipo de Publicación Original:</h3>
                </label>
                <div class="others form30w">
                    <input type="text" id="inputSearchInPubList" for="{{_FORM}}" class="formInput"
                        placeholder="Buscar un tipo de publicación">
                </div>
            </div>

            <div class="formControl listPublications " for="{{_FORM}}">
                {{_LIST_PUBS}}
            </div>
        </div>
        <!--formControl form30w-->
        <div class="formControl form40w formNewPubOrigin">
            <div class="data">
                <label for="">
                    <h3>Datos de Publicación</h3>
                </label>

                <div class="formControl">
                    <label for="" class="" lang="es"><span class="required">*</span> Nombre:</label>
                    <input class="formInput" id="inputName" name="inputName" value="" type="text" />
                </div>

                <div class="formControl">
                    <label for="" class="" lang="es">Titulo:</label>
                    <input class="formInput" id="inputTitle" name="inputTitle" value="" type="text" />
                    <input type="hidden" name="inputId" id="inputId" value="">
                    <!-- <input type="hidden" name="inputType" id="inputType" value="">
                <input type="hidden" name="inputPath" id="inputPath" value="">
                <input type="hidden" name="inputPathUI" id="inputPathUI" value="">
                <input type="hidden" name="inputPathTpl" id="inputPathTpl" value="">
                <input type="hidden" name="inputPathIcon" id="inputPathIcon" value=""> -->
                </div>

                <div class="formControl">
                    <label for="" class="" lang="es">Descripción:</label>
                    <textarea class="formInput" id="inputDescription" name="inputDescription" value="" type="text"
                        rows="3"></textarea>
                </div>

                <!-- <div class="formControl">
                <label for="" class="" lang="es">Atributo Id:</label>
                <input class="formInput" id="inputAttrId" name="inputAttrId" value="" type="text" />
            </div> -->

                <div class="formFlex">
                    <div class="formControl">
                        <label for="" class="" lang="es">Atributo Id:</label>
                        <input class="formInput" id="inputAttrId" name="inputAttrId" value="" type="text" />
                    </div>
                    <div class="formControl formControlMedium">
                        <label for="" class="" lang="es">Contador:</label>
                        <input class="formInput" id="inputCount" name="inputCount" value="" type="text" />
                    </div>
                </div>

                <div class="formControl">
                    <label for="" class="" lang="es">Atributos:</label>
                    <input class="formInput" id="inputAttr" name="inputAttr" value="" type="text" />
                </div>

                <div class="formControl">
                    <label for="" class="" lang="es">Clase:</label>
                    <input class="formInput" id="inputCls" name="inputCls" value="" type="text" />
                </div>

                <div class="formControl">
                    <label for="" class="" lang="es">Html:</label>
                    <textarea class="formInput" id="inputHtml" name="inputHtml" value="" type="text"
                        rows="8"></textarea>
                </div>

                <div class="formControl">
                    <label for=" ">Estado</label>
                    <select class="formInput" name="inputState" id="inputState">
                        <option value="0">No Activo</option>
                        <option value="1" selected>Activo</option>
                    </select>
                </div>

                <div class="formControl">
                    <label for="">
                        <h3>Avanzado</h3>
                    </label><br>
                    <div class="formFlex formFlexColumn">
                        <div class="group">
                            <label for="">Tipo:</label>
                            <input class="formInput" type="text" name="inputType" id="inputType" value="">
                        </div>
                        <div class="group">
                            <label for="">Path:</label>
                            <input class="formInput" type="text" name="inputPath" id="inputPath" value="">
                        </div>
                        <div class="group">
                            <label for="">Path Icon:</label>
                            <input class="formInput" type="text" name="inputPathIcon" id="inputPathIcon" value="">
                        </div>
                        <div class="group">
                            <label for="">Path UI:</label>
                            <input class="formInput" type="text" name="inputPathUI" id="inputPathUI" value="">
                        </div>
                    </div>
                </div>

                <div class="formControl">
                    <div id="messagePub"></div>
                </div>


                <div class="formControl formActions">
                    <button class="btn btnLink btnCancelModalRender" for="{{_FORM_MODAL}}"
                        type="button">Cancelar</button>
                    <button class="btn btnPrimary {{_BTN_ACTION_CLS}}" {{_BTN_ACTION_ATTR}} form="{{_FORM}}"
                        data-form-select="{{_FORM_SELECT}}" type="button" lang="es">{{_BTN_ACTION_LABEL}}</button>
                </div>
            </div>
        </div>
</form>