<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">

            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                {{_BTNS_TOP}}

                <!-- <a class="btn btnPrimary {{_BTN_ACTION_1}}" id="{{_BTN_ACTION_1}}" data-item="{{_ITEM}}" data-form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION_1}}</span></a> -->
                <a class="btn btnSuccess {{_BTN_ACTION_2}}" id="{{_BTN_ACTION_2}}" data-item="{{_ITEM}}" data-form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION_2}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <label for=""><span class="required">*</span>Titulo:</label>
                            <div class="formGroup ">
                                <div class="formControl">
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <textarea class="formInput formInputPathurl" id="inputTitle" name="inputTitle" type="text"></textarea>
                                </div>
                                <div class="formControl">
                                    <label for="inputName" lang="es">Ruta Amigable:</label>
                                    <textarea class="formInput formInputPathurl" for="inputTitle"  name="inputPathurl" id="inputPathurl" value="" type="text"></textarea>
                                    <div class="message" id="messagePath"></div>
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="inputSummary" lang="es">Resumen:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text"
                                    name="inputSummary" id="inputSummary" rows="5"></textarea>
                            </div>
                            <div class="formControl">
                                <label for="inputTags" lang="es">Tags:</label>
                                <input class="formInput" name="inputTags" id="inputTags" type="text">
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formGroup ">
                                <div class="formControl" id="contentBody" style="z-index:3">
                                    <label for="inputBody" lang="es"><span class="required">*</span>Contenido:</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text" name="inputBody"
                                        id="inputBody" rows="45"></textarea>

                                </div>
                                <div class="formControl" style="z-index: 2;">
                                    <label for="inputName" lang="es">Autor</label>
                                    <div class="formBoxPills" id="boxLauncherPillAuthor"></div>
                                        <div class="formFlex">
                                        <div class="form30w formControlSearch">
                                            <i class="icon icon-search iconSearch"></i>
                                            <input class="formInput"  id="inputAuthorSearch" name="inputAuthorSearch" type="text">
                                            <input class="formInput"  id="inputAuthor" name="inputAuthor" type="hidden">
                                            <i class="icon icon-circle-close iconClear btnClearInputForm" for="inputAuthorSearch"></i>
                                            <div class="boxResults" for="inputAuthorSearch" launcher="boxLauncherPillAuthor">
                                                <div class="boxResultsInner"></div>
                                            </div>
                                        </div>
                                        <button class="btn btnIcon btnFull" type="button" id="btnNewAuthorPosts" for="boxLauncherPillAuthor"><i class="icon icon-user-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Multimedia -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label for="">Multimedia:</label>
                                <div class="actions" for="inputFilesMedia"></div>
                            </div>
                            <div class="formGroup">
                                <div class="formChargeMedia" for="inputFilesMedia" item="{{_ITEM}}">
                                    <div class="boxInputFile ui-state-disabled">
                                        <div class="boxInner">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivos</span>
                                            <span class="message">O arrastra archivos [jpg,gif,svg,png] max.2MB</span>
                                        </div>
                                        <input type="file" title="" class="inputFileBtn" multiple="multiple"
                                            mode="multipleFiles" folder="posts" validfiles="jpeg,jpg,gif,png,svg,mp4,avif"
                                            name="inputFilesMedia" id="inputFilesMedia" system="{{_SYSTEM}}"
                                            input-id="{{_ITEM}}" module="{{_MODULE}}" />
                                        <div class="boxInputs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="head">
                                <label for="">Intermedio:</label>
                                <!-- <div class="actions" for="inputFilesMedia"></div> -->
                            </div>
                            <div class="formControl">
                                <label for="inputTags" lang="es">Posts Relacionados:</label>
                                <div class="formInput"  id="inputClass"></div>
                            </div>
                            <div class="head">
                                <label for="">Lea también:</label>
                                <!-- <div class="actions" for="inputFilesMedia"></div> -->
                            </div>
                            <div class="formControl">
                                <label for="inputTags" lang="es">Posts Relacionados:</label>
                                <input class="formInput" name="inputClass" id="inputClass" type="text">
                            </div>
                            <div class="head">
                                <label for="">Avanzado:</label>
                                <!-- <div class="actions" for="inputFilesMedia"></div> -->
                            </div>
                            <div class="formControl">
                                <label for="inputTags" lang="es">Clase:</label>
                                <input class="formInput" name="inputClass" id="inputClass" type="text">
                            </div>
                            <div class="formControl" id="contentJson" style="z-index:3">
                                <label for="inputBody" lang="es">Json</label>
                                <textarea class="formInput " type="text" name="inputJson" id="inputJson"
                                    rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                            <div class="formControl formInputCalendar">
                                <label for=" ">Fecha de Publicación</label>
                                <i class="icon icon-calendar"></i>
                                <input class="formInput" name="inputDate" id="inputDate" type="text" autocomplete="new-password" #password>
                            </div>
                        </div>

                        <!-- Image -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label lang="es">Imagen:</label>
                                <div class="actions" for="inputImage">
                                    <a class="btn btnLink btnMini">Finder</a>
                                </div>
                            </div>
                            <div class="formGroup ">
                                <div class="formUpFile" >
                                    <div class="formPreview" id="previewImg"></div>
                                    <div class="inner" for="inputTypeImgFile">
                                        <i class="icon icon-upfile"></i>
                                        <span class="btn btnFull">Agrega Archivo</span>
                                        <span class="message">O arrastra [jpg,jpge,avif,webp] max.1MB</span>
                                    </div>
                                    <input type="hidden" name="inputImage" id="inputImage" />
                                    <input type="file" title="" class="inputUpFile" multiple="single"
                                        mode="single" data-folder="posts" data-validfiles="jpeg,jpg,avif,webp" data-return="previewImg"
                                        name="inputTypeImgFile" id="inputTypeImgFile" data-name="inputImage"  data-system="{{_SYSTEM}}"
                                        data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                                </div>
                            </div>
                            <div class="formControl">
                                        <label for="inputImgRef" lang="es">Refencia de Imagen</label>
                                        <input class="formInput" name="inputImgRef" id="inputImgRef" type="text">
                                    </div>
                        </div>

                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Video</label>
                                
                                <div class="formUpFile" >
                                    <div class="formPreview" id="previewVideo"></div>
                                    <div class="inner" for="inputTypeFile">
                                        <i class="icon icon-upfile"></i>
                                        <span class="btn btnFull">Agrega Archivo</span>
                                        <span class="message">arrastra un archivo[mp4] max.10MB</span>
                                    </div>
                                    <input type="hidden" name="inputVideo" id="inputVideo" />
                                    <input type="file" title="" class="inputUpFile" multiple="multiple"
                                        mode="single" data-folder="videos" data-validfiles="mp4" data-return="previewVideo"
                                        name="inputTypeFile" id="inputTypeFile" data-name="inputVideo"  data-system="{{_SYSTEM}}"
                                        data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                                </div>
                                <div class="settings">
                                    <input type="hidden" name="inputPreviewVideo" id="inputPreviewVideo" value="0">
                                    <input type="hidden" name="inputInternVideo" id="inputInternVideo" value="0">

                                    <!-- <a class="btn btnSwitch" data-form="{{_FORM_ID}}" data-for="inputPreviewVideo"  data-desactive="inputInternVideo" value="0"> -->
                                    <a class="btn btnSwitch" data-form="{{_FORM_ID}}" data-for="inputPreviewVideo"  value="0">
                                        <span class="switch"><i class="icon icon-point"></i></span>
                                        <label>Activar directo en vista previa</label>
                                    </a>
                                     <a class="btn btnSwitch" data-form="{{_FORM_ID}}" data-for="inputInternVideo"  value="0">
                                        <span class="switch"><i class="icon icon-point"></i></span>
                                        <label>Vista en post extendido</label>
                                    </a>
                                </div>
                            </div>
                            </div>
                            <div class="formControl formGroupFrame">
                                <label class="head no-margin">
                                    <span>Embed</span>
                                    <a class="btn btnIcon btnGroupCollapse active" for="embedCollapse"><i class="icon icon-chevron-down"></i></a>
                                </label>
                                <div class="formCollapse active" for="embedCollapse">
                                    <div  id="previewEmbed"></div>
                                    <textarea class="formInput" placeholder="Añade el Embed de Youtube" type="text"
                                            name="inputEmbed" data-active="inputPreviewEmbed" id="inputEmbed" rows="10"></textarea>
                                    <div class="settings">
                                        <input type="hidden" name="inputPreviewEmbed" id="inputPreviewEmbed" value="0">
                                        <input type="hidden" name="inputInternEmbed" id="inputInternEmbed" value="0">

                                        <a class="btn btnSwitch" data-form="{{_FORM_ID}}" data-for="inputPreviewEmbed"  data-desactive="inputInternEmbed" value="0">
                                            <span class="switch"><i class="icon icon-point"></i></span>
                                            <label>Activar directo en vista previa</label>
                                        </a>
                                        <a class="btn btnSwitch" data-form="{{_FORM_ID}}" data-for="inputInternEmbed" data-desactive="inputPreviewEmbed" value="0">
                                            <span class="switch"><i class="icon icon-point"></i></span>
                                            <label>Vista en post extendido</label>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            

                            
                        </div>

                        

                        <!-- <div class="formGroupFrame ">
                            <label for=" ">Publicación</label>
                            <div class="formControl formCheckbox">
                                {{_PUBLICATIONS}}
                            </div>
                        </div> -->
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>