<div class="formModal ui-widget-content" id="modalFormCategory">
    <div for="" class="title">
        <label for="">
            <i class="icon icon-gril-compac"></i>
            <span>{{_LABEL}}</span>
        </label>
        <a class="btn btnCloseModal" for="modalFormCategory"><i class="icon-close"></i></a>
    </div>
    <form class="form" id="{{_FORM_ID}}">
        <div class="formControl">
            <label for="" class="" lang="es"><span class="required">*</span>Nombre:</label>
            <input class="formInput formInputPathurl" id="inputNameNode" name="inputNameNode"
                autocomplete="new-password" value="" type="text" />
            <input type="hidden" class="formInput" id="inputId" value="">
            <input type="hidden" class="formInput" id="inputOrder" value="">
        </div>
        <div class="formControl">
            <label for="" class="" lang="es"><span class="required">*</span>Path:</label>
            <input class="formInput formInputPathurl" for="inputNameNode" id="inputPath" name="inputPath" value=""
                type="text" />
            <div class="message" id="messagePath"></div>
        </div>
        <div class="formControl formSelectItems">
            <div for="" class="head" lang="es">
                <div><span class="required">*</span>
                    Ruta Amigable:</div>
                <div>
                    <a class="btn btnMini btnInputContent" for="inputPathurl"><i class="icon icon-plus"></i> Agregar
                        Nodo</a>
                </div>
            </div>
            <div class="formInputSelect">
                <!-- <div class="boxInputContent" for="inputPathurl"></div> -->
                <input type="text" class="formInput boxInputPathUrl" value="" id="inputPathurl" for="inputPathurl">
                <input type="text" class="formInput formPathurl disabled" data-for="inputNameNode" for="inputPath" id=""
                    value="" />
                <div class="message messagePathurl" for="inputPathurl"></div>
            </div>
            <div class="boxSelectList" for="inputPathurl">
                <div class="search">
                    <i class="icon icon-search"></i>
                    <input type="text" id="" class="formInput inputSearch" for="inputPathurl">
                </div>
                <div class="list" for="inputPathurl">
                    {{_LIST_RELATED_PATHURL}}
                </div>
            </div>
        </div>

        <div class="formControl">
            <label for="inputSummary" lang="es">Description</label>
            <textarea class="formInput" type="text" name="inputDescription" id="inputDescription" rows="3"></textarea>
        </div>

        <div class="formControl">
            <label for="" lang="es">Padre:</label>
            <select class="formInput" name="inputParent" id="inputParent">
                {{_PARENTS}}
            </select>
        </div>

        <div class="formControl formSelectItems">
            <label for="" class="" lang="es">Categorias Relacionadas</label>
            <div class="boxInput">
                <i class="icon icon-doc"></i>
                <input id="inputRelated" name="input" value="" type="hidden">
                <div class="formInput boxInputContent" for="inputRelated">
                    {{_RELATED}}
                </div>
            </div>
            <div class="boxSelectList" for="inputRelated">
                <div class="search">
                    <i class="icon icon-search"></i>
                    <input type="text" id="" class="formInput inputSearch" for="inputRelated">
                </div>
                <div class="list" for="inputRelated">
                    {{_LIST_RELATED}}
                </div>
            </div>
        </div>

        <div class="formControl formControlIconSelect" for="inputIcon">
            <label for="" class="" lang="es">icon:</label>
            <i class="iconSelect"></i>
            <a class="btnSelectIcon" for="inputIcon"><i class="icon icon-circle-plus"></i></a>
            <input class="formInput" id="inputIcon" name="inputIcon" value="" type="text" autocomplete="none" />
        </div>
        <div class="formControl">
            <label for="" class="" lang="es">Color:</label>
            <input class="formInput" id="inputColor" name="inputColor" autocomplete="new-password" value=""
                type="text" />
        </div>

        <!-- Image -->
        <div class="formGroup">
            <div class="head">
                <label lang="es">Imagen:</label>
                <div class="box" for="inputImage">
                    <a class="btn btnLink">Cargar desde Finder</a>
                    <div class="actions" for="inputImage"></div>
                </div>
            </div>
            <!-- <div class="formGroup">
                <div class="formChargeImage" for="inputImageCharge">
                    <div class="boxInputFile ui-state-disabled">
                        <div class="boxInner">
                            <i class="icon icon-upfile"></i>
                            <span class="btn btnFull">Agrega Archivos</span>
                            <span class="message">O archivo
                                [jpg,jpge,png,gif,svg] max.2MB</span>
                        </div>
                        <input type="hidden" value="" id="inputImage" for="inputImageCharge" name="inputImage">
                        <input type="file" title="" class="inputFileBtn" multiple="" mode="simpleFile" folder="categorys"
                            validfiles="jpeg,jpg,png,svg" name="inputImageCharge" id="inputImageCharge"
                            input-id="{{_ITEM}}" system="{{_SYSTEM}}" module="{{_MODULE}}" />
                    </div>
                </div>
            </div> -->

            <div class="formGroup ">
                <div class="formUpFile" >
                    <div class="formPreview" id="previewImg"></div>
                    <div class="inner" for="inputTypeImgFile">
                        <i class="icon icon-upfile"></i>
                        <span class="btn btnFull">Agrega Archivo</span>
                        <span class="message">O arrastra [jpg,jpge,avif,webp] max.1MB</span>
                    </div>
                    <input type="hidden" name="inputImage" id="inputImage" />
                    <input type="file" title="" class="inputUpFile" multiple="single"
                        mode="single" data-folder="categorys" data-validfiles="jpeg,jpg,avif,webp" data-return="previewImg"
                        name="inputTypeImgFile" id="inputTypeImgFile" data-name="inputImage"  data-system="{{_SYSTEM}}"
                        data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                </div>
            </div>
        </div>
        <div class="formGroup">
            <div class="head">Banner:</label>
                <div class="box" for="inputImage">
                    <a class="btn btnLink">Cargar desde Finder</a>
                    <div class="actions" for="inputBanner"></div>
                </div>
            </div>
            <div class="formGroup">
                <div class="formChargeImage" for="inputBannerCharge">
                    <div class="boxInputFile ui-state-disabled">
                        <div class="boxInner">
                            <i class="icon icon-upfile"></i>
                            <span class="btn btnFull">Agrega Archivos</span>
                            <span class="message">O archivo
                                [jpg,jpge,png,gif,svg] max.2MB</span>
                        </div>
                        <input type="hidden" value="" id="inputBanner" for="inputBannerCharge" name="inputBanner">
                        <input type="file" title="" class="inputFileBtn" multiple="" mode="simpleFile" folder="categorys"
                            validfiles="jpeg,jpg,png,svg" name="inputBannerCharge" id="inputBannerCharge"
                            input-id="{{_ITEM}}" system="{{_SYSTEM}}" module="{{_MODULE}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="formControl">
            <label for=" ">Estado</label>
            <select class="formInput" name="inputState" id="inputState">
                <option value="0">No Activo</option>
                <option value="1" selected>Activo</option>
            </select>
        </div>

        <label for="" class="titleSeparator" lang="es">Avanzado</label>

        <div class="formControl">
            <label for="inputSummary" lang="es">Json</label>
            <textarea class="formInput" type="text" name="inputJson" id="inputJson" rows="10"></textarea>
        </div>

        <div class="formControl">
            <label for="" class="" lang="es">Config Path:</label>
            <input class="formInput" id="inputConfigPath" name="inputConfigPath" autocomplete="new-password" value=""
                type="text" />
        </div>


        <div class="formControl">
            <label for="" class="" lang="es">Clase:</label>
            <input class="formInput" id="inputCls" name="inputCls" autocomplete="new-password" value="" type="text" />
        </div>
    </form>
    <div class="btnsActions">
        <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
        <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}" form="{{_FORM_ID}}">
            <i class=""></i>
            <span>{{_BTN_NAME_ACTION}}</span>
        </a>
    </div>
</div>