<div class="header">
    <div class="pull-left">
        <div class="head"><i class="icon icon-link" style="background-color:{{_COLOR}}"></i><span>Links</span></div>
    </div>
    <ul class="pull-right">
        <a class="btn btnPrimary btnSmall btnIconLef btnActionFn" data-pathurl="{{_PATHURL}}" data-system="{{_SYSTEM}}" data-module="{{_MODULE}}" data-fn="{{_FN}}"><i class="icon icon-plus"></i><span>Nuevo Enlace</span></a>
    </ul>
</div>
<div class="tbody">
    <!-- <form action="{{_PATH_WEB}}controllers/api/v1/inventory/fileXls.php" method="post" target="_blank" id="FormExport"><input type="hidden" id="dataSend" name="dataSend" /></form> -->
</div>