<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">

            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                {{_BTNS_TOP}}

                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" data-item="{{_ITEM}}" data-form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <div class="formGroup ">

                                <div class="formControl">
                                    <label for="inputName" lang="es"><span class="required">*</span>Titulo</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <input class="formInput" id="inputTitle" name="inputTitle" type="text">
                                </div>

                                <div class="formControl">
                                    <label lang="es">Descripción</label>
                                    <textarea class="formInput formInputEditor editorNote" type="text"
                                        name="inputDescription" id="inputDescription" rows="2"></textarea>
                                </div>
                                <div class="formControl">
                                    <label for="inputTags" lang="es">Tags</label>
                                    <input class="formInput" name="inputTags" id="inputTags" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formGroup ">
                                <div class="formControl">
                                    <label for="inputTags" lang="es"><span class="required">*</span>Url</label>
                                    <input class="formInput" name="inputUrl" id="inputUrl" type="text">
                                </div>
                                <div class="formGroup formControlLandscape">
                                    <div class="formControl form35w">
                                        <label for="inputName" lang="es">Destino Url:</label>
                                        <select class="formInput" name="inputTarget" id="inputTarget">
                                            <option value="_self">Sobre la página</option>
                                            <option value="_blank">Fuera de la página</option>>
                                        </select>
                                    </div>
                                    <div class="formControl form40w formControlIconSelect" for="inputIcon">
                                        <label for="" class="" lang="es">Icon del Botón:</label>
                                        <i class="iconSelect"></i>
                                        <a class="btnSelectIcon" for="inputIcon">
                                            <i class="icon icon-circle-plus"></i>
                                        </a>
                                        <input class="formInput" id="inputIcon" name="inputIcon" value="" type="text"
                                            autocomplete="none" />
                                    </div>
                                </div>
                                <div class="formControl">
                                    <label   lang="es">Alt:</label>
                                    <input class="formInput" name="inputAlt" id="inputAlt" type="text">
                                </div>
                                <div class="formGroup formControlLandscape">
                                    <div class="formControl form50w">
                                        <label   lang="es">Clase:</label>
                                        <input class="formInput" name="inputClass" id="inputClass" type="text">
                                    </div>
                                    <div class="formControl form50w">
                                        <label  lang="es">Attr:</label>
                                        <input class="formInput" name="inputAttr" id="inputAttr" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Image -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label lang="es">Imagen General:</label>
                                <div class="box" for="inputImage">
                                    <a class="btn btnLink">Cargar desde Finder</a>
                                    <div class="actions" for="inputImage"></div>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formChargeImage" for="inputImageCharge">
                                    <div class="boxInputFile ui-state-disabled">
                                        <div class="boxInner">
                                            <i class="icon icon-upfile"></i>
                                            <span class="btn btnFull">Agrega Archivos</span>
                                            <span class="message">O arrastra [jpg,gif,svg,png] max.2MB</span>
                                        </div>
                                        <input type="hidden" value="" id="inputImage" for="inputImageCharge"
                                            name="inputImage">
                                        <input type="file" title="" class="inputFileBtn" multiple="" mode="simpleFile"
                                            folder="links" validfiles="jpeg,jpg,png,svg" name="inputImageCharge"
                                            id="inputImageCharge" input-id="{{_ITEM}}" system="{{_SYSTEM}}"
                                            module="{{_MODULE}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Image -->
                        <div class="formGroupFrame">
                            <div class="formControl" id="contentJson" style="z-index:3">
                                <label for="inputBody" lang="es">Json</label>
                                <textarea class="formInput " type="text" name="inputJson" id="inputJson"
                                    rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="formGroupFrame formTree">
                            <label for=" ">Categoria</label>
                            <div class="formGroup scrollBar">
                                {{_CATEGORYS}}
                            </div>
                        </div>

                        <div class="formGroupFrame ">
                            <label for=" ">Publicación</label>
                            <div class="formControl formCheckbox">
                                {{_PUBLICATIONS}}
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>