<div class="modalSidebar">
    <label class="title"><i class="icon icon-conf"></i><span>Configuración Website</span></label>
    <ul class="inner">
        <li>
            <a class="btn btnSidebarModal active" content='sites'>
                <i class="icon icon-blocks"></i>
                <span>Sites</span>
            </a>
        </li>
        <li>
            <a class="btn btnSidebarModal" content="worksheets">
                <i class="icon icon-worksheets"></i>
                <span>Hojas de Trabajo</span>
            </a>
        </li>
        <li>
            <a class="btn btnSidebarModal" content="blocks">
                <i class="icon icon-blocks-web"></i>
                <span>Bloques</span>
            </a>
        </li>
        <li>
            <a class="btn btnSidebarModal" content="publications">
                <i class="icon icon-webpart"></i>
                <span>Publicaciones</span>
            </a>
        </li>

    </ul>
</div>
<div class="modalbody" >

</div>