<div class="header">
    <div class="pull-left">
        <div class="head"><i class="{{_ICON}}" style="background-color:{{_COLOR}}"></i><span>{{_NAME}}</span></div>
    </div>
    <ul class="pull-right">
        <button type="button" class="btn btnIcon" id="btnConfigPosts"><i class="icon icon-conf"></i></button>
        <a class="btn btnPrimary btnSmall btnIconLeft" 
            pathurl="{{_PATHURL}}" 
            system="{{_SYSTEM}}"
            module="{{_MODULE}}" 
            id="{{_BTN_ID}}">
            <i class="icon icon-plus"></i>
            <span>{{_BTN_NAME}}</span>
        </a>
    </ul>
</div>
<div class="tbody"></div>