<div class="inner">
    <div class="headInnerForm headFullWhite">
        <div class="inner">
            <div class="box boxLeft">
                <div class="title">
                    <!-- <a class="btnBack"><i class="icon icon-arrow-line-left"></i></a> -->
                    <i class="icon icon-blocks-web"></i>
                    <h3>{{_TITLE}}</h3>
                </div>
                <div class="actions">
                    <label for="">Hoja de Trabajo:</label>
                    <select class="select" name="inputWorksheet" data-name="{{_TITLE}}" data-module="{{_MODULE}}"
                        data-cat="{{_CAT_ID}}" id="inputWorksheet">
                        {{_OPTIONS_WORKSHEET}}
                    </select>
                    <div class="formControl">
                        <select class="select" name="inputPattener" id="inputPattener" data-cat="{{_ITEM}}"
                            data-ws="{{_WS_ID}}">
                            {{_OPTIONS_PATTERNS}}
                        </select>
                    </div>
                    <div class="boxBtnSlit">
                        <a class="btn btnFull btnSmall btnLoadPattern">Cargar Patron</a>
                        <a class="btn btnFull btnSmall btnSlit" for="menuPatron"><i
                                class="icon icon-arrow-o-down"></i></a>
                        <div class="slitMenu slitMenuDown" id="menuPatron">
                            <ul>
                                <li><a class="btn btnlink btnSmall btnDeletePattern">Eliminar Patrón</a></li>
                                <li><a class="btn btnlink btnSmall btnNewPattern">Guargar Nuevo Patrón</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" data-cat="{{_ITEM}}"
                    data-form="{{_FORM_ID}}" data-ws="{{_WS_ID}}">
                    <i class=""></i>
                    <span>{{_BTN_NAME_ACTION}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class=" tbody">
        <div class="inner" id="spaceWorksheet"  >

        </div>
    </div>
</div>