<div class="inner">
	<div class="headInnerForm container">
		<div class="inner">
			<a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
				<i class="icon icon-arrow-line-left"></i>
			</a>
			<div class="box boxLeft">
				<h3>{{_TITLE}}</h3>
			</div>
			<div class="box boxRight">
				<a class="btn btnLink btnCancel"><span>Cancelar</span></a>
				<a
					class="btn {{_CLS_BTN_ACTION}}"
					id="{{_BTN_ACTION}}"
					item="{{_ITEM}}"
					form="{{_FORM_ID}}"
					><i class=""></i><span>{{_BTN_NAME_ACTION}}</span></a
				>
			</div>
		</div>
	</div>
	<div class="tbody container">
		<div class="inner">
			<form class="form" id="{{_FORM_ID}}">
				<div class="formGroup formGroupTwoColumns">
					<div class="formControl form70w">
						<!--Datos Maestros-->
						<div class="formGroupFrame">
							<div class="formControl">
								<label for="" lang="es">
									<span class="required">*</span>
									<span>Nombre del Evento:</span>
								</label>
								<input
									class="formInput"
									id="inputName"
									name="inputName"
									value=""
									type="text"
								/>
								<input
									id="inputId"
									name="inputId"
									value=""
									type="hidden"
								/>
							</div>
							<div class="formControl">
								<label for="inputDescription" lang="es"
									>Descripción del Evento</label
								>
								<textarea
									class="formInput"
									id="inputDescription"
									name="inputDescription"
									value=""
									type="text"
								></textarea>
							</div>
							<div class="formControlLandscape">
								<div
									class="
										formControl
										form40w
										formInputCalendar
									"
								>
									<label for="" lang="es">
											<span class="required">*</span>
											<span>Fecha de Inicio:</span>
									</label>
									<i class="icon icon-calendar"></i>
									<input
										class="formInput"
										name="inputInitDate"
										id="inputInitDate"
										maxlength="16"
										type="text"
									/>
								</div>
								<div
									class="
										formControl
										form40w
										formInputCalendar
									"
								>
									<label for="" lang="es">
										<span class="required">*</span>
										<span>Fecha de Fin:</span>
									</label>
									<i class="icon icon-calendar"></i>
									<input
										class="formInput"
										name="inputEndDate"
										id="inputEndDate"
										maxlength="16"
										type="text"
									/>
								</div>
							</div>
						</div>
						<!--Fin datos Maestros-->
					</div>
					<div class="formControl form30w">
						<div class="formGroupFrame">
							<div class="formControl">
								<label for=" ">Estado:</label>
								<select
									class="formInput"
									name="inputStatus"
									id="inputStatus"
								>
									<option value="0">No Activo</option>
									<option value="1">Activo</option>
								</select>
							</div>
							<div class="formControl">
								<label for="" lang="es">
									<span class="required">*</span>
									<span>Salas:</span>
								</label>
								<div class="group listHalls"></div>
							</div>
						</div>
						<div class="formGroupFrame">
							<div class="formControl">
								<label for="" lang="es">
									<span class="required">*</span>
									<span>Nro. de Butacas habilitadas</span>
								</label>
								<input
									class="formInput disabled"
									name="inputNroSeats"
									id="inputNroSeats"
									type="text"
								/>
							</div>
							<div class="formControl formControlSelectPrice">
								<label for="" lang="es">
									<span class="required">*</span>
									<span>Costo por Butaca:</span>
								</label>
								<select name="inputCoin" id="inputCoin" class="selectPrice">
									<option value="Bs">Bs.</option>
									<option value="$us">$us.</option>
								</select>
								<input
									class="formInput"
									name="inputCostSeat"
									id="inputCostSeat"
									autocomplete="nope"
									value="0,00"
									type="text"
								/>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
