<button
    type="button"
    class="btnActionModal btnIconLeft btn active"
    content="configTickets"
    module="{{_MODULE}}"
    fn="config"
>
    <i class="icon icon-list"></i><span>Ajustes</span>
</button>

<button
    type="button"
    class="btnActionModal btnIconLeft btn"
    content="configHalls"
    module="{{_MODULE}}"
    fn="hallsIndex"
    vars=""
>
    <i class="icon icon-pointer"></i><span>Salas</span>
</button>
