<div class="header">
    <div class="pull-left">
        <div class="head"><i class="icon icon-calendar"></i><span>Eventos</span></div>
    </div>
    <ul class="pull-right">
        <!--<li><a class="btnSubModule" module="tasks"><span>Panel General de Tareas</span></a></li>
        <li><a class="btnSubModule" module="reports"><span>Reportes</span></a></li>-->
        <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" id="addNewEvent" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}" module="{{_MODULE}}" fn="{{_FN}}">
            <i class="icon icon-plus"></i>
            <span>Nuevo Evento</span>
        </a>
    </ul>
</div>
<div class="tbody"></div>