<div class="header">
    <div class="pull-left">
        <div class="head"><i class="icon icon-user"></i><span>Aconsejados</span></div>
    </div>
    <ul class="pull-right">
        <!--<li><a class="btnSubModule" module="tasks"><span>Panel General de Tareas</span></a></li>
        <li><a class="btnSubModule" module="reports"><span>Reportes</span></a></li>-->
        <a class="btnAddForm btn btnPrimary btnSmall btnIconLeft" id="addNewAdvised" pathurl="{{_PATHURL}}" system="{{_SYSTEM}}" module="{{_MODULE}}" fn="{{_FN}}">
            <i class="icon icon-plus"></i>
            <span>Nuevo Aconsejado</span>
        </a>
    </ul>
</div>
<div class="tbody"></div>