<div class="calendarAdvised">
    <!-- <div class="header headerLine headerSmall">
        <div class="pull-left">
            <div class="head">
                <i class="icon icon-calendar"></i><span>Agenda Consejería {{_DATA_TITLE}}</span>
            </div>
        </div>
        <ul class="pull-right">
            <div class="actions">
                <button class="btnConfig" module="{{_MODULE}}" system="{{_SYSTEM}}"><i
                        class="icon icon-conf"></i></button>
            </div>
        </ul>
    </div> -->
    <div class="tbody">
        <div class="sidebarCalendar" num="{{_NUM}}">
            <label for="">Consejeros</label>
            <ul class="list">
                {{_LIST_COUNSELORS}}
            </ul>
        </div>
        <div class="bodyCalendar" num="{{_NUM}}">{{_CALENDARS}}</div>
    </div>
</div>