<div class="head">
    <div class="title">
        <i class="icon icon-list"></i><span>
            <h3> </h3>
        </span>
    </div>
</div>
<div class="tbody">
    <form class="form  on" id="{{_BODY}}">
        <label>
            <h2 lang="es" class="">Agregar Cuenta:</h2>
        </label>
        <div class="formControl">
            <label for="">Codigo:</label>
            <input type="text" class="formInput" name="inputCode"
                id="inputCode">
        </div>
        <div class="formControl">
            <label for="">Nombre de la Cuenta:</label>
            <input type="text" class="formInput" name="inputName"
                id="inputName">
        </div>
        <div class="formControl">
            <label for="">Descripción:</label>
            <textarea type="text" class="formInput" name="inputDescription"
                id="inputDescription"></textarea>
        </div>
        <div class="formControl">
            <label for="">Padre:</label>
            <input type="text" class="formInput disabled" name="inputParent"
                id="inputParent">
        </div>

        <div class="formControl formActions">
            <button class="btn btnLink"><span>Cancelar</span></button>
            <button class="btn btnPrimary"><span>Agregar</span></button>
        </div>

    </form>

</div>