<div class="header">
    <div class="pull-left">
        <div class="head">
            <!-- <i class="icon icon-dashboard"></i> -->
            <span class="name">Hola, {{_NAME_USER}}</span>

        </div>
    </div>
    <ul class="pull-right">
        <!--<li><a class="btnSubModule" module="tasks"><span>Panel General de Tareas</span></a></li>
        <li><a class="btnSubModule" module="reports"><span>Reportes</span></a></li>-->
        <span class="dateDisplay"></span>
        <a class="btn btnIcon" id="btnSettingsCounseling">
            <i class="icon icon-settings"></i>
        </a>
    </ul>
</div>
<div class="tbody dashboard" id="{{_MODULE}}Dashboard">

</div>