<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                <i class="icon icon-arrow-line-left"></i>
            </a>
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}" id="{{_BTN_ACTION}}" item="{{_ITEM}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_ID_FORM}}">
                <div class="boxCountries" state="0">
                    <input class="inputSearchCountry" autocomplete="off" type="text" placeholder="Buscar País" />
                    <div class="listCountries" for=""></div>
                </div>
                <div class="formGroup formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <label for="">Datos Generales</label>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl">
                                        <label for="inputName" lang="es"><span
                                                class="required">*</span>Nombres(s)</label>
                                        <input class="formInput" id="inputName" name="inputName" value="" type="text" />
                                        <input id="inputId" name="inputId" value="" type="hidden" />
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl">
                                        <label for="inputName" lang="es"><span class="required">*</span>Apellido
                                            Paterno</label>
                                        <input class="formInput" id="inputFathersLastname" name="inputFathersLastname"
                                            value="" type="text" />
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl">
                                        <label for="inputName" lang="es">Apellido Materno</label>
                                        <input class="formInput" id="inputMothersLastname" name="inputMothersLastname"
                                            value="" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl form40w">
                                        <label for="inputTags" lang="es ">Genero</label>
                                        <select class="formInput" name="inputGender" id="inputGender">
                                            <option value="0">
                                                Seleccionar
                                            </option>
                                            <option value="female">
                                                Mujer
                                            </option>
                                            <option value="male">Hombre</option>
                                        </select>
                                    </div>
                                    <div class="
                                            formControl
                                            form60w
                                            formInputCI
                                            formSelect
                                        ">
                                        <label for="inputCI" lang="es"><span class="required">*</span>Carnet de
                                            Identidad</label>
                                        <input class="formInput" id="inputCI" type="text" value="" />
                                        <select name="" id="inputExt">
                                            <option value="SC" selected>
                                                SC
                                            </option>
                                            <option value="LP">LP</option>
                                            <option value="CB">CB</option>
                                            <option value="CH">CH</option>
                                            <option value="OR">OR</option>
                                            <option value="PT">PT</option>
                                            <option value="TJ">TJ</option>
                                            <option value="BE">BE</option>
                                            <option value="PD">PD</option>
                                            <option value="EXT">EXT</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formControl">
                                    <label for="inputName" lang="es">Email</label>
                                    <input class="formInput" id="inputEmail" name="inputEmail" value="" type="text" />
                                </div>

                                <div class="formControl">
                                    <label for="inputName" lang="es">Dirección</label>
                                    <input class="formInput" id="inputAddress" name="inputAddress" value=""
                                        type="text" />
                                </div>

                                <div class="formControlLandscape">
                                    <div class="
                                            formControl
                                            form33w
                                            formInputCalendar
                                        ">
                                        <label for="inputBirthday" lang="es"><span class="required">*</span>Fecha de
                                            Nacimiento</label>
                                        <i class="icon icon-calendar"></i>
                                        <input type="text" class="formInput" name="inputBirthday" id="inputBirthday"
                                            autocomplete="new-password" #password />
                                    </div>
                                    <div class="formControl form60w">
                                        <label for="inputName" lang="es">País de Nacimiento</label>
                                        <div class="formInput formSelectCountry" for="inputNationality">
                                            <div class="countrySelect">
                                                <div class="country">
                                                    <div class="cp">
                                                        <img src="{{_PATH_WEB_NUCLEO}}vendor/svg/flags/bo.svg" />
                                                        <span>Bolivia, Estado
                                                            Plurinacional de
                                                            Bolivia</span>
                                                    </div>
                                                </div>
                                                <a class="btnSelectCountry" form="{{_ID_FORM}}"
                                                    for="inputNationality"><i class="
                                                            icon
                                                            icon-chevron-down
                                                        "></i></a>
                                            </div>
                                            <input name="inputNationality" id="inputNationality" autocomplete="no"
                                                type="hidden" value="BO" />
                                        </div>
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl form60w">
                                        <label for="inputName" lang="es">País de Recidencia</label>
                                        <div class="formInput formSelectCountry" for="inputCountryResidence">
                                            <div class="countrySelect">
                                                <div class="country">
                                                    <div class="cp">
                                                        <img src="{{_PATH_WEB_NUCLEO}}vendor/svg/flags/bo.svg" />
                                                        <span>Bolivia, Estado
                                                            Plurinacional de
                                                            Bolivia</span>
                                                    </div>
                                                </div>
                                                <a class="btnSelectCountry" form="{{_ID_FORM}}"
                                                    for="inputCountryResidence"><i class="
                                                            icon
                                                            icon-chevron-down
                                                        "></i></a>
                                            </div>
                                            <input name="inputCountryResidence" id="inputCountryResidence"
                                                autocomplete="off" type="hidden" value="BO" />
                                        </div>
                                    </div>
                                    <div class="formControl form40w">
                                        <label for="inputName" lang="es">Ciudad</label>
                                        <input class="formInput" id="inputCity" name="inputCity" type="text" value="" />
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl form50w">
                                        <label for="inputTags" lang="es ">Estado Civil</label>
                                        <select class="formInput" name="inputCivilState" id="inputCivilState">
                                            <option value="0">
                                                Seleccionar
                                            </option>
                                            <option value="1">
                                                Soltero(a)
                                            </option>
                                            <option value="2">Casado(a)</option>
                                            <option value="3">
                                                Diversiado(a)
                                            </option>
                                            <option value="4">
                                                Concuvinato
                                            </option>
                                            <option value="5">
                                                Unión Libre
                                            </option>
                                            <option value="6">Otro</option>
                                        </select>
                                    </div>
                                    <div class="formControl form50w">
                                        <label f or="inputName" lang="es">Número de Dependientes</label>

                                        <input class="formInput" id="inputDependent" value=""
                                            autocomplete="new-password" name="inputDependent" type="text" />
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl form50w">
                                        <label for="inputName" lang="es">Telf/Fax</label>
                                        <input class="formInput" id="inputTelfFax" name="inputTelfFax" type="text"
                                            value="" />
                                    </div>
                                    <div class="formControl form50w">
                                        <label for="inputName" lang="es">*Celular</label>
                                        <div class="formInput formDialCelular" for="inputCelular" state="0"
                                            mode="dialcelular">
                                            <a class="btnDialCelular" for="inputCelular" form="{{_ID_FORM}}">
                                                <img src="{{_PATH_WEB_NUCLEO}}vendor/svg/flags/bo.svg" />
                                                <span>+591</span>
                                                <i class="icon-chevron-down"></i>
                                            </a>
                                            <input id="inputCelularDial" name="inputCelularDial" type="hidden"
                                                value="+591" />
                                            <input class="" id="inputCelular" name="inputCelular" type="text"
                                                value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl">
                                        <label for="inputName" lang="es">Observaciones</label>
                                        <textarea class="formInput" name="inputComments" id="inputComments"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <div class="head">
                                <label for="">Datos Laborales</label>
                                <div class="actions" for="inputFilesProducts"></div>
                            </div>
                            <div class="formGroup">
                                <div class="formControl form40w">
                                    <label for="inputTags" lang="es ">Situación Laboral</label>
                                    <select class="formInput" name="inputWorkState" id="inputWorkState">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Dependiente</option>
                                        <option value="2">Independiente</option>
                                        <option value="3">
                                            Jubiliado/Rentista
                                        </option>
                                        <option value="4">Estudiante</option>
                                        <option value="5">Desempleado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formGroup">
                                <div class="formControlLandscape">
                                    <div class="formControl form70w">
                                        <label lang="es">Empresa o Institución en la que
                                            trabaja</label>
                                        <input class="formInput" id="inputWork" name="inputWork" type="text" value="" />
                                    </div>
                                    <div class="formControl form30w">
                                        <label lang="es">Sector</label>
                                        <input class="formInput" id="inputWorkSector" name="inputWorkSector" type="text"
                                            value="" />
                                    </div>
                                </div>
                                <div class="formControl">
                                    <label for="" lang="es">Dirección Laboral</label>
                                    <input class="formInput" id="inputAdressWork" name="inputAdressWork" type="text"
                                        value="" />
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl form60w">
                                        <label lang="es">Profesión</label>
                                        <input class="formInput" id="inputProfession" name="inputProfession" type="text"
                                            value="" />
                                    </div>
                                    <div class="formControl form40w">
                                        <label lang="es">Cargo</label>
                                        <input class="formInput" id="inputPosition" name="inputPosition" type="text"
                                            value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <label for="">Datos Conyuge</label>
                            <div class="formGroup">
                                <div class="formControl">
                                    <label lang="es">Nombre completo</label>
                                    <input class="formInput" id="inputNameSpouse" name="inputNameSpouse" type="text"
                                        value="" />
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl form30w">
                                        <label for="inputTags" lang="es ">Sexo</label>
                                        <select class="formInput" name="inputSexSpouse" id="inputSexSpouse">
                                            <option value="0">
                                                Seleccionar
                                            </option>
                                            <option value="female">
                                                Mujer
                                            </option>
                                            <option value="male">Hombre</option>
                                        </select>
                                    </div>
                                    <div class="
                                            formControl
                                            form50w
                                            formInputCI
                                            formSelect
                                        ">
                                        <label for="inputCI" lang="es">Carnet de Identidad</label>
                                        <input class="formInput" id="inputCISpouse" name="inputCISpouse" type="text"
                                            value="" />
                                        <select name="" id="inputExtSpouse">
                                            <option value="SC" selected>
                                                SC
                                            </option>
                                            <option value="LP">LP</option>
                                            <option value="CB">CB</option>
                                            <option value="CH">CH</option>
                                            <option value="OR">OR</option>
                                            <option value="PT">PT</option>
                                            <option value="TJ">TJ</option>
                                            <option value="BE">BE</option>
                                            <option value="PD">PD</option>
                                            <option value="EXT">EXT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="
                                            formControl
                                            form33w
                                            formInputCalendar
                                        ">
                                        <label for="inputBirthdaySpouse" lang="es">Fecha de Nacimiento</label>
                                        <i class="icon icon-calendar"></i>
                                        <input class="formInput" id="inputBirthdaySpouse" autocomplete="off" type="text"
                                            value="" />
                                    </div>
                                    <div class="formControl form60w">
                                        <label for="inputName" lang="es">País de Nacimiento</label>
                                        <div class="formInput formSelectCountry" for="inputNationalitySpouse">
                                            <div class="countrySelect">
                                                <div class="country">
                                                    <div class="cp">
                                                        <img src="{{_PATH_WEB_NUCLEO}}vendor/svg/flags/bo.svg" />
                                                        <span>Bolivia, Estado
                                                            Plurinacional de
                                                            Bolivia</span>
                                                    </div>
                                                </div>
                                                <a class="btnSelectCountry" form="{{_ID_FORM}}"
                                                    for="inputNationalitySpouse"><i class="
                                                            icon
                                                            icon-chevron-down
                                                        "></i></a>
                                            </div>
                                            <input name="inputNationalitySpouse" id="inputNationalitySpouse"
                                                autocomplete="off" type="hidden" value="BO" />
                                        </div>
                                    </div>
                                </div>
                                <div class="formControlLandscape">
                                    <div class="formControl form50w">
                                        <label for="inputName" lang="es">Telf/Fax</label>
                                        <input class="formInput" id="inputTelfFaxSpouse" name="inputTelfFaxSpouse"
                                            type="text" value="" />
                                    </div>
                                    <div class="formControl form50w">
                                        <label for="inputName" lang="es">Celular</label>

                                        <div class="formInput formDialCelular" for="inputCelularSpouse" state="0"
                                            mode="dialcelular">
                                            <a class="btnDialCelular" for="inputCelularSpouse" form="{{_ID_FORM}}">
                                                <img src="{{_PATH_WEB_NUCLEO}}vendor/svg/flags/bo.svg" />
                                                <span>+591</span>
                                                <i class="icon-chevron-down"></i>
                                            </a>
                                            <input id="inputCelularSpouseDial" name="inputCelularSpouseDial"
                                                type="hidden" value="+591" />
                                            <input class="" id="inputCelularSpouse" name="inputCelularSpouse"
                                                type="text" value="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="formGroup">
                                    <div class="formControl form40w">
                                        <label for="inputTags" lang="es ">Situación Laboral</label>
                                        <select class="formInput" name="inputWorkStateSpouse" id="inputWorkStateSpouse">
                                            <option value="0">
                                                Seleccionar
                                            </option>
                                            <option value="1">
                                                Dependiente
                                            </option>
                                            <option value="2">
                                                Independiente
                                            </option>
                                            <option value="3">
                                                Jubiliado/Rentista
                                            </option>
                                            <option value="4">
                                                Estudiante
                                            </option>
                                            <option value="5">
                                                Desempleado
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="formGroup">
                                    <div class="formControlLandscape">
                                        <div class="formControl form70w">
                                            <label lang="es">Empresa o Institución en la que
                                                trabaja</label>
                                            <input class="formInput" id="inputWorkSpouse" name="inputWorkSpouse"
                                                type="text" value="" />
                                        </div>
                                        <div class="formControl form30w">
                                            <label lang="es">Sector</label>
                                            <input class="formInput" id="inputWorkSectorSpouse"
                                                name="inputWorkSectorSpouse" type="text" value="" />
                                        </div>
                                    </div>
                                    <div class="formControl">
                                        <label for="" lang="es">Dirección Laboral</label>
                                        <input class="formInput" id="inputAdressWorkSpouse" name="inputAdressWorkSpouse"
                                            type="text" value="" />
                                    </div>
                                    <div class="formControlLandscape">
                                        <div class="formControl form60w">
                                            <label lang="es">Profesión</label>
                                            <input class="formInput" id="inputProfessionSpouse"
                                                name="inputProfessionSpouse" type="text" value="" />
                                        </div>
                                        <div class="formControl form40w">
                                            <label lang="es">Cargo</label>
                                            <input class="formInput" id="inputPositionSpouse" name="inputPositionSpouse"
                                                type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formGroup form30w">
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado de la Cuenta</label>
                                <select class="formInput" name="inputStatus" id="inputStatus">
                                    <option value="0">No Activo</option>
                                    <option value="0" selected>Activo</option>
                                </select>
                            </div>
                            <div class="formControl">
                                <label for="">Servicios</label>
                                <div class="
                                        checkbox
                                        checkboxControl
                                        level
                                        level1
                                    " child="">
                                    <input name="inputServices[]" id="inputServices1" type="checkbox"
                                        class="inputServices check" value="1" />
                                    <div class="checkboxControlLabel">
                                        Consejeria
                                    </div>
                                </div>
                                <div class="
                                        checkbox
                                        checkboxControl
                                        level
                                        level2
                                    " child="">
                                    <input name="inputServices[]" id="inputServices2" type="checkbox"
                                        class="inputServices check" value="2" />
                                    <div class="checkboxControlLabel">
                                        Rehabilitación
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Consejero Asignado</label>
                                <div class="group formControlSearch">
                                    <i class="
                                            icon icon-search
                                            iconSearch
                                            btnSearchCoun
                                        "></i>
                                    <input class="formInput" id="inputSearchCounselor" name="inputSearchCounselor"
                                        type="text" value="" />
                                    <i class="
                                            icon icon-circle-close
                                            iconClear
                                            btnSearchClear
                                        " for="inputSearchCounselor" restore="listConunselors"></i>
                                </div>
                            </div>
                            <div class="formControl" id="listConunselors"></div>
                        </div>

                        <div class="formGroupFrame">
                            <div class="formControl formControlCheck">
                                <label for=" ">Donde nos refenciaron:</label>
                                <div class="formCheck">
                                    <input type="radio" class="formCheckInput" name="inputReferred" id="optionsRadios1"
                                        value="familiar" checked="" />
                                    <label class="form-check-label">
                                        Familiar
                                    </label>
                                </div>
                                <div class="formCheck">
                                    <input type="radio" class="formCheckInput" name="inputReferred" id="optionsRadios2"
                                        value="amiga/o" />
                                    <label class="formCheckLabel">Amiga/o</label>
                                </div>
                                <div class="formCheck">
                                    <input type="radio" class="formCheckInput" name="inputReferred" id="optionsRadios3"
                                        value="Iglesia" />
                                    <label class="formCheckLabel">Iglesia</label>
                                </div>
                                <div class="formCheck">
                                    <input type="radio" class="formCheckInput" name="inputReferred" id="optionsRadios4"
                                        value="Facebook, instagram" />
                                    <label class="formCheckLabel">Facebook, instagram</label>
                                </div>
                                <div class="formCheck">
                                    <input type="radio" class="formCheckInput" name="inputReferred" id="optionsRadios5"
                                        value="Tv" />
                                    <label class="formCheckLabel">Tv</label>
                                </div>
                                <div class="formCheck">
                                    <input type="radio" class="formCheckInput" name="inputReferred" id="optionsRadios6"
                                        value="Radio" />
                                    <label class="formCheckLabel">Radio</label>
                                </div>
                                <div class="formCheck">
                                    <input type="radio" class="formCheckInput" name="inputReferred" id="optionsRadios7"
                                        value="Otros" />
                                    <label class="formCheckLabel">Otros</label>
                                    <input type="text" class="formInput" id="inputReferredDetail"
                                        placeholder="Detalle" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="headInnerForm">
        <div class="container">
            <div class="box boxLeft"></div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
                <a class="btn btnPrimary {{_BTN_ACTION}}"><span>{{_BTN_NAME_ACTION}}</span></a>
            </div>
        </div>
    </div>
</div>