<div class="inner">
    <div class="headInnerForm container">
        <div class="inner">
            <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                <i class="icon icon-arrow-line-left"></i>
            </a>
            <div class="box boxLeft">
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">


            </div>
        </div>
    </div>
    <div class="tbody container">
        <div class="inner">
            <form class="form" id="{{_ID_FORM}}">
                <div class="formControl formControlGroup">
                    <div class="formControlHead">
                        <div class="box">
                            <span><b>{{_NAME}}</b> | </span>
                            <span class="animated" id="historyDate"> {{_DATE}} </span>
                            <a id="btnChangeDate" class="btnChangeDate" type="full" for="historyDate"><i
                                    class="icon icon-refresh"></i></a>
                        </div>
                        <div class="box form20w">
                            <span>ID Calendar:</span>
                            <input class="formInput form30w" type="text" class="formInput" id="inputCalId"
                                name="inputCalId" value="{{_HISTORY_ID}}">
                        </div>
                        <div class="box">
                            <label for="">Tipo de Consejería:</label>
                            <select class="formInput" name="inputFields" id="inputFields">{{_OPTION_FIELDS}}</select>
                        </div>
                    </div>
                    <textarea class="formInput" name="inputComments" id="inputComments" rows="10"></textarea>
                    <div class="formGroup formActions">
                        <div class="formControlLandscape formAlignCenter boxInputOthers">

                            <label for="">Ubicación: </label>
                            <select class="formInput" name="inputPlaceHistory" id="inputPlaceHistory">
                                <option value="office" selected>En oficinas</option>
                                <option value="others">En otro lugar</option>
                            </select>
                            <input type="text" placeholder="Indique el lugar..." class="formInput" id="inputOthers"
                                name="inputOthers">
                        </div>
                        <div class="formControl formSlit">
                            <a class="btn btnPrimary btnRegisterHistory" id="btnRegisterHistoryAdvised"
                                item="{{_ITEM}}"><span>Iniciar Registro</span></a>
                            <a class="btn btnPrimary btnDropdown" for="registerHistoryAdvised" item="{{_ITEM}}"><i
                                    class="icon icon-arrow-o-down"></i></a>
                            <div class="dropdown" for="registerHistoryAdvised">
                                <a class="btn btnIconLeft" id="btnAfterhoursRegistrationHistory" data-id="{{_ITEM}}">
                                    <i class="icon icon-calendar"></i>
                                    <span>Regristro Fuera de Hora</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
            <form class="form" id="{{_ID_FORM}}History">
                <div class="history"></div>
            </form>
        </div>
    </div>
</div>