<div class="header">
    <div class="pull-left">
        <div class="head"><i class="icon icon-table-check"></i><span>Reportes</span></div>
    </div>
    <ul class="pull-right">
    </ul>
</div>
<div class="tbody">
    <form class="form">
        <div class="formFlex">
            <div class="formControl form40w">
                <label for="inputType" lang="es ">Tipo de Reporte:</label>
                <select class="formInput" name="inputType" id="inputType">
                    <option value="0">
                        Seleccionar
                    </option>
                    <option value="report-general" selected>
                        Reporte General
                    </option>
                </select>
            </div>
            <div class="formControl form40w">
                <label for="inputCounselor" lang="es ">Consejero:</label>
                <select class="formInput" name="inputCounselor" id="inputCounselor">
                    <option value="0"> Todos </option>
                    {{_COUNSELORS}}
                </select>
            </div>
            <div class="formControl form33w formInputCalendar">
                <label for="inputInit" lang="es"><span class="required">*</span>Fecha de
                    Inicio:</label>
                <i class="icon icon-calendar"></i>
                <input type="text" class="formInput" name="inputInit" id="inputInit" autocomplete="new-password"
                    #password />
            </div>
            <div class="formControl form33w formInputCalendar">
                <label for="inputEnd" lang="es"><span class="required">*</span>Fecha de
                    Fin:</label>
                <i class="icon icon-calendar"></i>
                <input type="text" class="formInput" name="inputEnd" id="inputEnd" autocomplete="new-password"
                    #password />
            </div>
            <div class="formControl form33w formBottom">
                <button class="btn btnPrimary" id="btnGenerateReportCounseling" lang="es">Generar</button>
            </div>
        </div>
    </form>
    <div  id="tableContainerHead"></div>
    <div class="tableContainer" id="tableContainer"></div>
</div>