<div class="inner">
    <div class="headInnerForm">
        <div class="inner container">

            <div class="box boxLeft">
                <a class="btn btnIcon btnBack" module="{{_MODULE}}" system="">
                    <i class="icon icon-arrow-line-left"></i>
                </a>
                <h3>{{_TITLE}}</h3>
            </div>
            <div class="box boxRight">
                <a class="btn btnLink btnCancel"><span>Cancelar</span></a>
 

                <!-- <a class="btn btnPrimary {{_BTN_ACTION_1}}" id="{{_BTN_ACTION_1}}" data-item="{{_ITEM}}" data-form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_NAME_ACTION_1}}</span></a> -->
                <a class="btn {{_BTN_CLS}}" id="{{_BTN_ID}}" data-item="{{_ITEM}}" data-form="{{_FORM_ID}}"><i
                        class=""></i><span>{{_BTN_LABEL}}</span></a>
            </div>
        </div>
    </div>
    <div class="tbody">
        <div class="inner container">
            <form class="form" id="{{_FORM_ID}}" module="{{_MODULE}}">
                <div class="formGroup  formGroupTwoColumns">
                    <div class="formControl form70w">
                        <!--Datos Maestros-->
                        <div class="formGroupFrame">
                            <div class="formFlex">

                            
                                <div class="formControl">
                                    <label for=""><span class="required">*</span>Nombre Completo:</label>
                                    <input class="formInput" id="inputId" name="inputId" type="hidden">
                                    <input class="formInput" id="inputTitle" name="inputTitle" type="text">
                                    <input class="formInput" id="inputAcuId" name="inputAcuId" type="hidden">
                                </div>
                                <div class="formControl fomrControlEnd">
                                    <div class="formControl" style="z-index: 2;">
                                        <label for="inputName" lang="es">Cuenta Usuario:</label>
                                        <div class="formBoxPills" id="boxLauncherPillAuthor"></div>
                                            <div class="formFlex">
                                            <div class="form40w formControlSearch">
                                                <i class="icon icon-search iconSearch"></i>
                                                <input class="formInput"  id="inputAuthorSearch" name="inputAuthorSearch" type="text">
                                                <input class="formInput"  id="inputAuthor" name="inputAuthor" type="hidden">
                                                <i class="icon icon-circle-close iconClear btnClearInputForm" for="inputAuthorSearch"></i>
                                                <div class="boxResults" for="inputAuthorSearch" launcher="boxLauncherPillAuthor">
                                                    <div class="boxResultsInner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for="inputSummary" lang="es">Perfil:</label>
                                <textarea class="formInput formInputEditor editorNote" type="text"
                                    name="inputPerfil" id="inputPerfil" rows="15"></textarea>
                            </div>
                            <div class="formControl">
                                <label for="inputTags" lang="es">Celular:</label>
                                <div class="formGroup formFlex">
                                    <input class="formInput form10w" name="inputDial" id="inputDial" type="text" value="+591">
                                    <input class="formInput form30w" name="inputCelular" id="inputCelular" type="text">
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="formGroupFrame">
                            <div class="head">
                                <label>Propiedades</label>
                                <div class="actions">
                                    <a class="btn btnIcon btnMini" id="btnNewProperty" for="boxLauncherPillProperty">
                                        <i class="icon icon-plus"></i>
                                        <span>Nueva Propiedad</span>
                                    </a>
                                </div>
                            </div>
                            <div class="formGroup ">
                                <div class="formControl" id="boxLauncherPillProperty"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="formGroup form30w">

                        <div class="formGroupFrame">
                            <div class="formControl">
                                <label for=" ">Estado</label>
                                <select class="formInput" name="inputState" id="inputState">
                                    <option value="0">No Activo</option>
                                    <option value="1" selected>Activo</option>
                                </select>
                            </div>
                        </div>

                        <!-- Image -->
                        <div class="formGroupFrame">
                            <div class="head">
                                <label lang="es">Imagen:</label>
                                <div class="actions" for="inputImage">
                                    <a class="btn btnLink btnMini">Finder</a>
                                </div>
                            </div>
                            <div class="formGroup ">
                                <div class="formUpFile" >
                                    <div class="formPreview" id="previewImg"></div>
                                    <div class="inner" for="inputTypeImgFile">
                                        <i class="icon icon-upfile"></i>
                                        <span class="btn btnFull">Agrega Archivo</span>
                                        <span class="message">O arrastra [jpg,jpge,avif,webp] max.1MB</span>
                                    </div>
                                    <input type="hidden" name="inputImage" id="inputImage" />
                                    <input type="file" title="" class="inputUpFile" multiple="single"
                                        mode="single" data-folder="posts" data-validfiles="jpeg,jpg,avif,webp" data-return="previewImg"
                                        name="inputTypeImgFile" id="inputTypeImgFile" data-name="inputImage"  data-system="{{_SYSTEM}}"
                                        data-id="{{_ITEM}}" data-form="{{_FORM_ID}}" data-module="{{_MODULE}}" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>